<template>
  <div class="my-5 mr-3 ml-4">
    <div class="my-4 mr-4 ml-4">
      <b-row align-h="center">
        <b-card>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h3>RAW MATERIAL ASSESSMENT FORM</h3>
              <p style="position:relative;bottom:13px">{{businessEntity}}</p>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-card bg-variant="light">
            <b-row>
              <b-col>
                <small class="ml-1">Item Description</small>
                <b-form-input v-model="item" style="font-size:13px" disabled></b-form-input>
              </b-col>

              <b-col>
                <small class="ml-1">Date</small>
                <div class="text-center">
                  <b-form-input v-model="date" style="font-size:13px" disabled></b-form-input>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6">
                <small class="ml-1">Supplier Code:</small>
                <b-form-input v-model="supplier_code" style="font-size:13px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">QC Control No.</small>
                <b-form-input v-model="qc_cn" style="font-size:13px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Raw Material</small>
                <b-form-input v-model="rawMaterial" style="font-size:13px" disabled></b-form-input>
              </b-col>
            </b-row>
          </b-card>
          <hr />
            <b-card header="MOISTURE TALLY SHEET" header-tag="header">
            <b-card>
              <b-row>
                <b-col cols="6">
                  <div>
                    <small>Trial 1</small>
                    <b-form-input
                      id="input-trial1"
                      type="number"
                      @change="computeAverage"
                      v-model="trial1"
                      style="font-size:13px"
                    />
                  </div>
                  <div>
                    <small>Trial 2</small>
                    <b-form-input
                      id="input-trial2"
                      type="number"
                      @change="computeAverage"
                      v-model="trial2"
                      style="font-size:13px"
                    />
                  </div>
                  <div>
                    <small>Trial 3</small>
                    <b-form-input
                      id="input-trial3"
                      type="number"
                      @change="computeAverage"
                      v-model="trial3"
                      style="font-size:13px"
                    />
                  </div>
                </b-col>
                <b-col cols="6">
                  <div>
                    <small>Average</small>
                    <b-form-input
                      id="generate-average"
                      type="number"
                      @change="computeAverage"
                      v-model="average"
                      style="font-size:13px"
                    />
                  </div>
                </b-col>
              </b-row>
            </b-card>
          </b-card>
          <b-card
            header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)"
            header-tag="header"
            v-if="role == 'rm'"
          >
            <b-card>
              <h6>Remarks</h6>
              <b-row>
                <b-col cols="6">
                  <b-form class="mx-3">
                    <span v-for="(item, index) in remarks" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        v-model="selectedRemarks"
                        :disabled="checkRemark(item)"
                      >{{item.name}}</b-form-checkbox>
                    </span>
                  </b-form>
                </b-col>
                <b-col cols="6">
                  <div>
                    <small>% MC Result</small>
                    <b-form-input
                      id="input-mc-result"
                      @change="computeAverage"
                      v-model="average"
                      type="number"
                      style="font-size:13px"
                    ></b-form-input>
                  </div>

                  <div v-if="businessAcro == 'PDF'">
                    <small>% Impurities</small>
                    <b-form-input
                      id="input-impurities"
                      v-model="impurities"
                      type="number"
                      style="font-size:13px"
                    ></b-form-input>
                  </div>
                  <div v-if="businessAcro == 'FMP'">
                    <small class="mt-2">% Foreign Material</small>
                    <b-form-input
                      id="input-fc"
                      v-model="foreign"
                      type="number"
                      style="font-size:13px"
                    ></b-form-input>
                  </div>
                </b-col>
              </b-row>
            </b-card>

            <b-card>
              <h6>Disposition</h6>
              <b-row class="mx-2">
                <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                  <b-form-checkbox
                    :value="item.id"
                    v-model="selectedDisposition"
                    :disabled="checkDisposition(item)"
                  >{{item.description}}</b-form-checkbox>
                </b-col>
              </b-row>
            </b-card>
          </b-card>

          <b-card bg-variant="light" v-if="role == 'rm'">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  id="for-reconsideration"
                  v-model="for_recon_physical"
                >For Reconsideration</b-form-checkbox>
              </b-col>
              <b-col cols="9">
                <b-form-input
                  id="reason-reconsideration"
                  v-model="reason_for_recon_physical"
                  style="font-size:13px"
                  placeholder="Reason for Reconsideration"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>

          <b-card header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)" v-if="role == 'qa'">
            <b-card>
              <b-row>
                <b-col cols="6">
                  <small>% Crude Protein</small>
                  <b-form-input
                    id="input-cp"
                    v-model="crude_protein"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>

                  <small class="mt-2">% Calcium</small>
                  <b-form-input
                    id="input-cal"
                    v-model="calcium"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>

                  <small>% FFA as Lauric Acid</small>
                  <b-form-input id="input-ffa" v-model="ffa" type="number" style="font-size:13px"></b-form-input>

                  <small>% Brix</small>
                  <b-form-input
                    id="input-brix"
                    v-model="brix"
                    class="mb-1"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>
                  <small>Carbonate Test</small>
                  <b-row class="ml-3">
                    <b-col cols="4">
                      <b-form-checkbox
                        id="carbonate_positive"
                        :disabled="carbonate_test_neg"
                        v-model="carbonate_test_pos"
                      >Positive</b-form-checkbox>
                    </b-col>
                    <b-col cols="4">
                      <b-form-checkbox
                        id="carbonate_negative"
                        :disabled="carbonate_test_pos"
                        v-model="carbonate_test_neg"
                      >Negative</b-form-checkbox>
                    </b-col>
                  </b-row>
                </b-col>

                <b-col cols="6">
                  <h6>Remarks</h6>
                  <b-form-input v-model="remarksChem" style="font-size:13px; height: 100px"></b-form-input>
                </b-col>
              </b-row>
            </b-card>

            <b-card>
              <h6>Disposition</h6>
              <b-row class="mx-2">
                <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                  <b-form-checkbox
                    :value="item.id"
                    :disabled="checkDisposition(item)"
                    v-model="selectedDisposition2"
                  >{{item.description}}</b-form-checkbox>
                </b-col>
              </b-row>
            </b-card>
          </b-card>

          <b-card bg-variant="light" v-if="role == 'qa'">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  id="select-reconChem"
                  v-model="for_recon_chemical"
                >For Reconsideration</b-form-checkbox>
              </b-col>
              <b-col cols="9">
                <b-form-input
                  id="recon-reasoChem"
                  v-model="reason_for_recon_chemical"
                  style="font-size:13px"
                  placeholder="Reason for Reconsideration"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
          <b-row align-h="end" class="fixed my-3 mt-3 mr-1">
            <b-button
              id="cancel-analysis-rmaf"
              href="/sampling"
              class="mr-2 my-2 block"
              style="font-size:14px; width: 100px"
            >Cancel</b-button>&nbsp;
            <b-button
              id="save-analysis-rmaf"
              @click="confirmAnalysis"
              class="block mr-4 my-2"
              variant="success"
              style="font-size:14px; width: 100px"
            >Save</b-button>
          </b-row>
        </b-card>
      </b-row>
    </div>

    <b-modal
      ref="confirm"
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      title="Confirm Analysis Results"
    >
      <b-row align-h="center">
        <b-card>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h3>RAW MATERIAL ASSESSMENT FORM</h3>
              <p style="position:relative;bottom:13px">{{businessEntity}}</p>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card bg-variant="light">
                <b-row>
                  <b-col cols="7">
                    <small class="ml-1">Item Description</small>
                    <b-form-input v-model="item" style="font-size:13px" disabled></b-form-input>
                  </b-col>

                  <b-col cols="5">
                    <small class="ml-1">Date</small>
                    <div class="text-center">
                      <b-form-input v-model="date" style="font-size:13px" disabled></b-form-input>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <small class="ml-1">Supplier Code:</small>
                    <b-form-input v-model="supplier_code" style="font-size:13px" disabled></b-form-input>
                  </b-col>
                  <b-col cols="4">
                    <small class="ml-1">QC Control No.</small>
                    <b-form-input v-model="qc_cn" style="font-size:13px" disabled></b-form-input>
                  </b-col>
                  <b-col cols="4">
                    <small class="ml-1">Raw Material</small>
                    <b-form-input v-model="rawMaterial" style="font-size:13px" disabled></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
             <b-col cols="6">
              <b-card header="MOISTURE TALLY SHEET" header-tag="header">
                <b-row>
                  <b-col cols="6">
                    <div>
                      <small>Trial 1</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial1"
                        style="font-size:13px"
                      />
                    </div>
                    <div>
                      <small>Trial 2</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial2"
                        style="font-size:13px"
                      />
                    </div>
                    <div>
                      <small>Trial 3</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial3"
                        style="font-size:13px"
                      />
                    </div>
                  </b-col>
                  <b-col cols="6">
                    <div>
                      <small>Average</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="average"
                        style="font-size:13px"
                      />
                    </div>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>

          <hr />
          <b-row>
            <b-col cols="12">
              <b-card
                header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)"
                header-tag="header"
                v-if="role == 'rm'"
              >
                <b-card>
                  <h6>Remarks</h6>
                  <b-row>
                    <b-col cols="7">
                      <b-form>
                        <span v-for="(item, index) in remarks" :key="index">
                          <b-form-checkbox
                            :value="item.id"
                            v-model="selectedRemarks"
                            :disabled="checkRemark(item)"
                          >{{item.name}}</b-form-checkbox>
                        </span>
                      </b-form>
                    </b-col>
                    <b-col cols="5">
                      <div>
                        <small>% MC Result</small>
                        <b-form-input @change="computeAverage" v-model="average" type="number" style="font-size:13px"></b-form-input>
                      </div>
                      <div v-if="businessAcro == 'PDF'">
                        <small>% Impurities</small>
                        <b-form-input v-model="impurities" type="number" style="font-size:13px"></b-form-input>
                      </div>
                      <div v-if="businessAcro == 'FMP'">
                        <small class="mt-2">% Foreign Material</small>
                        <b-form-input v-model="foreign" type="number" style="font-size:13px"></b-form-input>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card>
                  <h6>Disposition</h6>
                  <b-row class="mx-2">
                    <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        :disabled="checkDisposition(item)"
                        v-model="selectedDisposition"
                      >{{item.description}}</b-form-checkbox>
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>

              <b-card bg-variant="light" v-if="role == 'rm'">
                <b-row>
                  <b-col cols="12">
                    <b-form-checkbox v-model="for_recon_physical">For Reconsideration</b-form-checkbox>
                  </b-col>
                  <br />
                  <b-col cols="12">
                    <b-form-input
                      v-model="reason_for_recon_physical"
                      style="font-size:13px"
                      placeholder="Reason for Reconsideration"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
            <b-col cols="12">
              <b-card header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)" v-if="role == 'qa'">
                <b-card>
                  <b-row>
                    <b-col cols="6">
                      <small>% Crude Protein</small>
                      <b-form-input v-model="crude_protein" type="number" style="font-size:13px"></b-form-input>

                      <small class="mt-2">% Calcium</small>
                      <b-form-input v-model="calcium" type="number" style="font-size:13px"></b-form-input>

                      <small>% FFA as Lauric Acid</small>
                      <b-form-input v-model="ffa" type="number" style="font-size:13px"></b-form-input>

                      <small>% Brix</small>
                      <b-form-input
                        v-model="brix"
                        class="mb-1"
                        type="number"
                        style="font-size:13px"
                      ></b-form-input>
                    </b-col>

                    <b-col cols="6">
                      <h6>Remarks</h6>
                      <b-form-input v-model="remarksChem" style="font-size:13px; height: 100px"></b-form-input>
                      <br />
                      <small>Carbonate Test</small>
                      <b-row class="ml-3">
                        <b-col cols="12">
                          <b-form-checkbox
                            id="carbonate_positive"
                            :disabled="carbonate_test_neg"
                            v-model="carbonate_test_pos"
                          >Positive</b-form-checkbox>
                        </b-col>
                        <b-col cols="12">
                          <b-form-checkbox
                            id="carbonate_negative"
                            :disabled="carbonate_test_pos"
                            v-model="carbonate_test_neg"
                          >Negative</b-form-checkbox>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card>
                  <h6>Disposition</h6>
                  <b-row class="mx-2">
                    <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        :disabled="checkDisposition(item)"
                        v-model="selectedDisposition2"
                      >{{item.description}}</b-form-checkbox>
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>

              <b-card bg-variant="light" v-if="role == 'qa'">
                <b-row>
                  <b-col cols="12">
                    <b-form-checkbox v-model="for_recon_chemical">For Reconsideration</b-form-checkbox>
                  </b-col>
                  <br />
                  <b-col cols="12">
                    <b-form-input
                      v-model="reason_for_recon_chemical"
                      style="font-size:13px"
                      placeholder="Reason for Reconsideration"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
      </b-row>
      <template v-slot:modal-footer>
        <b-button
          id="cancel-confirm-analysis-rmaf"
          size="sm"
          style="font-size:13px;border: 0px; width: 80px"
          @click="closeModal()"
        >Cancel</b-button>
        <b-button
          id="confirm-analysis-rmaf"
          size="sm"
          variant="success"
          @click="saveAnalysis()"
          style="font-size:13px; width: 80px"
        >Save</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
import { parse } from "@babel/parser";
export default {
  layout: "AdminDashboard",
  middleware: "authRMScan",
  data() {
    return {
      recon_id_p: null,
      recon_id_c: null,
      // mc_result: null,
      impurities: null,
      foreign: null,
      reason_for_recon_physical: null,
      crude_protein: null,
      calcium: null,
      ffa: null,
      brix: null,
      carbonate_test_pos: null,
      carbonate_test_neg: null,
      remarksChem: null,
      reason_for_recon_chemical: null,
      for_recon_physical: null,
      for_recon_chemical: null,
      chemAnalysisId: null,
      physAnalysisId: null,
      rmafId: null,
      truck_info_id: null,
      failed_rmaf: "",
      for_consideration: false,
      has_reconsideration_p: false,
      has_reconsideration_c: false,

      trial1: null,
      trial2: null,
      trial3: null,
      average: null,

      selectedRemarks: [],
      selectedDisposition: [],
      selectedDisposition2: [],
      remarks: [],
      dispositions: [],
      remarksItems: [],
      status: [],

      value: 0,
      businessEntity: "Business Entity",
      date: null,
      onlyDate: null,
      item: null,
      plate: null,
      criteria: [],
      criteriaTally: [],
      totalDeductionPerCriteria: [],
      deductionPerCriteria: [],
      pincode: null,
      supplier: null,
      errMessage: null,
      bug: "",
      transaction: [],
      business_entity_id: null,
      total_deductions: 0,
      transaction_id: null,
      quality_passed_id: null,
      status: null,
      reasonRejection: null,
      RejectedIndex: null,
      deductions: [3, 4, 5],
      mts_id: null,
      role: null
    };
  },
  created() {
    const employee = JSON.parse(localStorage.employee);
    this.role = employee.roleParam;

    this.getTransaction();
    this.getStatus();
    this.getRemarks();
    this.getDisposition();
  },
  methods: {
    async saveAnalysis() {
      let samplingPassedID,
        samplingRejectedID,
        dispoPassed,
        dispoRejected,
        status;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].name.toLowerCase() == "analysis-done") {
          samplingPassedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-rejected") {
          samplingRejectedID = this.status[i].id;
        }
      }
      for (let i = 0; i < this.dispositions.length; i++) {
        if (this.dispositions[i].description.toLowerCase() == "passed") {
          dispoPassed = this.dispositions[i].id;
        } else if (this.dispositions[i].description.toLowerCase() == "failed") {
          dispoRejected = this.dispositions[i].id;
        }
      }

      const employee = JSON.parse(localStorage.employee);

      if (this.has_reconsideration_p || this.has_reconsideration_c) {
        status = samplingPassedID;
      } else if (
        this.selectedDisposition.includes(dispoRejected.toString()) ||
        this.selectedDisposition.includes(dispoRejected) ||
        this.selectedDisposition2.includes(dispoRejected.toString()) ||
        this.selectedDisposition2.includes(dispoRejected)
      ) {
        status = samplingRejectedID;
      } else if (
        this.selectedDisposition2.includes(dispoPassed.toString()) ||
        this.selectedDisposition2.includes(dispoPassed) ||
        this.selectedDisposition.includes(dispoPassed.toString()) ||
        this.selectedDisposition.includes(dispoPassed)
      ) {
        status = samplingPassedID;
      }

      if (this.role == "qa") {
        if (this.for_recon_chemical && this.has_reconsideration_c) {
          await this.addReconsideration("Chemical");
        } else {
          await this.addChemicalAnalysis();
        }
      } else {
        if (this.for_recon_physical && !this.has_reconsideration_p) {
          await this.addReconsideration("Physical");
        } else {
          await this.addMoisture();
        }
      }

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          physical_analysis_id: this.physAnalysisId,
          chemical_analysis_id: this.chemAnalysisId,
          date: moment().format("YYYY-MM-DD HH:mm"),
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.rmafId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          id: this.$route.params.id,
          delivery_receipt_id: this.dr,
          rmaf_id: this.rmafId,
          bir_id: this.bir_id,
          status_id: status,
          truck_info_id: this.truck_info_id,
          transaction_type_id: this.transaction_type_id,
          driver_id: this.driver_id,
          supplier_code: this.supplier_code,
          no_of_bags: this.no_of_bags,
          description: this.item,
          guard_on_duty: this.guard_on_duty,
          qc_control_number: this.qc_cn,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          forRecon: this.for_consideration
          // failed_rmaf: this.failed_rmaf
        }
      })
        .then(res => {
          this.displaySuccessToast("RMAF saved.");
          this.closeModal();
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    closeModal() {
      this.$refs["confirm"].hide();
    },
    async addRMAF(status) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          physical_analysis_id: this.physAnalysisId,
          chemical_analysis_id: this.chemAnalysisId,
          date: moment().format("YYYY-MM-DD HH:mm"),
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.rmafId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addReconsideration(type) {
      const employee = JSON.parse(localStorage.employee);
      let reason = "";
      if (type == "Chemical") {
        reason = this.reason_for_recon_chemical;
      } else {
        reason = this.reason_for_recon_physical;
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/reconsideration/add_reconsideration`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          for_consideration: "TRUE",
          reason: reason,
          reconsidered_by: employee.id,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          if (!this.isFeedmill) {
            this.addPhysicalAnalysis(res.data[0].id);
          } else {
            this.addChemicalAnalysis(res.data[0].id);
          }

          this.for_consideration = true;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addChemicalAnalysis(recon_id) {
      const employee = JSON.parse(localStorage.employee);
      let recon = null;
      let carbonateTest = "Negative";
      if (recon_id) {
        recon = recon_id;
      }
      if (this.carbonate_test_pos) {
        carbonateTest = "Positive";
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/chemical_analysis/add_chemical_analysis`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          reconsideration_id: recon,
          disposition_id: this.selectedDisposition2.toString(),
          crude_protein: this.crude_protein,
          calcium: this.calcium,
          ffa_lauric_acid: this.ffa,
          brix: this.brix,
          carbonate_test: carbonateTest,
          remarks: this.remarksChem,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.chemAnalysisId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addMoisture() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/mts/add_mts`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          moisture_trial_1: this.trial1,
          moisture_trial_2: this.trial2,
          moisture_trial_3: this.trial3,
          average: this.average,
          transaction_id: this.transaction_id,
          analysed_by: employee.id,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {          
          this.mts_id = res.data[0].id;
          
          await this.addPhysicalAnalysis();
          
        })
        .catch(error => {
           this.displayErrorToast(error.response.data);
        });
    },
    async addPhysicalAnalysis(recon_id) {
      const employee = JSON.parse(localStorage.employee);
      let recon = this.recon_id_p;
      if (recon_id) {
        recon = recon_id;
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/physical_analysis/add_physical_analysis`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          reconsideration_id: recon,
          moisture_tally_sheet_id: this.mts_id,
          disposition_id: this.selectedDisposition.toString(),
          type: this.rawMaterial,
          mc_result: this.average,
          impurities: this.impurities,
          foreign_material: this.foreign,
          remarks: this.selectedRemarks.toString(),
          created_by: employee.id,
          // certified_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.physAnalysisId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    confirmAnalysis() {
      if (this.role == "qa") {
        if (!this.crude_protein) {
          this.displayErrorToast("Crude protein must be provided.");
        } else if (!this.calcium) {
          this.displayErrorToast("Calcium must be provided.");
        } else if (!this.ffa) {
          this.displayErrorToast("FFA must be provided.");
        } else if (!this.brix) {
          this.displayErrorToast("Brix must be provided.");
        } else if (!this.carbonate_test_pos && !this.carbonate_test_neg) {
          this.displayErrorToast("Please set carbonate test result.");
        } else if (this.selectedDisposition2.length <= 1) {
          this.displayErrorToast("Please select atleast two(2) disposition.");
        } else {
          this.$refs["confirm"].show();
        }
      } else if (this.role == "rm") {
        if (!this.average) {
          this.displayErrorToast("MC result must be provided.");
        } else if (!this.impurities) {
          this.displayErrorToast("Impurities must be provided.");
        } else if (this.selectedRemarks.length <= 2) {
          this.displayErrorToast("Please select remarks.");
        } else if (this.selectedDisposition.length <= 1) {
          this.displayErrorToast("Please select atleast two(2) disposition.");
        } else {
          this.$refs["confirm"].show();
        }
      }
    },
    checkDisposition(disposition) {
      let boolean = false;

      if (disposition.tag) {
        const tags = disposition.tag.split(",");

        for (let i = 0; i < tags.length; i++) {
          if (this.selectedDisposition.length == 0) {
            if (this.selectedDisposition2.includes(parseInt(tags[i]))) {
              boolean = true;
            }
          } else {
            if (this.selectedDisposition.includes(parseInt(tags[i]))) {
              boolean = true;
            }
          }
        }
      }

      return boolean;
    },
    checkRemark(remark) {
      if (this.selectedRemarks.includes(remark.tag)) {
        return true;
      }
      return false;
    },
    async getDisposition() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/disposition`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.dispositions = res.data.dispositions;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getRemarks() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/remarks`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.remarks = res.data.remarks;

          for (let i = 0; i < this.remarks.length; i++) {
            this.remarksItems.push({
              value: this.remarks[i].id,
              text: this.remarks[i].name
            });
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    calculateTotalDeduction(index) {
      this.totalDeductionPerCriteria[index] = (
        parseFloat(this.criteriaTally[index]) *
        parseFloat(this.deductionPerCriteria[index])
      ).toFixed(2);
      this.calculateTotal();
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async getRejection() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rejection_receipt/add_rejection_receipt`,
        data: {
          transaction_id: this.$route.params.id,
          date: this.onlyDate,
          no_of_bags_rejected: this.criteriaTally[this.RejectedIndex],
          reason_of_rejection: this.reasonRejection,
          created_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {})
        .catch(e => {
          this.displayErrorToast(error.response.data);
        });
    },
    async checkPincode() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            await this.endorse();
            this.$refs["close1"].hide();
          }
        })
        .catch(e => {
          if (e.response) {
            this.errMessage = e.response.data;
          } else {
            this.errMessage = e;
          }
        });
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (this.status[i].name == "Unloaded") {
              this.quality_passed_id = this.status[i].id;
            }
          }
        })
        .catch(e => {});
    },
     computeAverage() {
      const average = (
        (parseFloat(this.trial1) +
          parseFloat(this.trial2) +
          parseFloat(this.trial3)) /
        3
      ).toFixed(1);
      this.average = average;
    },
    async endorse() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_receipt/add_deduction_receipt`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id,
          total_deductions: this.total_deductions,
          created_by: employee.id,
          prepared_by: employee.id
        }
      })
        .then(async res => {
          for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
            await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/deduction_criteria/add_deduction_criteria`,
              headers: {
                authorization: "Bearer " + localStorage.token
              },
              data: {
                employee_id: employee.id,
                criteria_id: this.criteria[i].id,
                total_deductions: this.total_deductions,
                deduction_receipt_id: res.data[0].id,
                quantity: this.criteriaTally[i],
                deduction: this.deductionPerCriteria[i],
                total: this.totalDeductionPerCriteria[i],
                created_by: employee.id
              }
            })
              .then(res => {})
              .catch(error => {});
          }
          this.updateTransaction(this.$route.params.id);
          this.getRejection();
          this.$refs["confirm"].hide();
          this.displaySuccessToast("Deductions Saved.");
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          if (error.response) {
            this.displayErrorToast(error.response.data);
          } else {
            this.displayErrorToast(error);
          }
        });
    },
    async updateTransaction(id) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          id: id,
          status_id: this.quality_passed_id,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    add(index) {
      this.criteriaTally[index] = parseInt(this.criteriaTally[index]) + 1;
      this.bug = this.criteriaTally[index];
    },
    deduct(index) {
      this.criteriaTally[index] = parseInt(this.criteriaTally[index]) - 1;
      if (this.criteriaTally[index] < 0) {
        this.criteriaTally[index] = 0;
      }
      this.bug = this.criteriaTally[index];
    },
    async getTransaction() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id
        }
      })
        .then(res => {
          const result = res.data.transactions[0];

          const be = result.bir[0].business_entity[0].description.split("-");
          this.businessEntity = be[1];
          this.businessAcro = be[0];

          this.rawMaterial = result.bir[0].raw_materials[0].description;

          if (result.rmaf[0]) {
            this.trial1 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
            this.trial2 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
            this.trial3 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
            this.average =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average; 

            const remarksArray = result.rmaf[0].physical_analysis[0].remarks;

            for (let i = 0; i < remarksArray.length; i++) {
              this.selectedRemarks.push(parseInt(remarksArray[i]));
            }

            if (result.rmaf[0].physical_analysis[0]) {
              this.recon_id_p =
                result.rmaf[0].physical_analysis[0].reconsideration_id;
              this.average = result.rmaf[0].physical_analysis[0].mc_result;
              this.impurities = result.rmaf[0].physical_analysis[0].impurities;
              this.foreign =
                result.rmaf[0].physical_analysis[0].foreign_material;
              this.selectedDisposition = result.rmaf[0].physical_analysis[0].disposition_id.split(
                ","
              );

              if (result.rmaf[0].physical_analysis[0].reconsideration[0]) {
                if (
                  result.rmaf[0].physical_analysis[0].reconsideration[0]
                    .for_consideration
                ) {
                  this.for_recon_physical = true;
                  this.has_reconsideration_p = true;
                } else {
                  this.for_recon_physical = false;
                }
                this.reason_for_recon_physical =
                  result.rmaf[0].physical_analysis[0].reconsideration[0].reason;
              }
            }

            if (result.rmaf[0].chemical_analysis[0]) {
              this.recon_id_c =
                result.rmaf[0].physical_analysis[0].reconsideration_id;
              this.crude_protein =
                result.rmaf[0].chemical_analysis[0].crude_protein;
              this.calcium = result.rmaf[0].chemical_analysis[0].calcium;
              this.ffa = result.rmaf[0].chemical_analysis[0].ffa_lauric_acid;
              this.brix = result.rmaf[0].chemical_analysis[0].brix;

              if (
                result.rmaf[0].chemical_analysis[0].carbonate_test == "Positive"
              ) {
                this.carbonate_test_pos = true;
                this.carbonate_test_neg = false;
              } else {
                this.carbonate_test_neg = true;
                this.carbonate_test_pos = false;
              }
              this.selectedDisposition2 = result.rmaf[0].chemical_analysis[0].disposition_id.split(
                ","
              );

              if (result.rmaf[0].chemical_analysis[0].reconsideration[0]) {
                if (
                  result.rmaf[0].chemical_analysis[0].reconsideration[0]
                    .for_consideration
                ) {
                  this.for_recon_chemical = true;
                  this.has_reconsideration_c = true;
                } else {
                  this.for_recon_chemical = false;
                }
                this.reason_for_recon_chemical =
                  result.rmaf[0].chemical_analysis[0].reconsideration[0].reason;
              }
            }
          }

          // this.failed_rmaf = result.failed_rmaf;
          this.supplier_code = result.supplier_code;
          this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
          this.item = result.bir[0].items[0].description;
          this.plate_number = result.plate_number;
          this.qc_cn = result.qc_control_number;

          if (!this.qc_cn) {
            this.getQCCN();
          }

          this.dr = result.delivery_receipt_id;
          this.rmaf_id = result.rmaf_id;
          this.bir_id = result.bir_id;
          this.transaction_type_id = result.transaction_type_id;
          this.driver_id = result.driver_id;
          this.no_of_bags = result.no_of_bags;
          this.guard_on_duty = result.guard_on_duty;
          this.time_end = result.time_end;
          this.truck_info_id = result.truck_info_id;

          const business_entity = this.supplier_code.split("-");

          if (business_entity[0] == "FMP") {
            this.isFeedmill = true;
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getQCCN() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.param
        }
      })
        .then(res => {
          this.qc_cn = res.data.QCCN;
        })
        .catch(error => {});
    },
    confirmDeduction() {
      this.$refs["confirm"].show();
      this.calculateTotal();
    },
    calculateTotal() {
      let total = 0;
      for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
        this.totalDeductionPerCriteria[i] =
          parseFloat(this.deductionPerCriteria[i]) *
          parseFloat(this.criteriaTally[i]);
      }
      for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
        if (i != this.RejectedIndex) {
          total += this.totalDeductionPerCriteria[i];
        }
      }
      this.total_deductions = total;
    },
    async getCriteria() {
      const employee = JSON.parse(localStorage.employee);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/criteria`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          business_entity_id: this.business_entity_id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.criteria = res.data.criteria;

          for (let i = 0; i < this.criteria.length; i++) {
            if (this.criteria[i].description === "Rejected") {
              this.RejectedIndex = i;
            }
            this.criteriaTally[i] = 0;
            this.totalDeductionPerCriteria[i] = 0;
            this.deductionPerCriteria[i] = this.criteria[
              i
            ].deduction_per_criteria;
          }
        })
        .catch(error => {
          //  this.displayErrorToast(error.response.data);
        });
    },
    cancel() {
      this.$refs["confirm"].hide();
    },
    cancel1() {
      this.$refs["close1"].hide();
    }
  }
};
</script>
<style scoped>
.button-tally {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.h8 {
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  font-size: 13px;
  background-color: #e25050;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;

  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #00803e;
  line-height: 50px;
}
.input1 {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;

  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.forms {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
</style>