<template>
  <div>
    <b-row>
      <b-col lg="12" md="8" sm="8" class="mb-2">
        <b-button id="add-action" variant="success" size="sm" @click="addModal">
          <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Action
        </b-button>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input size="sm"
            maxlength="10"
            type="search"
            placeholder="Search Actions"
            id="search-all"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button id="clear-search" size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="2" sm="3" class="items">
        <b-input-group prepend="Items" size="sm">
          <b-form-select style="z-index:0" size="sm" v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            <option :value="filterActions.length">All</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      small
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="filterActions"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
      show-empty
      :per-page="perPage"
      :current-page="currentPage"
      sort-by="status"
      sort-asc="description"
    >
     <template v-slot:table-caption>{{ bottomLabel }}</template>
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Inactive' ">
          <b-badge pill variant="danger">{{row.item.status}}</b-badge>
        </div>
        <div class="badge" v-if="row.item.status === 'Active' ">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>
      <template v-slot:cell(module)="row">{{getModuleName(row.item.module_id)}}</template>
      <template v-slot:cell(actions)="row">
      <b-button
          id="edit-actions"
          size="sm"
          class="mr-1 mt-1"
          @click="editModal(row)"
          v-b-tooltip.hover
        >
          <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
        </b-button>
      </template>
    </b-table>

    <div class="mt-5">
      <b-pagination
        v-if="filterActions.length !== 0"
        id="schedule-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
        size="sm"
        pills
      ></b-pagination>
    </div>

    <b-modal
      ref="add"
      header-bg-variant="success"
      header-text-variant="light"
      title="Add Module"
      @hidden="clearFields"
      @hide="clearFields"
    >
      <b-form-group>
        <label>Module:</label>
        <b-form-select id="select-M" v-model="selectedModule" class="my-2">
          <option v-for="(dModule, i) in modules" :key="i" :value="dModule">{{dModule.description}}</option>
        </b-form-select>
      </b-form-group>
      <b-form-group>
        <label>Action:</label>
        <b-form-input id="input-action" v-model="action" class="my-2"></b-form-input>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button size="sm" variant="success" @click="addActions()" style="font-size:13px">Add</b-button>
        <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      ref="edit"
      header-bg-variant="success"
      header-text-variant="light"
      title="Update Action"
      @hidden="clearFields"
      @hide="clearFields"
    >
      <b-form-group>
        <label>Module Name:</label>
        <b-form-input v-model="selectedModule" class="my-2" disabled></b-form-input>
      </b-form-group>
      <b-form-group>
        <label>Action:</label>
        <b-form-input v-model="action" class="my-2" ></b-form-input>
      </b-form-group>
      <b-form-group>
        <label>Status:</label>
        <b-form-select id="select-s" v-model="status" :options="OptStatus" class="my-2"></b-form-select>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button id="save-edit-A" size="sm" variant="success" @click="editActions()" style="font-size:13px">Update</b-button>
        <b-button id="close-A" size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      modules: [],
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      status: "",
      selectedItems: [],
      selectedIndex: null,
      selectedModule: null,
      fields: [
        {
          key: "description",
          label: "Action Name",
          sortable: true
        },
        {
          key: "module",
          label: "Module",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      OptStatus: ["Active", "Inactive"],
      module: "",
      action: "",
      option: ["Transaction", "Reports", "Admin"],
      actions: [],
      id: null,
      module_id: null
    };
  },
  created() {
    this.getActions();
    this.getModules();
  },

  computed: {
    filterActions() {
      const actions = this.actions.filter(action => {
        const result =
          action.description.toLowerCase().match(this.filter) ||
          action.description.toUpperCase().match(this.filter) ||
          action.description.match(this.filter);
        return result;
      });
      this.totalRows = actions.length;

      return actions;
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.filterActions.length) {
        end = this.filterActions.length;
      }
      if (this.filterActions.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.filterActions.length} entries`;
    }
  },
  updated(){
    this.totalRows = this.filterActions.length;
  },
  methods: {
    clearFields() {
      this.selectedModule = "";
      this.action = "";
      this.status = "";
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },
    getModuleName(module_id) {
      for (let i = 0; i < this.modules.length; i++) {
        if (this.modules[i].id == module_id) {
          return this.modules[i].description;
        }
      }
    },
    async getActions() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/actions`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          actions: employee.actions,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.actions = res.data.actions;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    async getModules() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          for (let i = 0; i < res.data.modules.length; i++) {
            if (res.data.modules[i].status == "Active") {
              this.modules.push(res.data.modules[i]);
            }
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    addModal() {
      this.$refs["add"].show();
    },
    async addActions() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/actions/add_action`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          description: this.action,
          status: "Active",
          created_by: employee.id,
          module_id: this.selectedModule.id
        },
        headers: {
            authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // if (res.status === 201) {
          //   this.actions.unshift({ ...res.data[0] });
          // }
          this.displaySuccessToast('Action added ')
          this.getActions()
        })
        .catch(e => {
          this.displayErrorToast(e.response.data)
        });
      // this.actions.push({
      //   module: this.module,
      //   action: this.action,
      //   status: "Active"
      // });
      this.$refs["add"].hide();
      this.clearActions();
    },
    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();
      this.id = row.item.id;
      this.action = row.item.description;
      this.status = row.item.status;
      this.module_id = row.item.module_id;
      this.selectedModule = this.getModuleName(this.module_id)

    },
    async editActions() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/actions/update_action`,
        data: {
          employee_id: employee.id,
          updated_by: employee.id,
          role: employee.role,
          id: this.id,
          status: this.status,
          description: this.action,
          module_id: this.module_id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // if (typeof res.data === "object") {
          //   const actionIndex = this.actions.findIndex(
          //     actions => actions.id === res.data.id
          //   );
          //   this.actions.splice(actionIndex, 1);
          //   this.actions.unshift({ ...res.data });
            this.displaySuccessToast('Action updated ')
            this.getActions()
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response.data)
        });
      // this.actions[this.selectedIndex].module = this.module;
      // this.actions[this.selectedIndex].action = this.action;
      // this.actions[this.selectedIndex].status = this.status;
      // this.selectedIndex = null;
      // this.clearActions()
      this.$refs["edit"].hide();
      this.clearActions();
    },
    clearActions() {
      this.selectedModule = null;
      this.action = null;
    },

    close() {
      this.$refs["add"].hide();
    },
    displaySuccessToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `Operation failed.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    }
  }

};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link{
  color: #00a651;
}
.items {
  margin-left: auto
}
</style>
