<template>
  <div>
    <b-card class="my-5 mr-2 ml-2 cardShadow">
      <DepartmentsTable />
    </b-card>
  </div>
</template>

<script>
import DepartmentsTable from "@/components/AdminDashboard/Departments/DepartmentsTable";
export default {
  components: {
    DepartmentsTable
  },
  layout: "AdminDashboard",
  middleware: "authAdmin",
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style>
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
