<template>
  <div>
    <b-row>
      <b-col lg="12" md="8" sm="8" class="mb-2">
        <b-button id="add-dept" variant="success" size="sm" @click="addModal">
          <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Department
        </b-button>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input size="sm"
            maxlength="10"
            type="search"
            placeholder="Search Actions"
            id="search-all"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="2" sm="3" class="items">
        <b-input-group prepend="Items" size="sm">
          <b-form-select style="z-index:0" size="sm" v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            <option :value="filterDepartments.length">All</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      small
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="filterDepartments"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
      show-empty
      :per-page="perPage"
      :current-page="currentPage"
      sort-by="status"
      sort-asc="description"
    >
      <template v-slot:table-caption> {{ShowingEntries}}</template>
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Inactive' ">
          <b-badge pill variant="danger">{{row.item.status}}</b-badge>
        </div>

        <div class="badge" v-if="row.item.status === 'Active' ">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>
      <template v-slot:cell(actions)="row">
      <b-button
          id="edit-dept"
          size="sm"
          class="mr-1 mt-1"
          @click="editModal(row)"
          v-b-tooltip.hover
        >
          <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
        </b-button>
      </template>
    </b-table>

    <div class="mt-5">
      <b-pagination
        v-if="filterDepartments.length !== 0"
        id="schedule-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
        size="sm"
        pills
      ></b-pagination>
    </div>

    <b-modal
      ref="add"
      header-bg-variant="success"
      header-text-variant="light"
      title="Add Department"
      @hidden="clearFields"
      @hide="clearFields"
    >
      <b-form-group>
        <label>Department Name:</label>
        <b-form-input id="input-dept" v-model="department" class="my-2"></b-form-input>
      </b-form-group> 
      <template v-slot:modal-footer="{}">
        <b-button id="added-dept" size="sm" variant="success" @click="addDepartment()" style="font-size:13px">Add</b-button>
        <b-button id="close-dept" size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      ref="edit"
      header-bg-variant="success"
      header-text-variant="light"
      title="Update Action"
      @hidden="clearFields"
      @hide="clearFields"
    >
      <b-form-group>
        <label>Group Name:</label>
        <b-form-input id="select-dept" v-model="department" class="my-2"></b-form-input>
      </b-form-group>
      <b-form-group>
        <label>Status:</label>
        <b-form-select id="select-status" v-model="status" :options="OptStatus" class="my-2"></b-form-select>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button id="edited-dept" size="sm" variant="success" @click="editDepartment()" style="font-size:13px">Update</b-button>
        <b-button id="edited-close" size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      modules: [],
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      status: "",
      selectedItems: [],
      selectedIndex: null,
      selectedModule: null,
      fields: [
        {
          key: "name",
          label: "Group Name",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      OptStatus: ["Active", "Inactive"],
      module: "",
      department: "",
      option: ["Transaction", "Reports", "Admin"],
      departments: [],
      id: null,
      module_id: null
    };
  },
  created() {
    this.getDepartments();
  },

  computed: {
    filterDepartments() {
      const departments = this.departments.filter(department => {
        const result =
          department.name.toLowerCase().match(this.filter) ||
          department.name.toUpperCase().match(this.filter) ||
          department.name.match(this.filter);
        return result;
      });
      this.totalRows = departments.length;
      return departments;
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.filterDepartments.length) {
        end = this.filterDepartments.length;
      }
      if (this.filterDepartments.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.filterDepartments.length} entries`;
    }
  },
  methods: {
    clearFields() {
      this.selectedModule = "";
      this.action = "";
      this.status = "";
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },

    async getDepartments() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/departments`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.departments = res.data.departments;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    addModal() {
      this.$refs["add"].show();
    },
    async addDepartment() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/departments/add_department`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          name: this.department,
          status: "Active",
          created_by: employee.id,
        },
        headers: {
         authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // if (res.status === 201) {
          //   this.departments.push({ ...res.data[0] });
            this.displaySuccessToast("Added department")
            this.getDepartments()
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response.data)
        });

      this.$refs["add"].hide();
    },
    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();

      this.id = row.item.id;
      this.department = row.item.name;
      this.status = row.item.status;
    },
    async editDepartment() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/departments/update_department`,
        data: {
          employee_id: employee.id,
          updated_by: employee.id,
          role: employee.role,
          id: this.id,
          status: this.status,
          name: this.department,
          module_id: this.module_id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {

          // if (typeof res.data === "object") {
          //   const departmentIndex = this.departments.findIndex(
          //     departments => departments.id === res.data.id
          //   );
          //   this.departments.splice(departmentIndex, 1);
          //   this.departments.unshift({ ...res.data });
          

            this.displaySuccessToast("Updated department")
            this.getDepartments()
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response.data)
        });
      this.$refs["edit"].hide();
    },
    clearActions() {
      this.module = "";
      this.action = "";
    },

    close() {
      this.$refs["add"].hide();
    },
     displaySuccessToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `Operation failed.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
  }
};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link{
  color: #00a651;
}
.items {
  margin-left: auto;
}
</style>
