<template>
  <div>
    <Loading v-if="showLoading" />
    <div>
      <b-row>
        <b-col lg="4" md="4" sm="4" class="mb-2">
          <b-input-group size="sm">
            <b-form-input
              maxlength="10"
              type="search"
              placeholder="Search Pending Requests"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              ref="picker"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div slot="input" style="min-width: 150px;">
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append>
              <b-button size="sm" @click="resetDate" id="date-reset"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <!-- <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Filter">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Business Entity">
                <option v-for="(entity,i) in entity" :key="i" :value="entity">{{entity}}</option>
              </optgroup>
              <optgroup label="Status">
                <option v-for="(status,i) in status" :key="i" :value="status.name">{{status.name}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>-->
      </b-row>
      <b-table
        class="mt-2"
        ref="all-request-Table"
        id="all-request-table"
        :borderless="false"
        :empty-text="
          `There are no ${
            filterActive ? filterActive : 'transactions'
          } to display`
        "
        :items="Filteration"
        :fields="fields"
        selectedVariant="primary"
        :filter="filter"
        :per-page="perPage"
        :current-page="currentPage"
        responsive
        show-empty
        :busy="isBusy"
      >
        <template v-slot:table-busy>
          <div class="text-center text-secondary my-2">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
        <template v-slot:table-caption>{{ ShowingEntries }}</template>
        <template v-slot:cell(status)="row">
          <div
            class="badge font-badge"
            v-if="row.item.status[0].name === 'Sampling'"
          >
            <b-badge pill variant="secondary">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-if="row.item.status[0].name === 'Sampling-Received'"
          >
            <b-badge pill variant="secondary">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-if="row.item.status[0].name === 'Analysis'"
          >
            <b-badge pill variant="secondary">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'Analysis-Done'"
          >
            <b-badge pill variant="success">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'Analysis-Chemical'"
          >
            <b-badge pill variant="primary">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'Analysis-Chem Verified'"
          >
            <b-badge pill variant="primary">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'Analysis-Rejected'"
          >
            <b-badge pill variant="danger">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'For Reconsideration'"
          >
            <b-badge pill variant="secondary">
              {{ row.item.status[0].name }}
            </b-badge>
          </div>
        </template>
        <template class="font_badge" v-slot:cell(date)="row">
          {{ formatDate(row.item.created_at) }}
        </template>
        <template class="font_badge" v-slot:cell(code)="row">
          {{ row.item.supplier_code }}
        </template>
        <template class="font_badge" v-slot:cell(item)="row">{{
          multipleItem(row)
        }}</template>
        <template v-slot:cell(actions)="row">
          <!-- <b-button
            id="input-rmaf"
            size="sm"
            variant="success"
            v-if="(row.item.status[0].name === 'Sampling' || row.item.status[0].name === 'For Reconsideration') && role == 'rm' "
            @click="testModal(row)"
            block
          >
            <font-awesome-icon class="mr-2" style="color:white" icon="vial" small />RMAF
          </b-button>-->
          <b-button
            id="input-chemical"
            size="sm"
            variant="success"
            v-if="
              (row.item.status[0].name === 'Sampling-Received' ||
                row.item.status[0].name === 'Analysis' ||
                row.item.status[0].name === 'For Reconsideration') &&
                role == 'qi'
            "
            @click="testItem(row)"
            block
          >
            <font-awesome-icon
              class="mr-2"
              style="color:white"
              icon="vial"
              small
            />Analyze
          </b-button>

          <b-button
            id="input-chemical"
            size="sm"
            variant="success"
            v-if="
              (row.item.status[0].name === 'Sampling' ||
                row.item.status[0].name === 'For Reconsideration') &&
                role == 'qi'
            "
            @click="receive(row)"
            block
          >
            <font-awesome-icon
              class="mr-2"
              style="color:white"
              icon="reply"
              small
            />Receive
          </b-button>

          <!-- <b-button
            size="sm"
            variant="secondary"
            v-if="row.item.status[0].name === 'Analysis-Rejected'"
            @click="testModal(row)"
            block
          >
            <font-awesome-icon class="mr-2" style="color:white" icon="vials" small />RE-TEST
          </b-button>-->
        </template>
      </b-table>

      <b-modal
        ref="receive"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        size="sm"
      >
        <template v-slot:modal-title>
          <h6>Receive sampling</h6>
        </template>
        <b
          >Sampling has been received. Would you like to continue to testing?</b
        >

        <template v-slot:modal-footer>
          <b-button
            id="rmaf-verify"
            size="sm"
            variant="success"
            style="font-size:13px"
            @click="testItem(rowData)"
            >Yes</b-button
          >
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        ref="multiple"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        hide-footer
        size="sm"
      >
        <template v-slot:modal-title>
          <h6>Multiple Items</h6>
        </template>
        <div class="d-block text-center">
          <br />

          <div v-for="(item, i) in arrayItems" :key="i">
            <b-button
              id="multiple items"
              class="button-style"
              variant="success"
              squared
              block
              :disabled="item.hasRmaf"
              @click="testModalMultiple(item.itemDesc)"
              >{{ item.itemDesc }}</b-button
            >
            <br />
          </div>
        </div>
      </b-modal>

      <div class="mt-5">
        <b-pagination
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
          size="sm"
          pills
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import Loading from "@/components/Loading/Loading";
import axios from "axios";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
  components: {
    DateRangePicker,
    Loading
  },
  data() {
    return {
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      status: [
        "In Progress",
        "Sampling",
        "Inbound",
        "Analysis",
        "Outbound",
        "Reconsideration",
        "Rejected"
      ],
      isBusy: false,
      role: null,
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      getReports: [],
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "id",
          label: "Transaction ID",
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      date: "",
      code: "",
      item: "",
      selectedIndex: null,
      status: [],
      sampling_status_id: [],
      rowData: null,
      showLoading: false,
      multipleItems: "",
      transaction_id: null,
      arrayItems: [],
      rawMaterial: null,
      microItems: []
    };
  },

  computed: {
    Filteration() {
      return this.getReports.filter(emp => {
        const results =
          emp.status[0].name.match(this.filterActive) ||
          emp.supplier_code.match(this.filterActive) ||
          emp.status[0].name.match(this.filterActive);
        return results;
      });
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.Filteration.length) {
        end = this.Filteration.length;
      }
      if (this.Filteration.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.Filteration.length} entries`;
    },
    totalRows() {
      return this.Filteration.length;
    }
  },

  created() {
    const employee = JSON.parse(localStorage.employee);

    this.role = employee.roleParam;
    this.getStatus();
    this.getTransactions();
  },

  methods: {
    cancel() {
      this.$refs["receive"].hide();
    },
    async updateTransactionStatus(status) {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.rowData.item.id,
          status: status,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {})
        .catch(error => {
          this.displayErrorToast(error.response);
        });
    },
    receive(row) {
      this.rowData = row;
      this.updateTransactionStatus("Sampling-Received");
      this.$refs["receive"].show();
    },
    findStatus(status_id) {
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].id == status_id) {
          return this.status[i].name;
        }
      }
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (
              this.status[i].name == "Sampling" ||
              this.status[i].name == "Sampling-Received" ||
              this.status[i].name == "Analysis-Done" ||
              this.status[i].name == "Analysis-Chemical" ||
              this.status[i].name == "Analysis-Chem Verified" ||
              this.status[i].name == "Analysis" ||
              this.status[i].name == "Analysis-Rejected" ||
              this.status[i].name == "For Reconsideration"
            ) {
              this.sampling_status_id.push(this.status[i].id);
            }
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      // this.showLoading = true;
      this.isBusy = true;
      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res);
          // this.showLoading = false;
          this.isBusy = false;
          this.getReports = res.data.transactions.filter(transaction => {
            if (employee.department.name.toLowerCase() != "qa-analyst") {
              const results =
                this.sampling_status_id.includes(transaction.status_id) &&
                transaction.bir[0].department[0].name.toLowerCase() ==
                  employee.department.name.toLowerCase();
              return results;
            } else {
              const results = this.sampling_status_id.includes(
                transaction.status_id
              );
              return results;
            }
          });
          this.totalRows = this.getReports.length;
        })
        .catch(e => {
          // this.showLoading = false;
          this.isBusy = true;
          this.errMessage = e.response.data;
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.updateValues();
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      this.getTransactions();
    },
    multipleItem(row) {
      let item = { items: [] };
      for (let a = 0; a < row.item.bir.length; a++) {
        const element = row.item.bir[a].items[0].description;

        item.items.push(element);
      }

      const convert = item.items.toString();
      return convert;
    },

    async getMultipleItem() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/rmaf-check`,
        data: {
          transaction_id: this.transaction_id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.arrayItems = res.data.items;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    // testModal(row) {
    //   this.$router.push(`/sampling/${row.item.id}`);
    // },
    testModalMultiple(item) {
      this.$router.push(`/sampling/${this.transaction_id}@${item}`);
    },
    async testItem(row) {
      this.transaction_id = row.item.id;
      // this.rawMaterial = row.item.bir[0].raw_materials[0].description;

      const multiple = row.item.bir;
      if (multiple.length > 1) {
        await this.getMultipleItem();
        this.$refs["multiple"].show();
      } else {
        this.$router.push(`/sampling/${row.item.id}`);
      }
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    showAlert1() {
      this.dismissCountDown1 = this.dismissSecs;
    }
  }
};
</script>

<style>
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: red;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button-circle {
  border: 0px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: auto;
}
.input-group-text {
  background-color: #e8f0e9;
  color: black;
}
.reportrange-text[data-v-8cc9549e] {
  border: 1px solid #ccc;
  height: 2rem;
  font-size: 12px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.button-style {
  font-size: 15px;
  box-shadow: 0px 10px 20px -10px #000000;
}
</style>
