<template>
  <div>
    <b-breadcrumb :items="reportPath"></b-breadcrumb>
  </div>
</template>

<script>
export default {
  data() {
    return {
      reportPath: [
        {
          text: "Reports",
          to: "/report"
        },
        // {
        //   text: "Transaction",
        //   to: "/transaction",
        //   active: true
        // }
      ],
      
    };
  }
};
</script>
<style>
</style>