<template>
  <div>
    <b-row>
      <b-col lg="4" md="4" sm="4" class="mb-2">
        <b-input-group size="sm">
          <b-form-input
            maxlength="10"
            type="search"
            placeholder="Search Pending Requests"
            id="search-all"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div slot="input" style="min-width: 150px;">
              {{ datePicker.startDate }} - {{ datePicker.endDate }}
            </div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="3" md="3" sm="3" class="mb-2 text-right">
        <b-button
          id="PDF-reports123"
          size="sm"
          class="mr-1"
          style="font-size:15px;"
          @click="exportPdf()"
          variant="dark"
        >
          <font-awesome-icon style icon="file-pdf" />
        </b-button>
        <b-button
          id="Excel-reports123"
          size="sm"
          variant="success"
          class="mr-1"
          @click="exportExcel()"
          style="font-size:15px "
        >
          <font-awesome-icon icon="file-excel" />
        </b-button>
      </b-col>
    </b-row>
    <b-table
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="getReports"
      :fields="fields"
      selectedVariant="primary"
      tbody-tr-class
      :per-page="perPage"
      :current-page="currentPage"
      responsive
      show-empty
      :busy="isBusy"
    >
      <template v-slot:table-busy>
        <div class="text-center text-secondary my-2">
          <b-spinner small class="align-middle"></b-spinner>
          <strong>&nbsp;Loading...</strong>
        </div>
      </template>
      <template v-slot:table-caption>{{ ShowingEntries }}</template>
      <template v-slot:cell(qc_cn)="row">{{ row.item }}</template>
      <template v-slot:cell(status)="row">
        <div
          class="badge font-badge"
          v-if="row.item.status[0].name === 'Analysis-Done'"
        >
          <b-badge pill variant="success">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Rejected'"
        >
          <b-badge pill variant="danger">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Verified'"
        >
          <b-badge pill variant="success">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Rejected-Verified'"
        >
          <b-badge pill variant="danger">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Approved'"
        >
          <b-badge pill variant="success">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Rejected-Approved'"
        >
          <b-badge pill variant="danger">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Quality Control'"
        >
          <b-badge pill variant="success">Completed</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Chemical'"
        >
          <b-badge pill variant="primary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Chem Verified'"
        >
          <b-badge pill variant="primary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Unloaded'"
        >
          <b-badge pill variant="success">Completed</b-badge>
        </div>
        <div class="badge font-badge" v-else>
          <b-badge pill variant="secondary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
      </template>
      <template class="font_badge" v-slot:cell(date)="row">{{
        formatDate(row.item.created_at)
      }}</template>
      <template class="font_badge" v-slot:cell(code)="row">{{
        row.item.supplier_code
      }}</template>
      <template class="font_badge" v-slot:cell(item)="row">{{
        row.item.bir[0].items[0].description
      }}</template>

      <template v-slot:cell(actions)="row">
        <b-button
          id="view-fadsf"
          size="sm"
          variant="success"
          class="mr-1"
          v-if="row.item.status[0].name != 'Sampling'"
          @click="viewModal(row)"
        >
          <font-awesome-icon
            class="mr-2"
            style="color:white"
            icon="eye"
            small
          />&nbsp;Reports
        </b-button>
      </template>
    </b-table>

    <b-col cols="6" offset="1" class="my-1 mt-3">
      <b-pagination
        pills
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="right"
        size="sm"
      ></b-pagination>
    </b-col>

    <b-modal
      ref="my-modal"
      header-bg-variant="success"
      header-text-variant="light"
      hide-footer
      title="Reports"
    >
      <div class="d-block text-center">
        <br />
        <div
          v-show="
            (selectedIndex && selectedIndex.status[0].name != 'Sampling') ||
              (selectedIndex && selectedIndex.status[0].name != 'Analysis') ||
              (selectedIndex &&
                selectedIndex.status[0].name != 'Sampling-Received')
          "
        >
          <b-button
            class="button-style"
            block
            id="rnmaf-afds"
            variant="success"
            @click="printRmaf('rmaf')"
            >RAW MATERIAL ASSESSMENT FORM</b-button
          >

          <!-- <b-button class="ml-2" size="sm" id="rnmaf-pdf" variant="dark" squared @click="exportRMAF( )">
            <font-awesome-icon style icon="file-pdf" />
          </b-button>-->
        </div>

        <div
          class="mt-3"
          v-show="
            (selectedIndex && selectedIndex.status[0].name != 'Sampling') ||
              (selectedIndex && selectedIndex.status[0].name != 'Analysis') ||
              (selectedIndex &&
                selectedIndex.status[0].name != 'Sampling-Received')
          "
        >
          <b-button
            class="button-style"
            block
            id="rnmaf-afds"
            variant="success"
            @click="printRmaf('moisture')"
            >MOISTURE TALLY SHEET</b-button
          >

          <!-- <b-button class="ml-2" size="sm" id="rnmaf-pdf" variant="dark" squared @click="exportRMAF( )">
            <font-awesome-icon style icon="file-pdf" />
          </b-button>-->
        </div>

        <div
          class="mt-3"
          v-show="
            (selectedIndex &&
              selectedIndex.status[0].name === 'Analysis-Rejected') ||
              (selectedIndex &&
                selectedIndex.status[0].name === 'Rejected-Verified') ||
              (selectedIndex &&
                selectedIndex.status[0].name === 'Rejected-Approved')
          "
        >
          <b-button
            class="button-style"
            id="mrfadsfdsa"
            variant="success"
            squared
            @click="printRmaf('mrr')"
            >MATERIAL REJECTION REPORT</b-button
          >
        </div>

        <hr />
      </div>
    </b-modal>
  </div>
</template>

<script>
import Papa from "papaparse";
import jsPDF from "jspdf";
import "jspdf-autotable";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      isBusy: false,
      currentPage: 1,
      opens: "center",

      perPage: 10,
      totalRows: 1,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      getReports: [],
      entity: ["Feedmill", "CDF", "PDF"],
      options: [
        { text: "Insect-free" },
        { text: "Contaminant-free" },
        { text: "Fresh and in Good Condition" },
        { text: "Insected-free" },
        { text: "With Contaminant" },
        { text: "Bad Condition" },
        { text: "Dry bags" },
        { text: "Wet Bags" },
        { text: "With COA" },
        { text: "Without COA" }
      ],
      options1: [
        { text: "Passed" },
        { text: "Failed" },
        { text: "Quarantine" },
        { text: "On Hold" }
      ],
      options2: [
        { text: "for Chemical Analysis" },
        { text: "Approved for Release" },
        { text: "For Outright Rejection" }
      ],
      sortDesc: false,
      filter: "",
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "date",
          label: "Date",
          sortable: true
        },

        {
          key: "qc_control_number",
          label: "QC Control number",
          sortable: true
        },

        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },

        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: "Action"
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      selectedIndex: null,
      status: [],
      sampling_status_id: []
    };
  },

  computed: {
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getReports.length) {
        end = this.getReports.length;
      }
      if (this.getReports.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.getReports.length} entries`;
    }
  },

  created() {
    this.getStatus();
    this.getTransactions();
  },

  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (this.status[i].name != "Sampling") {
              this.sampling_status_id.push(this.status[i].id);
            }
          }
        })
        .catch(e => {});
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      this.isBusy = true;
      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.isBusy = false;
          for (let j = 0; j < res.data.transactions.length; j++) {
            if (
              this.sampling_status_id.includes(
                res.data.transactions[j].status_id
              )
            ) {
              this.getReports.push(res.data.transactions[j]);
            }
          }
          this.getReports = res.data.transactions.filter(transaction => {
            if (employee.department.name.toLowerCase() != "qa-analyst") {
              const results =
                this.sampling_status_id.includes(transaction.status_id) &&
                transaction.bir[0].department[0].name ==
                  employee.department.name;
              return results;
            } else {
              const results = this.sampling_status_id.includes(
                transaction.status_id
              );
              return results;
            }
          });
          this.totalRows = this.getReports.length;
        })
        .catch(e => {
          this.isBusy = false;
        });
    },

    viewModal(row) {
      this.selectedIndex = row.item;
      this.$refs["my-modal"].show();
    },
    printRmaf(type) {
      //  this.$router.push(`/report/${row.item.id}`)
      const url = `/print/${this.selectedIndex.id}-${type}`;
      window.open(url);
    },
    updated() {
      this.totalRows = this.getReports.length;
    },
    async exportRMAF() {
      let content = [];

      await new Promise(resolve => {
        this.getReports.forEach(data => {
          const valuesArray = [];
          valuesArray.push(moment(data.date).format("DD MMM, YYYY"));
          valuesArray.push(data.supplier_code);
          valuesArray.push(data.qc_control_number);
          valuesArray.push(data.queue_number);
          valuesArray.push(data.bir[0].items[0].description);
          // valuesArray.push(acknowledgement.actualAmount);
          valuesArray.push(data.status[0].name);
          content.push(valuesArray);
        });

        resolve();
      });

      const rmaf = new jsPDF();
      rmaf.setFontSize(18);
      rmaf.text("Biotech Farms Incorporated", 65, 12);

      rmaf.setFontSize(10);
      rmaf.text("Raw Material Assessment Form", 80, 17);

      rmaf.save(`RMAF - ${moment().format("DD MMM, YYYY")}.pdf`);

      return rmaf;
    },
    async exportPdf() {
      let content = [];

      await new Promise(resolve => {
        this.getReports.forEach(data => {
          const valuesArray = [];
          valuesArray.push(moment(data.date).format("DD MMM, YYYY"));
          valuesArray.push(data.supplier_code);
          valuesArray.push(data.qc_control_number);
          valuesArray.push(data.queue_number);
          valuesArray.push(data.bir[0].items[0].description);
          // valuesArray.push(acknowledgement.actualAmount);
          valuesArray.push(data.status[0].name);
          content.push(valuesArray);
        });

        resolve();
      });

      const doc = new jsPDF();
      doc.setFontSize(18);
      doc.text("Biotech Farms Incorporated", 65, 12);

      doc.setFontSize(10);
      doc.text("Raw Material Assessment Form", 80, 17);

      doc.setFontSize(8);
      doc.text(
        `as of ${this.datePicker.startDate} to  ${this.datePicker.endDate}`,
        83,
        21
      );
      doc.autoTable({
        theme: "striped",
        headStyles: { fillColor: [40, 167, 69] },
        margin: { top: 2, right: 2, bottom: 0, left: 2 },
        styles: { fontSize: 6, cellWidth: "auto" },
        head: [
          [
            "Date",
            "Supplier Code",
            "Queue Number",
            "QC Number",
            "Item",
            // "Actual Amount Released",
            "Status"
          ]
        ],
        body: content,
        margin: { top: 28 }
      });

      doc.save(`RMAF - ${moment().format("DD MMM, YYYY")}.pdf`);

      return doc;
    },

    exportExcel() {
      let values = [];
      let documentHeader = {};

      this.getReports.forEach(data => {
        values.push({
          Date: moment(data.date).format("DD MMM, YYYY"),
          "Supplier Code": data.supplier_code,
          "QC Number": data.qc_control_number,
          "Queue Number": data.queue_number,
          "Total Amount": data.bir[0].items[0].description,
          // "Actual Amount Released": acknowledgement.actualAmount,
          Status: data.status[0].name
        });
      });

      const csv = Papa.unparse(values);
      var fileURL = window.URL.createObjectURL(new Blob([csv]));
      var fileLink = document.createElement("a");

      fileLink.href = fileURL;

      fileLink.setAttribute(
        "download",
        `RMAF ${moment().format("MMM DD, YYYY")}.csv`
      );

      document.body.appendChild(fileLink);
      fileLink.click();
    }
  }
};
</script>

<style>
.badge {
  font-size: 13px;
}
.reportrange-text[data-v-8cc9549e] {
  border: 1px solid #ccc;
  height: 2rem;
  font-size: 12px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.button-style {
  font-size: 15px;
  box-shadow: 0px 10px 20px -10px #000000;
}
</style>
