<template>
  <div id="update-password" class="body">
    <div class="div-container">
      <div>
        <b-card class="bcard card">
          <b-form>
            <img class="logo" src="/biotech.png" />
            <b-form-group>
              <h5>
                Employee ID:
                <strong>{{employee_id}}</strong>
              </h5>
              <b-input-group-prepend v-if="default_password">
                <input
                  id="Cedit-user"
                  class="username"
                  type="password"
                  placeholder="Password"
                  v-model="user.newPassword"
                  @keyup.enter="changePassword()"
                />
              </b-input-group-prepend>

              <b-input-group-prepend v-if="default_password">
                <input
                  id="reedit-user"
                  class="password"
                  placeholder="Retype Password"
                  @keyup.enter="changePassword()"
                  type="password"
                  :state="inputValidation"
                  style="margin-top: 20px"
                  v-model="user.reTypePassword"
                />
              </b-input-group-prepend>
              <b-input-group-prepend v-show="default_pincode">
                <div class="container">
                  <h5>Enter Your Pincode</h5>
                  <div class="pinBox">
                    <input
                      id="edit-pass"
                      @keyup.enter="changePassword()"
                      class="pinEntry"
                      v-model="pincode"
                      type="password"
                      maxlength="4"
                      name="pin"
                      pattern="[0-9]{4}"
                    />
                  </div>
                </div>
              </b-input-group-prepend>
            </b-form-group>

            <b-button id="changePass" class="login" @click="changePassword()" block>LOGIN</b-button>
            <small style="color:red">{{errMessage}}</small>
          </b-form>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "@/components/Loading/Loading";
import { isArray } from "util";

export default {
  name: "LoginForm",
  layout: "loginLayout",
  props: {
    employee_id: {
      type: String,
      default: "",
      required: true
    }
  },
  data() {
    return {
      pincode: null,
      error: null,
      user: {
        newPassword: null,
        reTypePassword: null
      },
      errMessage: "",
      default_password: false,
      default_pincode: false
    };
  },
  computed: {
    inputValidation() {
      return this.newPassword === this.reTypePassword &&
        this.reTypePassword !== null &&
        this.newPassword !== null
        ? true
        : false;
    }
  },
  created() {
    this.checkDefault();
  },
  methods: {
    async login() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/login`,
        data: {
          id: employee.id,
          password: this.user.reTypePassword
        }
      })
        .then(res => {
          localStorage.token = res.data.token;
          localStorage.employee = JSON.stringify(res.data);
        })
        .then(() => {
          const employee = JSON.parse(localStorage.employee);
          if (employee.roleParam === "admin" && localStorage.token) {
            this.$router.push("/admin/modules");
          } else if (employee.roleParam === "sec" && localStorage.token) {
            this.$router.push("/guard");
          } else if (employee.roleParam === "qa" && localStorage.token) {
            this.$router.push("/sampling");
          } else if (employee.roleParam === "qi" && localStorage.token) {
            this.$router.push("/sampling");
          } else if (employee.roleParam === "rm" && localStorage.token) {
            this.$router.push("/tally");
          } else if (employee.roleParam === "dc" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "shp" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "shc" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "sv" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "ppic" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "wh" && localStorage.token) {
            this.$router.push("/transaction");
          }
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    },
    async changePassword() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/employees/update_employee`,
        data: {
          id: employee.id,
          password: this.user.newPassword,
          pin_code: this.pincode,
          updated_by: employee.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          const employee = JSON.parse(localStorage.employee);
          if (res.data.password) {
            this.login();
          } else {
            if (employee.roleParam === "admin" && localStorage.token) {
              this.$router.push("/admin/modules");
            } else if (employee.roleParam === "sec" && localStorage.token) {
              this.$router.push("/guard");
            } else if (employee.roleParam === "qa" && localStorage.token) {
              this.$router.push("/sampling");
            } else if (employee.roleParam === "qi" && localStorage.token) {
              this.$router.push("/sampling");
            } else if (employee.roleParam === "rm" && localStorage.token) {
              this.$router.push("/tally");
            } else if (employee.roleParam === "dc" && localStorage.token) {
              this.$router.push("/transaction");
            } else if (employee.roleParam === "shp" && localStorage.token) {
              this.$router.push("/transaction");
            } else if (employee.roleParam === "shc" && localStorage.token) {
              this.$router.push("/transaction");
            } else if (employee.roleParam === "sv" && localStorage.token) {
              this.$router.push("/transaction");
            } else if (employee.roleParam === "ppic" && localStorage.token) {
              this.$router.push("/transaction");
            } else if (employee.roleParam === "wh" && localStorage.token) {
              this.$router.push("/transaction");
            }
          }

          // if (employee.roleParam === "sec" && localStorage.token) {
          //   this.$router.push("/monitor-dashboard");
          // }
          // if (employee.roleParam !== "sec" && localStorage.token) {
          //   this.$router.push("/Dashboard");
          // }
        })
        .catch(e => {
          // if (e.response.status === 500) {
          // } else if (typeof e === "object") {
          //   this.error = e.response.data;
          // } else if (e.response.status === 401) {
          //   this.error = e.response.data;
          // }
          // if (isArray(e)) {
          //   if (e.response.status === 403) {
          //     localStorage.clear();
          //     this.$router.push("/");
          //   } else {
          //     this.error = e.response.data;
          //   }
          // }
        });
    },
    async checkDefault() {
      const employee = JSON.parse(localStorage.employee);

      this.employee_id = employee.id;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/login`,
        data: {
          id: employee.id,
          checkDefaults: true
        }
      })
        .then(res => {
          this.default_password = res.data.password;
          this.default_pincode = res.data.pin_code;
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    }
  }
};
</script>

<style scoped>
.div-container {
  width: 30%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  border: 0px;
}
.login:hover {
  background: #3ab64a;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #3ab64a;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
}
.subtitle1 {
  margin-bottom: 40px;
  font-size: 15px;
  color: white;
  word-spacing: 5px;
}
.badge {
  background-color: #3ab64a;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #3ab64a;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.container {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
.div-form {
  width: 40%;
}
.bcard {
  border: 1px;
  /* box-shadow: 0px 10px 35px -19px black; */
}
</style>
