<template>
  <div class="body">
    <div class="container">
      <Loading v-if="showLoading" />
      <div>
        <b-card class="bcard" v-show="!isNewAccount">
          <b-form>
            <img class="logo" src="/biotech.png" />

            <h6 class="title">FSQR MANAGEMENT SYSTEM</h6>

            <h2 class="subtitle1">Version 1.0.0</h2>
            <b-form-group>
              <b-input-group-prepend>
                <input
                  id="enter-user"
                  @keyup.enter="login()"
                  class="username"
                  v-model="user.name"
                  placeholder="Username"
                />
              </b-input-group-prepend>

              <b-input-group-prepend>
                <input
                  id="enter-password"
                  class="password"
                  v-model="user.password"
                  placeholder="Password"
                  type="password"
                  style="margin-top: 20px"
                  @keyup.enter="login()"
                />
              </b-input-group-prepend>
            </b-form-group>

            <b-button s id="login" class="login" @click="login()" block pill
              >LOGIN</b-button
            >
            <small style="color:red">{{ errMessage }}</small>
            <h2 class="subtitle" style="margin-top:30px">
              &copy;2020 BIOTECH FARMS INCORPORATED
            </h2>
          </b-form>
        </b-card>

        <ChangePassword v-show="isNewAccount" :employee_id="user.name" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ChangePassword from "@/components/Login/ChangePassword";
import Loading from "@/components/Loading/Loading";
export default {
  name: "LoginForm",
  layout: "loginLayout",
  components: {
    ChangePassword,
    Loading
  },
  data() {
    return {
      user: {
        name: "",
        password: ""
      },
      errMessage: "",
      isNewAccount: false,
      showLoading: false,
      errMessage: "",
      default_password: false,
      default_pincode: false
    };
  },
  computed: {
    // inputValidation() {
    //   if (this.user.name.length > 0 && this.user.name.length <= 20) {
    //     return true;
    //   } else {
    //     return false;
    //   }
    // }
  },
  created() {
    this.checkDefault();
  },
  methods: {
    async checkDefault() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/login`,
        data: {
          id: employee.id,
          checkDefaults: true
        }
      })
        .then(res => {
          if (res.data.password) {
            this.default_password = true;
          }
          if (res.data.pin_code) {
            this.default_pincode = true;
          }
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    },
    async login() {
      this.showLoading = true;
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/login`,
        data: {
          id: this.user.name,
          password: this.user.password
        }
      })
        .then(res => {
          this.default_pincode = res.data.default_pin_code;
          this.showLoading = false;
          localStorage.token = res.data.token;
          localStorage.employee = JSON.stringify(res.data);
        })
        .then(() => {
          this.showLoading = false;
          const employee = JSON.parse(localStorage.employee);
          if (
            this.user.name === this.user.password ||
            this.default_pincode == true
          ) {
            this.$router.push("/login/change_pass");
          } else if (employee.roleParam === "admin" && localStorage.token) {
            this.$router.push("/admin/modules");
          } else if (employee.roleParam === "sec" && localStorage.token) {
            this.$router.push("/guard");
          } else if (employee.roleParam === "qa" && localStorage.token) {
            this.$router.push("/sampling");
          } else if (employee.roleParam === "qi" && localStorage.token) {
            this.$router.push("/sampling");
          } else if (employee.roleParam === "rm" && localStorage.token) {
            this.$router.push("/tally");
          } else if (employee.roleParam === "dc" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "shp" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "shc" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "sv" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "ppic" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "wh" && localStorage.token) {
            this.$router.push("/transaction");
          } else if (employee.roleParam === "ch" && localStorage.token) {
            this.$router.push("/transaction");
          }
        })
        .catch(e => {
          this.showLoading = false;
          this.errMessage = e.response.data;
        });
    }
  }
};
</script>

<style scoped>
.body {
  background-color: white;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
  /* box-shadow: 0px 10px 35px -19px black; */
}
.subtitle1 {
  margin-bottom: 40px;
  font-size: 15px;
  color: gray;
  word-spacing: 5px;
}
.badge {
  background-color: #00a651;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
</style>
