<template>
  <div>
    <Loading v-if="showLoading" />
    <b-row>
      <b-col lg="4" md="4" sm="4" class="mb-2">
        <b-input-group size="sm">
          <b-form-input
            maxlength="10"
            type="search"
            placeholder="Search Pending Requests"
            id="search-all"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div slot="input" style="min-width: 150px;">
              {{ this.datePicker.startDate }} - {{ this.datePicker.endDate }}
            </div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="3" sm="6" md="6">
        <b-input-group size="sm" prepend="Filter">
          <b-form-select v-model="filterActive" id="verified-filter">
            <option :value="``">All</option>
            <optgroup label="Status">
              <option
                v-for="(businessEntity, i) in business_entities"
                :key="i"
                :value="businessEntity"
                >{{ businessEntity.description }}</option
              >
            </optgroup>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      hover
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :per-page="perPage"
      :current-page="currentPage"
      :borderless="false"
      :empty-text="
        `There are no ${
          filterActive ? filterActive : 'transactions'
        } to display`
      "
      :items="Filteration"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
      show-empty
      :busy="isBusy"
    >
      <template v-slot:table-busy>
        <div class="text-center text-secondary my-2">
          <b-spinner small class="align-middle"></b-spinner>
          <strong>&nbsp;Loading...</strong>
        </div>
      </template>
      <template v-slot:table-caption>{{ ShowingEntries }}</template>
      <template v-slot:cell(status)="row">
        <div
          class="badge font-badge"
          v-if="row.item.status[0].name === 'Sampling'"
        >
          <b-badge pill variant="secondary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'For Reconsideration'"
        >
          <b-badge pill variant="secondary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Done'"
        >
          <b-badge pill variant="success">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Rejected'"
        >
          <b-badge pill variant="danger">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Verified'"
        >
          <b-badge pill variant="success">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Chemical'"
        >
          <b-badge pill variant="primary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Analysis-Chem Verified'"
        >
          <b-badge pill variant="primary">{{
            row.item.status[0].name
          }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="row.item.status[0].name === 'Rejected-Verified'"
        >
          <b-badge pill variant="danger">{{ row.item.status[0].name }}</b-badge>
        </div>
      </template>
      <template class="font_badge" v-slot:cell(date)="row">{{
        formatDate(row.item.created_at)
      }}</template>
      <template class="font_badge" v-slot:cell(code)="row">{{
        row.item.supplier_code
      }}</template>
      <!-- <template class="font_badge" v-slot:cell(item)="row">{{
        row.item.bir[0].items[0].description
      }}</template> -->
      <template class="font_badge" v-slot:cell(item)="row">{{
        multipleItem(row)
      }}</template>

      <template v-slot:cell(actions)="row">
        <b-button
          id="verify-rmaf"
          size="sm"
          variant="success"
          block
          v-if="
            row.item.status[0].name === 'Analysis-Done' ||
              row.item.status[0].name === 'Analysis-Rejected' ||
              row.item.status[0].name === 'Analysis-Chemical' ||
              row.item.status[0].name === 'For Reconsideration'
          "
          @click="endorseModal(row)"
        >
          <font-awesome-icon
            style="color:white"
            icon="check-circle"
            small
            class="icon mr-2"
          />VERIFY
        </b-button>
        <b-button
          id="inputy-rmaf"
          size="sm"
          variant="secondary"
          block
          v-if="row.item.status[0].name === 'Sampling'"
          @click="testModal(row)"
          v-b-tooltip.hover
          title="Input RMAF"
        >
          <font-awesome-icon
            style="color:white"
            icon="vial"
            small
            class="icon mr-1"
          />ANALYZE
        </b-button>

        <!-- <b-button
          size="sm"
          variant="success"
          block
          v-if="row.item.status[0].name === 'Analysis-Rejected' "
          @click="endorseModal1(row)"
          v-b-tooltip.hover
          title="Endorse Delivery"
        >
          <font-awesome-icon style="color:white" icon="check-circle" small class="icon" />VERIFY
        </b-button>-->
      </template>
    </b-table>

    <b-col cols="6" offset="1" class="my-1 mt-3">
      <b-pagination
        pills
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="right"
        size="sm"
      ></b-pagination>
    </b-col>

    <!-- <b-alert :show="dismissCountDown" dismissible fade class="button1 fixed">Successfully Added</b-alert>

    <b-alert :show="dismissCountDown2" dismissible fade class="button1 fixed">Sampling Verified</b-alert>-->

    <!-- <b-alert
      :show="dismissCountDown1"
      dismissible
      fade
      class="button1 fixed"
    >Rejected Sampling Verified</b-alert>-->

    <b-modal
      no-fade
      title="Verify Delivery"
      ref="endorse"
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <b-card bg-variant="light">
        <b-row align-h="center">
          <b-card>
            <b-row class="text-center">
              <b-col cols="12">
                <div>
                  <b-img
                    src="/biotechfarms.jpg"
                    style="width:200px;height:75px"
                    center
                  />
                </div>
                <h5>RAW MATERIAL ASSESSMENT FORM</h5>
                <p style="position:relative;bottom:12px;font-size:15px">
                  {{ businessEntity }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-card bg-variant="light">
                  <b-row>
                    <b-col cols="7">
                      <small class="ml-1">Item Description</small>
                      <b-form-input
                        v-model="item"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col cols="5">
                      <small class="ml-1">Date</small>
                      <div class="text-center">
                        <b-form-input
                          v-model="date"
                          style="font-size:13px"
                          disabled
                        ></b-form-input>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <small class="ml-1">Supplier Code:</small>
                      <b-form-input
                        v-model="supplier_code"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col cols="4">
                      <small class="ml-1">QC Control No.</small>
                      <b-form-input
                        v-model="qc_cn"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col cols="4">
                      <small class="ml-1">Raw Material</small>
                      <b-form-input
                        v-model="rawMaterial"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <!-- <b-row>
               
                <b-col>
                  <small class="ml-1">Lot. No</small>
                  <b-form-input v-model="lot_no" type="email" style="font-size:13px" disabled></b-form-input>
                </b-col>
                  </b-row>-->
                </b-card>
              </b-col>
              <b-col cols="6">
                <b-card
                  v-if="!isFeedmill"
                  header="MOISTURE TALLY SHEET"
                  header-tag="header"
                >
                  <b-row>
                    <b-col cols="6">
                      <div>
                        <small>Trial 1</small>
                        <b-form-input
                          type="number"
                          @change="computeAverage"
                          v-model="trial1"
                          style="font-size:13px"
                          disabled
                        />
                      </div>
                      <div>
                        <small>Trial 2</small>
                        <b-form-input
                          type="number"
                          @change="computeAverage"
                          v-model="trial2"
                          style="font-size:13px"
                          disabled
                        />
                      </div>
                      <div>
                        <small>Trial 3</small>
                        <b-form-input
                          type="number"
                          @change="computeAverage"
                          v-model="trial3"
                          style="font-size:13px"
                          disabled
                        />
                      </div>
                    </b-col>
                    <b-col cols="6">
                      <div>
                        <small>Average</small>
                        <b-form-input
                          type="number"
                          @change="computeAverage"
                          v-model="average"
                          style="font-size:13px"
                          disabled
                        />
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
            </b-row>

            <hr />
            <b-row>
              <b-col cols="12">
                <b-card
                  header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)"
                  header-tag="header"
                  v-if="roleParam != 'shc'"
                >
                  <b-card>
                    <h6>Remarks</h6>
                    <b-row>
                      <b-col cols="7">
                        <b-form>
                          <span v-for="(item, index) in remarks" :key="index">
                            <b-form-checkbox
                              :value="item.id"
                              v-model="selectedRemarks"
                              :disabled="checkRemark(item)"
                              >{{ item.name }}</b-form-checkbox
                            >
                          </span>
                        </b-form>
                      </b-col>
                      <b-col cols="5">
                        <div>
                          <small>% MC Result</small>
                          <b-form-input
                            v-model="mc_result"
                            type="number"
                            style="font-size:13px"
                            disabled
                          ></b-form-input>
                        </div>

                        <div v-if="businessAcro == 'PDF'">
                          <small>% Impurities</small>
                          <b-form-input
                            v-model="impurities"
                            type="number"
                            style="font-size:13px"
                            disabled
                          ></b-form-input>
                        </div>
                        <div v-if="businessAcro == 'FMP'">
                          <small class="mt-2">% Foreign Material</small>
                          <b-form-input
                            v-model="foreign"
                            type="number"
                            style="font-size:13px"
                            disabled
                          ></b-form-input>
                        </div>
                      </b-col>
                    </b-row>
                  </b-card>

                  <b-card>
                    <h6>Disposition</h6>
                    <b-row class="mx-2">
                      <b-col
                        cols="6"
                        v-for="(item, index) in dispositions"
                        :key="index"
                      >
                        <b-form-checkbox
                          :value="item.id"
                          v-model="selectedDisposition"
                          >{{ item.description }}</b-form-checkbox
                        >
                      </b-col>
                    </b-row>
                  </b-card>
                </b-card>

                <b-card bg-variant="light" v-if="roleParam != 'shc'">
                  <b-row>
                    <b-col cols="12">
                      <b-form-checkbox v-model="for_recon_physical"
                        >For Reconsideration</b-form-checkbox
                      >
                    </b-col>
                    <br />
                    <b-col cols="12">
                      <b-form-input
                        v-model="reason_for_recon_physical"
                        style="font-size:13px"
                        placeholder="Reason for Reconsideration"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
              <b-col cols="12">
                <b-card
                  header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)"
                  v-if="isFeedmill && roleParam != 'shp'"
                >
                  <b-card>
                    <b-row>
                      <b-col cols="6">
                        <small>% Crude Protein</small>
                        <b-form-input
                          v-model="crude_protein"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>

                        <small class="mt-2">% Calcium</small>
                        <b-form-input
                          v-model="calcium"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>

                        <small>% FFA as Lauric Acid</small>
                        <b-form-input
                          v-model="ffa"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>

                        <small>% Brix</small>
                        <b-form-input
                          v-model="brix"
                          class="mb-1"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>
                      </b-col>

                      <b-col cols="6">
                        <h6>Remarks</h6>
                        <b-form-input
                          v-model="remarksChem"
                          style="font-size:13px; height: 100px"
                        ></b-form-input>
                        <br />
                        <small>Carbonate Test</small>
                        <b-row class="ml-3">
                          <b-col cols="12">
                            <b-form-checkbox
                              id="carbonate_positive"
                              :disabled="carbonate_test_neg"
                              v-model="carbonate_test_pos"
                              >Positive</b-form-checkbox
                            >
                          </b-col>
                          <b-col cols="12">
                            <b-form-checkbox
                              id="carbonate_negative"
                              :disabled="carbonate_test_pos"
                              v-model="carbonate_test_neg"
                              >Negative</b-form-checkbox
                            >
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </b-card>

                  <b-card>
                    <h6>Disposition</h6>
                    <b-row class="mx-2">
                      <b-col
                        cols="6"
                        v-for="(item, index) in dispositions"
                        :key="index"
                      >
                        <b-form-checkbox
                          :value="item.id"
                          v-model="selectedDisposition2"
                          >{{ item.description }}</b-form-checkbox
                        >
                      </b-col>
                    </b-row>
                  </b-card>
                </b-card>

                <b-card
                  bg-variant="light"
                  v-if="isFeedmill && roleParam != 'shp'"
                >
                  <b-row>
                    <b-col cols="12">
                      <b-form-checkbox v-model="for_recon_chemical"
                        >For Reconsideration</b-form-checkbox
                      >
                    </b-col>
                    <br />
                    <b-col cols="12">
                      <b-form-input
                        v-model="reason_for_recon_chemical"
                        style="font-size:13px"
                        placeholder="Reason for Reconsideration"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
            </b-row>
          </b-card>
        </b-row>
      </b-card>
      <br />

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="rmaf-semi"
          size="sm"
          variant="success"
          v-b-modal.modal-multi-1
          style="font-size:13px"
          >Verify</b-button
        >
        <b-button
          id="rmaf-semi-cancel"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
      </template>
    </b-modal>

    <b-modal
      ref="close"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      id="modal-multi-1"
    >
      <template v-slot:modal-title>
        <h6>Security Purposes</h6>
      </template>
      <div class="container">
        <h5>Enter Your Pincode</h5>
        <div class="pinBox">
          <input
            id="input-pincode"
            class="pinEntry"
            v-model="pincode"
            type="password"
            maxlength="4"
            name="pin"
            pattern="[0-9]{4}"
          />
        </div>
      </div>

      <template v-slot:modal-footer="{ ok, cancel1 }">
        <b-button
          id="rmaf-verify"
          size="sm"
          variant="success"
          @click="endorse()"
          style="font-size:13px"
          >Save</b-button
        >
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          @click="cancel1()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
      </template>
      <center>
        <small style="color:red">{{ errMessage }}</small>
      </center>
    </b-modal>

    <b-modal
      ref="signature"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <template v-slot:modal-title>
        <h6>Draw Signature</h6>
      </template>

      <div>
        <div class="col-12">
          <VueSignaturePad
            id="signature"
            width="100%"
            height="450px"
            ref="signaturePad"
            :options="{
              onBegin: () => {
                $refs.signaturePad.resizeCanvas();
              }
            }"
          />
        </div>
        <div class="col-3 mt-2">
          <b-button
            variant="dark"
            style="font-size:13px;border: 0px;"
            @click="clear"
            >Undo</b-button
          >
        </div>
      </div>

      <template v-slot:modal-footer="{ ok, cancel1 }">
        <b-button
          id="rmaf-verify-sign"
          size="sm"
          variant="success"
          @click="addSignature()"
          style="font-size:13px"
          >Save</b-button
        >
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          @click="cancel1()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
      </template>
      <center>
        <small style="color:red">{{ errMessage }}</small>
      </center>
    </b-modal>

    <b-modal
      ref="multiple"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      hide-footer
      size="sm"
    >
      <template v-slot:modal-title>
        <h6>Multiple Items</h6>
      </template>
      <div class="d-block text-center">
        <br />

        <div v-for="(item, i) in arrayItems" :key="i">
          <b-button
            id="multiple items"
            class="button-style"
            variant="success"
            squared
            block
            :disabled="item.hasVerify"
            @click="endorseModalMicro(item)"
            >{{ item.itemDesc }}</b-button
          >
          <br />
        </div>
      </div>
    </b-modal>

    <!-- <b-modal
      no-close-on-backdrop
      ref="verify_recon"
      size="lg"
      header-bg-variant="success"
      header-text-variant="light"
      id="process-modal"
    >
      <template v-slot:modal-title>
        <h6>RECONSIDERATION</h6>
      </template>
      <h6 class="mb-3">Delivery Details</h6>
      <b-card bg-variant="light">
        <b-row>
          <b-col cols="6"></b-col>
          <b-col>
            <small class="ml-1">Date:</small>
            <b-form-input v-model="date" disabled style="font-size:15px"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">Supplier Code:</small>
            <b-form-input v-model="code" disabled style="font-size:15px"></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Item:</small>
            <b-form-input v-model="item" disabled style="font-size:15px"></b-form-input>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">Reason for Reconsideration:</small>
            <b-form-input v-model="reason_for_recon" style="font-size:15px"></b-form-input>
          </b-col>
        </b-row>
      </b-card>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="approve-recon"
          size="sm"
          variant="success"
          v-b-modal.modal-multi-1
          style="font-size:13px"
        >Verify</b-button>
        <b-button
          id="cancel-approve"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >Cancel</b-button>
      </template>
    </b-modal>-->
  </div>
</template>

<script>
import VueSignaturePad from "vue-signature-pad";
import Loading from "@/components/Loading/Loading";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Rmaf from "@/components/Print/Rmaf";
import moment from "moment";

export default {
  components: {
    DateRangePicker,
    Rmaf,
    VueSignaturePad,
    Loading
  },
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      isBusy: false,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      errMessage: "",
      signatureImage: null,

      pincode: null,
      selectedRemarks: [],
      selectedDisposition: [],
      selectedDisposition2: [],
      supplier_code: null,
      date: null,
      item: null,
      plate_number: null,
      qc_cn: null,
      lot_no: null,
      isFeedmill: false,
      businessEntity: "Business Entity",
      rawMaterial: "",
      dr: null,
      rmaf_id: null,
      bir_id: null,
      transaction_type_id: null,
      driver_id: null,
      no_of_bags: null,
      guard_on_duty: null,
      time_end: null,

      selectedRow: null,
      selectedIndex: null,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      dismissCountDown2: 0,
      showDismissibleAlert: false,
      getReports: [],
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      roleParam: null,
      fields: [
        {
          key: "id",
          label: "Transaction ID",
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      status: [],
      sampling_status_id: [],

      mc_result: null,
      impurities: null,
      foreign: null,
      reason_for_recon_physical: null,
      reason_for_recon: null,
      crude_protein: null,
      calcium: null,
      ffa: null,
      brix: null,
      carbonate_test_pos: null,
      carbonate_test_neg: null,
      remarksChem: null,
      reason_for_recon_chemical: null,
      for_recon_physical: null,
      for_recon_chemical: null,
      chemAnalysisId: null,
      physAnalysisId: null,
      rmafId: null,
      truck_info_id: null,
      isFeedmill: false,
      rowData: null,
      resData: null,
      has_reconsideration_p: null,
      status_id: null,
      has_reconsideration_c: null,
      reconsideration_id: null,
      businessAcro: null,
      errMessage: "",

      remarks: [],
      dispositions: [],
      remarksItems: [],
      status: [],
      statusVerified: null,
      option: {
        penColor: "rgb(0, 0, 0)",
        backgroundColor: "rgb(255,255,255)"
      },
      disabled: false,
      signaturePath: null,
      showLoading: false,
      business_entities: [],
      verifyFM: false,
      selectedItems: null,
      arrayItems: [],
      isMicro: false,
      transaction_id: null,
      microItem: null,
      transaction_status: null,
      itemsID: null
    };
  },
  async created() {
    const employee = JSON.parse(localStorage.employee);
    this.role = employee.roleParam;

    await this.getBusinessUnit();
    await this.getStatus();
    await this.getTransactions();
    await this.getAllStatus();
    // this.getTransaction();
    await this.getRemarks();
    await this.getDisposition();
  },

  computed: {
    Filteration() {
      return this.getReports.filter(emp => {
        const results =
          emp.status[0].name.match(this.filterActive) ||
          emp.supplier_code.match(this.filterActive) ||
          emp.status[0].name.match(this.filterActive);
        return results;
      });
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.Filteration.length) {
        end = this.Filteration.length;
      }
      if (this.Filteration.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.Filteration.length} entries`;
    }
  },
  methods: {
    async determineTrans() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/rmaf-check`,
        data: {
          transaction_id: this.transaction_id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.isMicro = res.data.isMicro;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    async getMultipleItem() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/rmaf-check`,
        data: {
          transaction_id: this.transaction_id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.arrayItems = res.data.items;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    testModal(row) {
      this.$router.push(`/sampling/${row.item.id}`);
    },
    async getBusinessUnit() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/business_entity`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          modules: employee.modules
        }
      }).then(res => {
        this.business_entities = res.data.business_entities;
        // const result = res.data.business_entities[0];

        // const be = result.description.split("-");

        // this.businessEntity = be[1];
        // this.businessAcro = be[0];
      });
    },
    async getTransactionMicro() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.transaction_id
        }
      })
        .then(res => {
          const result = res.data.transactions[0];

          this.transaction_id = this.transaction_id;
          this.rmafID = result.rmaf_id;
          this.status_id = result.status_id;
          const be = result.bir[0].department[0].name.split("-");
          this.businessEntity = result.bir[0].business_entity[0].description;
          this.businessAcro = be[0];
          this.rawMaterial = result.bir[0].raw_materials[0].description;
          this.failed_rmaf = result.failed_rmaf;
          this.supplier_code = result.supplier_code;
          this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
          this.dateMts = moment(result.created_at).format("YYYY-MM-DD");
          this.time = moment(result.created_at).format("HHmm");

          if (result.rmaf[0].physical_analysis) {
            const remarksArray = result.rmaf[0].physical_analysis[0].remarks;
            const dispositionArray =
              result.rmaf[0].physical_analysis[0].disposition_id;

            for (let i = 0; i < remarksArray.length; i++) {
              1;
              this.selectedRemarks.push(remarksArray[i]);
            }

            for (let i = 0; i < dispositionArray.length; i++) {
              this.selectedDisposition.push(dispositionArray[i]);
            }

            this.trial1 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
            this.trial2 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
            this.trial3 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
            this.average =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;

            this.mc_result =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;
            this.impurities = result.rmaf[0].physical_analysis[0].impurities;
            this.foreign = result.rmaf[0].physical_analysis[0].foreign_material;
          }

          const multiple = result.bir;
          if (multiple.length > 1) {
            this.item = this.microItem;
          } else {
            this.item = result.bir[0].items[0].description;
          }
          this.qc_cn = result.qc_control_number;
          this.rmaf_id = result.rmaf_id;
          this.bir_id = result.bir_id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getTransaction() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id
        }
      })
        .then(res => {
          const result = res.data.transactions[0];

          const be = result.bir[0].business_entity[0].description.split("-");
          this.businessEntity = be[1];
          this.rawMaterial = result.bir[0].raw_materials[0].description;
          this.supplier_code = result.supplier_code;
          this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
          this.item = result.bir[0].items[0].description;
          this.plate_number = result.plate_number;
          this.qc_cn = result.qc_control_number;
          this.dr = result.delivery_receipt_id;
          this.rmaf_id = result.rmaf_id;
          this.bir_id = result.bir_id;
          this.transaction_type_id = result.transaction_type_id;
          this.driver_id = result.driver_id;
          this.no_of_bags = result.no_of_bags;
          this.guard_on_duty = result.guard_on_duty;
          this.time_end = result.time_end;
          this.truck_info_id = result.truck_info_id;

          const business_entity = this.supplier_code.split("-");

          if (result.status[0].name == "Analysis-Chem Verified") {
            this.isFeedmill = true;
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getDisposition() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/disposition`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.dispositions = res.data.dispositions;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getRemarks() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/remarks`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.remarks = res.data.remarks;

          for (let i = 0; i < this.remarks.length; i++) {
            this.remarksItems.push({
              value: this.remarks[i].id,
              text: this.remarks[i].name
            });
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getAllStatus() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.status = res.data.status;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    computeAverage() {
      const average = (
        (parseFloat(this.trial1) +
          parseFloat(this.trial2) +
          parseFloat(this.trial3)) /
        3
      ).toFixed(1);
      this.average = average;
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    checkRemark(remark) {
      if (this.selectedRemarks.includes(remark.tag)) {
        return true;
      }
      return false;
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (
              this.status[i].name == "Analysis-Verified" ||
              this.status[i].name == "Rejected-Verified" ||
              this.status[i].name == "Analysis-Done" ||
              this.status[i].name == "Analysis-Rejected" ||
              this.status[i].name == "Analysis-Chemical" ||
              this.status[i].name == "Analysis-Chem Verified" ||
              this.status[i].name == "Sampling" ||
              this.status[i].name == "For Reconsideration"
            ) {
              this.sampling_status_id.push(this.status[i].id);
            }
          }
        })
        .catch(e => {});
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      // this.showLoading = true;
      this.isBusy = true;
      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);

      this.roleParam = employee.roleParam;

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res);
          // this.showLoading = false;
          this.isBusy = false;
          for (let j = 0; j < res.data.transactions.length; j++) {
            if (employee.department.name.toLowerCase() != "qa-analyst") {
              // if (
              //   res.data.transactions[j].bir[0].department[0].name ==
              //   employee.department.name
              // ) {
              if (
                this.sampling_status_id.includes(
                  res.data.transactions[j].status_id
                )
              ) {
                if (employee.roleParam == "shp") {
                  if (res.data.transactions[j].rmaf[0].physical_analysis) {
                    this.getReports.push(res.data.transactions[j]);
                  }
                } else if (employee.roleParam == "shc") {
                  if (res.data.transactions[j].rmaf[0].chemical_analysis) {
                    this.getReports.push(res.data.transactions[j]);
                  }
                } else {
                  this.getReports.push(res.data.transactions[j]);
                }
              }
              // }
            } else {
              if (
                this.sampling_status_id.includes(
                  res.data.transactions[j].status_id
                )
              ) {
                this.getReports.push(res.data.transactions[j]);
              }
            }
          }
          this.totalRows = this.getReports.length;
        })
        .catch(e => {
          // this.showLoading = false;
          this.isBusy = false;
        });
    },

    addModal() {
      this.$refs["add"].show();
    },
    showAlert1() {
      this.dismissCountDown1 = this.dismissSecs;
    },
    showAlert2() {
      this.dismissCountDown1 = this.dismissSecs;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    close() {
      this.$refs["add"].hide();
    },
    async endorseModalMicro(item) {
      console.log(item);
      this.microItem = item.itemDesc;
      this.itemsID = item.id;

      console.log(this.itemsID);
      this.transaction_id = this.transaction_id;
      await this.getTransactionMicro();
      this.$refs["endorse"].show();
    },

    async endorseModal(row) {
      this.transaction_id = row.item.id;

      const multiple = row.item.bir;

      if (multiple.length > 1) {
        this.rowData = row.item;
        await this.determineTrans();
        await this.getMultipleItem();
        this.$refs["multiple"].show();
      } else {
        this.selectedIndex = row.index;
        this.rowData = row.item;

        this.status_id = row.item.status_id;

        const be = row.item.bir[0].department[0].name.split("-");
        this.businessEntity = row.item.bir[0].business_entity[0].description;
        this.businessAcro = be[0];

        this.supplier_code = row.item.supplier_code;
        this.qc_cn = row.item.qc_control_number;
        this.rawMaterial = row.item.bir[0].raw_materials[0].description;

        if (row.item.rmaf[0].physical_analysis) {
          const remarksArray = row.item.rmaf[0].physical_analysis[0].remarks;
          const dispositionArray =
            row.item.rmaf[0].physical_analysis[0].disposition_id;

          for (let i = 0; i < remarksArray.length; i++) {
            1;
            this.selectedRemarks.push(remarksArray[i]);
          }

          for (let i = 0; i < dispositionArray.length; i++) {
            this.selectedDisposition.push(dispositionArray[i]);
          }

          this.trial1 =
            row.item.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
          this.trial2 =
            row.item.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
          this.trial3 =
            row.item.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
          this.average =
            row.item.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;

          this.mc_result =
            row.item.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;
          this.impurities = row.item.rmaf[0].physical_analysis[0].impurities;
          this.foreign = row.item.rmaf[0].physical_analysis[0].foreign_material;
        }

        if (row.item.rmaf[0].physical_analysis[0].reconsideration.length > 0) {
          if (
            row.item.rmaf[0].physical_analysis[0].reconsideration[0]
              .for_consideration
          ) {
            this.for_recon_physical = true;
            this.has_reconsideration_p = true;
          } else {
            this.for_recon_physical = false;
          }
          this.reconsideration_id =
            row.item.rmaf[0].physical_analysis[0].reconsideration[0].id;
          this.reason_for_recon_physical =
            row.item.rmaf[0].physical_analysis[0].reconsideration[0].reason;

          this.reason_for_recon = this.reason_for_recon_physical;
        }

        if (row.item.rmaf[0].chemical_analysis) {
          this.crude_protein =
            row.item.rmaf[0].chemical_analysis[0].crude_protein;
          this.calcium = row.item.rmaf[0].chemical_analysis[0].calcium;
          this.ffa = row.item.rmaf[0].chemical_analysis[0].ffa_lauric_acid;
          this.brix = row.item.rmaf[0].chemical_analysis[0].brix;
          this.remarksChem = row.item.rmaf[0].chemical_analysis[0].remarks;
          if (
            row.item.rmaf[0].chemical_analysis[0].carbonate_test == "Positive"
          ) {
            this.carbonate_test_pos = true;
            this.carbonate_test_neg = false;
          } else {
            this.carbonate_test_neg = true;
            this.carbonate_test_pos = false;
          }
          // this.selectedDisposition2 = row.item.rmaf[0].chemical_analysis[0].disposition_id.split(
          //   ","
          // );

          const dispositionArray2 =
            row.item.rmaf[0].chemical_analysis[1].disposition_id;

          for (let i = 0; i < dispositionArray2.length; i++) {
            this.selectedDisposition2.push(dispositionArray2[i]);
          }
        }

        this.receipt = row.item.delivery_receipt[0];
        this.date = moment(row.item.created_at).format("YYYY-MM-DD HH:mm A");
        this.type = row.item.transaction_type[0].name;
        // this.address = row.item.address;
        this.driver = row.item.driver_name;
        this.plate = row.item.plate_number;
        this.item = row.item.bir[0].items[0].description;
        this.bags = row.item.no_of_bags;
        this.code = row.item.supplier_code;

        const business_entity = row.item.supplier_code.split("-");

        if (row.item.status[0].name == "Analysis-Chem Verified") {
          this.isFeedmill = true;
        } else if (
          row.item.rmaf[0].physical_analysis &&
          row.item.rmaf[0].chemical_analysis
        ) {
          this.isFeedmill = true;
        }

        this.$refs["endorse"].show();
      }
    },
    async endorse() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            this.$refs["signature"].show();
            // await this.updateTransaction();
            // this.$refs["close"].hide();
            // this.getReports.splice(this.selectedIndex, 1);
            // this.getReports.push(this.resData);
          }
        })
        .catch(e => {
          if (e.response) {
            this.errMessage = e.response.data;
          } else {
            this.errMessage = e;
          }
        });
    },
    multipleItem(row) {
      let item = { items: [] };
      for (let a = 0; a < row.item.bir.length; a++) {
        const element = row.item.bir[a].items[0].description;

        item.items.push(element);
      }

      const convert = item.items.toString();
      return convert;
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    async addSignature() {
      const employee = JSON.parse(localStorage.employee);
      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      var data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        var image = new Image();
        image.src = data.data;

        let fileName = `${moment().format("YYYY-MM-DD_HHmmss")}_${
          employee.id
        }.png`;

        const url = this.$axios.defaults.baseURL;

        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);

            const signature_path = await axios
              .post(`${url}/transactions/transactions/upload_signature`, fd, {
                headers: { authorization: `B1SESSION=${employee.token}` }
              })
              .then(res => {
                return res.data.path;
              })
              .catch(err => {
                console.log(err);
              });

            return signature_path;
          }
        );

        this.signaturePath = path;

        if (this.isMicro == false) {
          await this.updateTransaction();
          console.log("HERe");
        } else {
          await this.checkMicro();
          console.log("Micro");
        }
        this.pincode = null;
      }
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async updateTransactionMicro() {
      this.showLoading = true;
      let samplingVerifiedID,
        rejectedVerifiedID,
        samplingPassedID,
        samplingRejectedID,
        samplingChemVerID,
        dispoPassed,
        dispoRejected,
        samplingReconId,
        status;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].name.toLowerCase() == "analysis-verified") {
          samplingVerifiedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "rejected-verified") {
          rejectedVerifiedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-done") {
          samplingPassedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "for reconsideration") {
          samplingReconId = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-rejected") {
          samplingRejectedID = this.status[i].id;
        } else if (
          this.status[i].name.toLowerCase() == "analysis-chem verified"
        ) {
          samplingChemVerID = this.status[i].id;
        }
      }

      let statusVerified;
      let id = "";
      for (let i = 0; i < this.rowData.rmaf.length; i++) {
        const element = this.rowData.rmaf[i].physical_analysis[0].certified_by;

        if (element == "undefined") {
          statusVerified = samplingPassedID;
          console.log(samplingPassedID);
          id = this.rowData.rmaf[i].physical_analysis[0].id;
        } else {
          if (
            this.status_id == samplingPassedID ||
            this.status_id == samplingReconId
          ) {
            statusVerified = samplingVerifiedID;
            // else if(){

            // }
          } else if (this.status_id == samplingRejectedID) {
            statusVerified = rejectedVerifiedID;
          }
        }
      }
      await this.updatePhysical2(id);

      // if(){
      //
      // if (
      //   this.status_id == samplingPassedID ||
      //   this.status_id == samplingReconId
      // ) {
      //   statusVerified = samplingVerifiedID;
      //   // else if(){

      //   // }
      // } else if (this.status_id == samplingRejectedID) {
      //   statusVerified = rejectedVerifiedID;
      // }
      // }

      // this.transaction_status = status;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.transaction_id,
          updateStatus: true,
          status_id: statusVerified,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          hasPhysicalRecon: this.has_reconsideration_p,
          hasChemicalRecon: this.has_reconsideration_c,
          reconsidered_approved_signature: this.signaturePath,
          reconsideration_id: this.reconsideration_id
        }
      })
        .then(async res => {
          // if (
          //   this.rowData.rmaf[0].physical_analysis_id &&
          //   !this.rowData.rmaf[0].chemical_analysis_id
          // ) {
          //   await this.updatePhysical();
          // }
          // if (this.rowData.rmaf[0].chemical_analysis_id && this.isFeedmill) {
          //   await this.updateChemical();
          // }

          // this.getReports.splice(this.selectedIndex, 1);
          // this.getReports.unshift(this.resData);

          this.showLoading = false;

          this.displaySuccessToast("RMAF verified.");
          this.closeModal();
          this.getTransactions();
        })
        .catch(error => {
          this.showLoading = false;
          this.displayErrorToast(error.response.data);
        });
    },
    async checkMicro() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/rmaf-check`,
        data: {
          transaction_id: this.transaction_id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.checkMicroStat = res.data.items;
          if (this.checkMicroStat.length > 1) {
            let bool = false;
            for (let i = 0; i < this.checkMicroStat.length; i++) {
              const micro = this.checkMicroStat[i].hasVerify;
              if (micro == false) {
                bool = true;
                break;
              }
            }

            // if bool is true; meaning there are items with no RMAF not verified yet;
            // dont update status; redirect to table only;
            if (bool == false) {
              this.updateTransactionMicro();
              console.log("false");
            } else {
              console.log("true");
              this.updateTransactionMicro();
              this.displaySuccessToast("RMAF verified.");
              this.closeModal();
              setTimeout(
                () => this.$router.push({ path: "/transaction" }),
                1000
              );
            }
          } else {
            console.log("others");
            this.updateTransactionMicro();
          }

          // if bool is false; update status and redirect to table;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async updateTransaction() {
      this.showLoading = true;
      let samplingVerifiedID,
        rejectedVerifiedID,
        samplingPassedID,
        samplingRejectedID,
        samplingChemVerID,
        dispoPassed,
        dispoRejected,
        samplingReconId,
        status;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].name.toLowerCase() == "analysis-verified") {
          samplingVerifiedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "rejected-verified") {
          rejectedVerifiedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-done") {
          samplingPassedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "for reconsideration") {
          samplingReconId = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-rejected") {
          samplingRejectedID = this.status[i].id;
        } else if (
          this.status[i].name.toLowerCase() == "analysis-chem verified"
        ) {
          samplingChemVerID = this.status[i].id;
        }
      }

      let statusVerified;
      if (this.rowData.status[0].name == "Analysis-Chemical") {
        statusVerified = samplingChemVerID;
      } else if (
        this.status_id == samplingPassedID ||
        this.status_id == samplingReconId
      ) {
        statusVerified = samplingVerifiedID;
      } else if (this.status_id == samplingRejectedID) {
        statusVerified = rejectedVerifiedID;
      }

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.transaction_id,
          updateStatus: true,
          status_id: statusVerified,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          hasPhysicalRecon: this.has_reconsideration_p,
          hasChemicalRecon: this.has_reconsideration_c,
          reconsidered_approved_signature: this.signaturePath,
          reconsideration_id: this.reconsideration_id
        }
      })
        .then(async res => {
          // this.resData = res.data;

          if (
            this.rowData.rmaf[0].physical_analysis_id &&
            !this.rowData.rmaf[0].chemical_analysis_id
          ) {
            await this.updatePhysical();
          }
          if (this.rowData.rmaf[0].chemical_analysis_id && this.isFeedmill) {
            await this.updateChemical();
          }

          // this.getReports.splice(this.selectedIndex, 1);
          // this.getReports.unshift(this.resData);

          this.showLoading = false;

          this.displaySuccessToast("RMAF verified.");
          this.closeModal();
          this.getTransactions();
        })
        .catch(error => {
          this.showLoading = false;
          this.displayErrorToast(error.response.data);
        });
    },
    closeModal() {
      this.$refs["endorse"].hide();
      this.$refs["close"].hide();
      this.$refs["signature"].hide();
      this.$refs["multiple"].hide();
    },
    async updateChemical() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/chemical_analysis/update_chemical_analysis`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.rowData.rmaf[0].chemical_analysis[0].id,
          addCertification: true,
          certified_by: employee.id,
          certified_signature: this.signaturePath,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async updatePhysical2(index) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/physical_analysis/update_physical_analysis`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: index,
          addCertification: true,
          certified_by: employee.id,
          certified_signature: this.signaturePath,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async updatePhysical() {
      const employee = JSON.parse(localStorage.employee);
      console.log(this.rowData.rmaf[0].physical_analysis[0].id);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/physical_analysis/update_physical_analysis`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.rowData.rmaf[0].physical_analysis[0].id,
          addCertification: true,
          certified_by: employee.id,
          certified_signature: this.signaturePath,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    cancel() {
      this.$refs["endorse"].hide();
    },
    cancel1() {
      this.$refs["close1"].hide();
    },
    updated() {
      this.totalRows = this.getReports.length;
    }
  }
};
</script>

<style scoped>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.button-circle {
  border: 0px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: auto;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.container {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
