<template>
  <div>
    <b-card class="my-5 mr-2 ml-2 cardShadow">
      <b-tabs v-model="tabIndex" content-class="mt-3">
        <b-tab title="Modules" :title-link-class="linkClass(0)">
          <ModulesTable />
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import ModulesTable from "@/components/AdminDashboard/Modules/ModulesTable";
export default {
  components: {
    ModulesTable
  },
  layout: "AdminDashboard",
  middleware: "authAdmin",
  data() {
    return {
        tabIndex: 0
    };
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style>
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
