<template style="background-color: black">
<!-- TODO: Refactor to SFC(Single File Components) -->

<body >
  <div class="mr-2 ml-2 mt-4" style="margin-bottom: 20%" id="requests-view">
    <div class="right">
      <b-row>
      </b-row>
    </div>
    <div>
      <center>
        <b-card style="max-width: 60rem;" class="card1 mb-3">
          <b-row>
            <b-col cols="6"></b-col>
            <b-col>
              <b-row style="float:right" class="mr-1">
                <button style="border:0px; background:transparent" @click="logout" title="Log Out">
                  <!-- <b-badge
                    style="font-size:12px;background-color:green; max-height: 50px"
                  >{{getUser.name}}</b-badge>-->
                  <i style="font-size:30px; vertical-align: middle;">
                    <font-awesome-icon
                      style="color:#dc3545;height:25px;width:25px"
                      icon="power-off"
                    />
                  </i>
                </button>
              </b-row>
            </b-col>
          </b-row>

          <b-card-text>
            <IngoingTable />
          </b-card-text>
        </b-card>
      </center>
    </div>
  </div>
  <b-modal no-fade title="Logout User" title-class="title" ref="logout" size="sm">
    Are you sure you want to logout?
    <template v-slot:modal-footer="">
      <b-button
        id="rmaf-verify"
        size="sm"
        variant="success"
        @click="logoutUser()"
        style="font-size:13px; width: 50px;"
      >Yes</b-button>
      <b-button
        id="rmaf-verify-cancel"
        size="sm"
        @click="cancel()"
        style="font-size:13px;width: 40px;"
      >No</b-button>
    </template>
  </b-modal>
</body>
</template>

<script>
import IngoingTable from "@/components/Transaction/GuardTable/IngoingTable";

export default {
  components: {
    IngoingTable
  },
  middleware: "authGuard",
  data() {
    return {
      tabReports: ["Pending"]
    };
  },
  computed: {
    getUser() {
      return JSON.parse(localStorage.employee);
    }
  },
  methods: {
    logout() {
      this.$refs["logout"].show();
    },
    logoutUser() {
      localStorage.clear();
      this.$router.push("/");
    },
    getUserRole(role) {
      if (role == "sec") {
        return "Guard";
      }
    },
    cancel() {
      this.$refs["logout"].hide();
    }
  }
};
</script>

<style scoped>
body {
  background-color: #454545;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.card1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

</style>
