<template>
  <div class="my-5 ml-2" id="requests-view">
    <h4 class="color1 ml-4">Scan QR Code</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-form @submit="onSubmit">
        <b-input-group>
          <b-form-input
            v-model="qr"
            @blur="searchFocus"
            ref="scan-qr-code"
            required
            autocomplete="off"
            autofocus
            id="input-qr-code"
            type="search"
          ></b-form-input>
        </b-input-group>
        <b-input-group-append>
          <b-button id="scan-qr-code" v-show="false" text="Button" type="submit" variant="primary"></b-button>
        </b-input-group-append>
        <div>
          <b-img center style="width:30%; height:10%" src="/loader.gif" />
        </div>
      </b-form>
    </b-card>
    <b-modal
      ref="receive"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="sm"
    >
      <template v-slot:modal-title>
        <h6>Receive sampling</h6>
      </template>
      <b>Sampling has been received. Would you like to continue to testing?</b>

      <template v-slot:modal-footer>
        <b-button
          id="rmaf-verify"
          size="sm"
          variant="success"
          style="font-size:13px"
          @click="test()"
        >Yes</b-button>
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="cancel()"
        >No</b-button>
      </template>
    </b-modal>
    <b-modal
      ref="notrans"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="sm"
    >
      <template v-slot:modal-title>
        <h6>Failed</h6>
      </template>
      <b>No transaction has been found.</b>

      <template v-slot:modal-footer="{ok}">
        <b-button id="rmaf-verify" size="sm" variant="success" style="font-size:13px" @click="ok">Ok</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
export default {
  layout: "AdminDashboard",
  middleware: "authScan",
  data() {
    return {
      qr: null,
      errMessage: null,
      transaction_id: null
    };
  },
  computed: {},
  mounted() {},
  methods: {
    searchFocus() {
      this.$refs["scan-qr-code"].focus();
    },
    async onSubmit(evt) {
      evt.preventDefault();

      const qrJSON = JSON.parse(this.qr);
      
      if (!qrJSON.transaction) {
        this.transaction_id = this.qr;
      } else {
        this.transaction_id = qrJSON.transaction;
      }

      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.transaction_id
        }
      })
        .then(res => {
          if (res.data.transactions[0]) {
            if (res.data.transactions[0].status[0]) {
              if (res.data.transactions[0].status[0].name == "Sampling") {
                this.updateTransactionStatus();
                this.$refs["receive"].show();
              } else if (
                res.data.transactions[0].status[0].name == "Sampling-Received"
              ) {
                this.test();
              }
            } else {
              this.displayToast("Scan Failed");
              this.qr = null
            }
          } else {
            this.$refs["notrans"].show();
          }
        })
        .catch(err => {
          this.displayToast("Scan Failed");
          console.log(err);
        });
    },
    async updateTransactionStatus() {
      const employee = JSON.parse(localStorage.employee);
      const qrJSON = JSON.parse(this.qr);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          id: this.transaction_id,
          status: "Sampling-Received",
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    test() {
      this.$router.push(`/sampling/${this.transaction_id}`);
    },
    cancel() {
      this.$refs["receive"].hide();
      this.qr = "";
    },
    displayToast(action) {
      this.$bvToast.toast(`${action} `, {
        id: "toast-display-action",
        title: `Failed`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    }
  }
};
</script>
<style>
</style>
