<template>
  <div id="app">
    <div id="buttonPrint" class="sticky-top">
      <b-collapse id="timer" visible>
        <b-col lg="4" class="pb-2">
          <b-button id="print-reports" variant="success" style="color:white" @click="prints()">PRINT</b-button>
        </b-col>
      </b-collapse>
      <div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  
  components: {
  },
  
  data() {
    return {};
  },
  created() {},
  methods: {
    // print
    prints() {
      window.print();
    }
  }
};
</script>
<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
@media print {
  body #buttonPrint {
    display: none;
  }
  body #footer {
    display: none;
  }
}
</style>