<template>
  <div>
    <b-row>
      <b-col lg="12" md="8" sm="8" class="mb-2">
        <b-button id="add-modules" variant="success" size="sm" @click="addModal">
          <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Module
        </b-button>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input
            size="sm"
            maxlength="10"
            type="search"
            placeholder="Search Modules"
            id="search-all-M"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="2" sm="3" class="items">
        <b-input-group prepend="Items" size="sm">
          <b-form-select style="z-index:0" size="sm" v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            <option :value="getModulesFilter.length">All</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      small
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="getModulesFilter"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
       :per-page="perPage"
      :current-page="currentPage"
      show-empty
      sort-by="status"
    >
      <template v-slot:table-caption>{{ShowingEntries}}</template>
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Inactive' ">
          <b-badge pill variant="danger">{{row.item.status}}</b-badge>
        </div>
        <div class="badge" v-if="row.item.status === 'Active' ">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>
      <template v-slot:cell(actions)="row">
       <b-button
          id="edit-modul"
          size="sm"
          class="mr-1 mt-1"
          @click="editModal(row)"
          v-b-tooltip.hover
        >
          <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
        </b-button>
      </template>
    </b-table>

    <div class="mt-5">
      <b-pagination
        v-if="getModulesFilter.length !== 0"
        id="schedule-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
        size="sm"
        pills
      ></b-pagination>
    </div>

    <b-modal ref="add" header-bg-variant="success" header-text-variant="light" title="Add Module">
      <b-form-group>
        <label>Module Name:</label>
        <b-form-input id="input-M" v-model="description" class="my-2"></b-form-input>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button id="added-module" size="sm" variant="success" @click="addModule()" style="font-size:13px">Add</b-button>
        <b-button id="added-close" size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      ref="edit"
      header-bg-variant="success"
      header-text-variant="light"
      title="Update Module"
    >
      <b-form-group>
        <label>Module Name:</label>
        <b-form-input id="select-MM" v-model="description" class="my-2"></b-form-input>
      </b-form-group>
      <b-form-group>
        <label>Status:</label>
        <b-form-select id="select-sta" v-model="status" :options="OptStatus" class="my-2"></b-form-select>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button id="edited-module" size="sm" variant="success" @click="editModule()" style="font-size:13px">Update</b-button>
        <b-button id="edited-close" size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      sortDesc: false,
      filter: "",
      id: null,
      filterOn: [],
      requests: [],
      description: null,
      selectedItems: [],
      fields: [
        {
          key: "description",
          label: "Module Name",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      OptStatus: ["Active", "Inactive"],
      status: "",
      modules: [],
      // modules: [
      //   {
      //     modules: "Transaction",
      //     status: "Active"
      //   },
      //   {
      //     modules: "Reports",
      //     status: "Active"
      //   },
      //   {
      //     modules: "Admin",
      //     status: "Inactive"
      //   },
      // ],
      selectedIndex: null
    };
  },
  async created() {
    await this.getModules();
  },
  computed: {
    getModulesFilter() {
      const modules = this.modules.filter(modul => {
        const result =
          modul.description.toLowerCase().match(this.filter) ||
          modul.description.toUpperCase().match(this.filter) ||
          modul.description.match(this.filter);
        return result;
      });
      this.totalRows = modules.length;

      return modules;
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getModulesFilter.length) {
        end = this.getModulesFilter.length;
      }
      if (this.getModulesFilter.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.getModulesFilter.length} entries`;
    }
  },
  methods: {
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },
    async getModules() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.modules = res.data.modules;
        })
        .catch(e => {
          console.log(e);
          // this.errMessage = e.response.data;
        });
    },

    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();
      // this.modules = row.item.modules;
      this.description = row.item.description;
      this.status = row.item.status;
      this.id = row.item.id;
    },
    async editModule() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/modules/update_module`,
        data: {
          employee_id: employee.id,
          updated_by: employee.id,
          role: employee.role,
          modules: employee.modules,
          id: this.id,
          status: this.status,
          description: this.description
        },
        headers: {
            authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // if (typeof res.data === "object") {
          //   const moduleIndex = this.modules.findIndex(
          //     modules => modules.id === res.data.id
          //   );
          //   this.modules.splice(moduleIndex, 1);
          //   this.modules.unshift({ ...res.data });
            this.displaySuccessToast('Module updated');
            this.getModules()
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response.data)
        });
      // this.modules[this.selectedIndex].modules = this.modules;
      // this.modules[this.selectedIndex].status = this.status;
      // this.selectedIndex = null;
      this.$refs["edit"].hide();
      this.clearModule();
    },
    addModal() {
      this.$refs["add"].show();
    },
    async addModule() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules/add_module`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          modules: employee.modules,
          description: this.description,
          status: "Active",
          created_by: employee.id
        },
        headers: {
         authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res)
          // if (res.status === 201) {
          //   console.log(res.data)
          //   this.modules.unshift({ ...res.data[0] });
            this.displaySuccessToast('Module added');
            this.getModules()
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response)
          console.log(e)
        });
      // this.modules.push({
      //   modules: this.modules,
      //   status: "Active"
      // });
      this.$refs["add"].hide();
      this.clearModule();
    },
    clearModule() {
      this.description = null;
    },

    close() {
      this.$refs["add"].hide();
    },

     displaySuccessToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `Operation failed.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
  }
};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
</style>
