<template>
  <div class="my-5 mr-3 ml-4">
    <Loading v-if="showLoading" />
    <div class="my-4 mr-4 ml-4">
      <b-row align-h="center">
        <b-card>
          <b-row class="text-center">
            <b-col cols="12">
              <div>
                <b-img
                  src="/biotechfarms.jpg"
                  style="width:200px;height:75px"
                  center
                />
              </div>
              <h5>RAW MATERIAL ASSESSMENT FORM</h5>
              <p style="position:relative;bottom:12px;font-size:15px">
                {{ businessEntity }}
              </p>
            </b-col>
          </b-row>
          <b-card bg-variant="light">
            <b-row>
              <b-col>
                <small class="ml-1">Item Description</small>
                <b-form-input
                  v-model="item"
                  style="font-size:13px"
                  disabled
                ></b-form-input>
              </b-col>

              <b-col>
                <small class="ml-1">Date</small>
                <div class="text-center">
                  <b-form-input
                    v-model="date"
                    style="font-size:13px"
                    disabled
                  ></b-form-input>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6">
                <small class="ml-1">Supplier Code:</small>
                <b-form-input
                  v-model="supplier_code"
                  style="font-size:13px"
                  disabled
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">QC Control No.</small>
                <b-form-input
                  v-model="qc_cn"
                  style="font-size:13px"
                  disabled
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Raw Material</small>
                <b-form-input
                  v-model="rawMaterial"
                  style="font-size:13px"
                  disabled
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
          <hr />
          <b-card
            header="MOISTURE TALLY SHEET"
            header-tag="header"
            v-if="!hasMTS && !isFeedmill"
          >
            <b-card>
              <b-row>
                <b-col cols="6">
                  <div>
                    <small>Trial 1</small>
                    <b-form-input
                      id="input-trial1"
                      type="number"
                      @change="computeAverage"
                      v-model="trial1"
                      style="font-size:13px"
                    />
                  </div>
                  <div>
                    <small>Trial 2</small>
                    <b-form-input
                      id="input-trial2"
                      type="number"
                      @change="computeAverage"
                      v-model="trial2"
                      style="font-size:13px"
                    />
                  </div>
                  <div>
                    <small>Trial 3</small>
                    <b-form-input
                      id="input-trial3"
                      type="number"
                      @change="computeAverage"
                      v-model="trial3"
                      style="font-size:13px"
                    />
                  </div>
                </b-col>
                <b-col cols="6">
                  <div>
                    <small>Average</small>
                    <b-form-input
                      id="generate-average"
                      type="number"
                      @change="computeAverage"
                      v-model="average"
                      style="font-size:13px"
                    />
                  </div>
                </b-col>
              </b-row>
            </b-card>
          </b-card>
          <b-card
            header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)"
            header-tag="header"
            v-if="!isFeedmill"
          >
            <b-card>
              <h6>Remarks</h6>
              <b-row>
                <b-col cols="6">
                  <b-form class="mx-3">
                    <span v-for="(item, index) in remarks" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        v-model="selectedRemarks"
                        :disabled="checkRemark(item)"
                        >{{ item.name }}</b-form-checkbox
                      >
                    </span>
                  </b-form>
                </b-col>
                <b-col cols="6">
                  <div>
                    <small>% MC Result</small>
                    <b-form-input
                      id="input-mc-result"
                      v-model="average"
                      type="number"
                      style="font-size:13px"
                    ></b-form-input>
                  </div>

                  <div v-if="businessAcro == 'PDF'">
                    <small>% Impurities</small>
                    <b-form-input
                      id="input-impurities"
                      v-model="impurities"
                      type="number"
                      style="font-size:13px"
                    ></b-form-input>
                  </div>
                  <div v-if="businessAcro == 'FMP'">
                    <small class="mt-2">% Foreign Material</small>
                    <b-form-input
                      id="input-fc"
                      v-model="foreign"
                      type="number"
                      style="font-size:13px"
                    ></b-form-input>
                  </div>
                </b-col>
              </b-row>
            </b-card>

            <b-card>
              <h6>Disposition</h6>
              <b-row class="mx-2">
                <b-col
                  cols="6"
                  v-for="(item, index) in dispositions"
                  :key="index"
                >
                  <b-form-checkbox
                    :value="item.id"
                    v-model="selectedDisposition"
                    :disabled="checkDisposition(item, 'physical')"
                    >{{ item.description }}</b-form-checkbox
                  >
                </b-col>
              </b-row>
            </b-card>
          </b-card>

          <b-card bg-variant="light" v-if="role == 'rm'">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  id="for-reconsideration"
                  v-model="for_recon_physical"
                  >For Reconsideration</b-form-checkbox
                >
              </b-col>
              <b-col cols="9">
                <b-form-input
                  id="reason-reconsideration"
                  v-model="reason_for_recon_physical"
                  style="font-size:13px"
                  placeholder="Reason for Reconsideration"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>

          <b-card
            header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)"
            v-if="isFeedmill"
          >
            <b-card>
              <b-row>
                <b-col cols="6">
                  <small>% Crude Protein</small>
                  <b-form-input
                    id="input-cp"
                    v-model="crude_protein"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>

                  <small class="mt-2">% Calcium</small>
                  <b-form-input
                    id="input-cal"
                    v-model="calcium"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>

                  <small>% FFA as Lauric Acid</small>
                  <b-form-input
                    id="input-ffa"
                    v-model="ffa"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>

                  <small>% Brix</small>
                  <b-form-input
                    id="input-brix"
                    v-model="brix"
                    class="mb-1"
                    type="number"
                    style="font-size:13px"
                  ></b-form-input>
                  <small>Carbonate Test</small>
                  <b-row class="ml-3">
                    <b-col cols="4">
                      <b-form-checkbox
                        id="carbonate_positive"
                        :disabled="carbonate_test_neg"
                        v-model="carbonate_test_pos"
                        >Positive</b-form-checkbox
                      >
                    </b-col>
                    <b-col cols="4">
                      <b-form-checkbox
                        id="carbonate_negative"
                        :disabled="carbonate_test_pos"
                        v-model="carbonate_test_neg"
                        >Negative</b-form-checkbox
                      >
                    </b-col>
                  </b-row>
                </b-col>

                <b-col cols="6">
                  <h6>Remarks</h6>
                  <b-form-input
                    v-model="remarksChem"
                    style="font-size:13px; height: 100px"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-card>

            <b-card>
              <h6>Disposition</h6>
              <b-row class="mx-2">
                <b-col
                  cols="6"
                  v-for="(item, index) in dispositions"
                  :key="index"
                >
                  <b-form-checkbox
                    :value="item.id"
                    :disabled="checkDisposition(item, 'chemical')"
                    v-model="selectedDisposition2"
                    >{{ item.description }}</b-form-checkbox
                  >
                </b-col>
              </b-row>
            </b-card>
          </b-card>

          <b-card bg-variant="light" v-if="role == 'shc' || role == 'qa'">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox
                  id="select-reconChem"
                  v-model="for_recon_chemical"
                  >For Reconsideration</b-form-checkbox
                >
              </b-col>
              <b-col cols="9">
                <b-form-input
                  id="recon-reasoChem"
                  v-model="reason_for_recon_chemical"
                  style="font-size:13px"
                  placeholder="Reason for Reconsideration"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
          <b-row align-h="end" class="fixed my-3 mt-3 mr-1">
            <b-button
              id="cancel-analysis-rmaf"
              @click="cancelAnalysis()"
              class="mr-2 my-2 block"
              style="font-size:14px; width: 100px"
              >Cancel</b-button
            >&nbsp;
            <b-button
              id="save-analysis-rmaf"
              @click="confirmAnalysis"
              class="block mr-4 my-2"
              variant="success"
              style="font-size:14px; width: 100px"
              >Save</b-button
            >
          </b-row>
        </b-card>
      </b-row>
    </div>

    <b-modal
      ref="confirm"
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      title="Confirm Analysis Results"
    >
      <b-row align-h="center">
        <b-card>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h3>RAW MATERIAL ASSESSMENT FORM</h3>
              <p style="position:relative;bottom:13px">{{ businessEntity }}</p>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card bg-variant="light">
                <b-row>
                  <b-col cols="7">
                    <small class="ml-1">Item Description</small>
                    <b-form-input
                      v-model="item"
                      style="font-size:13px"
                      disabled
                    ></b-form-input>
                  </b-col>

                  <b-col cols="5">
                    <small class="ml-1">Date</small>
                    <div class="text-center">
                      <b-form-input
                        v-model="date"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <small class="ml-1">Supplier Code:</small>
                    <b-form-input
                      v-model="supplier_code"
                      style="font-size:13px"
                      disabled
                    ></b-form-input>
                  </b-col>
                  <b-col cols="4">
                    <small class="ml-1">QC Control No.</small>
                    <b-form-input
                      v-model="qc_cn"
                      style="font-size:13px"
                      disabled
                    ></b-form-input>
                  </b-col>
                  <b-col cols="4">
                    <small class="ml-1">Raw Material</small>
                    <b-form-input
                      v-model="rawMaterial"
                      style="font-size:13px"
                      disabled
                    ></b-form-input>
                  </b-col>
                </b-row>
                <!-- <b-row>
               
                <b-col>
                  <small class="ml-1">Lot. No</small>
                  <b-form-input v-model="lot_no" type="email" style="font-size:13px" disabled></b-form-input>
                </b-col>
                </b-row>-->
              </b-card>
            </b-col>
            <b-col cols="6">
              <b-card
                header="MOISTURE TALLY SHEET"
                header-tag="header"
                v-if="!hasMTS && !isFeedmill"
              >
                <b-row>
                  <b-col cols="6">
                    <div>
                      <small>Trial 1</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial1"
                        style="font-size:13px"
                        disabled
                      />
                    </div>
                    <div>
                      <small>Trial 2</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial2"
                        style="font-size:13px"
                        disabled
                      />
                    </div>
                    <div>
                      <small>Trial 3</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial3"
                        style="font-size:13px"
                        disabled
                      />
                    </div>
                  </b-col>
                  <b-col cols="6">
                    <div>
                      <small>Average</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="average"
                        style="font-size:13px"
                        disabled
                      />
                    </div>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>

          <hr />
          <b-row>
            <b-col cols="12">
              <b-card
                header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)"
                header-tag="header"
                v-if="!isFeedmill"
              >
                <b-card>
                  <h6>Remarks</h6>
                  <b-row>
                    <b-col cols="7">
                      <b-form>
                        <span v-for="(item, index) in remarks" :key="index">
                          <b-form-checkbox
                            :value="item.id"
                            v-model="selectedRemarks"
                            :disabled="checkRemark(item)"
                            >{{ item.name }}</b-form-checkbox
                          >
                        </span>
                      </b-form>
                    </b-col>
                    <b-col cols="5">
                      <div>
                        <small>% MC Result</small>
                        <b-form-input
                          v-model="average"
                          type="number"
                          style="font-size:13px"
                          disabled
                        ></b-form-input>
                      </div>
                      <div v-if="businessAcro == 'PDF'">
                        <small>% Impurities</small>
                        <b-form-input
                          v-model="impurities"
                          type="number"
                          style="font-size:13px"
                          disabled
                        ></b-form-input>
                      </div>
                      <div v-if="businessAcro == 'FMP'">
                        <small class="mt-2">% Foreign Material</small>
                        <b-form-input
                          v-model="foreign"
                          type="number"
                          style="font-size:13px"
                          disabled
                        ></b-form-input>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card>
                  <h6>Disposition</h6>
                  <b-row class="mx-2">
                    <b-col
                      cols="6"
                      v-for="(item, index) in dispositions"
                      :key="index"
                    >
                      <b-form-checkbox
                        :value="item.id"
                        :disabled="checkDisposition(item, 'physical')"
                        v-model="selectedDisposition"
                        >{{ item.description }}</b-form-checkbox
                      >
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>

              <b-card bg-variant="light" v-if="role == 'rm' && !isFeedmill">
                <b-row>
                  <b-col cols="12">
                    <b-form-checkbox v-model="for_recon_physical"
                      >For Reconsideration</b-form-checkbox
                    >
                  </b-col>
                  <br />
                  <b-col cols="12">
                    <b-form-input
                      v-model="reason_for_recon_physical"
                      style="font-size:13px"
                      placeholder="Reason for Reconsideration"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
            <b-col cols="12">
              <b-card
                header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)"
                v-if="isFeedmill"
              >
                <b-card>
                  <b-row>
                    <b-col cols="6">
                      <small>% Crude Protein</small>
                      <b-form-input
                        v-model="crude_protein"
                        type="number"
                        style="font-size:13px"
                      ></b-form-input>

                      <small class="mt-2">% Calcium</small>
                      <b-form-input
                        v-model="calcium"
                        type="number"
                        style="font-size:13px"
                      ></b-form-input>

                      <small>% FFA as Lauric Acid</small>
                      <b-form-input
                        v-model="ffa"
                        type="number"
                        style="font-size:13px"
                      ></b-form-input>

                      <small>% Brix</small>
                      <b-form-input
                        v-model="brix"
                        class="mb-1"
                        type="number"
                        style="font-size:13px"
                      ></b-form-input>
                    </b-col>

                    <b-col cols="6">
                      <h6>Remarks</h6>
                      <b-form-input
                        v-model="remarksChem"
                        style="font-size:13px; height: 100px"
                      ></b-form-input>
                      <br />
                      <small>Carbonate Test</small>
                      <b-row class="ml-3">
                        <b-col cols="12">
                          <b-form-checkbox
                            id="carbonate_positive"
                            :disabled="carbonate_test_neg"
                            v-model="carbonate_test_pos"
                            >Positive</b-form-checkbox
                          >
                        </b-col>
                        <b-col cols="12">
                          <b-form-checkbox
                            id="carbonate_negative"
                            :disabled="carbonate_test_pos"
                            v-model="carbonate_test_neg"
                            >Negative</b-form-checkbox
                          >
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card>
                  <h6>Disposition</h6>
                  <b-row class="mx-2">
                    <b-col
                      cols="6"
                      v-for="(item, index) in dispositions"
                      :key="index"
                    >
                      <b-form-checkbox
                        :value="item.id"
                        :disabled="checkDisposition(item, 'chemical')"
                        v-model="selectedDisposition2"
                        >{{ item.description }}</b-form-checkbox
                      >
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>

              <b-card
                bg-variant="light"
                v-if="role == 'rm' || (role == 'qa' && isFeedmill)"
              >
                <b-row>
                  <b-col cols="12">
                    <b-form-checkbox v-model="for_recon_chemical"
                      >For Reconsideration</b-form-checkbox
                    >
                  </b-col>
                  <br />
                  <b-col cols="12">
                    <b-form-input
                      v-model="reason_for_recon_chemical"
                      style="font-size:13px"
                      placeholder="Reason for Reconsideration"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
      </b-row>
      <template v-slot:modal-footer>
        <b-button
          id="cancel-confirm-analysis-rmaf"
          size="sm"
          style="font-size:13px;border: 0px; width: 80px"
          @click="closeModal()"
          >Cancel</b-button
        >
        <b-button
          id="confirm-analysis-rmaf"
          size="sm"
          variant="success"
          v-b-modal.modal-multi-1
          style="font-size:13px; width: 80px"
          >Save</b-button
        >
      </template>
    </b-modal>

    <b-modal
      ref="close"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      id="modal-multi-1"
    >
      <template v-slot:modal-title>
        <h6>Security Purposes</h6>
      </template>
      <div class="container">
        <h5>Enter Your Pincode</h5>
        <div class="pinBox">
          <input
            id="input-pincode"
            class="pinEntry"
            v-model="pincode"
            type="password"
            maxlength="4"
            name="pin"
            pattern="[0-9]{4}"
          />
        </div>
      </div>

      <template v-slot:modal-footer>
        <b-button
          id="rmaf-verify"
          size="sm"
          variant="success"
          @click="endorse()"
          style="font-size:13px"
          >Save</b-button
        >
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          @click="cancelPin()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
      </template>
      <center>
        <small style="color:red">{{ errMessage }}</small>
      </center>
    </b-modal>

    <b-modal
      ref="signature"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <template v-slot:modal-title>
        <h6>Draw Signature</h6>
      </template>

      <div>
        <div class="col-12">
          <VueSignaturePad
            id="signature"
            width="100%"
            height="450px"
            ref="signaturePad"
            :options="{
              onBegin: () => {
                $refs.signaturePad.resizeCanvas();
              }
            }"
          />
        </div>
        <div class="col-3 mt-2">
          <b-button
            variant="dark"
            style="font-size:13px;border: 0px;"
            @click="clear"
            >Undo</b-button
          >
        </div>
      </div>

      <template v-slot:modal-footer>
        <b-button
          id="rmaf-verify"
          size="sm"
          variant="success"
          @click="addSignature()"
          style="font-size:13px"
          >Save</b-button
        >
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          @click="cancelSign()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
      </template>
      <center>
        <small style="color:red">{{ errMessage }}</small>
      </center>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { ifStatement } from "@babel/types";
import VueSignaturePad from "vue-signature-pad";
import Loading from "@/components/Loading/Loading";

export default {
  layout: "AdminDashboard",
  middleware: "authScan",
  components: {
    VueSignaturePad,
    Loading
  },
  data() {
    return {
      showLoading: false,
      selectedRemarks: [],
      selectedDisposition: [],
      selectedDisposition2: [],
      supplier_code: null,
      date: null,
      item: null,
      plate_number: null,
      qc_cn: null,
      lot_no: null,
      isFeedmill: false,
      businessEntity: "Business Entity",
      businessAcro: null,
      rawMaterial: "",
      dr: null,
      rmaf_id: null,
      bir_id: null,
      transaction_type_id: null,
      driver_id: null,
      no_of_bags: null,
      guard_on_duty: null,
      time_end: null,

      trial1: null,
      trial2: null,
      trial3: null,
      average: null,

      recon_id_p: null,
      recon_id_c: null,
      // mc_result: null,
      impurities: null,
      foreign: null,
      reason_for_recon_physical: null,
      crude_protein: null,
      calcium: null,
      ffa: null,
      brix: null,
      carbonate_test_pos: null,
      carbonate_test_neg: null,
      remarksChem: null,
      reason_for_recon_chemical: null,
      for_recon_physical: null,
      for_recon_chemical: null,
      chemAnalysisId: null,
      physAnalysisId: null,
      rmafId: null,
      truck_info_id: null,
      failed_rmaf: "",
      for_consideration: false,
      has_reconsideration_p: false,
      has_reconsideration_c: false,
      status_id: null,

      remarks: [],
      dispositions: [],
      remarksItems: [],
      status: [],
      role: null,
      pincode: null,
      errMessage: null,
      transaction_status: null,
      option: {
        penColor: "rgb(0, 0, 0)",
        backgroundColor: "rgb(255,255,255)"
      },
      disabled: false,
      signaturePath: null,
      signaturePathCertify: null,
      hasMTS: false,
      rmafID: null,
      analysis_id: null,
      mrr_id: null,
      created_date: null,
      created_time: null,
      isMicro: false,
      microTransID: null,
      microItem: null
    };
  },
  async created() {
    const employee = JSON.parse(localStorage.employee);
    this.role = employee.roleParam;

    const microID = this.$route.params.id.split("@");
    this.microTransID = microID[0];
    this.microItem = microID[1];

    await this.determineTrans();
    if (this.isMicro == false) {
      await this.getAllStatus();
      await this.getTransaction();
      await this.getRemarks();
      await this.getDisposition();
    } else {
      await this.getAllStatus();
      await this.getTransactionMicro();
      await this.getRemarks();
      await this.getDisposition();
    }
  },
  methods: {
    async determineTrans() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/rmaf-check`,
        data: {
          transaction_id: this.microTransID
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res);
          this.isMicro = res.data.isMicro;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    cancelAnalysis() {
      this.updateTransactionStatus("Sampling");
      this.$router.push("/sampling");
    },
    async updateTransactionStatus(status) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.$route.params.id,
          status: status,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addSignature() {
      const employee = JSON.parse(localStorage.employee);
      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      var data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        var image = new Image();
        image.src = data.data;

        let fileName = `${moment().format("YYYY-MM-DD_HHmmss")}_${
          employee.id
        }.png`;

        const url = this.$axios.defaults.baseURL;

        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);

            const signature_path = await axios
              .post(`${url}/transactions/transactions/upload_signature`, fd, {
                headers: { authorization: `B1SESSION=${employee.token}` }
              })
              .then(res => {
                return res.data.path;
              })
              .catch(err => {});

            return signature_path;
          }
        );

        this.signaturePath = path;

        if (this.isMicro == false) {
          await this.saveAnalysis();
          await this.updateTransaction(this.status_id);
        } else {
          await this.saveAnalysisMicro();
          await this.checkMicro();
          // await this.tagMicroRmaf();
          // await this.updateTransactionMicro(this.status_id);
        }

        this.$refs["close"].hide();

        // this.getReports.splice(this.selectedIndex, 1);
        // this.getReports.push(this.resData);
      }
    },
    closeModal() {
      this.$refs["confirm"].hide();
    },
    confirmAnalysis() {
      if (this.isMicro == false) {
        // macro transaction
        if (this.isFeedmill) {
          if (!this.crude_protein) {
            this.displayErrorToast("Crude protein must be provided.");
          } else if (!this.calcium) {
            this.displayErrorToast("Calcium must be provided.");
          } else if (!this.ffa) {
            this.displayErrorToast("FFA must be provided.");
          } else if (!this.brix) {
            this.displayErrorToast("Brix must be provided.");
          } else if (!this.carbonate_test_pos && !this.carbonate_test_neg) {
            this.displayErrorToast("Please set carbonate test result.");
          } else if (this.selectedDisposition2.length <= 1) {
            this.displayErrorToast("Please select atleast two(2) disposition.");
          } else {
            this.$refs["confirm"].show();
          }
        } else {
          if (!this.trial1) {
            this.displayErrorToast("Trial1 must be provided.");
          } else if (!this.trial2) {
            this.displayErrorToast("Trial2 must be provided.");
          } else if (!this.trial3) {
            this.displayErrorToast("Trial3 must be provided.");
          } else if (!this.impurities && this.businessAcro == "PDF") {
            this.displayErrorToast("Impurities must be provided.");
          } else if (!this.foreign && this.businessAcro == "FMP") {
            this.displayErrorToast("Foreign Material must be provided.");
          } else if (this.selectedDisposition.length <= 1) {
            this.displayErrorToast("Please select atleast two(2) disposition.");
          } else if (this.selectedRemarks.length <= 1) {
            this.displayErrorToast("Please select atleast two(2) remarks.");
          } else {
            this.$refs["confirm"].show();
          }
        }
      } else {
        // micro transaction
        if (!this.foreign && this.businessAcro == "FMP") {
          this.displayErrorToast("Foreign Material must be provided.");
        } else if (this.selectedDisposition.length <= 1) {
          this.displayErrorToast("Please select atleast two(2) disposition.");
        } else if (this.selectedRemarks.length <= 1) {
          this.displayErrorToast("Please select atleast two(2) remarks.");
        } else {
          this.$refs["confirm"].show();
        }
      }
    },
    cancelPin() {
      this.$refs["close"].hide();
    },
    cancelSign() {
      this.$refs["signature"].hide();
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Error`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async addMRR() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/mrr/add_mrr`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: 1,
          findings: "",
          specification: "",
          issued_by: employee.id,
          created_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.mrr_id = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async saveAnalysis() {
      this.showLoading = true;

      let samplingPassedID,
        samplingRejectedID,
        dispoPassed,
        dispoRejected,
        status,
        sampChemID,
        forChem,
        analysisVerified;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].name.toLowerCase() == "analysis-done") {
          samplingPassedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-rejected") {
          samplingRejectedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-chemical") {
          sampChemID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-verified") {
          analysisVerified = this.status[i].id;
        }
      }
      for (let i = 0; i < this.dispositions.length; i++) {
        if (this.dispositions[i].description.toLowerCase() == "passed") {
          dispoPassed = this.dispositions[i].id;
        } else if (this.dispositions[i].description.toLowerCase() == "failed") {
          dispoRejected = this.dispositions[i].id;
        } else if (
          this.dispositions[i].description.toLowerCase() ==
          "for chemical analysis"
        ) {
          forChem = this.dispositions[i].id;
        }
      }

      this.created_date = moment().format("YYYY-MM-DD");
      this.created_time = moment().format("HHmm");

      const employee = JSON.parse(localStorage.employee);

      if (this.has_reconsideration_p || this.has_reconsideration_c) {
        status = samplingPassedID;
      } else if (
        this.selectedDisposition.includes(forChem) &&
        !this.isFeedmill
      ) {
        status = sampChemID;
      } else if (
        this.selectedDisposition.includes(dispoRejected) ||
        this.selectedDisposition2.includes(dispoRejected)
      ) {
        status = samplingRejectedID;
        this.addMRR();
      } else if (
        this.selectedDisposition2.includes(dispoPassed) ||
        this.selectedDisposition.includes(dispoPassed)
      ) {
        if (employee.roleParam == "shp" || employee.roleParam == "shc") {
          status = analysisVerified;
        } else {
          status = samplingPassedID;
        }
      }
      this.transaction_status = status;

      if (this.isFeedmill) {
        if (this.for_recon_chemical && this.has_reconsideration_c) {
          await this.addReconsideration("Chemical");
        } else {
          await this.addChemicalAnalysis(null, status);
          // if (!this.hasMTS) {
          //   await this.addMoisture(status);
          // }
        }
      } else {
        if (this.for_recon_physical && !this.has_reconsideration_p) {
          await this.addReconsideration("Physical");
        } else {
          await this.addMoisture(status);
        }
      }
      if (this.isFeedmill) {
        await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/rmaf/update_rmaf`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            id: this.rmafID,
            chemical_analysis_id: this.chemAnalysisId,
            addChemAna: true,
            material_rejection_report_id: this.mrr_id,
            updated_by: employee.id,
            employee_id: employee.id,
            modules: employee.modules
          }
        })
          .then(res => {
            this.rmafId = res.data.id;
          })
          .catch(error => {
            this.displayErrorToast(error.response.data);
          });
      } else {
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            physical_analysis_id: this.physAnalysisId,
            chemical_analysis_id: this.chemAnalysisId,
            material_rejection_report_id: this.mrr_id,
            date: moment().format("YYYY-MM-DD HH:mm"),
            employee_id: employee.id,
            modules: employee.modules
          }
        })
          .then(res => {
            this.rmafId = res.data.id;
          })
          .catch(error => {
            this.displayErrorToast(error.response.data);
          });
      }

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.$route.params.id,
          delivery_receipt_id: this.dr,
          rmaf_id: this.rmafId,
          bir_id: this.bir_id,
          status_id: status,
          transaction_type_id: this.transaction_type_id,
          driver_id: this.driver_id,
          supplier_code: this.supplier_code,
          no_of_bags: this.no_of_bags,
          description: this.item,
          guard_on_duty: this.guard_on_duty,
          qc_control_number: this.qc_cn.toString(),
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          forRecon: this.for_consideration,
          plate_number: this.plate_number
          // failed_rmaf: this.failed_rmaf
        }
      })
        .then(res => {
          this.showLoading = false;
          this.closeModal();
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          this.showLoading = false;
          this.displayErrorToast(error.response.data);
        });
    },
    async saveAnalysisMicro() {
      this.showLoading = true;

      let samplingPassedID,
        samplingRejectedID,
        dispoPassed,
        dispoRejected,
        status,
        sampChemID,
        forChem,
        analysisVerified;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].name.toLowerCase() == "analysis-done") {
          samplingPassedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-rejected") {
          samplingRejectedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-chemical") {
          sampChemID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-verified") {
          analysisVerified = this.status[i].id;
        }
      }
      for (let i = 0; i < this.dispositions.length; i++) {
        if (this.dispositions[i].description.toLowerCase() == "passed") {
          dispoPassed = this.dispositions[i].id;
        } else if (this.dispositions[i].description.toLowerCase() == "failed") {
          dispoRejected = this.dispositions[i].id;
        } else if (
          this.dispositions[i].description.toLowerCase() ==
          "for chemical analysis"
        ) {
          forChem = this.dispositions[i].id;
        }
      }

      this.created_date = moment().format("YYYY-MM-DD");
      this.created_time = moment().format("HHmm");

      const employee = JSON.parse(localStorage.employee);

      if (this.has_reconsideration_p || this.has_reconsideration_c) {
        status = samplingPassedID;
      } else if (
        this.selectedDisposition.includes(forChem) &&
        !this.isFeedmill
      ) {
        status = sampChemID;
      } else if (
        this.selectedDisposition.includes(dispoRejected) ||
        this.selectedDisposition2.includes(dispoRejected)
      ) {
        status = samplingRejectedID;
        this.addMRR();
      } else if (
        this.selectedDisposition2.includes(dispoPassed) ||
        this.selectedDisposition.includes(dispoPassed)
      ) {
        if (employee.roleParam == "shp" || employee.roleParam == "shc") {
          status = analysisVerified;
        } else {
          status = samplingPassedID;
        }
      }
      this.transaction_status = status;

      if (this.isFeedmill) {
        if (this.for_recon_chemical && this.has_reconsideration_c) {
          await this.addReconsideration("Chemical");
        } else {
          await this.addChemicalAnalysis(null, status);
          // if (!this.hasMTS) {
          //   await this.addMoisture(status);
          // }
        }
      } else {
        if (this.for_recon_physical && !this.has_reconsideration_p) {
          await this.addReconsideration("Physical");
        } else {
          await this.addMoisture(status);
        }
      }
      if (this.isFeedmill) {
        await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/rmaf/update_rmaf`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            id: this.rmafID,
            chemical_analysis_id: this.chemAnalysisId,
            addChemAna: true,
            material_rejection_report_id: this.mrr_id,
            updated_by: employee.id,
            employee_id: employee.id,
            modules: employee.modules
          }
        })
          .then(res => {
            this.rmafId = res.data.id;
          })
          .catch(error => {
            this.displayErrorToast(error.response.data);
          });
      } else {
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            physical_analysis_id: this.physAnalysisId,
            chemical_analysis_id: this.chemAnalysisId,
            material_rejection_report_id: this.mrr_id,
            date: moment().format("YYYY-MM-DD HH:mm"),
            employee_id: employee.id,
            modules: employee.modules
          }
        })
          .then(res => {
            this.rmafId = res.data.id;
          })
          .catch(error => {
            this.displayErrorToast(error.response.data);
          });
      }
      //Micro Tag
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/tag/micro`,
        data: {
          transaction_id: this.microTransID,
          itemDesc: this.microItem,
          itemDesc: this.item,
          rmaf_id: this.rmafId
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // this.rmafMicroID = res.data.rmaf_id;
          // console.log(rmafMicroID, "Micro ID");
        })
        .catch(e => {});

      // await axios({
      //   method: "PUT",
      //   url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
      //   headers: {
      //     authorization: `B1SESSION=${employee.token}`
      //   },
      //   data: {
      //     id: this.microTransID,
      //     delivery_receipt_id: this.dr,
      //     // rmaf_id: this.rmafId,
      //     bir_id: this.bir_id,
      //     status_id: status,
      //     transaction_type_id: this.transaction_type_id,
      //     driver_id: this.driver_id,
      //     supplier_code: this.supplier_code,
      //     no_of_bags: this.no_of_bags,
      //     description: this.item,
      //     guard_on_duty: this.guard_on_duty,
      //     qc_control_number: this.qc_cn.toString(),
      //     updated_by: employee.id,
      //     employee_id: employee.id,
      //     modules: employee.modules,
      //     forRecon: this.for_consideration,
      //     plate_number: this.plate_number
      //     // failed_rmaf: this.failed_rmaf
      //   }
      // })
      //   .then(res => {
      //     this.showLoading = false;
      //     this.closeModal();
      //     setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
      //   })
      //   .catch(error => {
      //     this.showLoading = false;
      //     this.displayErrorToast(error.response.data);
      //   });
    },
    async addMoisture(status) {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/mts/add_mts`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          moisture_trial_1: this.trial1,
          moisture_trial_2: this.trial2,
          moisture_trial_3: this.trial3,
          average: this.average,
          transaction_id: this.transaction_id,
          analysed_by: employee.id,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {
          this.mts_id = res.data.id;
          await this.addPhysicalAnalysis(null, status);
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addRMAF(status) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          physical_analysis_id: this.physAnalysisId,
          chemical_analysis_id: this.chemAnalysisId,
          date: moment().format("YYYY-MM-DD HH:mm"),
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.rmafId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async checkMicro() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/rmaf-check`,
        data: {
          transaction_id: this.microTransID
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.checkMicroStat = res.data.items;
          if (this.checkMicroStat.length > 1) {
            let bool = false;
            for (let i = 0; i < this.checkMicroStat.length; i++) {
              const micro = this.checkMicroStat[i].hasRmaf;
              if (micro == false) {
                bool = true;
                break;
              }
            }

            // if bool is true; meaning there are items with no RMAF yet;
            // dont update status; redirect to table only;
            if (bool == false) {
              this.updateTransactionMicro(this.status_id);
              console.log("false");
            } else {
              console.log("true");
              this.displaySuccessToast("RMAF saved.");
              this.closeModal();
              setTimeout(
                () => this.$router.push({ path: "/transaction" }),
                1000
              );
            }
          } else {
            console.log("others");
            this.updateTransactionMicro(this.status_id);
          }

          // if bool is false; update status and redirect to table;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    async updateTransaction() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.$route.params.id,
          delivery_receipt_id: this.dr,
          rmaf_id: this.rmafId,
          bir_id: this.bir_id,
          status_id: this.transaction_status,
          truck_info_id: this.truck_info_id,
          transaction_type_id: this.transaction_type_id,
          driver_id: this.driver_id,
          supplier_code: this.supplier_code,
          no_of_bags: this.no_of_bags,
          description: this.item,
          guard_on_duty: this.guard_on_duty,
          qc_control_number: this.qc_cn.toString(),
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          forRecon: this.for_consideration,
          plate_number: this.plate_number,
          created_date: this.created_date,
          created_time: this.created_time
          // failed_rmaf: this.failed_rmaf
        }
      })
        .then(res => {
          this.showLoading = false;

          this.displaySuccessToast("RMAF saved.");
          this.closeModal();
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          this.showLoading = false;

          this.displayErrorToast(error.response.data);
        });
    },
    async updateTransactionMicro() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.microTransID,
          delivery_receipt_id: this.dr,
          // rmaf_id: this.rmafId,
          bir_id: this.bir_id,
          status_id: this.transaction_status,
          truck_info_id: this.truck_info_id,
          transaction_type_id: this.transaction_type_id,
          driver_id: this.driver_id,
          supplier_code: this.supplier_code,
          no_of_bags: this.no_of_bags,
          description: this.item,
          guard_on_duty: this.guard_on_duty,
          qc_control_number: this.qc_cn.toString(),
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          forRecon: this.for_consideration,
          plate_number: this.plate_number,
          created_date: this.created_date,
          created_time: this.created_time
          // failed_rmaf: this.failed_rmaf
        }
      })
        .then(res => {
          console.log("FInished");
          this.showLoading = false;

          this.displaySuccessToast("RMAF saved.");
          this.closeModal();
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          this.showLoading = false;

          this.displayErrorToast(error.response.data);
        });
    },
    async getAllStatus() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.status = res.data.status;

          for (let i = 0; i < this.status.length; i++) {
            const status = this.status[i];

            if (status.name == "Analysis") {
              this.analysis_id = status.id;
              break;
            }
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addChemicalAnalysis(recon_id) {
      const employee = JSON.parse(localStorage.employee);
      let recon = null;
      let carbonateTest = "Negative";
      if (recon_id) {
        recon = recon_id;
      }
      if (this.carbonate_test_pos) {
        carbonateTest = "Positive";
      }

      let certified_by, certified_signature;

      if (this.role === "shp" || this.role === "shc") {
        certified_signature = this.signaturePath;
        certified_by = employee.id;
      }

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/chemical_analysis/add_chemical_analysis`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          reconsideration_id: recon,
          disposition_id: this.selectedDisposition2,
          crude_protein: this.crude_protein,
          calcium: this.calcium,
          ffa_lauric_acid: this.ffa,
          brix: this.brix,
          carbonate_test: carbonateTest,
          remarks: this.remarksChem,
          evaluated_by: employee.id,
          certified_by,
          evaluated_signature: this.signaturePath,
          certified_signature: certified_signature,
          created_by: employee.id,
          modules: employee.modules,
          created_date: this.dateMts,
          created_time: this.time
        }
      })
        .then(res => {
          this.chemAnalysisId = res.data.id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addPhysicalAnalysis(recon_id) {
      const employee = JSON.parse(localStorage.employee);
      let recon = this.recon_id_p;
      if (recon_id) {
        recon = recon_id;
      }

      let certified_by, certified_signature;

      if (this.role === "shp" || this.role === "shc") {
        certified_signature = this.signaturePath;
        certified_by = employee.id;
      }

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/physical_analysis/add_physical_analysis`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          reconsideration_id: recon,
          price_reduction_id: null,
          moisture_tally_sheet_id: this.mts_id,
          disposition_id: this.selectedDisposition,
          type: this.rawMaterial,
          mc_result: this.average,
          impurities: this.impurities,
          foreign_material: this.foreign,
          remarks: this.selectedRemarks,
          created_by: employee.id,
          evaluated_by: employee.id,
          certified_by,
          evaluated_signature: this.signaturePath,
          certified_signature: certified_signature,
          // certified_by: employee.id,
          modules: employee.modules,
          created_date: this.dateMts,
          created_time: this.time
        }
      })
        .then(res => {
          this.physAnalysisId = res.data.id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addReconsideration(type) {
      const employee = JSON.parse(localStorage.employee);
      let reason = "";
      if (type == "Chemical") {
        reason = this.reason_for_recon_chemical;
      } else {
        reason = this.reason_for_recon_physical;
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/reconsideration/add_reconsideration`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          for_consideration: "TRUE",
          reason: reason,
          reconsidered_by: employee.id,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          if (!this.isFeedmill) {
            this.addPhysicalAnalysis(res.data[0].id);
          } else {
            this.addChemicalAnalysis(res.data[0].id);
          }

          this.for_consideration = true;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    computeAverage() {
      const average = (
        (parseFloat(this.trial1) +
          parseFloat(this.trial2) +
          parseFloat(this.trial3)) /
        3
      ).toFixed(1);
      this.average = average;
    },
    checkRemark(remark) {
      if (this.selectedRemarks.includes(remark.tag)) {
        return true;
      }
      return false;
    },
    checkDisposition(disposition, type) {
      let boolean = false;

      if (disposition.tag) {
        const tags = disposition.tag.split(",");

        for (let i = 0; i < tags.length; i++) {
          if (type == "chemical") {
            if (this.selectedDisposition2.includes(parseInt(tags[i]))) {
              boolean = true;
            }
          } else {
            if (this.selectedDisposition.includes(parseInt(tags[i]))) {
              boolean = true;
            }
          }
        }
      }

      return boolean;
    },
    async getDisposition() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/disposition`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.dispositions = res.data.dispositions;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getRemarks() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/remarks`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.remarks = res.data.remarks;

          for (let i = 0; i < this.remarks.length; i++) {
            this.remarksItems.push({
              value: this.remarks[i].id,
              text: this.remarks[i].name
            });
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getQCCN() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id
        }
      })
        .then(res => {
          this.qc_cn = res.data.QCCN;
        })
        .catch(error => {});
    },
    async getTransactionMicro() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.microTransID
        }
      })
        .then(res => {
          console.log(res.data);
          const result = res.data.transactions[0];

          this.rmafID = result.rmaf_id;
          this.status_id = result.status_id;

          const be = result.bir[0].department[0].name.split("-");

          this.businessEntity = result.bir[0].business_entity[0].description;
          this.businessAcro = be[0];

          this.rawMaterial = result.bir[0].raw_materials[0].description;

          this.failed_rmaf = result.failed_rmaf;
          this.supplier_code = result.supplier_code;
          this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
          this.dateMts = moment(result.created_at).format("YYYY-MM-DD");
          this.time = moment(result.created_at).format("HHmm");

          const multiple = result.bir;
          if (multiple.length > 1) {
            this.item = this.microItem;
          } else {
            this.item = result.bir[0].items[0].description;
          }

          this.plate_number = result.plate_number;
          this.qc_cn = result.qc_control_number;

          if (!this.qc_cn) {
            this.getQCCN();
          }

          this.dr = result.delivery_receipt_id;
          this.rmaf_id = result.rmaf_id;
          this.bir_id = result.bir_id;
          this.transaction_type_id = result.transaction_type_id;
          this.driver_id = result.driver_id;
          this.no_of_bags = result.no_of_bags;
          this.guard_on_duty = result.guard_on_duty;
          this.time_end = result.time_end;
          this.truck_info_id = result.truck_info_id;

          const business_entity = this.supplier_code.split("-");

          if (result.status.name == "Analysis-Chem Verified") {
            this.isFeedmill = true;
            // this.updateTransactionStatus("Analysis");
          }

          if (result.status.name == "Sampling-Received") {
            this.updateTransactionStatus("Analysis");
          }
        })
        .catch(error => {
          if (error.response) {
            this.displayErrorToast(error.response.data);
          } else {
            this.displayErrorToast(error);
          }
        });
    },
    async getTransaction() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id
        }
      })
        .then(res => {
          console.log(res.data);
          const result = res.data.transactions[0];

          this.rmafID = result.rmaf_id;
          this.status_id = result.status_id;

          const be = result.bir[0].department[0].name.split("-");

          this.businessEntity = result.bir[0].business_entity[0].description;
          this.businessAcro = be[0];

          this.rawMaterial = result.bir[0].raw_materials[0].description;

          // if (result.rmaf[0]) {
          //   if (result.rmaf[0].physical_analysis[0]) {
          //     const remarksArray = result.rmaf[0].physical_analysis[0].remarks;
          //     const dispositionArray =
          //       result.rmaf[0].physical_analysis[0].disposition_id;

          //     for (let i = 0; i < remarksArray.length; i++) {
          //       this.selectedRemarks.push(remarksArray[i]);
          //     }

          //     for (let i = 0; i < dispositionArray.length; i++) {
          //       this.selectedDisposition.push(dispositionArray[i]);
          //     }
          //     this.recon_id_p =
          //       result.rmaf[0].physical_analysis[0].reconsideration_id;
          //     this.average = result.rmaf[0].physical_analysis[0].mc_result;
          //     this.impurities = result.rmaf[0].physical_analysis[0].impurities;
          //     this.foreign =
          //       result.rmaf[0].physical_analysis[0].foreign_material;
          //     // this.selectedDisposition = result.rmaf[0].physical_analysis[0].disposition_id.split(
          //     //   ","
          //     // );

          //     if (result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0]) {
          //       this.trial1 =
          //         result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
          //       this.trial2 =
          //         result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
          //       this.trial3 =
          //         result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
          //       this.average =
          //         result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;
          //       this.hasMTS = true;
          //     }

          //     if (result.rmaf[0].physical_analysis[0].reconsideration[0]) {
          //       if (
          //         result.rmaf[0].physical_analysis[0].reconsideration[0]
          //           .for_consideration
          //       ) {
          //         this.for_recon_physical = true;
          //         this.has_reconsideration_p = true;
          //       } else {
          //         this.for_recon_physical = false;
          //       }
          //       this.reason_for_recon_physical =
          //         result.rmaf[0].physical_analysis[0].reconsideration[0].reason;
          //     }
          //   }

          //   if (result.rmaf[0].chemical_analysis[0]) {
          //     this.recon_id_c =
          //       result.rmaf[0].chemical_analysis[0].reconsideration_id;
          //     this.crude_protein =
          //       result.rmaf[0].chemical_analysis[0].crude_protein;
          //     this.calcium = result.rmaf[0].chemical_analysis[0].calcium;
          //     this.ffa = result.rmaf[0].chemical_analysis[0].ffa_lauric_acid;
          //     this.brix = result.rmaf[0].chemical_analysis[0].brix;

          //     if (
          //       result.rmaf[0].chemical_analysis[0].carbonate_test == "Positive"
          //     ) {
          //       this.carbonate_test_pos = true;
          //       this.carbonate_test_neg = false;
          //     } else {
          //       this.carbonate_test_neg = true;
          //       this.carbonate_test_pos = false;
          //     }
          //     const dispositionArray2 =
          //       row.item.rmaf[0].chemical_analysis[0].disposition_id;

          //     for (let i = 0; i < dispositionArray2.length; i++) {
          //       this.selectedDisposition2.push(dispositionArray2[i]);
          //     }

          //     if (result.rmaf[0].chemical_analysis[0].reconsideration[0]) {
          //       if (
          //         result.rmaf[0].chemical_analysis[0].reconsideration[0]
          //           .for_consideration
          //       ) {
          //         this.for_recon_chemical = true;
          //         this.has_reconsideration_c = true;
          //       } else {
          //         this.for_recon_chemical = false;
          //       }
          //       this.reason_for_recon_chemical =
          //         result.rmaf[0].chemical_analysis[0].reconsideration[0].reason;
          //     }
          //   }
          // }

          this.failed_rmaf = result.failed_rmaf;
          this.supplier_code = result.supplier_code;
          this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
          this.dateMts = moment(result.created_at).format("YYYY-MM-DD");
          this.time = moment(result.created_at).format("HHmm");

          this.item = result.bir[0].items[0].description;
          this.plate_number = result.plate_number;
          this.qc_cn = result.qc_control_number;

          if (!this.qc_cn) {
            this.getQCCN();
          }

          this.dr = result.delivery_receipt_id;
          this.rmaf_id = result.rmaf_id;
          this.bir_id = result.bir_id;
          this.transaction_type_id = result.transaction_type_id;
          this.driver_id = result.driver_id;
          this.no_of_bags = result.no_of_bags;
          this.guard_on_duty = result.guard_on_duty;
          this.time_end = result.time_end;
          this.truck_info_id = result.truck_info_id;

          const business_entity = this.supplier_code.split("-");

          if (result.status.name == "Analysis-Chem Verified") {
            this.isFeedmill = true;
            // this.updateTransactionStatus("Analysis");
          }

          if (result.status.name == "Sampling-Received") {
            this.updateTransactionStatus("Analysis");
          }
        })
        .catch(error => {
          if (error.response) {
            this.displayErrorToast(error.response.data);
          } else {
            this.displayErrorToast(error);
          }
        });
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    async endorse() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            // this.$refs['signaturepad1'].show();
            this.$refs["signature"].show();
          }
        })
        .catch(e => {
          if (e.response) {
            this.errMessage = e.response.data;
          } else {
            this.errMessage = e;
          }
        });
    }
  }
};
</script>
<style scoped>
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: #00803e;
  line-height: 50px;
}
.container {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
