<template>
  <div>
    <Loading v-if="showLoading" />
    <div id="buttonPrint" class="sticky-top">
      <b-row>
        <b-col cols="3">
          <b-collapse id="timer" visible>
            <b-col>
              <b-button
                v-if="type === 'rmaf'"
                id="rnmaf-pdf"
                variant="dark"
                @click="generatePdf()"
              >
                <font-awesome-icon style icon="file-pdf" />
              </b-button>
              <b-button
                v-if="type === 'deduct' || type === 'reject'"
                id="receipt-pdf"
                variant="dark"
                @click="generatePdf1()"
              >
                <font-awesome-icon style icon="file-pdf" />
              </b-button>
              <b-button variant="success" style="color:white" @click="prints()">
                <font-awesome-icon style icon="print" />
              </b-button>
            </b-col>
          </b-collapse>
        </b-col>
        <!-- <b-col cols="1">
          <b-collapse id="timer" visible>
            <b-col>
              
            </b-col>
          </b-collapse>
        </b-col>-->
      </b-row>
    </div>
    <!-- <div id="buttonPrint" class="sticky-top"></div> -->

    <div class="report">
      <!-- ------------------------------RMAF-------------------------- -->
      <div
        v-if="
          roleParam == 'qa' ||
            (roleParam == 'dc' && type == 'rmaf') ||
            (roleParam == 'rm' && type == 'rmaf') ||
            roleParam == 'qi' ||
            roleParam == 'shp' ||
            roleParam == 'shc' ||
            roleParam == 'sv'
        "
      >
        <div class="my-5 mr-5 ml-4">
          <div class="my-4 mr-5 ml-4">
            <b-row align-h="center">
              <b-card style="width:60%" v-if="type == 'rmaf'" ref="testHtml">
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <b-img
                        src="/biotechfarms.jpg"
                        style="width:200px;height:75px"
                        center
                      />
                    </div>
                    <h5>RAW MATERIAL ASSESSMENT FORM</h5>
                    <p style="position:relative;bottom:12px;font-size:15px">
                      {{ businessEntity }}
                    </p>
                  </b-col>
                </b-row>
                <b-card bg-variant="light" style="font-size:12px">
                  <b-row>
                    <b-col>
                      <small class="ml-1">Item Description</small>
                      <b-form-input
                        v-model="item"
                        style="font-size:12px"
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col>
                      <small class="ml-1">Date</small>
                      <div class="text-center">
                        <b-form-input
                          v-model="date"
                          style="font-size:12px"
                          disabled
                        ></b-form-input>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="6">
                      <small class="ml-1">Supplier Code:</small>
                      <b-form-input
                        v-model="supplier_code"
                        style="font-size:12px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">QC Control No.</small>
                      <b-form-input
                        v-model="qc_cn"
                        style="font-size:12px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">Raw Material</small>
                      <b-form-input
                        v-model="rawMaterial"
                        style="font-size:12px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </b-card>
                <hr />
                <b-card
                  style="font-size:12px"
                  header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)"
                  header-tag="header"
                >
                  <b-card>
                    <span>
                      <b>Remarks</b>
                    </span>
                    <b-row>
                      <b-col cols="4">
                        <b-form class="mx-3">
                          <span v-for="(item, index) in remarks" :key="index">
                            <b-form-checkbox
                              type="checkbox"
                              size="sm"
                              :value="item.id"
                              v-model="selectedRemarks"
                              :disabled="checkRemark(item)"
                              >{{ item.name }}</b-form-checkbox
                            >
                          </span>
                        </b-form>
                      </b-col>
                      <b-col cols="4">
                        <div>
                          <small>% MC Result</small>
                          <b-form-input
                            v-model="average"
                            type="number"
                            style="font-size:12px"
                            disabled
                          ></b-form-input>
                        </div>

                        <div v-if="businessAcro == 'PDF'">
                          <small>% Impurities</small>
                          <b-form-input
                            v-model="impurities"
                            type="number"
                            style="font-size:12px"
                            disabled
                          ></b-form-input>
                        </div>
                        <div v-if="businessAcro == 'FMP'">
                          <small class="mt-2">% Foreign Material</small>
                          <b-form-input
                            v-model="foreign"
                            type="number"
                            style="font-size:12px"
                            disabled
                          ></b-form-input>
                        </div>
                      </b-col>
                      <b-col cols="4">
                        <b-row class="mt-3">
                          <b-col cols="12">
                            <div>
                              <strong>Evaluated By:</strong>
                            </div>
                          </b-col>
                          <b-col cols="12">
                            <b-row align-h="center">
                              <img
                                class="signature-image"
                                :src="this.evaluated_signature_phy"
                                alt
                              />
                            </b-row>
                            <b-row align-h="center">
                              <span class="signature">{{
                                this.evaluated_by_physical
                              }}</span>
                            </b-row>
                          </b-col>
                        </b-row>
                        <b-row class="mt-5">
                          <b-col cols="12">
                            <div>
                              <strong>Certified By:</strong>
                            </div>
                          </b-col>
                          <b-col cols="12">
                            <b-row align-h="center">
                              <img
                                class="signature-image"
                                :src="this.certified_signature"
                                alt
                              />
                            </b-row>
                            <b-row align-h="center">
                              <span class="signature">{{
                                this.certified_by_physical
                              }}</span>
                            </b-row>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </b-card>

                  <b-card style="font-size:12px">
                    <span>
                      <b>Disposition</b>
                    </span>
                    <b-row class="mx-2">
                      <b-col
                        cols="6"
                        v-for="(item, index) in dispositions"
                        :key="index"
                      >
                        <b-form-checkbox
                          size="sm"
                          type="checkbox"
                          :value="item.id"
                          v-model="selectedDisposition"
                          :disabled="checkDisposition(item)"
                          >{{ item.description }}</b-form-checkbox
                        >
                      </b-col>
                      <b-col></b-col>
                    </b-row>
                    <!-- <b-row>
                      <b-col cols="7">
                        <b-row>
                          <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                            <b-form-checkbox
                              type="checkbox"
                              :value="item.id"
                              v-model="selectedDisposition"
                              :disabled="checkDisposition(item)"
                            >{{item.description}}</b-form-checkbox>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>-->
                  </b-card>
                </b-card>

                <b-card style="font-size:12px" bg-variant="light">
                  <b-row>
                    <b-col cols="3">
                      <b-form-checkbox v-model="for_recon_physical"
                        >For Reconsideration</b-form-checkbox
                      >
                    </b-col>
                    <b-col cols="9">
                      <b-form-input
                        v-model="reason_for_recon_physical"
                        style="font-size:12px"
                        placeholder="Reason for Reconsideration"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card
                  style="font-size:12px"
                  header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)"
                  v-if="isFeedmill"
                >
                  <b-card>
                    <b-row>
                      <b-col cols="4">
                        <small>% Crude Protein</small>
                        <b-form-input
                          v-model="crude_protein"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>

                        <small class="mt-2">% Calcium</small>
                        <b-form-input
                          v-model="calcium"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>

                        <small>% FFA as Lauric Acid</small>
                        <b-form-input
                          v-model="ffa"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>

                        <small>% Brix</small>
                        <b-form-input
                          v-model="brix"
                          class="mb-1"
                          type="number"
                          style="font-size:13px"
                        ></b-form-input>
                        <small>Carbonate Test</small>
                        <b-row class="ml-3">
                          <b-col cols="4">
                            <b-form-checkbox
                              id="carbonate_positive"
                              :disabled="carbonate_test_neg"
                              v-model="carbonate_test_pos"
                              >Positive</b-form-checkbox
                            >
                          </b-col>
                          <b-col cols="4">
                            <b-form-checkbox
                              id="carbonate_negative"
                              :disabled="carbonate_test_pos"
                              v-model="carbonate_test_neg"
                              >Negative</b-form-checkbox
                            >
                          </b-col>
                        </b-row>
                      </b-col>

                      <b-col cols="4">
                        <h6>Remarks</h6>
                        <b-form-input
                          v-model="remarksChem"
                          style="font-size:13px; height: 100px"
                        ></b-form-input>
                      </b-col>
                      <b-col cols="4">
                        <b-row class="mt-3">
                          <b-col cols="12">
                            <div>
                              <strong>Evaluated By:</strong>
                            </div>
                          </b-col>
                          <b-col cols="12">
                            <b-row align-h="center">
                              <img
                                class="signature-image"
                                :src="this.evaluated_signature_chem"
                                alt
                              />
                            </b-row>
                            <b-row align-h="center">
                              <span class="signature">{{
                                this.evaluated_by_chemical
                              }}</span>
                            </b-row>
                          </b-col>
                        </b-row>
                        <b-row class="mt-5">
                          <b-col cols="12">
                            <div>
                              <strong>Certified By:</strong>
                            </div>
                          </b-col>
                          <b-col cols="12">
                            <b-row align-h="center">
                              <img
                                class="signature-image"
                                :src="this.certified_signature_chem"
                                alt
                              />
                            </b-row>
                            <b-row align-h="center">
                              <span class="signature">{{
                                this.certified_by_physical
                              }}</span>
                            </b-row>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </b-card>

                  <b-card style="font-size:12px">
                    <h6>Disposition</h6>
                    <b-row class="mx-2">
                      <b-col
                        cols="6"
                        v-for="(item, index) in dispositions"
                        :key="index"
                      >
                        <b-form-checkbox
                          :value="item.id"
                          v-model="selectedDisposition2"
                          :disabled="checkDisposition(item)"
                          >{{ item.description }}</b-form-checkbox
                        >
                      </b-col>
                    </b-row>
                  </b-card>
                </b-card>

                <b-card
                  style="font-size:12px"
                  bg-variant="light"
                  v-if="isFeedmill"
                >
                  <b-row>
                    <b-col cols="3">
                      <b-form-checkbox v-model="for_recon_chemical">
                        <strong>For Reconsideration</strong>
                      </b-form-checkbox>
                    </b-col>
                    <b-col cols="9">
                      <b-form-input
                        v-model="reason_for_recon_chemical"
                        style="font-size:13px"
                        placeholder="Reason for Reconsideration"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </b-card>
                <b-card style="font-size:12px" bg-variant="light">
                  <b-row>
                    <b-col cols="4">
                      <b-row class="mt-3">
                        <b-col cols="12">
                          <div>
                            <strong>Reconsidered By:</strong>
                          </div>
                        </b-col>
                        <b-col cols="12">
                          <b-row align-h="center">
                            <img
                              class="signature-image"
                              :src="this.reconsidered_signature"
                              alt
                            />
                          </b-row>
                          <b-row align-h="center">
                            <span class="signature">{{
                              this.reconsidered_by
                            }}</span>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-col>
                    <b-col cols="4">
                      <b-row class="mt-3">
                        <b-col cols="12">
                          <div>
                            <strong>Reconsideration Approved By:</strong>
                          </div>
                        </b-col>
                        <b-col cols="12">
                          <b-row align-h="center">
                            <img
                              class="signature-image"
                              :src="this.reconsideration_approved_signature"
                              alt
                            />
                          </b-row>
                          <b-row align-h="center">
                            <span class="signature">{{
                              this.reconsidered_approved_by
                            }}</span>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-col>
                    <b-col cols="4">
                      <b-row class="mt-3">
                        <b-col cols="12">
                          <div>
                            <strong>Noted By:</strong>
                          </div>
                        </b-col>
                        <b-col cols="12">
                          <b-row align-h="center">
                            <img
                              class="signature-image"
                              :src="this.noted_signature_phy"
                              alt
                            />
                          </b-row>
                          <b-row align-h="center">
                            <span class="signature">{{
                              this.noted_by_physical
                            }}</span>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>
              <!-- --------------------------------MRR---------------------------- -->
              <b-card v-else-if="type == 'mrr'">
                <b-row class="text-center">
                  <b-col></b-col>
                  <b-col cols="1">
                    <b-img src="/biotech.png" fluid />
                  </b-col>
                  <b-col></b-col>
                </b-row>
                <b-row class="text-center">
                  <b-col></b-col>
                  <b-col cols="6">
                    <h3>MATERIAL REJECTION REPORT</h3>
                    <p style="position:relative;bottom:13px">
                      {{ businessEntity }}
                    </p>
                  </b-col>
                  <b-col></b-col>
                </b-row>
                <b-card bg-variant="light">
                  <b-row>
                    <b-col>
                      <small class="ml-1">Item</small>
                      <b-form-input
                        v-model="item"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col>
                      <small class="ml-1">MRR No.</small>
                      <div class="text-center">
                        <b-form-input
                          v-model="mrr_no"
                          style="font-size:13px"
                          disabled
                        ></b-form-input>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="6">
                      <small class="ml-1">Supplier</small>
                      <b-form-input
                        v-model="supplier_code"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">Date Delivered</small>
                      <b-form-input
                        v-model="date"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">QC Control #</small>
                      <b-form-input
                        v-model="qc_cn"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">Delivery Report No.</small>
                      <b-form-input
                        v-model="delivery_report_no"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">Sales Invoice No.</small>
                      <b-form-input
                        v-model="sales_invoice_no"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Quantity</small>
                      <b-form-input
                        v-model="quantity"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">PO No.</small>
                      <b-form-input
                        v-model="po_no"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">Truck Plate No.</small>
                      <b-form-input
                        v-model="plate_number"
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">FINDINGS</small>
                      <b-form-input
                        style="font-size:13px; height: 100px"
                      ></b-form-input>
                    </b-col>
                    <b-col>
                      <small class="ml-1">SPECIFICATIONS</small>
                      <b-form-input
                        style="font-size:13px; height: 100px"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Remarks</small>
                      <b-form-input
                        style="font-size:13px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row class="mt-2">
                    <b-col cols="4">
                      <b-row class="mt-3">
                        <b-col cols="12">
                          <div>
                            <strong>Issued By:</strong>
                          </div>
                        </b-col>
                        <b-col cols="12">
                          <b-row align-h="center">
                            <img
                              class="signature-image"
                              :src="this.evaluated_signature_phy"
                              alt
                            />
                          </b-row>
                          <b-row align-h="center">
                            <span class="signature">{{
                              this.evaluated_by_physical
                            }}</span>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-col>
                    <b-col cols="4">
                      <b-row class="mt-3">
                        <b-col cols="12">
                          <div>
                            <strong>Noted By:</strong>
                          </div>
                        </b-col>
                        <b-col cols="12">
                          <b-row align-h="center">
                            <img
                              class="signature-image"
                              :src="this.certified_signature"
                              alt
                            />
                          </b-row>
                          <b-row align-h="center">
                            <span class="signature">{{
                              this.certified_by_chemical
                            }}</span>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-col>
                    <b-col cols="4">
                      <b-row class="mt-3">
                        <b-col cols="12">
                          <div>
                            <strong>Approved By:</strong>
                          </div>
                        </b-col>
                        <b-col cols="12">
                          <b-row align-h="center">
                            <img
                              class="signature-image"
                              :src="this.noted_signature_phy"
                              alt
                            />
                          </b-row>
                          <b-row align-h="center">
                            <span class="signature">{{
                              this.noted_by_physical
                            }}</span>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>
            </b-row>
          </div>
        </div>
      </div>

      <!-- Deduction Receipt && Rejection Receipt  -->
      <div
        v-else-if="
          roleParam == 'rm' ||
            (roleParam == 'dc' && type == 'deduct') ||
            (roleParam == 'dc' && type == 'reject') ||
            (roleParam == 'dc' && type == 'moisture') ||
            roleParam == 'wh'
        "
      >
        <b-row align-h="center">
          <b-card
            ref="testHtml1"
            v-if="type == 'deduct' || type == 'reject'"
            style="width:31rem;height:auto;"
          >
            <b-row class="text-center">
              <b-col cols="12">
                <div>
                  <b-img
                    src="/biotechfarms.jpg"
                    style="width:200px;height:75px"
                    center
                  />
                </div>
                <h5 v-if="type == 'deduct'">DEDUCTION RECEIPT</h5>
                <h5 v-if="type == 'reject'">REJECTION RECEIPT</h5>
                <p style="position:relative;bottom:12px;font-size:15px">
                  {{ businessEntity }}
                </p>
              </b-col> </b-row
            >​
            <b-row align-h="center" style="font-size:12px">
              <b-col cols="5">
                <b>Date :</b>
              </b-col>
              <b-col cols="7">
                <b style="text-decoration: underline;">{{ onlyDate }}</b>
              </b-col>
            </b-row>
            <b-row align-h="center" style="font-size:12px">
              <b-col cols="5">
                <b>Supplier :</b>
              </b-col>
              <b-col cols="7">
                <b style="text-decoration: underline;">{{ supplier }}</b>
              </b-col>
            </b-row>
            <b-row align-h="center" style="font-size:12px">
              <b-col cols="5">
                <b>Commodity :</b>
              </b-col>
              <b-col class="mb-4" cols="7">
                <b style="text-decoration: underline;">{{ item }}</b>
              </b-col>
            </b-row>
            <table
              v-if="type == 'deduct'"
              style="font-size:12px"
              class="b-table table table-bordered table-striped"
            >
              <tr>
                <th class="th1">Criteria</th>
                <th class="th1">Quantity</th>
                <th class="th1">Deductions</th>
                <th class="th1">Total (kg)</th>
              </tr>
              <tr v-for="(item, index) in deduction_criterias" :key="index">
                <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                  {{ item.criteria_desc }}
                </td>
                <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                  {{ item.quantity }}
                </td>
                <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                  {{ item.deduction }}
                </td>
                <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                  {{ item.total }}
                </td>
              </tr>
              <tr>
                <td class="td1">
                  <strong>TOTAL</strong>
                </td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1">
                  <strong>{{ this.total_deductions }}</strong>
                </td>
              </tr>
            </table>

            <table
              style="font-size:12px"
              v-if="type == 'reject'"
              class="b-table table table-bordered table-striped"
            >
              <tr class="th1">
                <th class="th1">No. of Bags Rejected</th>
                <th class="th1">Reason for Rejection</th>
              </tr>
              <tr>
                <td class="td1">{{ no_of_bags_rejected }}</td>
                <td class="td1">{{ reason_of_rejection }}</td>
              </tr>
            </table>

            <b-row style="font-size:12px" align-h="start" class="mt-4">
              <b-col cols="6">
                <b-row>
                  <b-col cols="12">
                    <div>
                      <strong>Prepared By:</strong>
                    </div>
                  </b-col>
                  <b-col cols="12">
                    <b-row align-h="center">
                      <img
                        class="signature-image"
                        :src="this.prepared_by_deduction_sig"
                        alt
                      />
                    </b-row>
                    <b-row align-h="center">
                      <span class="signature">{{
                        this.prepared_by_deduction
                      }}</span>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
              <b-col cols="6">
                <b-row>
                  <b-col cols="12">
                    <div>
                      <strong>Checked By:</strong>
                    </div>
                  </b-col>
                  <b-col cols="12">
                    <b-row align-h="center">
                      <img
                        class="signature-image"
                        :src="this.checked_by_deduction_sig"
                        alt
                      />
                    </b-row>
                    <b-row align-h="center">
                      <span class="signature">{{
                        this.checked_by_deduction
                      }}</span>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row style="font-size:12px" align-h="start" class="mt-3">
              <b-col cols="6">
                <b-row>
                  <b-col cols="12">
                    <div>
                      <strong>Received By:</strong>
                    </div>
                  </b-col>
                  <b-col cols="12">
                    <b-row align-h="center">
                      <!-- <img class="signature-image" :src="this.checked_by_deduction_sig" alt /> -->
                    </b-row>
                    <b-row align-h="center">
                      <!-- <span class="signature">{{this.checked_by_deduction}}</span> -->
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
              <b-col cols="6">
                <b-row>
                  <b-col cols="12">
                    <div>
                      <strong>Noted By:</strong>
                    </div>
                  </b-col>
                  <b-col cols="12">
                    <b-row align-h="center">
                      <img
                        class="signature-image"
                        :src="this.noted_by_deduction_sig"
                        alt
                      />
                    </b-row>
                    <b-row align-h="center">
                      <span class="signature">{{
                        this.noted_by_deduction
                      }}</span>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>

          <!-- Moisture Tally Sheet -->
          <div
            v-else-if="
              roleParam == 'qa' ||
                (roleParam == 'dc' && type == 'moisture') ||
                (roleParam == 'rm' && type == 'moisture') ||
                roleParam == 'qi' ||
                roleParam == 'shp' ||
                roleParam == 'shc' ||
                roleParam == 'sv'
            "
          >
            <b-card
              ref="testHtml2"
              style="width:31rem;height:auto"
              v-if="type == 'moisture'"
            >
              <b-row class="text-center">
                <b-col cols="12">
                  <div>
                    <b-img
                      src="/biotechfarms.jpg"
                      style="width:200px;height:75px"
                      center
                    />
                  </div>
                  <h5>MOISTURE TALLY SHEET</h5>
                  <p style="position:relative;bottom:12px;font-size:15px">
                    {{ businessEntity }}
                  </p>
                </b-col> </b-row
              >​
              <b-row align-h="center" style="font-size:12px">
                <b-col cols="5">
                  <b>Date :</b>
                </b-col>
                <b-col cols="7">
                  <b style="text-decoration: underline;">{{ onlyDate }}</b>
                </b-col>
              </b-row>
              <b-row align-h="center" style="font-size:12px">
                <b-col cols="5">
                  <b>Supplier :</b>
                </b-col>
                <b-col cols="7">
                  <b style="text-decoration: underline;">{{ supplier }}</b>
                </b-col>
              </b-row>
              <b-row align-h="center" style="font-size:12px">
                <b-col cols="5">
                  <b>Commodity :</b>
                </b-col>
                <b-col class="mb-4" cols="7">
                  <b style="text-decoration: underline;">{{ item }}</b>
                </b-col>
              </b-row>
              <hr />
              <b-row>
                <b-col cols="6">
                  <small class="ml-1">Trial 1:</small>
                  <b-form-input
                    type="number"
                    v-model="trial1"
                    style="font-size:12px"
                    disabled
                  />
                </b-col>
                <b-col>
                  <small class="ml-1">Trial 2:</small>
                  <b-form-input
                    type="number"
                    v-model="trial2"
                    style="font-size:12px"
                    disabled
                  />
                </b-col>
                <b-col cols="6">
                  <small class="ml-1">Trial 3:</small>
                  <b-form-input
                    type="number"
                    v-model="trial2"
                    style="font-size:12px"
                    disabled
                  />
                </b-col>
                <b-col>
                  <small class="ml-1">Average:</small>
                  <b-form-input
                    type="number"
                    v-model="average"
                    style="font-size:12px"
                    disabled
                  />
                </b-col>
              </b-row>
              <b-row align-h="start" class="mt-5">
                <b-col cols="6"></b-col>
                <b-col cols="6">
                  <b-row style="font-size:12px">
                    <b-col cols="12">
                      <div>
                        <strong>Analyzed By:</strong>
                      </div>
                    </b-col>
                    <b-col cols="12">
                      <b-row align-h="center">
                        <img
                          class="signature-image"
                          :src="this.evaluated_signature_phy"
                          alt
                        />
                      </b-row>
                      <b-row align-h="center">
                        <span class="signature">{{
                          this.evaluated_by_physical
                        }}</span>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-card>
          </div>
          <!--Weight Slip  -->
          <div v-else-if="roleParam == 'dc' && type == 'weight'">
            <b-card
              v-if="type == 'weight'"
              style="width:31rem;margin-left: auto;margin-right: auto "
            >
              <b-row class="text-center">
                <b-col cols="12">
                  <b>WEIGHT SLIP</b>
                </b-col>
              </b-row>
              <!-- <b-row>
                <b-col>
                  <b-row class="mt-2" align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>Ticket No :</b>
                    </b-col>
                    <b-col cols="7">
                      <span style="text-transform: uppercase;">
                        {{ selected_transaction.weight[0].id }}
                      </span>
                    </b-col>
                  </b-row>
                  <b-row align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>Customer :</b>
                    </b-col>
                    <b-col cols="7">
                      <span style="text-transform: uppercase;">
                        {{ selected_transaction.po_details[0].CardName }}
                      </span>
                    </b-col>
                  </b-row>
                  <b-row align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>Address</b>
                    </b-col>
                    <b-col cols="7">
                      <span style="text-transform: uppercase;">
                        {{ selected_transaction.po_details[0].Address }}
                      </span>
                    </b-col>
                  </b-row>
                  <b-row align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>Commodity</b>
                    </b-col>
                    <b-col cols="7">
                      <span style="text-transform: uppercase;">
                        {{ selected_transaction.weight[0].items }}
                      </span>
                    </b-col>
                  </b-row>
                  <b-row align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>Plate No</b>
                    </b-col>
                    <b-col cols="7">
                      <span style="text-transform: uppercase;">
                        {{ selected_transaction.weight[0].plate_number }}
                      </span>
                    </b-col>
                  </b-row>
                  <b-row align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>Driver</b>
                    </b-col>
                    <b-col cols="7">
                      <span style="text-transform: uppercase;">
                        {{ selected_transaction.weight[0].driver_name }}
                      </span>
                    </b-col>
                  </b-row>
                  <hr />
                </b-col>
                <b-col class="mt-5">
                  <b-row class="mt-1" align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>INBOUND WEIGHT:</b>
                    </b-col>
                    <b-col class="mb-4" cols="7">
                      <b-row>
                        <b-col
                          cols="12"
                          v-for="(item, index) in selected_transaction.weight[0]
                            .weights"
                          :key="index"
                        >
                          <span style="text-transform: uppercase;"
                            >{{ item.ibWeight }} kg</span
                          >
                        </b-col>
                        <b-col>
                          <span style="text-transform: uppercase;"></span>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                  <b-row class="mt-1" align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>OUTBOUND WEIGHT:</b>
                    </b-col>
                    <b-col class="mb-4" cols="7">
                      <b-row>
                        <b-col
                          cols="12"
                          v-for="(item, index) in selected_transaction.weight[0]
                            .weights"
                          :key="index"
                        >
                          <span style="text-transform: uppercase;"
                            >{{ item.obWeight }} kg</span
                          >
                        </b-col>
                        <b-col>
                          <span style="text-transform: uppercase;"></span>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                  <b-row class="mt-1" align-h="center" style="font-size:12px">
                    <b-col cols="5">
                      <b>NET WEIGHT:</b>
                    </b-col>
                    <b-col class="mb-4" cols="7">
                      <b-row>
                        <b-col
                          cols="12"
                          v-for="(item, index) in selected_transaction.weight[0]
                            .weights"
                          :key="index"
                        >
                          <span style="text-transform: uppercase;"
                            >{{ item.netWeight }} kg</span
                          >
                        </b-col>
                        <b-col>
                          <span style="text-transform: uppercase;"></span>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row> -->
            </b-card>
          </div>
          <hr />
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import jsPDF from "jspdf";
import html2canvas from "html2canvas";
import axios from "axios";
import moment from "moment";
import Loading from "@/components/Loading/Loading";
import { ifStatement } from "@babel/types";

export default {
  components: {
    Loading
  },
  data() {
    return {
      showLoading: false,
      rejection_receipt: null,
      selectedRemarks: [],
      selectedDisposition: [],
      selectedDisposition2: [],
      supplier_code: null,
      date: null,
      item: null,
      plate_number: null,
      qc_cn: null,
      lot_no: null,
      isFeedmill: false,
      businessEntity: "Business Entity",
      rawMaterial: "",
      dr: null,
      rmaf_id: null,
      bir_id: null,
      transaction_type_id: null,
      driver_id: null,
      no_of_bags: null,
      guard_on_duty: null,
      time_end: null,
      roleParam: null,

      supplier_code: null,

      trial1: null,
      trial2: null,
      trial3: null,
      average: null,

      recon_id_p: null,
      recon_id_c: null,
      mc_result: null,
      impurities: null,
      foreign: null,
      reason_for_recon_physical: null,
      crude_protein: null,
      calcium: null,
      ffa: null,
      brix: null,
      carbonate_test_pos: null,
      carbonate_test_neg: null,
      remarksChem: null,
      reason_for_recon_chemical: null,
      for_recon_physical: null,
      for_recon_chemical: null,
      chemAnalysisId: null,
      physAnalysisId: null,
      rmafId: null,
      truck_info_id: null,
      failed_rmaf: "",
      has_reconsideration_p: false,
      has_reconsideration_c: false,

      remarks: [],
      dispositions: [],
      remarksItems: [],
      status: [],

      onlyDate: null,
      item: null,
      plate: null,
      criteria: [],
      criteriaTally: [],
      totalDeductionPerCriteria: [],
      total_deductions: 0,
      deduction_criterias: [],
      receipts: null,
      receiptReject: null,
      supplier: null,
      param: null,
      type: null,
      reasonRejection: null,
      RejectedIndex: null,
      no_of_bags_rejected: null,
      reason_of_rejection: null,
      mrr_no: null,
      delivery_report_no: null,
      sales_invoice_no: null,
      quantity: null,
      po_no: null,
      businessAcro: null,
      transaction: null,

      employees: [],

      certified_signature: "",
      certified_signature_chem: "",
      evaluated_signature_phy: "",
      evaluated_signature_chem: "",
      noted_signature_phy: "",
      reconsidered_signature: "",
      reconsideration_approved_signature: "",

      prepared_by_deduction_sig: "",
      checked_by_deduction_sig: "",
      received_by_deduction_sig: "",
      noted_by_deduction_sig: "",

      evaluated_by_physical: null,
      certified_by_physical: null,

      evaluated_by_chemical: null,
      certified_by_chemical: null,

      noted_by_physical: null,
      reconsidered_by: null,
      reconsidered_approved_by: null,
      recon_approved_by: null,

      prepared_by_deduction: null,
      checked_by_deduction: null,
      received_by_deduction: null,
      noted_by_deduction: null
    };
  },
  created() {
    const param = this.$route.params.id.split("-");
    this.param = param[0];
    this.type = param[1];

    const employee = JSON.parse(localStorage.employee);

    this.roleParam = employee.roleParam;
    this.getEmployees();
    this.getTransaction();

    if (
      employee.roleParam === "qa" ||
      employee.roleParam === "qi" ||
      (employee.roleParam == "dc" && this.type == "rmaf") ||
      employee.roleParam == "shp" ||
      employee.roleParam == "shc" ||
      employee.roleParam == "sv"
    ) {
      this.getRemarks();
      this.getDisposition();
      this.getMoisture();
    } else if (
      employee.roleParam === "rm" ||
      (employee.roleParam == "dc" && this.type == "deduct") ||
      (employee.roleParam == "dc" && this.type == "reject") ||
      (employee.roleParam == "dc" && this.type == "moisture") ||
      employee.roleParam === "wh"
    ) {
      this.getRemarks();
      this.getDisposition();
      this.getRejection();
      this.getCriteria();
      this.getMoisture();
    }

    // this.getTransaction();
  },
  methods: {
    async getRole(employee_id) {
      var role;
      if (this.transaction) {
        for (let i = 0; i < this.employees.length; i++) {
          if (this.employees[i].employee_id == employee_id) {
            role = this.employees[i].role[0].name;
            break;
          }
        }

        if (role) {
          var roleArray = role.split("-");
          role = roleArray[1];
        }
        return role;
      }
    },
    async getEmployees() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/employees`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.employees = res.data.employees;
        })
        .catch(error => {
          console.log(error);
          this.displayErrorToast(error);
        });
    },
    retrieveRejection(type) {
      if (type == "reason") {
        return this.rejection_receipt.reason_of_rejection;
      }
    },
    closeModal() {
      this.$refs["confirm"].hide();
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    checkRemark(remark) {
      if (this.selectedRemarks.includes(remark.tag)) {
        return true;
      }
      return false;
    },
    checkDisposition(disposition) {
      let boolean = false;

      if (disposition.tag) {
        const tags = disposition.tag.split(",");

        for (let i = 0; i < tags.length; i++) {
          if (this.selectedDisposition.length == 0) {
            if (this.selectedDisposition2.includes(parseInt(tags[i]))) {
              boolean = true;
            }
          } else {
            if (this.selectedDisposition.includes(parseInt(tags[i]))) {
              boolean = true;
            }
          }
        }
      }

      return boolean;
    },
    async getDisposition() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/disposition`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.dispositions = res.data.dispositions;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getRemarks() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/remarks`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.remarks = res.data.remarks;

          for (let i = 0; i < this.remarks.length; i++) {
            this.remarksItems.push({
              value: this.remarks[i].id,
              text: this.remarks[i].name
            });
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getQCCN() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.param
        }
      })
        .then(res => {
          this.qc_cn = res.data.QCCN;
        })
        .catch(error => {});
    },
    async getTransaction() {
      // this.showLoading = true;
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.param,
          getWeight: true
        }
      })
        .then(async res => {
          const result = res.data.transactions[0];
          this.transaction = res.data.transactions;
          console.log(result);
          //   this.transaction = result;

          //   // Deduction Report && Rejection Receipt
          if (
            (this.roleParam == "rm" && this.type != "rmaf") ||
            (this.roleParam == "dc" && this.type == "deduct") ||
            (this.roleParam == "dc" && this.type == "reject") ||
            this.roleParam == "wh"
          ) {
            // await this.getDeductionCriteria();
            const tallies = result.deductions.deductionReceipts.tallies[0];
            this.deduction_criterias =
              result.deductions.deductionReceipts.listDeductionCriteria;
            this.total_deductions =
              result.deductions.deductionReceipts.sum_total_deductions;
            // this.rejection = result.deductions.deductionReceipts.rejection
            // console.log(this.rejection)

            this.prepared_by_deduction_sig = `${this.$axios.defaults.baseURL}${tallies.prepared_signature}`;
            console.log(this.prepared_by_deduction_sig);
            this.checked_by_deduction_sig = `${this.$axios.defaults.baseURL}${tallies.checked_signature}`;
            this.noted_by_deduction_sig = `${this.$axios.defaults.baseURL}${tallies.noted_signature}`;

            this.prepared_by_deduction = await this.getRole(
              tallies.prepared_by
            );

            this.checked_by_deduction = await this.getRole(tallies.checked_by);
            this.noted_by_deduction = await this.getRole(tallies.noted_by);

            // this.reason_of_rejection = this.rejection[0].reason_of_rejection;
            // this.no_of_bags_rejected = this.rejection[0].no_of_bags_rejected;

            this.onlyDate = moment(this.transaction.created_at).format(
              "DD-MMM-YYYY"
            );
            this.supplier = result.supplier_name;
            this.supplier_code = result.supplier_code;
            this.item = this.transaction[0].bir[0].items[0].description;
            // this.total_deductions = 0;
            this.getCriteria();

            // this.receipts = this.deduction_criterias.filter(criteria => {
            //   const results =
            //     criteria.deduction_receipt[0].transaction_id == this.param;
            //   return results;
            // });

            // this.receiptReject = this.receipts.filter(criteria => {
            //   const results = criteria.criteria[0].description == "Rejected";
            //   return results;
            // });

            const be = result.bir[0].business_entity[0].description.split(" ");

            //     this.businessEntity = be[1];
            //     // this.total_deductions = this.receipts[0].deduction_receipt[0].total_deductions;
          }

          // RMAF Reports
          else if (
            (this.roleParam == "rm" && this.type == "rmaf") ||
            this.roleParam == "qa" ||
            this.roleParam == "qi" ||
            (this.roleParam == "dc" && this.type == "rmaf") ||
            (this.roleParam == "dc" && this.type == "moisture") ||
            (this.roleParam == "dc" && this.type == "mrr") ||
            this.roleParam == "shp" ||
            this.roleParam == "shc" ||
            this.roleParam == "sv"
          ) {
            const be = result.bir[0].department[0].name.split("-");
            this.supplier = result.supplier_name;
            this.onlyDate = moment(this.transaction.created_at).format(
              "DD-MMM-YYYY"
            );

            this.businessEntity = result.bir[0].business_entity[0].description;
            this.businessAcro = be[0];
            this.delivery_report_no = result.delivery_receipt_id;
            this.item = result.bir[0].items[0].description;

            const rmafs = result.rmaf[0].physical_analysis[0];

            if (result.rmaf[0]) {
              if (result.rmaf[0].physical_analysis[0]) {
                if (
                  result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0]
                ) {
                  this.trial1 =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
                  this.trial2 =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
                  this.trial3 =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
                  this.average =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;
                }

                this.noted_signature_phy = `${this.$axios.defaults.baseURL}${result.rmaf[0].physical_analysis[0].noted_signature}`;
                this.certified_signature = `${this.$axios.defaults.baseURL}${result.rmaf[0].physical_analysis[0].certified_signature}`;
                this.evaluated_signature_phy = `${this.$axios.defaults.baseURL}${result.rmaf[0].physical_analysis[0].evaluated_signature}`;

                this.certified_by_physical = await this.getRole(
                  rmafs.certified_by
                );
                this.evaluated_by_physical = await this.getRole(
                  rmafs.evaluated_by
                );
                this.noted_by_physical = await this.getRole(rmafs.noted_by);
              }
            }
            if (result.po_details) {
              this.sales_invoice_no = result.po_details[0].DocEntry;
              this.quantity = result.po_details[0].DocumentLines[0].Quantity;
              this.po_no = result.po_details[0].DocEntry;
            }

            this.rawMaterial = result.bir[0].raw_materials[0].description;
            if (result.rmaf[0]) {
              this.mrr_no = result.rmaf[0].material_rejection_report_id;
              if (result.rmaf[0].physical_analysis) {
                if (
                  result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0]
                ) {
                  this.trial1 =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
                  this.trial2 =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
                  this.trial3 =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
                  this.average =
                    result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;
                }

                this.noted_signature_phy = `${this.$axios.defaults.baseURL}${result.rmaf[0].physical_analysis[0].noted_signature}`;
                this.certified_signature = `${this.$axios.defaults.baseURL}${result.rmaf[0].physical_analysis[0].certified_signature}`;
                this.evaluated_signature_phy = `${this.$axios.defaults.baseURL}${result.rmaf[0].physical_analysis[0].evaluated_signature}`;

                this.certified_by_physical = await this.getRole(
                  rmafs.certified_by
                );
                this.evaluated_by_physical = await this.getRole(
                  rmafs.evaluated_by
                );
                this.noted_by_physical = await this.getRole(rmafs.noted_by);
              }
            }

            if (result.rmaf[0]) {
              const remarksArray = result.rmaf[0].physical_analysis[0].remarks;
              const dispositionArray =
                result.rmaf[0].physical_analysis[0].disposition_id;

              for (let i = 0; i < remarksArray.length; i++) {
                this.selectedRemarks.push(remarksArray[i]);
              }

              for (let i = 0; i < dispositionArray.length; i++) {
                this.selectedDisposition.push(dispositionArray[i]);
              }

              if (result.rmaf[0].physical_analysis) {
                this.recon_id_p =
                  result.rmaf[0].physical_analysis[0].reconsideration_id;
                // this.mc_result = result.rmaf[0].physical_analysis[0].mc_result;
                this.impurities =
                  result.rmaf[0].physical_analysis[0].impurities;
                this.foreign =
                  result.rmaf[0].physical_analysis[0].foreign_material;
                // this.selectedDisposition = result.rmaf[0].physical_analysis[0].disposition_id.split(
                //   ","
                // );

                //   if (result.rmaf[0].physical_analysis[0].reconsideration) {
                //     if (
                //       result.rmaf[0].physical_analysis[0].reconsideration[0]
                //         .for_consideration
                //     ) {
                //       this.for_recon_physical = true;
                //       this.has_reconsideration_p = true;
                //     } else {
                //       this.for_recon_physical = false;
                //     }
                //     this.reason_for_recon_physical =
                //       result.rmaf[0].physical_analysis[0].reconsideration[0].reason;

                //     this.reconsidered_by = this.getRole(
                //       result.rmaf[0].physical_analysis[0].reconsideration[0]
                //         .reconsidered_by
                //     );
                //     this.reconsidered_signature = `${this.$axios.defaults.baseURL}/${result.rmaf[0].physical_analysis[0].reconsideration[0].reconsidered_signature}`;
                //     this.reconsidered_approved_by = this.getRole(
                //       result.rmaf[0].physical_analysis[0].reconsideration[0]
                //         .reconsidered_approved_by
                //     );
                //     this.reconsideration_approved_signature = `${this.$axios.defaults.baseURL}/${result.rmaf[0].physical_analysis[0].reconsideration[0].reconsidered_approved_signature}`;
                //   }
              }

              if (result.rmaf[0].chemical_analysis) {
                this.recon_id_c =
                  result.rmaf[0].physical_analysis[0].reconsideration_id;
                this.crude_protein =
                  result.rmaf[0].chemical_analysis[0].crude_protein;
                this.calcium = result.rmaf[0].chemical_analysis[0].calcium;
                this.ffa = result.rmaf[0].chemical_analysis[0].ffa_lauric_acid;
                this.brix = result.rmaf[0].chemical_analysis[0].brix;

                if (
                  result.rmaf[0].chemical_analysis[0].carbonate_test ==
                  "Positive"
                ) {
                  this.carbonate_test_pos = true;
                  this.carbonate_test_neg = false;
                } else {
                  this.carbonate_test_neg = true;
                  this.carbonate_test_pos = false;
                }
                const dispositionArray2 =
                  result.rmaf[0].chemical_analysis[0].disposition_id;

                for (let i = 0; i < dispositionArray2.length; i++) {
                  this.selectedDisposition2.push(dispositionArray2[i]);
                }

                if (result.rmaf[0].chemical_analysis[0].reconsideration[0]) {
                  if (
                    result.rmaf[0].chemical_analysis[0].reconsideration[0]
                      .for_consideration
                  ) {
                    this.for_recon_chemical = true;
                    this.has_reconsideration_c = true;
                  } else {
                    this.for_recon_chemical = false;
                  }
                  this.reason_for_recon_chemical =
                    result.rmaf[0].chemical_analysis[0].reconsideration[0].reason;
                }

                this.certified_signature_chem = `${this.$axios.defaults.baseURL}${result.rmaf[0].chemical_analysis[0].certified_signature}`;
                this.evaluated_signature_chem = `${this.$axios.defaults.baseURL}${result.rmaf[0].chemical_analysis[0].evaluated_signature}`;

                this.certified_by_chemical = await this.getRole(
                  result.rmaf[0].chemical_analysis[0].certified_by
                );
                this.evaluated_by_chemical = await this.getRole(
                  result.rmaf[0].chemical_analysis[0].evaluated_by
                );
              }
            }
            // this.failed_rmaf = result.failed_rmaf;
            this.supplier_code = result.supplier_code;
            this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
            this.item = result.bir[0].items[0].description;
            this.plate_number = result.plate_number;
            this.qc_cn = result.qc_control_number;

            if (!this.qc_cn) {
              this.getQCCN();
            }
            this.dr = result.delivery_receipt_id;
            this.rmaf_id = result.rmaf_id;
            this.bir_id = result.bir_id;
            this.transaction_type_id = result.transaction_type_id;
            this.driver_id = result.driver_id;
            this.no_of_bags = result.no_of_bags;
            this.guard_on_duty = result.guard_on_duty;
            this.time_end = result.time_end;
            this.truck_info_id = result.truck_info_id;

            const business_entity = this.supplier_code.split("-");

            if (business_entity[0] == "FMP") {
              this.isFeedmill = true;
            }

            if (this.roleParam == "dc" && this.type == "weight") {
            }
          }
          this.showLoading = false;
        })
        .catch(error => {
          this.showLoading = false;
          console.log(error);
        });
    },
    async getDeductionCriteria() {
      const employee = JSON.parse(localStorage.employee);
      // await axios({
      //   method: "POST",
      //   url: `${this.$axios.defaults.baseURL}/transactions/deduction_criteria`,
      //   headers: {
      //     authorization: "Bearer " + localStorage.token
      //   },
      //   data: {
      //     employee_id: employee.id,
      //     business_entity_id: this.business_entity_id,
      //     modules: employee.modules
      //   }
      // })
      //   .then(res => {
      //     this.deduction_criterias = res.data.deduction_criteria;
      //     this.getTransaction();
      //   })
      //   .catch(error => {
      //     //  this.displayErrorToast(error.response.data);
      //   });

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_receipt`,
        data: {
          employee_id: employee.id,
          // modules: employee.modules,
          transaction_id: this.transaction.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          const deduct = res.data.deductionReceipts;
          console.log(deduct);

          // this.deduction_criterias =
          //   res.data.deductionReceipts.listDeductionCriteria;
          // this.total_deductions =
          //   res.data.deductionReceipts.sum_total_deductions;
          // this.reasonRejection = "";
          const tallies = res.data.deductionReceipts.tallies[0];

          // for (
          //   let i = 0;
          //   i < res.data.deductionReceipts.rejection.length;
          //   i++
          // ) {
          //   const element = res.data.deductionReceipts.rejection[i];

          //   if (this.reasonRejection) {
          //     this.reasonRejection += ", " + element.reason_of_rejection;
          //   } else {
          //     this.reasonRejection = element.reason_of_rejection;
          //   }
          // }

          this.prepared_by_deduction_sig = `${this.$axios.defaults.baseURL}/${tallies.prepared_signature}`;
          this.checked_by_deduction_sig = `${this.$axios.defaults.baseURL}/${tallies.checked_signature}`;
          this.noted_by_deduction_sig = `${this.$axios.defaults.baseURL}/${tallies.noted_signature}`;

          this.prepared_by_deduction = this.getRole(tallies.prepared_by);
          this.checked_by_deduction = this.getRole(tallies.checked_by);
          this.noted_by_deduction = this.getRole(tallies.noted_by);
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async getCriteria() {
      const employee = JSON.parse(localStorage.employee);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/criteria`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          business_entity_id: this.business_entity_id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.criteria = res.data.criteria;

          for (let i = 0; i < this.criteria.length; i++) {
            if (this.criteria[i].description === "Rejected") {
              this.RejectedIndex = i;
            }
            this.criteriaTally[i] = 0;
            this.totalDeductionPerCriteria[i] = 0;
          }
        })
        .catch(error => {
          //  this.displayErrorToast(error.response.data);
        });
    },
    async getRejection() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rejection_receipt`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res.data);
          const param = this.$route.params.id.split("-");
          this.param = param[0];

          this.rejection = res.data.rejection_receipts;

          for (let i = 0; i < this.rejection.length; i++) {
            if (this.rejection[i].transaction_id == this.param) {
              this.reason_of_rejection = this.rejection[i].reason_of_rejection;
              this.no_of_bags_rejected = this.rejection[i].no_of_bags_rejected;
            }
          }
        })
        .catch(e => {});
    },
    async getMoisture() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/mts`,
        data: {
          id: this.param,
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          const result = res.data.mts[0];

          this.trial1 = result.moisture_trial_1;
          this.trial2 = result.moisture_trial_2;
          this.trial3 = result.moisture_trial_3;
          this.average = result.average;
        })
        .catch(e => {});
    },
    prints() {
      window.print();
    },
    generatePdf() {
      const doc = new jsPDF();
      /** WITH CSS */
      var canvasElement = document.createElement("canvas");
      html2canvas(this.$refs.testHtml, { canvas: canvasElement }).then(function(
        canvas
      ) {
        const img = canvas.toDataURL("image/jpeg", 0.8);
        doc.addImage(img, "JPEG", 0, 0);
        doc.save(`RMAF - ${moment().format("DD MMM, YYYY")}.pdf`);
      });
    },
    generatePdf1() {
      const doc = new jsPDF();
      /** WITH CSS */
      var canvasElement = document.createElement("canvas");
      html2canvas(this.$refs.testHtml1, { canvas: canvasElement }).then(
        function(canvas) {
          const img = canvas.toDataURL("image/jpeg", 0.8);
          doc.addImage(img, "JPEG", 40, 20);
          doc.save(`RECEIPT - ${moment().format("DD MMM, YYYY")}.pdf`);
        }
      );
    }
  }
};
</script>
<style scoped>
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.signature {
  float: left;
  margin-top: -2rem;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: #00803e;
  line-height: 50px;
}
p {
  color: black;
}

.signature-image {
  width: 80%;
  margin-top: -2rem;
  float: left;
}
@media print {
  .report {
    margin-left: 0rem;
    margin-right: 8rem;
  }
}
.td1 {
  border: 0.3px solid black;
}
.th1 {
  border: 1px solid black;
}
</style>
