<template>
  <div>
    <div>
      <b-row align-h="center">
        <b-card style="width:50rem;">
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h5>Biotech Farms, Inc.</h5>
              <p style="position:relative;bottom:13px">Paddy Drying Facility</p>
              <br />
              <h3 style="position:relative;bottom:28px">Deduction Receipt</h3>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="2">
              <h6>
                <b>Date :</b>
              </h6>
            </b-col>
            <b-col cols="10">
              <b style="text-decoration: underline;">14-NOV-2019</b>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="2">
              <h6>
                <b>Supplier :</b>
              </h6>
            </b-col>
            <b-col cols="10">
              <b style="text-decoration: underline;">Ahmad Baulo</b>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="2">
              <h6>
                <b>Commodity :</b>
              </h6>
            </b-col>
            <b-col cols="10" class="mb-4">
              <b style="text-decoration: underline;">Corn on Cobs</b>
            </b-col>
          </b-row>
          <table>
            <tr>
              <th>Criteria</th>
              <th>Quantity</th>
              <th>Deductions</th>
              <th>Total (kg)</th>
            </tr>
            <tr v-for="(result,c) in results" :key="c" :value="result">
              <td>{{result}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <b-row align-h="end" class="borders">
            <div class="mr-1">
              <span>TOTAL:</span>
              <span>200</span>
            </div>
          </b-row>
          <b-row align-h="start" class="mt-5">
            <b-col cols="6">
              <div>Prepared By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
            <b-col>
              <div>Checked By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <span class="signature ml-3">QC Inspector</span>
            </b-col>
            <b-col>
              <span class="signature ml-3">RM Checker</span>
            </b-col>
          </b-row>

          <b-row align-h="start" class="mt-5">
            <b-col cols="6">
              <div>Received By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
            <b-col>
              <div>Noted By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <span class="signature ml-3">Driver Name & Signature</span>
            </b-col>
            <b-col>
              <span class="signature ml-3">Warehouse In-charge</span>
            </b-col>
          </b-row>

          <!-- <b-row align-h="start" class="mt-5">
            <div>Prepared By:</div>&nbsp;
            <div class="mb-2" style="text-decoration: underline;">KIMMY D. BONDOC</div>
          </b-row>
           <b-row>
            <span class="signature ml-5">QC Inspector</span>
          </b-row>-->

          <br />
          <br />
          <br />

          <!-- <b-col cols="2">
              <small class="ml-2">1st Copy</small>
            </b-col>       
          </b-row>-->
        </b-card>
      </b-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      results: [
        "Class B",
        " Watery Wet",
        "Husky/Stalks",
        "Moldy",
        "Mixed Green"
      ]
    };
  }
};
</script>
<style>
.borders {
  border: 1px solid black;
}
.signature {
  font-weight: bold;
  font-size: 13px;

  font-style: italic;
  bottom: 11px;
  left: 52px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */
</style>