<template>
  <div>
    <div class="A4">
      <section class="sheet padding-10mm">
        <article>
          <b-container id="onlineExamResult" align="center" style="max-width: 500px;">
            <b-row class="text-center">
              <b-col></b-col>
              <b-col cols="2">
                <b-img src="/biotech.png" fluid avatar />
              </b-col>
              <b-col></b-col>
            </b-row>
            <!--  -->
            <b-row class="text-center">
              <b-col cols="12">
                <h3>Delivery Details</h3>
                <br />
              </b-col>
            </b-row>
            <table>
              <tr>
                <td>
                  <b>Supplier Code:</b>
                </td>
                <td>PDF-1285151</td>
              </tr>
              <tr>
                <td>
                  <b>Item Description:</b>
                </td>
                <td>Corn on Cobs</td>
              </tr>
            </table>
            <!--  -->
          </b-container>
        </article>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
    }
  },
};
</script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
@media print {
  body #buttonPrint {
    display: none;
  }
  body #footer {
    display: none;
  }
}
</style>