<template>
  <div>
    <div>
      <b-row align-h="center">
        <b-card style="width:70rem;">
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h5>Biotech Farms, Inc.</h5>
              <p style="position:relative;bottom:13px">FEEDMILL</p>
              <br />
              <h3 style="position:relative;bottom:28px">RAW MATERIAL ASSESSMENT FORM</h3>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <small class="ml-1">Supplier Code/Name:</small>
              <b-form-input v-model="code" style="font-size:10px" disabled></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Date</small>
              <div class="text-center">
                <b-form-input v-model="date" style="font-size:10px" disabled></b-form-input>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Item Description</small>
              <b-form-input v-model="item" style="font-size:10px" disabled></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Plate Number</small>
              <b-form-input style="font-size:10px" disabled></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">QC Control No.</small>
              <b-form-input style="font-size:10px" disabled></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Lot. No</small>
              <b-form-input type="email" style="font-size:10px" disabled></b-form-input>
            </b-col>
          </b-row>
        </b-card>
        <hr />

        <h6 class="mb-3">Physical Analysis</h6>

        <b-card
          header="PARAMETER AND FINDINGS"
          header-tag="header"
          header-text-variant="light"
          header-bg-variant="success"
        >
          <b-card>
            <h6>Remarks</h6>
            <b-row>
              <b-col cols="6">
                <b-form-group>
                  <b-form-checkbox-group :options="options"></b-form-checkbox-group>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <small>% MC Result</small>
                <b-form-input type="number" style="font-size:10px"></b-form-input>

                <small class="mt-2">% Impurities</small>
                <b-form-input type="number" style="font-size:10px"></b-form-input>
              </b-col>
            </b-row>
          </b-card>

          <b-card>
            <h6>Disposition</h6>
            <b-row>
              <b-col cols="6">
                <b-form-group>
                  <b-form-checkbox-group   :options="options1"></b-form-checkbox-group>
                </b-form-group>
              </b-col>
              <b-col cols="6">
               <b-form-group>
                  <b-form-checkbox-group    :options="options2"></b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-card>
        </b-card>

        <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <b-form-checkbox>For Reconsideration</b-form-checkbox>
            </b-col>
            <b-col cols="6">
              <label>Reason for Reconsideration</label>
              <b-form-input style="font-size:10px"></b-form-input>
            </b-col>
          </b-row>
        </b-card>
          <!-- <b-row align-h="center">
            <b-col cols="2">
              <h6>
                <b>Date :</b>
              </h6>
            </b-col>
            <b-col cols="10">
              <b style="text-decoration: underline;">14-NOV-2019</b>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="2">
              <h6>
                <b>Supplier :</b>
              </h6>
            </b-col>
            <b-col cols="10">
              <b style="text-decoration: underline;">Ahmad Baulo</b>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="2">
              <h6>
                <b>Commodity :</b>
              </h6>
            </b-col>
            <b-col cols="10" class="mb-4">
              <b style="text-decoration: underline;">Corn on Cobs</b>
            </b-col>
          </b-row> -->
          <!-- <b-row align-h="center" class="mt-1"  >
            <div>Date:</div>&nbsp;
            <div class="mb-2" style="text-decoration: underline;">14-NOV-2019</div>
          </b-row>
          <b-row align-h="center" >
            <div>Supplier:</div>&nbsp;
            <div class="mb-2" style="text-decoration: underline;">Ahmad Baulo</div>
          </b-row>
           <b-row align-h="center" >
            <div>Plate Number:</div>&nbsp;
            <div class="mb-2" style="text-decoration: underline;">AAJ-980</div>
          </b-row>-->
          <!-- <b-row>
            <b-col cols="4">
              <div class="ml-2">RECEIVED From</div>&nbsp;
            </b-col>
            <b-col cols="8" style="text-decoration: underline;">
              <b>Coca-Cola Philippines Incorporated</b>
            </b-col>
          </b-row>
          <b-row align-h="center" style="position:relative;bottom:22px">
            <small>
              <i>
                the following original invoice for checking and verification
                purposes.
              </i>
            </small>
          </b-row>-->
          <!-- Header -->

          <!-- Content -->
          <!-- <table>
            <tr>
              <th>Criteria</th>
              <th>Quantity</th>
              <th>Deductions</th>
              <th>Total (kg)</th>
            </tr>
            <tr v-for="(result,c) in results" :key="c" :value="result">
              <td>{{result}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table> -->
          <!-- <b-row align-h="end" class="borders">
            <div class="mr-1">
              <span>TOTAL:</span>
              <span>100000000</span>
            </div>
          </b-row>
          <b-row align-h="start" class="mt-5">
            <b-col cols="6">
              <div>Prepared By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
            <b-col>
              <div>Checked By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <span class="signature ml-3">QC Inspector</span>
            </b-col>
            <b-col>
              <span class="signature ml-3">RM Checker</span>
            </b-col>
          </b-row>

          <b-row align-h="start" class="mt-5">
            <b-col cols="6">
              <div>Received By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
            <b-col>
              <div>Noted By:</div>&nbsp;
              <div class="mb-2" style="text-decoration: underline;">___________________________</div>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <span class="signature ml-3">Driver Name & Signature</span>
            </b-col>
            <b-col>
              <span class="signature ml-3">Warehouse In-charge</span>
            </b-col>
          </b-row> -->

          <!-- <b-row align-h="start" class="mt-5">
            <div>Prepared By:</div>&nbsp;
            <div class="mb-2" style="text-decoration: underline;">KIMMY D. BONDOC</div>
          </b-row>
           <b-row>
            <span class="signature ml-5">QC Inspector</span>
          </b-row>-->

          <br />
          <br />
          <br />

          <!-- <b-col cols="2">
              <small class="ml-2">1st Copy</small>
            </b-col>       
          </b-row>-->
        </b-card>
      </b-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      results: [
        "Class B",
        " Watery Wet",
        "Husky/Stalks",
        "Moldy",
        "Mixed Green"
      ],
      options: [
        { text: "Insect-free" },
        { text: "Contaminant-free" },
        { text: "Fresh and in Good Condition" },
        { text: "Insected-free" },
        { text: "With Contaminant" },
        { text: "Bad Condition" },
        { text: "Dry bags" },
        { text: "Wet Bags" },
        { text: "With COA" },
        { text: "Without COA" }
      ],
      options1: [
        { text: "Passed" },
        { text: "Failed" },
        { text: "Quarantine" },
        { text: "On Hold" }
      ],
      options2: [
        { text: "for Chemical Analysis" },
        { text: "Approved for Release" },
        { text: "For Outright Rejection" }
      ],
    };
  }
};
</script>
<style>
.borders {
  border: 1px solid black;
}
.signature {
  font-weight: bold;
  font-size: 13px;

  font-style: italic;
  bottom: 11px;
  left: 52px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */
</style>