<template>
  <div class="my-5 mr-3 ml-4">
    <div class="my-4 mr-4 ml-4">
      <b-row align-h="center">
        <b-card>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h3>RAW MATERIAL ASSESSMENT FORM</h3>
              <p style="position:relative;bottom:13px">{{businessEntity}}</p>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-card bg-variant="light">
            <b-row>
              <b-col>
                <small class="ml-1">Item Description</small>
                <b-form-input v-model="item" style="font-size:13px" disabled></b-form-input>
              </b-col>

              <b-col>
                <small class="ml-1">Date</small>
                <div class="text-center">
                  <b-form-input v-model="date" style="font-size:13px" disabled></b-form-input>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6">
                <small class="ml-1">Supplier Code:</small>
                <b-form-input v-model="supplier_code" style="font-size:13px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">QC Control No.</small>
                <b-form-input v-model="qc_cn" style="font-size:13px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Raw Material</small>
                <b-form-input v-model="rawMaterial" style="font-size:13px" disabled></b-form-input>
              </b-col>
            </b-row>
          </b-card>
          <hr />
          <b-card header="MOISTURE TALLY SHEET" header-tag="header">
            <b-card>
              <b-row>
                <b-col cols="6">
                  <div>
                    <small>Trial 1</small>
                    <b-form-input
                      type="number"
                      @change="computeAverage"
                      v-model="trial1"
                      style="font-size:13px"
                    />
                  </div>
                  <div>
                    <small>Trial 2</small>
                    <b-form-input
                      type="number"
                      @change="computeAverage"
                      v-model="trial2"
                      style="font-size:13px"
                    />
                  </div>
                  <div>
                    <small>Trial 3</small>
                    <b-form-input
                      type="number"
                      @change="computeAverage"
                      v-model="trial3"
                      style="font-size:13px"
                    />
                  </div>
                </b-col>
                <b-col cols="6">
                  <div>
                    <small>Average</small>
                    <b-form-input
                      type="number"
                      @change="computeAverage"
                      v-model="average"
                      style="font-size:13px"
                    />
                  </div>
                </b-col>
              </b-row>
            </b-card>
          </b-card>
          <b-card header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)" header-tag="header">
            <b-card>
              <h6>Remarks</h6>
              <b-row>
                <b-col cols="6">
                  <b-form class="mx-3">
                    <span v-for="(item, index) in remarks" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        v-model="selectedRemarks"
                        :disabled="checkRemark(item)"
                      >{{item.name}}</b-form-checkbox>
                    </span>
                  </b-form>
                </b-col>
                <b-col cols="6">
                  <div>
                    <small>% MC Result</small>
                    <b-form-input v-model="mc_result" type="number" style="font-size:13px"></b-form-input>
                  </div>

                  <div>
                    <small>% Impurities</small>
                    <b-form-input v-model="impurities" type="number" style="font-size:13px"></b-form-input>
                  </div>
                  <div>
                    <small class="mt-2">% Foreign Material</small>
                    <b-form-input v-model="foreign" type="number" style="font-size:13px"></b-form-input>
                  </div>
                </b-col>
              </b-row>
            </b-card>

            <b-card>
              <h6>Disposition</h6>
              <b-row class="mx-2">
                <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                  <b-form-checkbox
                    :value="item.id"
                    v-model="selectedDisposition"
                    :disabled="checkDisposition(item)"
                  >{{item.description}}</b-form-checkbox>
                </b-col>
              </b-row>
            </b-card>
          </b-card>

          <b-card bg-variant="light">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox v-model="for_recon_physical">For Reconsideration</b-form-checkbox>
              </b-col>
              <b-col cols="9">
                <b-form-input
                  v-model="reason_for_recon_physical"
                  style="font-size:13px"
                  placeholder="Reason for Reconsideration"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>

          <b-card header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)" v-if="isFeedmill">
            <b-card>
              <b-row>
                <b-col cols="6">
                  <small>% Crude Protein</small>
                  <b-form-input v-model="crude_protein" type="number" style="font-size:13px"></b-form-input>

                  <small class="mt-2">% Calcium</small>
                  <b-form-input v-model="calcium" type="number" style="font-size:13px"></b-form-input>

                  <small>% FFA as Lauric Acid</small>
                  <b-form-input v-model="ffa" type="number" style="font-size:13px"></b-form-input>

                  <small>% Brix</small>
                  <b-form-input v-model="brix" class="mb-1" type="number" style="font-size:13px"></b-form-input>
                  <small>Carbonate Test</small>
                  <b-row class="ml-3">
                    <b-col cols="4">
                      <b-form-checkbox
                        id="carbonate_positive"
                        :disabled="carbonate_test_neg"
                        v-model="carbonate_test_pos"
                      >Positive</b-form-checkbox>
                    </b-col>
                    <b-col cols="4">
                      <b-form-checkbox
                        id="carbonate_negative"
                        :disabled="carbonate_test_pos"
                        v-model="carbonate_test_neg"
                      >Negative</b-form-checkbox>
                    </b-col>
                  </b-row>
                </b-col>

                <b-col cols="6">
                  <h6>Remarks</h6>
                  <b-form-input v-model="remarksChem" style="font-size:13px; height: 100px"></b-form-input>
                </b-col>
              </b-row>
            </b-card>

            <b-card>
              <h6>Disposition</h6>
              <b-row class="mx-2">
                <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                  <b-form-checkbox
                    :value="item.id"
                    v-model="selectedDisposition2"
                  >{{item.description}}</b-form-checkbox>
                </b-col>
              </b-row>
            </b-card>
          </b-card>

          <b-card bg-variant="light" v-if="isFeedmill">
            <b-row>
              <b-col cols="3">
                <b-form-checkbox v-model="for_recon_chemical">For Reconsideration</b-form-checkbox>
              </b-col>
              <b-col cols="9">
                <b-form-input
                  v-model="reason_for_recon_chemical"
                  style="font-size:13px"
                  placeholder="Reason for Reconsideration"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
          <b-row align-h="end" class="fixed my-3 mt-3 mr-1">
            <b-button
              href="/sampling"
              class="mr-2 my-2 block"
              style="font-size:14px; width: 100px"
            >Cancel</b-button>&nbsp;
            <b-button
              @click="confirmAnalysis"
              class="block mr-4 my-2"
              variant="success"
              style="font-size:14px; width: 100px"
            >Save</b-button>
          </b-row>
        </b-card>
      </b-row>
    </div>

    <b-modal
      ref="confirm"
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      title="Confirm Analysis Results"
    >
      <b-row align-h="center">
        <b-card>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="1">
              <b-img src="/biotech.png" fluid />
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="6">
              <h3>RAW MATERIAL ASSESSMENT FORM</h3>
              <p style="position:relative;bottom:13px">{{businessEntity}}</p>
            </b-col>
            <b-col></b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <b-card bg-variant="light">
                <b-row>
                  <b-col cols="7">
                    <small class="ml-1">Item Description</small>
                    <b-form-input v-model="item" style="font-size:13px" disabled></b-form-input>
                  </b-col>

                  <b-col cols="5">
                    <small class="ml-1">Date</small>
                    <div class="text-center">
                      <b-form-input v-model="date" style="font-size:13px" disabled></b-form-input>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <small class="ml-1">Supplier Code:</small>
                    <b-form-input v-model="supplier_code" style="font-size:13px" disabled></b-form-input>
                  </b-col>
                  <b-col cols="4">
                    <small class="ml-1">QC Control No.</small>
                    <b-form-input v-model="qc_cn" style="font-size:13px" disabled></b-form-input>
                  </b-col>
                  <b-col cols="4">
                    <small class="ml-1">Raw Material</small>
                    <b-form-input v-model="rawMaterial" style="font-size:13px" disabled></b-form-input>
                  </b-col>
                </b-row>
                <!-- <b-row>
               
                <b-col>
                  <small class="ml-1">Lot. No</small>
                  <b-form-input v-model="lot_no" type="email" style="font-size:13px" disabled></b-form-input>
                </b-col>
                </b-row>-->
              </b-card>
            </b-col>
            <b-col cols="6">
              <b-card header="MOISTURE TALLY SHEET" header-tag="header">
                <b-row>
                  <b-col cols="6">
                    <div>
                      <small>Trial 1</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial1"
                        style="font-size:13px"
                      />
                    </div>
                    <div>
                      <small>Trial 2</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial2"
                        style="font-size:13px"
                      />
                    </div>
                    <div>
                      <small>Trial 3</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="trial3"
                        style="font-size:13px"
                      />
                    </div>
                  </b-col>
                  <b-col cols="6">
                    <div>
                      <small>Average</small>
                      <b-form-input
                        type="number"
                        @change="computeAverage"
                        v-model="average"
                        style="font-size:13px"
                      />
                    </div>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>

          <hr />
          <b-row>
            <b-col cols="6">
              <b-card header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)" header-tag="header">
                <b-card>
                  <h6>Remarks</h6>
                  <b-row>
                    <b-col cols="7">
                      <b-form>
                        <span v-for="(item, index) in remarks" :key="index">
                          <b-form-checkbox
                            :value="item.id"
                            v-model="selectedRemarks"
                            :disabled="checkRemark(item)"
                          >{{item.name}}</b-form-checkbox>
                        </span>
                      </b-form>
                    </b-col>
                    <b-col cols="5">
                      <div>
                        <small>% MC Result</small>
                        <b-form-input v-model="mc_result" type="number" style="font-size:13px"></b-form-input>
                      </div>

                      <div>
                        <small>% Impurities</small>
                        <b-form-input v-model="impurities" type="number" style="font-size:13px"></b-form-input>
                      </div>
                      <div>
                        <small class="mt-2">% Foreign Material</small>
                        <b-form-input v-model="foreign" type="number" style="font-size:13px"></b-form-input>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card>
                  <h6>Disposition</h6>
                  <b-row class="mx-2">
                    <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        v-model="selectedDisposition"
                      >{{item.description}}</b-form-checkbox>
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>

              <b-card bg-variant="light">
                <b-row>
                  <b-col cols="12">
                    <b-form-checkbox v-model="for_recon_physical">For Reconsideration</b-form-checkbox>
                  </b-col>
                  <br />
                  <b-col cols="12">
                    <b-form-input
                      v-model="reason_for_recon_physical"
                      style="font-size:13px"
                      placeholder="Reason for Reconsideration"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
            <b-col cols="6">
              <b-card header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)" v-if="isFeedmill">
                <b-card>
                  <b-row>
                    <b-col cols="6">
                      <small>% Crude Protein</small>
                      <b-form-input v-model="crude_protein" type="number" style="font-size:13px"></b-form-input>

                      <small class="mt-2">% Calcium</small>
                      <b-form-input v-model="calcium" type="number" style="font-size:13px"></b-form-input>

                      <small>% FFA as Lauric Acid</small>
                      <b-form-input v-model="ffa" type="number" style="font-size:13px"></b-form-input>

                      <small>% Brix</small>
                      <b-form-input
                        v-model="brix"
                        class="mb-1"
                        type="number"
                        style="font-size:13px"
                      ></b-form-input>
                    </b-col>

                    <b-col cols="6">
                      <h6>Remarks</h6>
                      <b-form-input v-model="remarksChem" style="font-size:13px; height: 100px"></b-form-input>
                      <br />
                      <small>Carbonate Test</small>
                      <b-row class="ml-3">
                        <b-col cols="12">
                          <b-form-checkbox
                            id="carbonate_positive"
                            :disabled="carbonate_test_neg"
                            v-model="carbonate_test_pos"
                          >Positive</b-form-checkbox>
                        </b-col>
                        <b-col cols="12">
                          <b-form-checkbox
                            id="carbonate_negative"
                            :disabled="carbonate_test_pos"
                            v-model="carbonate_test_neg"
                          >Negative</b-form-checkbox>
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>

                <b-card>
                  <h6>Disposition</h6>
                  <b-row class="mx-2">
                    <b-col cols="6" v-for="(item, index) in dispositions" :key="index">
                      <b-form-checkbox
                        :value="item.id"
                        v-model="selectedDisposition2"
                      >{{item.description}}</b-form-checkbox>
                    </b-col>
                  </b-row>
                </b-card>
              </b-card>

              <b-card bg-variant="light" v-if="isFeedmill">
                <b-row>
                  <b-col cols="12">
                    <b-form-checkbox v-model="for_recon_chemical">For Reconsideration</b-form-checkbox>
                  </b-col>
                  <br />
                  <b-col cols="12">
                    <b-form-input
                      v-model="reason_for_recon_chemical"
                      style="font-size:13px"
                      placeholder="Reason for Reconsideration"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
      </b-row>
      <template v-slot:modal-footer="">
        <b-button
          size="sm"
          style="font-size:13px;border: 0px; width: 80px"
          @click="closeModal()"
        >Cancel</b-button>
        <b-button
          size="sm"
          variant="success"
          @click="saveAnalysis()"
          style="font-size:13px; width: 80px"
        >Save</b-button>
      </template>
    </b-modal>

    <!-- <alert/> -->
    <!-- ALERT SUCCESSFUL -->
    <b-alert dismissible fade class="button1 fixed">Transaction Successfully Saved</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { ifStatement } from "@babel/types";
export default {
  data() {
    return {
      selectedRemarks: [],
      selectedDisposition: [],
      selectedDisposition2: [],
      supplier_code: null,
      date: null,
      item: null,
      plate_number: null,
      qc_cn: null,
      lot_no: null,
      isFeedmill: false,
      businessEntity: "Business Entity",
      rawMaterial: "",
      dr: null,
      rmaf_id: null,
      bir_id: null,
      transaction_type_id: null,
      driver_id: null,
      no_of_bags: null,
      guard_on_duty: null,
      time_end: null,

      trial1: null,
      trial2: null,
      trial3: null,
      average: null,

      recon_id_p: null,
      recon_id_c: null,
      mc_result: null,
      impurities: null,
      foreign: null,
      reason_for_recon_physical: null,
      crude_protein: null,
      calcium: null,
      ffa: null,
      brix: null,
      carbonate_test_pos: null,
      carbonate_test_neg: null,
      remarksChem: null,
      reason_for_recon_chemical: null,
      for_recon_physical: null,
      for_recon_chemical: null,
      chemAnalysisId: null,
      physAnalysisId: null,
      rmafId: null,
      truck_info_id: null,
      failed_rmaf: "",
      for_consideration: false,
      has_reconsideration_p: false,
      has_reconsideration_c: false,

      remarks: [],
      dispositions: [],
      remarksItems: [],
      status: []
    };
  },
  created() {
    this.getAllStatus();
    this.getTransaction();
    this.getRemarks();
    this.getDisposition();
  },
  methods: {
    closeModal() {
      this.$refs["confirm"].hide();
    },
    confirmAnalysis() {
      this.$refs["confirm"].show();
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async saveAnalysis() {
      let samplingPassedID,
        samplingRejectedID,
        dispoPassed,
        dispoRejected,
        status;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].name.toLowerCase() == "analysis-done") {
          samplingPassedID = this.status[i].id;
        } else if (this.status[i].name.toLowerCase() == "analysis-rejected") {
          samplingRejectedID = this.status[i].id;
        }
      }
      for (let i = 0; i < this.dispositions.length; i++) {
        if (
          this.dispositions[i].description.toLowerCase() == "passed"
        ) {
          dispoPassed = this.dispositions[i].id;
        } else if (this.dispositions[i].description.toLowerCase() == "failed") {
          dispoRejected = this.dispositions[i].id;
        }
      }


      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/mts/add_mts`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          moisture_trial_1: this.trial1,
          moisture_trial_2: this.trial2,
          moisture_trial_3: this.trial3,
          average: this.average,
          analysed_by: employee.id,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {
          // if (this.rmaf_id) {
          //   let failedRmafs = [];

          //   if (this.failed_rmaf) {
          //     failedRmafs = this.failed_rmaf.split(",");
          //   }

          //   failedRmafs.push(this.rmaf_id);

          //   for (let i = 0; i < failedRmafs.length; i++) {
          //     if (this.failed_rmaf == "" || this.failed_rmaf) {
          //       this.failed_rmaf += failedRmafs[i].toString();
          //     } else {
          //       this.failed_rmaf += "," + failedRmafs[i].toString();
          //     }
          //   }
          // }

          if (this.has_reconsideration_p || this.has_reconsideration_c) {
            status = samplingPassedID;
          } else if (this.selectedDisposition.includes(dispoPassed.toString()) || this.selectedDisposition.includes(dispoPassed)) {
            if (this.isFeedmill) {
              if (this.selectedDisposition2.includes(dispoPassed.toString()) || this.selectedDisposition2.includes(dispoPassed)) {
                status = samplingPassedID;
              }
            } else {
              status = samplingPassedID;
            }
          } else if (
            this.selectedDisposition.includes(dispoRejected.toString()) ||
            this.selectedDisposition.includes(dispoRejected) ||
            this.selectedDisposition2.includes(dispoRejected.toString()) ||
            this.selectedDisposition2.includes(dispoRejected)
          ) {
            status = samplingRejectedID;
          }

          if (this.for_recon_physical && !this.has_reconsideration_p) {
            await this.addReconsideration(res.data[0].id, "Physical");
          } else {
            await this.addPhysicalAnalysis(res.data[0].id);
          }
          if (this.isFeedmill) {
            if (this.for_recon_chemical && this.has_reconsideration_c) {
              await this.addReconsideration(res.data[0].id, "Chemical");
            } else {
              await this.addChemicalAnalysis();
            }
          }

        })
        .catch(error => {
          if (error.response) {
            this.displayErrorToast(error.response.data);
          } else {
            this.displayErrorToast(error);
          }
        });
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          physical_analysis_id: this.physAnalysisId,
          chemical_analysis_id: this.chemAnalysisId,
          date: moment().format("YYYY-MM-DD HH:mm"),
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.rmafId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          id: this.$route.params.id,
          delivery_receipt_id: this.dr,
          rmaf_id: this.rmafId,
          bir_id: this.bir_id,
          status_id: status,
          truck_info_id: this.truck_info_id,
          transaction_type_id: this.transaction_type_id,
          driver_id: this.driver_id,
          supplier_code: this.supplier_code,
          no_of_bags: this.no_of_bags,
          description: this.item,
          guard_on_duty: this.guard_on_duty,
          qc_control_number: this.qc_cn.toString(),
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          forRecon: this.for_consideration
          // failed_rmaf: this.failed_rmaf
        }
      })
        .then(res => {
          this.displaySuccessToast("RMAF saved.");
          this.closeModal();
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addRMAF(status) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/add_rmaf`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          physical_analysis_id: this.physAnalysisId,
          chemical_analysis_id: this.chemAnalysisId,
          date: moment().format("YYYY-MM-DD HH:mm"),
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.rmafId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },

    async updateTransaction(status_id) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          id: this.$route.params.id,
          delivery_receipt_id: this.dr,
          rmaf_id: this.rmafId,
          bir_id: this.bir_id,
          status_id: status_id,
          truck_info_id: this.truck_info_id,
          transaction_type_id: this.transaction_type_id,
          driver_id: this.driver_id,
          supplier_code: this.supplier_code,
          no_of_bags: this.no_of_bags,
          description: this.item,
          guard_on_duty: this.guard_on_duty,
          qc_control_number: this.qc_cn.toString(),
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          forRecon: this.for_consideration
          // failed_rmaf: this.failed_rmaf
        }
      })
        .then(res => {
          this.displaySuccessToast("RMAF saved.");
          this.closeModal();
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getAllStatus() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.status = res.data.status;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addChemicalAnalysis(recon_id) {
      const employee = JSON.parse(localStorage.employee);
      let recon = null;
      let carbonateTest = "Negative";
      if (recon_id) {
        recon = recon_id;
      }
      if (this.carbonate_test_pos) {
        carbonateTest = "Positive";
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/chemical_analysis/add_chemical_analysis`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          reconsideration_id: recon,
          disposition_id: this.selectedDisposition2.toString(),
          crude_protein: this.crude_protein,
          calcium: this.calcium,
          ffa_lauric_acid: this.ffa,
          brix: this.brix,
          carbonate_test: carbonateTest,
          remarks: this.remarksChem,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.chemAnalysisId = res.data[0].id;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async addPhysicalAnalysis(mts_id, recon_id) {
      const employee = JSON.parse(localStorage.employee);
      let recon = this.recon_id_p;
      if (recon_id) {
        recon = recon_id;
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/physical_analysis/add_physical_analysis`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          reconsideration_id: recon,
          moisture_tally_sheet_id: mts_id,
          disposition_id: this.selectedDisposition.toString(),
          type: this.rawMaterial,
          mc_result: this.mc_result,
          impurities: this.impurities,
          foreign_material: this.foreign,
          remarks: this.selectedRemarks.toString(),
          created_by: employee.id,
          // certified_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.physAnalysisId = res.data[0].id;
        })
        .catch(error => {
          console.log(error);
          this.displayErrorToast(error.response.data);
        });
    },
    async addReconsideration(mts_id, type) {
      const employee = JSON.parse(localStorage.employee);
      let reason = "";
      if (type == "Chemical") {
        reason = this.reason_for_recon_chemical;
      } else {
        reason = this.reason_for_recon_physical;
      }
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/reconsideration/add_reconsideration`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          for_consideration: "TRUE",
          reason: reason,
          reconsidered_by: employee.id,
          created_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          if (!this.isFeedmill) {
            this.addPhysicalAnalysis(mts_id, res.data[0].id);
          } else {
            this.addChemicalAnalysis(res.data[0].id);
          }

          this.for_consideration = true;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    computeAverage() {
      const average = (
        (parseFloat(this.trial1) +
          parseFloat(this.trial2) +
          parseFloat(this.trial3)) /
        3
      ).toFixed(1);
      this.average = average;
    },

    checkRemark(remark) {
      if (this.selectedRemarks.includes(remark.tag)) {
        return true;
      }
      return false;
    },
    checkDisposition(disposition) {
      let boolean = false;

      if (disposition.tag) {
        const tags = disposition.tag.split(",");

        for (let i = 0; i < tags.length; i++) {
          if (this.selectedDisposition.includes(parseInt(tags[i]))) {
            boolean = true;
          }
        }
      }

      return boolean;
    },
    async getDisposition() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/disposition`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.dispositions = res.data.dispositions;
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getRemarks() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/remarks`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id
        }
      })
        .then(res => {
          this.remarks = res.data.remarks;

          for (let i = 0; i < this.remarks.length; i++) {
            this.remarksItems.push({
              value: this.remarks[i].id,
              text: this.remarks[i].name
            });
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async getQCCN() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id
        }
      })
        .then(res => {
          this.qc_cn = res.data.QCCN;
        })
        .catch(error => {});
    },
    async getTransaction() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id
        }
      })
        .then(res => {
          const result = res.data.transactions[0];

          const be = result.bir[0].business_entity[0].description.split("-");
          this.businessEntity = be[1];

          this.rawMaterial = result.bir[0].raw_materials[0].description;

          if (result.rmaf[0]) {
            this.trial1 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_1;
            this.trial2 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_2;
            this.trial3 =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].moisture_trial_3;
            this.average =
              result.rmaf[0].physical_analysis[0].moisture_tally_sheet[0].average;

            const remarksArray = result.rmaf[0].physical_analysis[0].remarks;

            for (let i = 0; i < remarksArray.length; i++) {
              this.selectedRemarks.push(parseInt(remarksArray[i]));
            }

            if (result.rmaf[0].physical_analysis[0]) {
              this.recon_id_p = result.rmaf[0].physical_analysis[0].reconsideration_id;
              this.mc_result = result.rmaf[0].physical_analysis[0].mc_result;
              this.impurities = result.rmaf[0].physical_analysis[0].impurities;
              this.foreign =
                result.rmaf[0].physical_analysis[0].foreign_material;
              this.selectedDisposition = result.rmaf[0].physical_analysis[0].disposition_id.split(
                ","
              );

              if (result.rmaf[0].physical_analysis[0].reconsideration[0]) {
                if (
                  result.rmaf[0].physical_analysis[0].reconsideration[0]
                    .for_consideration
                ) {
                  this.for_recon_physical = true;
                  this.has_reconsideration_p = true;
                } else {
                  this.for_recon_physical = false;
                }
                this.reason_for_recon_physical =
                  result.rmaf[0].physical_analysis[0].reconsideration[0].reason;
              }
            }

            if (result.rmaf[0].chemical_analysis[0]) {
              this.recon_id_c = result.rmaf[0].physical_analysis[0].reconsideration_id;
              this.crude_protein =
                result.rmaf[0].chemical_analysis[0].crude_protein;
              this.calcium = result.rmaf[0].chemical_analysis[0].calcium;
              this.ffa = result.rmaf[0].chemical_analysis[0].ffa_lauric_acid;
              this.brix = result.rmaf[0].chemical_analysis[0].brix;

              if (
                result.rmaf[0].chemical_analysis[0].carbonate_test == "Positive"
              ) {
                this.carbonate_test_pos = true;
                this.carbonate_test_neg = false;
              } else {
                this.carbonate_test_neg = true;
                this.carbonate_test_pos = false;
              }
              this.selectedDisposition2 = result.rmaf[0].chemical_analysis[0].disposition_id.split(
                ","
              );

              if (result.rmaf[0].chemical_analysis[0].reconsideration[0]) {
                if (
                  result.rmaf[0].chemical_analysis[0].reconsideration[0]
                    .for_consideration
                ) {
                  this.for_recon_chemical = true;
                  this.has_reconsideration_c = true;
                } else {
                  this.for_recon_chemical = false;
                }
                this.reason_for_recon_chemical =
                  result.rmaf[0].chemical_analysis[0].reconsideration[0].reason;
              }
            }
          }

          // this.failed_rmaf = result.failed_rmaf;
          this.supplier_code = result.supplier_code;
          this.date = moment(result.created_at).format("YYYY-MM-DD HH:mm A");
          this.item = result.bir[0].items[0].description;
          this.plate_number = result.plate_number;
          this.qc_cn = result.qc_control_number;

          if (!this.qc_cn) {
            this.getQCCN();
          }
          this.dr = result.delivery_receipt_id;
          this.rmaf_id = result.rmaf_id;
          this.bir_id = result.bir_id;
          this.transaction_type_id = result.transaction_type_id;
          this.driver_id = result.driver_id;
          this.no_of_bags = result.no_of_bags;
          this.guard_on_duty = result.guard_on_duty;
          this.time_end = result.time_end;
          this.truck_info_id = result.truck_info_id;

          const business_entity = this.supplier_code.split("-");

          if (business_entity[0] == "FMP") {
            this.isFeedmill = true;
          }
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    }
  }
};
</script>
<style scoped>
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: #00803e;
  line-height: 50px;
}
</style>