<template>
  <div>
    <div id="app">
      <article>
        <b-container id="onlineExamResult" align="center" style="max-width: 500px;">
          <b-row align-h="center">
            <b-card style="width:50rem;">
              <b-row class="text-center">
                <b-col></b-col>
                <b-col cols="2">
                  <b-img src="/biotech.png" fluid avatar />
                </b-col>
                <b-col></b-col>
              </b-row>
              <!--  -->

              <b-row class="text-center">
                <b-col cols="12">
                  <h3>Weight Slip</h3>
                  <br />
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>Date :</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">14-NOV-2019</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>Ticket No.:</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">02-191119-14545</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>Supplier :</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">Khent Quintua</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>Commodity :</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">Wet Paddy Fancy</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>Plate No:</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">JOEY-122</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>Driver:</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">Wet Paddy Fancy</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <h6>
                    <b>No. of Bags :</b>
                  </h6>
                </b-col>
                <b-col cols="4">
                  <b style="text-decoration: underline;">Wet Paddy Fancy</b>
                </b-col>
              </b-row>
              <table class="mt-4">
                <tr>
                  <th>GROSS</th>
                  <th>TARE</th>
                </tr>
                <tr>
                  <td>2590 Kg</td>
                  <td>2550 Kg</td>
                </tr>
              </table>
              <b-row align-h="end" class="borders">
                <div class="mr-1">
                  <span>NET:</span>
                  <span>40 Kg</span>
                </div>
              </b-row>

              <br />
              <br />
              <br />
            </b-card>
          </b-row>
          <!--  -->
        </b-container>
      </article>
    </div>
    <div id="footer">
      <core-view />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
@media print {
  body #buttonPrint {
    display: none;
  }
  body #footer {
    display: none;
  }
}
.borders {
  border: 1px solid black;
}
</style>