<template>
  <div>
    <b-row>
      <b-col lg="12" md="8" sm="8" class="mb-2">
        <b-button id="add-users" variant="success" size="sm" @click="addModal">
          <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add User
        </b-button>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input
            size="sm"
            maxlength="10"
            type="search"
            placeholder="Search Users"
            id="search-all-U"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="2" sm="3" class="items">
        <b-input-group prepend="Items" size="sm">
          <b-form-select style="z-index:0" size="sm" v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            <option :value="usersFilter.length">All</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="usersFilter"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
      show-empty
      sort-by="name"
      :per-page="perPage"
      :current-page="currentPage"
      small
    >
      <template v-slot:table-caption>{{ShowingEntries}}</template>
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Inactive' ">
          <b-badge pill variant="danger">{{row.item.status}}</b-badge>
        </div>
        <div class="badge" v-if="row.item.status === 'Active' ">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>

      <template v-slot:cell(role)="row">{{getRole(row.item.role_id)}}</template>
      <template v-slot:cell(department)="row">{{getDepartment(row.item.department)}}</template>
      <template v-slot:cell(actions)="row">
        <b-button id="edit-users" size="sm" class="mr-1 mt-1" @click="editModal(row)" block>
          <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
        </b-button>
        <b-button
          id="reset-pin"
          size="sm"
          class="mr-1"
          style="background-color: silver; color:black;border: 0px"
          @click="resetPincode(row)"
          block
        >
          <font-awesome-icon style="color:grey" icon="key" small class="icon" />Reset Pincode
        </b-button>
        <b-button
          id="reset-Pass"
          style="background-color:#454547"
          size="sm"
          class="mr-1"
          @click="reset(row)"
          block
        >
          <font-awesome-icon style="color:white" icon="lock" small class="icon" />Reset Password
        </b-button>
      </template>
    </b-table>
    <div class="mt-5">
      <b-pagination
        v-if="usersFilter.length !== 0"
        id="schedule-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
        size="sm"
        pills
      ></b-pagination>
    </div>

    <b-modal
      ref="add"
      header-bg-variant="success"
      header-text-variant="light"
      title="Add User"
      @hide="clearFields"
      @hidden="clearFields"
      no-close-on-backdrop
    >
      <b-form-group>
        <b-row class="mb-2">
          <label style="margin-left:15px">Employee Name:</label>
          <b-col cols="10">
            <b-form-input
              style="font-size:13px"
              id="add-select-emp"
              required
              readonly
              v-model="name"
              autocomplete="off"
            ></b-form-input>
          </b-col>
          <b-col cols="0.09">
            <b-button class="button1" small style="font-size:13px" @click="modalShow = true">Select</b-button>
          </b-col>
        </b-row>
        <b-row class="mb-2">
          <b-col cols="12">
            <label>Employee ID:</label>
            <b-form-input id="add-empid" type="number" v-model="employee_id"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <label>Role:</label>
            <b-form-select id="add-role-U" v-model="selectedRole" class="my-2">
              <option v-for="(role, i) in getActiveRoles" :key="i" :value="role">{{role.name}}</option>
            </b-form-select>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <label>Group:</label>
            <b-form-select id="user-dept" v-model="selectedDepartment" class="my-2">
              <option
                v-for="(department, i) in getActiveDepartments"
                :key="i"
                :value="department.id"
              >{{department.name}}</option>
            </b-form-select>
          </b-col>
        </b-row>
        <!-- <b-row>
          <b-col cols="12">
            <b-form-group
              id="islicensed"
              label="Is Licensed"
              label-for="checkbox"
            >
              <b-form-checkbox
                id="checkbox"
                v-model="isLicensed"
                name="check-button"
                disabled
                switch
              >
                <b>{{ isLicensed ? "Yes" : "No" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row> -->
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button
          id="added-users"
          size="sm"
          variant="success"
          @click="addUser()"
          style="font-size:13px"
        >Save</b-button>
        <b-button
          id="added-close"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="closeModal()"
        >Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      v-model="modalShow"
      id="modal-xl"
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
      title="SELECT EMPLOYEE"
      no-close-on-backdrop
      hide-footer
    >
      <b-card>
        <b-row>
          <b-col cols="6">
            <!-- search bar -->
            <b-form-group
            >
              <b-input-group size="sm">
                <b-form-input
                  style="font-size:13px"
                  v-model="filterEmp"
                  type="search"
                  id="filterEmpImput"
                  label-align-sm="left"
                  placeholder="Type to Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button
                    id="inputSearchClear"
                    :disabled="!filterEmp"
                    @click="filterEmp = ''"
                  >Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>

          <!-- table employees -->
          <b-table
            id="empTable"
            class="my-3 mr-3 ml-3"
            style="font-size:13px"
            show-empty
            small
            stacked="md"
            :items="employees"
            :fields="fieldsEmp"
            :current-page="currentPages"
            :per-page="perPages"
            :filter="filterEmp"
            @row-clicked="getEmployeeId"
          >
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{bottomLabels}}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPages"
                    :total-rows="totalRowss"
                    :per-page="perPages"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
        </b-row>
      </b-card>
    </b-modal>

    <b-modal
      ref="edit"
      header-bg-variant="success"
      header-text-variant="light"
      title="Update User"
      @hide="clearFields"
      @hidden="clearFields"
      no-close-on-backdrop
    >
      <b-form-group>
        <label>Name:</label>
        <b-form-input id="edit-namead" v-model="name" disabled></b-form-input>
      </b-form-group>
      <label>Role:</label>
      <b-form-select id="edit-reow" v-model="selectedRole" class="my-2">
        <option v-for="(role, i) in getActiveRoles" :key="i" :value="role.id">{{role.name}}</option>
      </b-form-select>
      <label>Group:</label>
      <b-form-select id="edit-adsdf" v-model="selectedDepartment" class="my-2">
        <option
          v-for="(department, i) in getActiveDepartments"
          :key="i"
          :value="department.id"
        >{{department.name}}</option>
      </b-form-select>
      <b-form-group>
        <label>Status:</label>
        <b-form-select id="dasdf" v-model="status" :options="OptStatus" class="my-2"></b-form-select>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button
          id="edited-users"
          size="sm"
          variant="success"
          @click="editUser()"
          style="font-size:13px"
        >Update</b-button>
        <b-button
          id="close-editedas"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="closeModal()"
        >Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      no-fade
      header-bg-variant="success"
      header-text-variant="light"
      ref="resetPasswordModal"
      title="Reset Employee Password"
      id="employee-reset-password-modal"
    >
      Are you sure you want to reset
      <strong>{{employee_id}}:{{name}}'s</strong>
      password?
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="resetPass"
          size="sm"
          variant="success"
          @click="resetEmployeePassword()"
          style="font-size:13px"
        >Reset</b-button>
        <b-button
          id="cancelPass"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="cancel()"
        >Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      no-fade
      header-bg-variant="success"
      header-text-variant="light"
      ref="resetPincodeModal"
      title="Reset Employee Pincode"
      id="employee-reset-pincode-modal"
    >
      Are you sure you want to reset
      <strong>{{employee_id}}:{{name}}'s</strong>
      pincode?
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="resetPin"
          size="sm"
          variant="success"
          @click="resetEmployeePincode()"
          style="font-size:13px"
        >Reset</b-button>
        <b-button
          id="closePin"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="cancel()"
        >Cancel</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  data() {
    return {
      filterEmp: null,
      isLicensed: false,
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      employee_id: "",
      id: null,
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      status: "",
      name: "",
      role: "",
      selectedRole: "",
      selectedDepartment: "",
      OptStatus: ["Active", "Inactive"],
      fields: [
        {
          key: "employee_id",
          label: "Employee ID",
          sortable: true
        },
        {
          key: "name",
          label: "Name",
          sortable: true
        },
        {
          key: "role",
          label: "Role",
          sortable: true
        },
        {
          key: "department",
          label: "Group",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      selectedRow: null,
      users: [],
      selectedIndex: null,
      rolesData: [],
      DepartmentsData: [],
      modalShow: false,
      employees: [],
      employeeId: null,
      fieldsEmp: [
        { key: "employee_id", label: "Employee Id", sortable: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "is_user", label: "Is Licensed", sortable: true }
      ],
      currentPages: 1,
      perPages: 10,
      totalRowss: 1,
    };
  },
  async created() {
    await this.getRoles();
    await this.getEmployees();
    await this.getDepartments();
    await this.getAllEmployees();
    this.totalRowss = this.employees.length;
  },
  mounted() {
    this.totalRowss = this.employees.length;
  },

  computed: {
    getActiveRoles() {
      return this.rolesData.filter(role => role.status == "Active");
    },
    getActiveDepartments() {
      return this.DepartmentsData.filter(
        department => department.status == "Active"
      );
    },
    usersFilter() {
      const users = this.users.filter(user => {
        const result =
          user.name.toLowerCase().match(this.filter) ||
          user.name.toUpperCase().match(this.filter) ||
          user.name.match(this.filter) ||
          user.employee_id.toString().match(this.filter);
        return result;
      });
      this.totalRows = users.length;

      return users;
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.usersFilter.length) {
        end = this.usersFilter.length;
      }
      if (this.usersFilter.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.usersFilter.length} entries`;
    },
    bottomLabels() {
      let end = this.perPages * this.currentPages;
      let start = end - this.perPages + 1;

      if (end > this.employees.length) {
        end = this.employees.length;
      }

      if (this.employees.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.employees.length} entries`;
    },
  },
  methods: {
    displayToast(action, data) {
      this.$bvToast.toast(`${action} ${data} `, {
        id: "toast-display-action",
        title: `Successfully ${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async getDepartments() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/departments`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.DepartmentsData = res.data.departments;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    getDepartment(department_id) {
      for (let i = 0; i < this.DepartmentsData.length; i++) {
        if (department_id == this.DepartmentsData[i].id) {
          return this.DepartmentsData[i].name;
          console.log(this.DepartmentsData[i].name);
        }
      }
    },
    async getRoles() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/roles`,
        data: {
          employee_id: employee.id,
          role: employee.role
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.rolesData = res.data;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    getRole(role_id) {
      for (let i = 0; i < this.rolesData.length; i++) {
        if (role_id == this.rolesData[i].id) {
          return this.rolesData[i].name;
        }
      }
    },

    async getEmployees() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/employees`,
        data: {
          employee_id: employee.id,
          role: employee.role
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.users = res.data.employees;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();

      this.id = row.item.id;
      this.name = row.item.name;
      this.selectedRole = row.item.role_id;
      this.selectedDepartment = row.item.department;
      this.status = row.item.status;
      this.employee_id = row.item.employee_id;
    },
    reset(row) {
      this.selectedIndex = row.index;
      this.$refs["resetPasswordModal"].show();

      this.id = row.item.id;
      this.name = row.item.name;
      this.employee_id = row.item.employee_id;
    },
    async resetEmployeePassword() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/employees/reset_password`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.id,
          employee_id: this.employee_id,
          updated_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.displaySuccessToast("Password Reset", this.name);
          this.$refs["resetPasswordModal"].hide();
        })
        .catch(err => {
          this.displayErrorToast(err.response.data);
        });
    },
    resetPincode(row) {
      this.selectedIndex = row.index;
      this.$refs["resetPincodeModal"].show();

      this.id = row.item.id;
      this.name = row.item.name;
      this.employee_id = row.item.employee_id;
    },

    async resetEmployeePincode() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/employees/update_pincode`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.id,
          reset_pincode: true,
          employee_id: this.employee_id,
          updated_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.displaySuccessToast("Pincode Reset", this.name);
          this.$refs["resetPincodeModal"].hide();
        })
        .catch(err => {
          console.log(err);
          this.displayErrorToast(err.response.data);
        });
    },
    async editUser(row) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/employees/update_employee`,
        data: {
          id: this.id,
          name: this.name,
          status: this.status,
          updated_by: employee.id,
          role_id: this.selectedRole,
          department: this.selectedDepartment,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // const userIndex = this.users.findIndex(user => user.id === this.id);
          // this.users.splice(userIndex, 1);
          // res.data.employee_id = this.employee_id;
          // this.users.unshift(res.data);
          this.displaySuccessToast("Updated user");
          this.getEmployees();
        })
        .catch(e => {
          this.displayErrorToast(e.response.data);
          // this.errMessage = e.response.data;
        });
      this.selectedIndex = null;
      this.$refs["edit"].hide();
      this.clearUser();
    },

    addModal() {
      this.$refs["add"].show();
    },

    // get integer from time
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    async addUser() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/employees/add_employee`,
        data: {
          employee_id: this.employee_id,
          app_emp_id: this.employeeId,
          created_by: employee.id,
          role_id: this.selectedRole.id,
          department: this.selectedDepartment,
          modules: employee.modules,
          status: "Active"
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // this.users.push(res.data[0]);
          this.displaySuccessToast("Added user");
        })
        .catch(e => {
          this.displayErrorToast(e.response.data);
        });

      this.$refs["add"].hide();
      this.clearUser();
    },
    async getAllEmployees() {
      try {
        this.employees = [];
        const employee = JSON.parse(localStorage.employee);
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/admin/sap-employees`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            employee_id: employee.id
          }
        });

        if (res.status == 200) {
          const data = res.data;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.employees.push({
              employee_id: e.empID,
              fullname: `${e.lastName}, ${e.firstName}`,
              is_user: e.userId ? "Yes" : "No"
            });
          }
          return;
        }
      } catch (e) {
        console.log("Error get all employees: ", e);
      }
    },
    async getEmployeeId(row) {
      try {
        const { employee_id, fullname, is_user } = row;
        this.name = fullname;
        this.employeeId = employee_id;

        if (is_user.toLowerCase() == "yes") {
          this.isLicensed = true;
        } else {
          this.isLicensed = false;
        }

        this.modalShow = false;
      } catch (e) {
        console.log("Error passing Employee ID: ", e);
      }
    },
    clearUser() {
      this.name = null;
      this.role = null;
      this.selectedDepartment = null;
      this.selectedRole = null;
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },
    clearFields() {
      this.name = null;
      this.selectedRole = null;
      this.employee_id = null;
    },
    displaySuccessToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `Operation failed.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    }
  }
};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
</style>
