<template>
  <div>
    <Loading v-if="showLoading" />

    <!-- <b-card> -->
    <div class="mx-auto" style="width: 40rem;">
      <b-card
        class="text-center ml-6"
        header="Transaction Details"
        header-bg-variant="success"
        header-text-variant="white"
      >
        <div>{{ transactionDetails.transactionDate }}</div>
        <div>
          <h4>{{ transactionDetails.supplierName }}</h4>
        </div>
        <div>{{ transactionDetails.company }}</div>
      </b-card>
    </div>

    <b-col></b-col>
    <div class="mx-auto">
      <b-card class="my-2 mr-2 ml-2" style="height:90%;">
        <b-row align-h="start" class="fixed my-3">
          <b-col>
            <b-button
              class="block ml-1 my-2"
              id="recon-endorse"
              size="sm"
              variant="success"
              @click="addPackage()"
              style="font-size:13px;border: 0px;margin-left: px;"
            >ADD PACKAGE</b-button>
          </b-col>
          <b-col cols="8">
            
          </b-col>
        </b-row>
        <center>
          <b-row align-h="center">
            <div class="text-center mt-3">
              <ul style="list-style: none;">
                <!-- <div v-if="!this.fieldRowName">
                  <h2>Add field</h2>
                </div> -->
                <li v-for="(value, k) in this.fieldRowName" :key="k">
                  <div small>
                    <b-row>
                      <b-col class="h7">
                        <label>{{fieldRowName[k]}}</label>
                      </b-col>

                      <b-col class="colpadding">
                        <b-form-input id="package" type="text" v-model="pack" placeholder="Package No/Lot. No"></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <b-form-input id="quantity" type="text" v-model="quantity" placeholder="Quantity"></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <b-form-input id="remarks" type="text" placeholder="Remarks"></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
              <Datepicker placeholder="Expiry Date" typeable="true"></Datepicker>
                      </b-col>

                      <b-col cols="1">
                        <b-button id="docu_remove" class="mb-2" @click="removeItem(k)">
                          <font-awesome-icon icon="minus" />
                        </b-button>
                      </b-col>
                    </b-row>
                  </div>
                </li>
              </ul>
            </div>
          </b-row>
        </center>
        <b-row align-h="end" class="fixed my-3 mt-2">
          <b-button
            class="mr-2  my-2 block"
            id="recon-endorse"
            size="sm"
            variant="success"
            @click="EndorseTest()"
            style="font-size:13px;margin-right: 10px;"
          >Save</b-button>
          <b-button
            class="block mr-4 my-2"
            id="cancel-recon"
            size="sm"
            @click="cancel1()"
            style="font-size:13px;border: 0px;margin-right: 10px;"
          >Cancel</b-button>
        </b-row>
      </b-card>


        <b-modal
      size="md"
      header-bg-variant="success"
      header-text-variant="light"
      body-bg-variant="light"
      footer-bg-variant="light"
      id="bv-modal-findUser"
      class="modal"
      hide-header-close
      no-close-on-backdrop
    >

             <b-col cols="12">
            <h6 class="mb-4  ml-1 mt-2 ">Add new field</h6>
            <b-card class="cardShadow" style="position:relative; bottom:14px">
              <small class="ml-1">New field</small>
              <b-form-input
                id="newField"
                type="text"
                v-model="fieldName"
                style="font-size:10px"
                required
                
              ></b-form-input>
            </b-card>

          </b-col>
        
        <template v-slot:modal-footer="{ }">
        <b-button
          id="cancel-add-account"
          size="sm"
          @click="ExitaddPackage()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          id="save-add-account"
          size="sm"
          variant="success"
          @click="SaveaddPackage()"
          style="font-size:13px"
          class="button"
          :disabled="showButtonLoading === true"
        ><b-spinner
          v-show="showButtonLoading === true"
          small
          label="Spinning"
        ></b-spinner>Save
        </b-button>
      </template> 
    </b-modal>


    </div>
  </div>
</template>

<script>
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";11
import Loading from "@/components/Loading/Loading";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
export default {
  components: {
    Datepicker
  },

  data() {
    return {
      showLoading: false,
      transactionDetails: {
        supplierName: "Alvin Joshua Subere",
        transactionDate: moment().format("DD MMM, YYYY"),
        company: "JBL Group of Companies",
        quantityList: [{}],
      },
      fieldName:null,
      fieldRowName:[],
      tobeView:[],
    };
  },

  async created() {},

  computed: {},

  methods: {

    
    removeItem(k){
      this.fieldRowName.splice(k,1)
    },

      ExitaddPackage() {
      this.$bvModal.hide("bv-modal-findUser")
    },


     async addPackage() {
      this.showLoading = true
      this.fieldName=null
      await this.$bvModal.show("bv-modal-findUser");
      this.showLoading = false
    },

    SaveaddPackage(){
      this.tobeView.push(this.fieldName)
      this.fieldRowName = this.tobeView
       this.$bvModal.hide("bv-modal-findUser")
    },


    
  }
};
</script>

<style>
.colpadding {
  padding-left: 0px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.vdp-datepicker * {
  box-sizing: border-box;
  width: 300px;
  /* padding: 2pt; */
}

.vdp-datepicker__calendar {
  width: 25rem;
}
.h7 {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  width: 100px;
  background-color: #00803e;
  color: white;
}
</style>
