<template>
  <div>
    <Loading v-if="showLoading" />
    <b-row>
      <b-col lg="4" md="5" sm="5" class="mb-2">
        <b-input-group size="sm">
          <b-form-input
            maxlength="10"
            type="search"
            placeholder="Search Pending Requests"
            id="search-all"
            v-model="filter"
            style="font-size:13px"
          ></b-form-input>
          <b-input-group-append>
            <b-button style="font-size:13px" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="min-width: 150px;"
            >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <!-- <b-col lg="3" sm="6" md="6">
        <b-input-group>
          <b-input-group-append>
            <b-button style="font-size:13px">Filter</b-button>
          </b-input-group-append>
          <b-form-select style="font-size:13px" v-model="filterActive" id="verified-filter">
            <option :value="``">All</option>
            <optgroup label="Status">
              <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
            </optgroup>
          </b-form-select>
        </b-input-group>
      </b-col>-->
    </b-row>
    <b-table
      hover
      style="font-size: 75%"
      class="mt-2"
      ref="trailtable"
      id="all-request-table"
      :per-page="perPage"
      :current-page="currentPage"
      :borderless="false"
      :empty-text="
        `There are no ${
          filterActive ? filterActive : 'transactions'
        } to display`
      "
      :items="getReports"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      :tbody-tr-class="rowClass"
      responsive
      show-empty
      selectable
      @row-selected="openModal"
    >
      <template v-slot:table-caption>{{ ShowingEntries }}</template>
      <template class="font_badge" v-slot:cell(status)="row">
        <div
          class="badge font-badge"
          v-if="
            row.item.status[0].name === 'Sampling' ||
              row.item.status[0].name === 'Analysis'
          "
        >
          <b-badge style="font-size: 12px" pill variant="secondary">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="
            row.item.status[0].name === 'For Outbound' ||
              row.item.status[0].name === 'Analysis-Done' ||
              row.item.status[0].name === 'Analysis-Approved' ||
              row.item.status[0].name === 'Analysis-Verified'
          "
        >
          <b-badge style="font-size: 12px" pill variant="success">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div
          class="badge font-badge"
          v-else-if="
            row.item.status[0].name === 'Analysis-Disapproved' ||
              row.item.status[0].name === 'For Reconsideration' ||
              row.item.status[0].name === 'Analysis-Rejected' ||
              row.item.status[0].name === 'Rejected-Verified' ||
              row.item.status[0].name === 'Rejected-Approved'
          "
        >
          <b-badge style="font-size: 12px" pill variant="danger">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div class="badge font-badge" v-else-if="row.item.status[0].name === 'Quality Control'">
          <b-badge pill variant="dark">{{ row.item.status[0].name }}</b-badge>
        </div>
        <div class="badge font-badge" v-else>
          <b-badge style="font-size: 12px" pill variant="dark">{{ row.item.status[0].name }}</b-badge>
        </div>
      </template>
      <template class="font_badge" v-slot:cell(date)="row">{{ formatDate(row.item.created_at) }}</template>
      <template class="font_badge" v-slot:cell(receipt)="row">{{ row.item.delivery_receipt_id }}</template>
      <template class="font_badge" v-slot:cell(type)="row">{{ row.item.transaction_type[0].name }}</template>
      <template class="font_badge" v-slot:cell(code)="row">{{ row.item.supplier_code }}</template>
      <template class="font_badge" v-slot:cell(supplier)="row">{{ row.item.supplier_name }}</template>
      <template class="font_badge" v-slot:cell(address)="row">{{ row.item.supplier_address }}</template>
      <template class="font_badge" v-slot:cell(driver)="row">{{ row.item.driver_name }}</template>
      <template class="font_badge" v-slot:cell(plate)="row">{{ row.item.plate_number }}</template>
      <template
        class="font_badge"
        v-slot:cell(item)="row"
      >{{ row.item.bir[0].items[0].description }}</template>
      <template class="font_badge" v-slot:cell(bags)="row">{{ row.item.no_of_bags }}</template>
      <template v-slot:cell(actions)="row">
        <b-button
          id="createDRddd"
          size="sm"
          style="background-color:#00805e; border:0px;font-size: 13px"
          block
          v-if="!row.item.delivery_receipt_id"
          @click="createDRModal(row)"
        >Receipt</b-button>

        <!-- <b-button
          id="endorseTrans"
          size="sm"
          style="font-size: 13px"
          variant="success"
          block
          v-if="row.item.status[0].name === 'Analysis-Approved' && row.item.delivery_receipt_id !=null && row.item.weight"
          @click="endorseModal(row)"
        >Endorse</b-button>-->

        <b-button
          id="tagPO"
          size="sm"
          style="background-color:black; border: 0px;font-size: 13px"
          block
          v-if="
            (row.item.status[0].name === 'Rejected-Approved' ||
              row.item.status[0].name === 'Analysis-Approved' ||
              row.item.status[0].name === 'Quality Control-Passed' ||
              row.item.status[0].name === 'Unloading' ||
              row.item.status[0].name === 'Unloaded') &&
              row.item.delivery_receipt_id != null &&
              row.item.purchase_order_id == null
          "
          @click="tagPOModal(row)"
        >Purchase Order</b-button>

        <b-button
          id="EditTrans"
          v-if="
            row.item.status[0].name !== 'Inbound' &&
              row.item.status[0].name !== 'Quality Control'
          "
          size="sm"
          style="font-size: 13px; background-color:E5E4E2"
          block
          @click="editModal(row)"
        >Edit</b-button>

        <b-button
          id="addGRPO"
          size="sm"
          style="font-size: 13px; background-color:#3C6C64; border: 0px"
          variant="success"
          block
          v-if="
            hasOutbound(row.item.weight) &&
              row.item.po_details &&
              row.item.status[0].name == 'For Outbound'
          "
          @click="grpoModal(row)"
        >GRPO</b-button>

        <b-button
          id="viewPODC"
          size="sm"
          style="font-size: 13px;"
          variant="success"
          block
          v-if="row.item.po_details && row.item.status[0].name != 'Completed'"
          @click="viewPO(row.item)"
        >View PO</b-button>
      </template>
    </b-table>

    <b-col cols="6" offset="1" class="my-1 mt-3">
      <b-pagination
        pills
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="right"
        size="sm"
      ></b-pagination>
    </b-col>

    <!-- Add Purchase Order -->
    <b-modal
      no-fade
      class="modal-xl"
      ref="addPO"
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
      no-close-on-backdrop
      @close="closepo()"
      @cancel="closepo()"
    >
      <template v-slot:modal-title>
        <h5>ADD PURCHASE ORDER</h5>
      </template>

      <b-row>
        <b-col cols="4">
          <h6 class="mb-3">Transaction Details</h6>
          <hr />

          <b-card>
            <b-row>
              <b-col cols="12">
                <b-form>
                  <small>
                    Supplier:
                    <b class="mb-2" style="text-decoration: underline;">{{ supplier }}</b>
                  </small>
                </b-form>
                <div class="text-center" small>
                  <vue-bootstrap-typeahead
                    id="supplier_name1"
                    v-model="supplier_po"
                    :data="supplierList"
                    required
                    @hit="getPO()"
                    style="font-size:11px"
                  />
                  <!-- <b-form-select id="supplier_name1" size="sm" style="font-size:10px">
                    <option :value="null" disabled>Select Supplier</option>
                    <option
                      :value="supplier.CardCode"
                      v-for="(supplier, i) in supplierList"
                      :key="i"
                    >{{ supplier.CardName }}</option>
                  </b-form-select>-->
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <small>
                  Address:
                  <b class="mb-2" style="text-decoration: underline;">{{ address }}</b>
                </small>
                <b-form-input id="address132" v-model="address_po" style="font-size:11px"></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Farmer Name</small>
                <b-form-input
                  id="farmer_name1"
                  v-model="farmer_po"
                  disabled
                  required
                  style="font-size:11px"
                ></b-form-input>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="3">
                <small class="ml-1">QTY</small>
                <b-form-input id="approved_bysa" v-model="quantity_po" style="font-size:11px"></b-form-input>
              </b-col>
              <b-col cols="9">
                <small class="ml-1">Item</small>
                <b-form-input id="address132" v-model="item_po" size="sm" style="font-size:11px"></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Approved By</small>
                <b-form-input
                  id="approved_bysa"
                  v-model="approved_po"
                  disabled
                  style="font-size:11px"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
        <div style="width:2px;background:#c2c2c2;"></div>
        <b-col>
          <h6 class="mb-3">List of Purchase Order</h6>
          <b-card>
            <b-row>
              <b-col cols="5">
                <b-input-group size="sm">
                  <b-form-input type="search" id="filterInput" placeholder="Search"></b-form-input>
                  <b-input-group-append>
                    <b-button size="sm" id="filter" :disabled="!filter">Clear</b-button>
                  </b-input-group-append>&nbsp;
                </b-input-group>
              </b-col>

              <!-- DateRange Picker -->
              <b-col lg="7" md="5" sm="5" class="mb-2">
                <b-input-group size="sm" prepend="Date">
                  <date-range-picker
                    ref="picker"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    v-model="datePickerTable"
                    @update="updateValuesTable"
                  >
                    <div slot="input" style="min-width: 100px; min-height: 20px">
                      {{ datePickerTable.startDate }} -
                      {{ datePickerTable.endDate }}
                    </div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDateTable" id="date-reset">Reset</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-table
                  class="my-table"
                  id="modalAddPO-table"
                  style="font-size:12px; background-color: #fff"
                  scrollable="true"
                  selectedVariant="success"
                  headVariant="light"
                  empty-text="There are no purchase order to display"
                  :fields="PurchaseOrderFields"
                  :tbody-tr-class="rowClass"
                  :items="po_items"
                  no-border-collapse
                  show-empty
                  sticky-header
                  selectable
                  ref="po_table"
                  @row-selected="selectItem"
                  responsive
                >
                  <template v-slot:cell(item)="row">
                    <span v-for="(item, index) in row.item.DocumentLines" :key="index">
                      {{ item.ItemDescription }}
                      <span v-if="row.item.DocumentLines[index + 1]">,</span>
                    </span>
                  </template>
                  <template v-slot:cell(quantity)="row">
                    <span v-for="(item, index) in row.item.DocumentLines" :key="index">
                      {{ item.Quantity }}
                      <span v-if="row.item.DocumentLines[index + 1]">,</span>
                    </span>
                  </template>
                  <template v-slot:cell(action)="row">
                    <b-button
                      id="view_PO"
                      size="sm"
                      variant="success"
                      block
                      @click="openPODetail(row.item)"
                    >
                      <font-awesome-icon style="color:white" icon="eye" small />
                    </b-button>
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          :disabled="selectedPO == null"
          size="sm"
          variant="success"
          @click="tagPO()"
          style="font-size:13px"
        >Add Purchase Order</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>

    <!-- View PO -->
    <b-modal
      no-fade
      id="modal-multi-openPO"
      ref="viewPO"
      title="Purchase Order Details"
      header-bg-variant="success"
      header-text-variant="light"
      size="lg"
    >
      <b-card style="width:38rem;margin-left: auto;margin-right: auto " v-if="rowData">
        <b-row class="text-center">
          <b-col cols="12">
            <div>
              <h5>BIOTECH FARMS, INC.</h5>
              <div
                class="mb-1"
                style="position:relative;bottom:13px; font-size:13px"
              >Brgy. Dumadalig, Tantangan, South Cotabato</div>
            </div>
            <br />
            <b style="position:relative;bottom:28px">
              Purchase Order
              <strong>{{ rowData.DocNum }}</strong>
            </b>
          </b-col>
        </b-row>
        <b-row>
          <b-col align-h="start" cols="6" class="mr-1 mb-2">
            <div style="font-size:15px;text-transform: uppercase">
              <b>{{ rowData.CardName }}</b>
            </div>
            <div style="text-decoration: underline;font-size:12px">{{ rowData.Address }}</div>
          </b-col>
          <b-col style="font-size:12px" align-h="end" class="mr-1 mb-2 text-right">
            <div class="mb-2">Date:&nbsp;{{ rowData.DocumentLines[0].ShipDate }}</div>
          </b-col>
        </b-row>​
        <!-- Content -->
        <table style="font-size:12px" class="b-table table table-bordered table-striped">
          <tr>
            <th class="borders">#</th>
            <th class="borders">Item</th>
            <th class="borders">Quantity</th>
            <th class="borders">Price</th>
            <th class="borders">Total</th>
          </tr>
          <tr v-for="(item, index) in rowData.DocumentLines" :key="index">
            <td class="td1">{{ item.LineNum }}</td>
            <td class="td1">{{ item.ItemDescription }}</td>
            <td class="td1">{{ item.Quantity }}</td>
            <td class="td1">₱ {{ formatMoney(item.Price) }}</td>
            <td class="td1">₱ {{ formatMoney(item.GrossTotal) }}</td>
          </tr>
        </table>

        <b-row>
          <b-col class="text-right">
            <b>TOTAL AMOUNT:</b>
            <b>₱ {{ total_amount }}</b>
          </b-col>
        </b-row>
        <br />
        <br />
        <br />​
        <br />
        <b-row align-h="start" class="ml-2">
          <div>By:</div>&nbsp;
          <div class="mb-2" style="text-decoration: underline;">Jocelyn Siman</div>
        </b-row>
        <b-row>
          <span class="signature ml-4">Authorized Signature</span>
        </b-row>​
      </b-card>

      <template v-slot:modal-footer>
        <b-button
          id="back_po"
          size="sm"
          @click="viewPoModal()"
          style="font-size:13px;border: 0px;"
        >Back</b-button>
      </template>
    </b-modal>

    <!-- GRPO Modal -->
    <b-modal
      no-fade
      ref="viewGRPO"
      title="Goods Receipt Purchase Order"
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <b-row v-if="selected_transaction">
        <!-- GRPO -->
        <b-col>
          <b-row>
            <b-card style="width:31rem;margin-left: auto;margin-right: auto ">
              <b-row class="text-center">
                <b-col cols="12">
                  <div>
                    <h5>BIOTECH FARMS, INC.</h5>
                    <div
                      class="mb-1"
                      style="position:relative;bottom:13px; font-size:13px"
                    >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                  </div>
                  <br />
                  <b style="position:relative;bottom:28px">GOOD RECEIPTS PURCHASE ORDER</b>
                </b-col>
              </b-row>
              <b-row>
                <b-col align-h="start" cols="6" class="mr-1 mb-2">
                  <div style="font-size:15px;text-transform: uppercase">
                    <b>{{ selected_transaction.po_details[0].CardName }}</b>
                  </div>
                  <div
                    style="text-decoration: underline;font-size:12px"
                  >{{ selected_transaction.po_details[0].Address }}</div>
                </b-col>
                <b-col style="font-size:12px" align-h="end" class="mr-1 mb-2 text-right">
                  <div class="mb-2">
                    Date:&nbsp;{{
                    selected_transaction.po_details[0].DocumentLines[0]
                    .ShipDate
                    }}
                  </div>
                </b-col>
              </b-row>​
              <!-- Content -->
              <table style="font-size:12px" class="b-table table table-bordered table-striped">
                <tr>
                  <th class="borders">Line</th>
                  <th class="borders">Item</th>
                  <th class="borders">Quantity</th>
                  <th class="borders">UOM</th>
                  <th class="borders">Remarks</th>
                </tr>
                <tr>
                  <td class="td1">
                    {{
                    selected_transaction.po_details[0].DocumentLines[0]
                    .LineNum
                    }}
                  </td>
                  <td class="td1">
                    {{
                    selected_transaction.po_details[0].DocumentLines[0]
                    .ItemDescription
                    }}
                  </td>
                  <td class="td1">
                    {{
                    selected_transaction.po_details[0].DocumentLines[0]
                    .Quantity
                    }}
                  </td>
                  <td class="td1">Kilograms</td>
                  <td class="td1"></td>
                </tr>
              </table>

              <br />
              <br />
              <br />​
              <br />
              <b-row>
                <b-col>
                  <b-row align-h="start" class="ml-2">
                    <div style="font-size:12px">
                      <b>Received By:</b>
                    </div>&nbsp;
                  </b-row>
                  <b-row align-h="start">
                    <div style="font-size:12px">
                      <b>Report Date:</b>Jan 2,2020
                    </div>
                  </b-row>​
                  <b-row align-h="start">
                    <div style="font-size:12px"></div>
                  </b-row>​
                </b-col>
                <b-col>
                  <b-row align-h="center">
                    <div style="font-size:12px">
                      <b>Checked By:</b>
                    </div>&nbsp;
                  </b-row>
                  <b-row align-h="center">
                    <div style="font-size:12px"></div>
                  </b-row>​
                </b-col>
                <b-col>
                  <b-row align-h="end" class="mr-2">
                    <div style="font-size:12px">
                      <b>Approved By:</b>
                    </div>&nbsp;
                  </b-row>
                  <b-row align-h="end">
                    <div style="font-size:12px">
                      <b>Generated By:</b>Rachelle Eduria
                    </div>
                  </b-row>​
                  <b-row align-h="end">
                    <div style="font-size:12px"></div>
                  </b-row>​
                </b-col>
              </b-row>
            </b-card>
          </b-row>
          <!-- WEIGHT SLIP -->
          <b-row class="mt-2" v-if="selected_transaction">
            <b-col>
              <b-card style="width:31rem;margin-left: auto;margin-right: auto " ref="testHtml">
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <b-img src="/biotechfarms.jpg" style="width:200px;height:75px" center />
                    </div>
                    <b>WEIGHT SLIP</b>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-row class="mt-2" align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Ticket No :</b>
                      </b-col>
                      <b-col cols="7">
                        <span
                          style="text-transform: uppercase;"
                        >{{ selected_transaction.weight[0].id }}</span>
                      </b-col>
                    </b-row>
                    <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Customer :</b>
                      </b-col>
                      <b-col cols="7">
                        <span
                          style="text-transform: uppercase;"
                        >{{ selected_transaction.po_details[0].CardName }}</span>
                      </b-col>
                    </b-row>
                    <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Address</b>
                      </b-col>
                      <b-col cols="7">
                        <span
                          style="text-transform: uppercase;"
                        >{{ selected_transaction.po_details[0].Address }}</span>
                      </b-col>
                    </b-row>
                    <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Commodity</b>
                      </b-col>
                      <b-col cols="7">
                        <span
                          style="text-transform: uppercase;"
                        >{{ selected_transaction.weight[0].items }}</span>
                      </b-col>
                    </b-row>
                    <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Plate No</b>
                      </b-col>
                      <b-col cols="7">
                        <span
                          style="text-transform: uppercase;"
                        >{{ selected_transaction.weight[0].plate_number }}</span>
                      </b-col>
                    </b-row>
                    <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Driver</b>
                      </b-col>
                      <b-col cols="7">
                        <span
                          style="text-transform: uppercase;"
                        >{{ selected_transaction.weight[0].driver_name }}</span>
                      </b-col>
                    </b-row>
                    <!-- <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>Weigher</b>
                      </b-col>
                      <b-col cols="7">
                        <span style="text-transform: uppercase;">{{
                          selected_transaction.weight[0].OB_WEIGHER
                        }}</span>
                      </b-col>
                    </b-row>-->
                    <!-- <b-row align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>No. of Bags</b>
                      </b-col>
                      <b-col cols="7">
                        <span style="text-transform: uppercase;">{{
                          selected_transaction.weight[0].U_TS_NUM_BAGS
                        }}</span>
                      </b-col>
                    </b-row>-->
                  </b-col>
                  <b-col class="mt-5">
                    <b-row class="mt-1" align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>INBOUND WEIGHT:</b>
                      </b-col>
                      <b-col class="mb-4" cols="7">
                        <b-row>
                          <b-col
                            cols="12"
                            v-for="(item, index) in selected_transaction
                              .weight[0].weights"
                            :key="index"
                          >
                            <span style="text-transform: uppercase;">{{ item.ibWeight }} kg</span>
                          </b-col>
                          <b-col>
                            <span style="text-transform: uppercase;"></span>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                    <b-row class="mt-1" align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>OUTBOUND WEIGHT:</b>
                      </b-col>
                      <b-col class="mb-4" cols="7">
                        <b-row>
                          <b-col
                            cols="12"
                            v-for="(item, index) in selected_transaction
                              .weight[0].weights"
                            :key="index"
                          >
                            <span style="text-transform: uppercase;">{{ item.obWeight }} kg</span>
                          </b-col>
                          <b-col>
                            <span style="text-transform: uppercase;"></span>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                    <b-row class="mt-1" align-h="center" style="font-size:12px">
                      <b-col cols="5">
                        <b>NET WEIGHT:</b>
                      </b-col>
                      <b-col class="mb-4" cols="7">
                        <b-row>
                          <b-col
                            cols="12"
                            v-for="(item, index) in selected_transaction
                              .weight[0].weights"
                            :key="index"
                          >
                            <span style="text-transform: uppercase;">{{ item.netWeight }} kg</span>
                          </b-col>
                          <b-col>
                            <span style="text-transform: uppercase;"></span>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-col>

        <b-col>
          <!-- MICRO ATTACHMENT -->
          <b-row
            v-if="
              selected_transaction.bir[0].raw_materials[0].description ==
                'Micro'
            "
          >
            <b-card bg-variant="light" style="width:31rem;margin-left: auto;margin-right: auto ">
              <b-row class="text-center">
                <b-col cols="12">
                  <h5>
                    <b>ATTACH DOCUMENTS</b>
                  </h5>
                </b-col>
              </b-row>
              <b-row class="mt-2">
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name">Certificate of Analysis</label>
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="certificateOfAnalysis"
                    id="claimer-select-img"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">
                        {{
                        names[0]
                        }}
                      </b-badge>
                    </template>
                  </b-form-file>
                </b-col>
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name">Bill of Landing</label>
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="billOfLanding"
                    id="claimer-select-SPA"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">
                        {{
                        names[0]
                        }}
                      </b-badge>
                    </template>
                  </b-form-file>
                </b-col>
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name">Notice of Arrival</label>
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="noticeOfArrival"
                    id="claimer-select-SPA"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">
                        {{
                        names[0]
                        }}
                      </b-badge>
                    </template>
                  </b-form-file>
                </b-col>
                <b-col cols="8">
                  <b>
                    <label>COA Number</label>
                  </b>
                  <b-form-input v-model="coaNumber" type="number"></b-form-input>
                </b-col>
              </b-row>
            </b-card>
          </b-row>

          <!-- MACRO ATTACHMENT -->
          <!-- <b-row
            v-if="
              selected_transaction.bir[0].raw_materials[0].description ==
                'Macro'
            "
          >
            <b-card
              bg-variant="light"
              style="width:31rem;margin-left: auto;margin-right: auto "
            >
              <b-row class="text-center">
                <b-col cols="12">
                  <h5><b>ATTACH DOCUMENTS</b></h5>
                </b-col>
              </b-row>
              <b-row class="mt-2">
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name"
                        >Raw Material Assessment Form</label
                      >
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="rawMaterialForm"
                    id="claimer-select-RMAF"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">{{
                        names[0]
                      }}</b-badge>
                    </template>
                  </b-form-file>
                </b-col>
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name"
                        >Deduction Receipt</label
                      >
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="deductionReceipt"
                    id="claimer-select-DR"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">{{
                        names[0]
                      }}</b-badge>
                    </template>
                  </b-form-file>
                </b-col>
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name"
                        >Rejection Receipt</label
                      >
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="rejectionReceipt"
                    id="claimer-select-RR"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">{{
                        names[0]
                      }}</b-badge>
                    </template>
                  </b-form-file>
                </b-col>
                <b-col cols="8">
                  <div style="font-size:12px">
                    <b>
                      <label for="employee-input-f-name">Weight Slip</label>
                    </b>
                  </div>
                  <b-form-file
                    size="sm"
                    v-model="weightSlip"
                    id="claimer-select-WS"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, application/pdf"
                    class="mb-3"
                    ref="file-input"
                    required
                  >
                    <template slot="file-name" slot-scope="{ names }">
                      <b-badge style="font-size:10px" variant="success">{{
                        names[0]
                      }}</b-badge>
                    </template>
                  </b-form-file>
                </b-col>
              </b-row>
            </b-card>
          </b-row>-->
          <!-- end attachements -->

          <!-- DEDUCTION SLIP  -->
          <b-row class="mt-2" v-if="prefix !== 'BGW'">
            <b-col v-if="isMicro == false">
              <b-card bg-variant="light" style="width:31rem;margin-left: auto;margin-right: auto ">
                <b-row class="text-center">
                  <b-col cols="12">
                    <b>DEDUCTION RECEIPT</b>
                  </b-col>
                </b-row>
                <b-row class="mt-2" align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Date :</b>
                  </b-col>
                  <b-col cols="7">
                    <b
                      style="text-decoration: underline;"
                    >{{ formatDate(selected_transaction.created_at) }}</b>
                  </b-col>
                </b-row>
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Supplier :</b>
                  </b-col>
                  <b-col cols="7">
                    <b
                      style="text-decoration: underline;"
                    >{{ selected_transaction.po_details[0].CardName }}</b>
                  </b-col>
                </b-row>
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Commodity :</b>
                  </b-col>
                  <b-col class="mb-4" cols="7">
                    <b style="text-decoration: underline;">
                      {{
                      selected_transaction.po_details[0].DocumentLines[0]
                      .ItemDescription
                      }}
                    </b>
                  </b-col>
                </b-row>
                <table style="font-size:12px" class="b-table table table-bordered table-striped">
                  <tr>
                    <th class="borders">Criteria</th>
                    <th class="borders">Quantity</th>
                    <th class="borders">Deductions</th>
                    <th class="borders">Total(kg)</th>
                  </tr>
                  <tr
                    v-for="(item, index) in selected_transaction.deductions
                      .deductionReceipts.listDeductionCriteria"
                    :key="index"
                  >
                    <td class="td1">{{ item.criteria_desc }}</td>
                    <td class="td1">{{ item.quantity }}</td>
                    <td class="td1">{{ item.deduction }}</td>
                    <td class="td1">{{ item.total }}</td>
                  </tr>
                </table>
              </b-card>
            </b-col>
          </b-row>

          <!-- micro packages -->
          <b-row
            v-if="
              selected_transaction.bir[0].raw_materials[0].description ==
                'Micro'
            "
          >
            <b-card style="width:31rem;margin-left: auto;margin-right: auto ">
              <b-row class="text-center">
                <b-col cols="12">
                  <div>
                    <b-img src="/biotechfarms.jpg" style="width:200px;height:75px" center />
                  </div>
                  <b>MICRO PACKAGES</b>
                </b-col>
              </b-row>
              <b-row class="mt-2">
                <!-- table -->
                <table style="font-size:12px" class="b-table table table-bordered table-striped">
                  <tr>
                    <th class="borders" title="Item">Index</th>
                    <th class="borders" title="Item">Item</th>
                    <th class="borders" title="Package Number">Package No.</th>
                    <th class="borders" title="Total Quantity">
                      Total Qty
                      <br />
                    </th>
                    <th class="borders" title="Unit of measurment">UoM</th>
                    <th class="borders" title="Lot Number">Lot no.</th>
                  </tr>
                  <!-- testing -->
                  <tr v-for="(i, index) in microPackages" :key="index">
                    <td class="td1">{{indexPlusOne(index)}}</td>
                    <td class="td1">{{i.itemDesc}}</td>
                    <td class="td1">{{i.itemCode}}</td>
                    <td class="td1">{{i.qty}}</td>
                    <td class="td1">{{i.remarks}}</td>
                    <td class="td1">{{arrayToString(i.lotNum)}}</td>
                  </tr>
                </table>
                <br />
                <br />
                <table style="font-size:12px" class="b-table table table-bordered table-striped">
                  <tr>
                    <th class="borders" title="Item">Index</th>
                    <th class="borders" title="Quantity to be received">Qty Received</th>
                    <th class="borders" title="Converted Unit of measurment">Converted UoM</th>
                    <th class="borders" title="Expiry Date">Expiry Date</th>
                    <th class="borders" title="Manufacture Date">Manufacture Date</th>
                  </tr>
                  <!-- testing -->
                  <tr v-for="(i, index) in microPackages" :key="index">
                    <td class="td1">{{indexPlusOne(index)}}</td>
                    <td class="td1">{{i.totalreceive}}</td>
                    <td class="td1">{{i.qty_converted}}</td>
                    <td class="td1">{{dateOnly(i.expiry_date)}}</td>
                    <td class="td1">{{dateOnly(i.manifactureDate)}}</td>
                  </tr>
                </table>
                <br />
                <br />
                <table style="font-size:12px" class="b-table table table-bordered table-striped">
                  <tr>
                    <th class="borders" title="Item">Index</th>
                    <th class="borders" title="Total Received">Total Received</th>
                    <th class="borders" title="Rejected">Rejected</th>
                    <th class="borders" title="Reason of Rejection">Reason</th>
                  </tr>
                  <!-- testing -->
                  <tr v-for="(i, index) in microPackages" :key="index">
                    <td class="td1">{{indexPlusOne(index)}}</td>
                    <td class="td1">{{i.totalreceive}}&nbsp;{{i.uom_converted}}</td>
                    <td class="td1">{{i.rejected}}</td>
                    <td class="td1">{{nullUndefined(i.reason_reject)}}</td>
                  </tr>
                </table>
                <!-- end  table -->
              </b-row>
            </b-card>
          </b-row>
          <!-- end micro packages -->
        </b-col>
      </b-row>
      <template v-slot:modal-footer>
        <b-button
          id="receive-delivery"
          size="sm"
          variant="success"
          style="font-size:13px;border: 0px;"
          @click="endorseGRPOModal()"
        >Endorse</b-button>
        <b-button
          id="back_grpo"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="viewPoModal()"
        >Back</b-button>
      </template>
    </b-modal>

    <!-- Edit Delivery Modal -->
    <b-modal
      no-fade
      ref="edit"
      title="Edit Transaction Details"
      header-bg-variant="success"
      header-text-variant="light"
      size="lg"
    >
      <b-card bg-variant="light">
        <b-row>
          <b-col cols="6">
            <h4>Delivery Details</h4>
          </b-col>
          <b-row>
            <b-col>
              <h5>Date:</h5>
            </b-col>
            <b-col cols="8">
              <b-form-input class="input" v-model="date" style="font-size:15px" disabled></b-form-input>
            </b-col>
          </b-row>
        </b-row>
        <hr />
        <b-row>
          <b-col cols="6">
            <small class="ml-1">Supplier Name:</small>
            <b-form-input v-model="supplier" style="font-size:15px"></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Supplier Code:</small>
            <b-form-input v-model="code" disabled style="font-size:15px"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <small class="ml-1">Address:</small>
            <b-form-input v-model="address" style="font-size:15px"></b-form-input>
          </b-col>
        </b-row>

        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">Plate no:</small>
            <b-form-input v-model="plate" style="font-size:15px"></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Item:</small>
            <b-form-input v-model="item" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">Driver's Name:</small>
            <b-form-input v-model="driver" style="font-size:15px"></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">No. of bags:</small>
            <b-form-input v-model="bags" type="number" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>
      </b-card>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="edit()" style="font-size:13px">Update</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>

    <!-- Endorse Delivery Modal -->
    <b-modal
      no-fade
      title="Endorse Delivery"
      ref="endorse"
      header-bg-variant="success"
      header-text-variant="light"
      size="lg"
    >
      <b-card bg-variant="light">
        <b-row>
          <b-col cols="6">
            <h4>Delivery Details</h4>
          </b-col>
          <b-row>
            <b-col>
              <h5>Date:</h5>
            </b-col>
            <b-col cols="8">
              <b-form-input class="input" v-model="date" style="font-size:15px" disabled></b-form-input>
            </b-col>
          </b-row>
        </b-row>
        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">Delivery Receipt:</small>
            <b-form-input v-model="receipt" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="6">
            <small class="ml-1">Supplier:</small>
            <b-form-input v-model="supplier" style="font-size:15px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Supplier Code:</small>
            <b-form-input v-model="code" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <small class="ml-1">Address:</small>
            <b-form-input v-model="address" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>

        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">Driver's Name:</small>
            <b-form-input v-model="driver" style="font-size:15px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Plate no:</small>
            <b-form-input v-model="plate" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">Item:</small>
            <b-form-input v-model="item" style="font-size:15px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">No. of bags:</small>
            <b-form-input v-model="bags" type="number" style="font-size:15px" disabled></b-form-input>
          </b-col>
        </b-row>
      </b-card>
      <br />

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="edit()" style="font-size:13px">Endorse</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>

    <!-- Create DR Modal -->
    <b-modal
      no-fade
      ref="dr"
      header-bg-variant="success"
      header-text-variant="light"
      title="Generated Delivery Receipt"
    >
      <center>
        <b-form-group label="Delivery Receipt:" label-for="name-input">
          <b-form-input v-model="receipt" type="number" size="sm"></b-form-input>
        </b-form-group>
      </center>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="createDR()" style="font-size:13px">Create</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>

    <!-- Track Delivery Modal -->
    <b-modal
      ref="trail"
      size="lg"
      header-text-variant="light"
      header-bg-variant="success"
      id="bv-modal-row"
      class="modal"
      hide-footer
      scrollable
      no-close-on-backdrop
      @hidden="clear()"
      @close="clear()"
      @cancel="clear()"
    >
      <template v-slot:modal-title>
        <h5>Delivery Trail</h5>
      </template>
      <!--modal container-->
      <div class="container py-0 mb-1" v-for="(item, index) in transaction_trail" :key="index">
        <div class="row" v-if="index == 0">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span v-if="!item.end_time" class="badge badge-pill bg-success">
                <font-awesome-icon style="color:white" icon="check-double" />
              </span>
              <span v-else class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col">
            <div v-if="!item.end_time" class="card border-success shadow">
              <div class="card-body">
                <h4 class="float-left card-title text-success">
                  <strong>{{ getStatus(item.status_id) }}</strong>
                </h4>
                <br />
                <br />
                <h6 class="float-left">Date started: {{ getTimestamp(item.start_time) }}</h6>
                <br />
                <br />
                <h6 class="float-left">Date ended: {{ getTimestamp(item.end_time) }}</h6>
                <b
                  class="float-right text-success card-text mt-5"
                >Updated By : {{ getUpdater(item) }}</b>
              </div>
            </div>
            <div v-else class="card">
              <div class="card-body">
                <h4 class="float-left card-title text-success">{{ getStatus(item.status_id) }}</h4>
                <br />
                <br />
                <h6 class="float-left">Date started: {{ getTimestamp(item.start_time) }}</h6>
                <br />
                <br />
                <h6 class="float-left s">Date ended: {{ getTimestamp(item.end_time) }}</h6>
                <b
                  class="float-right text-success card-text mt-5"
                >Updated By : {{ getUpdater(item) }}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span v-if="!item.end_time" class="badge badge-pill bg-success">
                <font-awesome-icon style="color:white" icon="check-double" />
              </span>
              <span v-else class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col">
            <div v-if="!item.end_time" class="card border-success shadow">
              <div class="card-body">
                <h4 class="float-left card-title text-success">
                  <strong>{{ getStatus(item.status_id) }}</strong>
                </h4>
                <br />
                <br />
                <h6 class="float-left">Date started: {{ getTimestamp(item.start_time) }}</h6>
                <br />
                <br />
                <h6 class="float-left">Date ended: {{ getTimestamp(item.end_time) }}</h6>
                <b
                  class="float-right text-success card-text mt-5"
                >Updated By : {{ getUpdater(item) }}</b>
              </div>
            </div>
            <div v-else class="card">
              <div class="card-body">
                <h4 class="float-left card-title text-success">{{ getStatus(item.status_id) }}</h4>
                <br />
                <br />
                <h6 class="float-left">Date started: {{ getTimestamp(item.start_time) }}</h6>
                <br />
                <br />
                <h6 class="float-left">Date ended: {{ getTimestamp(item.end_time) }}</h6>
                <b
                  class="float-right text-success card-text mt-5"
                >Updated By : {{ getUpdater(item) }}</b>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 5 -->

        <!--/row-->
      </div>
      <!--container-->
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import Loading from "@/components/Loading/Loading";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import moment from "moment";
import https from "https";
import jsPDF from "jspdf";
import html2canvas from "html2canvas";

export default {
  components: {
    DateRangePicker,
    VueBootstrapTypeahead,
    Loading
  },
  data() {
    return {
      status: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      datePickerTable: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      certificateOfAnalysis: null,
      noticeOfArrival: null,
      billOfLanding: null,

      rawMaterialForm: null,
      deductionReceipt: null,
      rejectionReceipt: null,
      weightSlip: null,

      id: null,
      date: "",
      receipt: "",
      type: "",
      address: "",
      code: "",
      plate: "",
      supplier: "",
      driver: "",
      item: "",
      bags: "",
      bir_id: null,
      status_id: null,
      truck_info_id: null,
      transaction_type_id: null,
      driver_id: null,
      guard_on_duty: "",
      time_end: null,
      updated_by: "",

      selectedIndex: null,
      poSelectedIndex: null,

      options: ["Delivery", "Withdrawal"],

      receipt2: null,

      selectedRow: null,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      showDismissibleAlert: false,
      getReports: [],
      sortDesc: false,
      filter: "",
      filterPO: null,
      filterOn: [],
      requests: [],
      selectedItems: [],
      transaction_trail: [],
      employees: [],
      fields: [
        {
          key: "id",
          label: "Transaction ID",
          sortable: true
        },
        {
          key: "date",
          label: "Date and Time",
          sortable: true
        },
        {
          key: "receipt",
          label: "DR #",
          sortable: true
        },
        {
          key: "purchase_order_id",
          label: "PO #",
          sortable: true
        },
        // {
        //   key: "type",
        //   label: "Type",
        //   sortable: true
        // },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "supplier",
          label: "Supplier Name",
          sortable: true
        },
        {
          key: "address",
          label: "Address",
          sortable: true
        },
        {
          key: "driver",
          label: "Driver",
          sortable: true
        },
        {
          key: "plate",
          label: "Plate No.",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "bags",
          label: "No. of Bags",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      PurchaseOrderFields: [
        {
          key: "DocNum",
          label: "Purchase Order Number",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CardName",
          label: "Supplier Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "U_APP_Farmer",
          label: "Farmer Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Address",
          label: "Address",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item",
          label: "Item Description",
          sortable: true,
          sortDirection: "desc"
        },
        // {
        //   key: "quantity",
        //   label: "Quantity",
        //   sortable: true,
        //   sortDirection: "desc"
        // },
        {
          key: "action",
          label: "",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      po_items: [],
      purchaseorderData: [
        {
          supplier_name: null,
          purchase_order_id: null,
          address: null,
          item: null
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      suppliers: [],
      statuss: [],
      endorseStatus: null,
      resData: null,
      qc_cn: null,
      rmaf_id: null,
      showLoading: false,
      supplierList: null,

      supplier_po: null,
      approved_po: null,
      item_po: null,
      quantity_po: null,
      farmer_po: null,
      address_po: null,
      rowData: null,
      total_amount: 0,
      total_temp: 0,
      selectedPO: null,
      transaction_id: null,
      selected_transaction: null,
      selected_transaction2: null,
      gross_weight: null,
      deductions: [],
      prefix: null,
      isMicro: false,
      microPackages: [],
      coaNumber: null
    };
  },

  async created() {
    await this.getSuppliers();
    await this.getTransactions();
    await this.getStatuss();
    await this.getEmployees();
  },
  computed: {
    Filteration() {
      return this.getReports.filter(emp => {
        const results = emp.status[0].name.match(this.filterActive);
        return results;
      });
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.Filteration.length) {
        end = this.Filteration.length;
      }
      if (this.Filteration.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.Filteration.length} entries`;
    }
  },
  methods: {
    indexPlusOne(i) {
      return parseInt(i) + 1;
    },
    nullUndefined(str) {
      // return nothing if string = undefined
      if (str.toLowerCase() == "undefined") {
        return "";
      } else {
        return str;
      }
    },
    dateOnly(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    arrayToString(arr) {
      return arr.toString();
    },
    hasOutbound(weight) {
      if (weight) {
        if (weight[0].weights[0]) {
          if (weight[0].weights[0].obWeight > 0) {
            return true;
          } else {
            return false;
          }
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    async tagPO() {
      try {
        const poId = this.selectedPO[0].DocEntry;
        this.showLoading = true;
        const employee = JSON.parse(localStorage.employee);
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
          data: {
            id: this.transaction_id,
            tagPO: true,
            purchase_order_id: poId,
            updated_by: employee.id,
            employee_id: employee.id,
            modules: employee.modules
          },
          headers: {
            authorization: `B1SESSION=${employee.token}`
          }
        });

        this.showLoading = false;

        // tag PO to truckscale;
        await axios({
          method: "POST",
          url: `${process.env.tsisApi}/transactions/update/${this.selected_transaction2.supplier_code}`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            user: process.env.tsisUser,
            pw: process.env.tsisPw,
            mode: "1",
            U_APP_PO_ID: poId
          }
        });

        this.displaySuccessToast("PO has been tagged to transaction.");
        this.$refs["addPO"].hide();

        // reload transaction
        await this.getTransactions();
      } catch (e) {
        this.showLoading = false;

        this.errMessage = e.response.data;
      }
    },
    closepo() {
      this.selectedPO = null;
    },
    selectItem(item) {
      if (item.length != 0) {
        this.$refs.po_table.unselectRow(this.poSelectedIndex);

        for (let i = 0; i < this.$refs.po_table.selectedRows.length; i++) {
          if (this.$refs.po_table.selectedRows[i] == true) {
            this.poSelectedIndex = i;
            break;
          }
        }
        this.$refs.po_table.selectRow(this.poSelectedIndex);
        this.item_po = item[0].DocumentLines[0].ItemDescription;
        this.quantity_po = item[0].DocumentLines[0].Quantity;
        this.selectedPO = item;
      }
    },
    openPODetail(item) {
      this.rowData = item;

      this.showLoading = true;
      for (let i = 0; i < this.rowData.DocumentLines.length; i++) {
        this.total_amount += parseFloat(
          this.rowData.DocumentLines[i].GrossTotal
        );
      }
      this.total_amount = this.formatMoney(
        parseFloat(this.total_amount).toFixed(1)
      );
      this.showLoading = false;

      this.$refs["viewPO"].show();
    },
    formatMoney(number, decPlaces, decSep, thouSep) {
      (decPlaces = isNaN((decPlaces = Math.abs(decPlaces))) ? 2 : decPlaces),
        (decSep = typeof decSep === "undefined" ? "." : decSep);
      thouSep = typeof thouSep === "undefined" ? "," : thouSep;
      var sign = number < 0 ? "-" : "";
      var i = String(
        parseInt((number = Math.abs(Number(number) || 0).toFixed(decPlaces)))
      );
      var j = (j = i.length) > 3 ? j % 3 : 0;

      return (
        sign +
        (j ? i.substr(0, j) + thouSep : "") +
        i.substr(j).replace(/(\decSep{3})(?=\decSep)/g, "$1" + thouSep) +
        (decPlaces
          ? decSep +
            Math.abs(number - i)
              .toFixed(decPlaces)
              .slice(2)
          : "")
      );
    },
    async getPO() {
      this.showLoading = true;
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/sap/po_suppliers`,
        data: {
          employee_id: employee.id,
          CardName: this.supplier_po
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          if (res.data[0]) {
            this.address_po = res.data[0].Address;
            this.po_items = res.data;
          }
          this.showLoading = false;
        })
        .catch(e => {
          this.showLoading = false;

          this.errMessage = e.response.data;
        });
    },
    async getSuppliers() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/sap/suppliers`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.supplierList = res.data.listSuppliers;
          this.showLoading = false;
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    },
    clear() {
      this.$refs.trailtable.clearSelected();
    },
    getUpdater(item) {
      if (item.updated_by) {
        for (let i = 0; i < this.employees.length; i++) {
          if (item.updated_by == this.employees[i].employee_id) {
            return this.employees[i].name;
          }
        }
      } else if (item.created_by) {
        for (let i = 0; i < this.employees.length; i++) {
          if (item.created_by == this.employees[i].employee_id) {
            return this.employees[i].name;
          }
        }
      }
    },
    getTimestamp(timestamp) {
      if (timestamp) {
        return moment(timestamp).format("dddd, YYYY-MM-DD hh:mm A");
      }
      return "";
    },
    getStatus(status_id) {
      for (let i = 0; i < this.statuss.length; i++) {
        if (this.statuss[i].id == status_id) {
          return this.statuss[i].name;
        }
      }
    },
    async getEmployees() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/employees`,
        data: {
          employee_id: employee.id,
          role: employee.role
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.employees = res.data.employees;
          this.showLoading = false;
        })
        .catch(e => {
          this.errMessage = e.response.data;
          this.showLoading = false;
        });
    },
    async getStatuss() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.statuss = res.data.status;
          for (let i = 0; i < this.statuss.length; i++) {
            if (this.statuss[i].name == "Quality Control") {
              this.endorseStatus = this.statuss[i].id;
            }
          }
          this.showLoading = false;
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      this.showLoading = true;

      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");

      const employee = JSON.parse(localStorage.employee);
      const department = employee.department.name.split("-");
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to,
          getWeight: true,
          department: department[0]
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          if (employee.department.name.toLowerCase() != "qa-analyst") {
            const transactions = res.data.transactions.filter(transaction => {
              const results =
                transaction.bir[0].department[0].id == employee.department.id;
              return results;
            });
            this.getReports = transactions;
          } else {
            this.getReports = res.data.transactions;
          }

          this.totalRows = this.getReports.length;
          this.showLoading = false;
        })
        .catch(e => {
          this.showLoading = false;
          this.errMessage = e.response.data;
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.updateValues();
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    resetDateTable() {
      this.datePickerTable.startDate = moment().format("MMM DD, YYYY");
      this.datePickerTable.endDate = moment().format("MMM DD, YYYY");
      this.updateValues();
    },
    updateValuesTable() {
      this.datePickerTable.startDate = moment(
        this.datePickerTable.startDate
      ).format("MMM DD, YYYY");
      this.datePickerTable.endDate = moment(
        this.datePickerTable.endDate
      ).format("MMM DD, YYYY");
      (this.dateRange.date_from = moment(this.datePickerTable.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePickerTable.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    rowClass(item) {
      if (!item) return;
      if (item.delivery_receipt_id === null) return "table-warning";
    },

    addModal() {
      this.$refs["add"].show();
    },
    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();

      this.bir_id = row.item.bir_id;
      this.transaction_type_id = row.item.transaction_type_id;
      this.truck_info = row.item.truck_info_id;
      this.driver_id = row.item.driver_id;
      this.id = row.item.id;
      this.status_id = row.item.status_id;
      this.supplier = row.item.supplier_name;
      this.receipt = row.item.delivery_receipt_id;
      this.code = row.item.supplier_code;
      this.date = moment(row.item.created_at).format("MMM DD,YYYY");
      this.address = row.item.supplier_address;
      this.driver = row.item.driver_name;
      // row.item.driver[0].firstname + " " + row.item.driver[0].lastname;
      this.plate = row.item.plate_number;
      this.item = row.item.bir[0].items[0].description;
      this.bags = row.item.no_of_bags;
    },
    async edit() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        data: {
          id: this.id,
          status_id: this.status_id,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.getTransactions();
          this.$refs["edit"].hide();
          this.$refs["endorse"].hide();
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    },
    // async getSuppliers() {
    //   const employee = JSON.parse(localStorage.employee);

    //   await axios({
    //     method: "GET",
    //     url: `http://172.16.4.120:4000/suppliers/select/fsqr`,
    //     data: {
    //       employee_id: employee.id,
    //       modules: employee.modules
    //     },
    //     headers: {
    //       authorization: `B1SESSION=${employee.token}`
    //     }
    //   })
    //     .then(res => {
    //       // this.suppliers = res.data.view;
    //       for (let i = 0; i < res.data.view.length; i++) {
    //         this.address.push({
    //           value: res.data.view[i].address,
    //           text: res.data.view[i].address
    //         });
    //         this.suppliers.push(res.data.view[i].name);
    //       }
    //     })
    //     .catch(e => {
    //       this.errMessage = e.response.data;
    //     });
    // },
    getAddress(supplier_name) {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (this.suppliers[i].name == supplier_name) {
          return this.suppliers[i].address;
        }
      }
    },
    showAlert1() {
      this.dismissCountDown1 = this.dismissSecs;
    },
    openModal(item) {
      // this.selectedRow = row.index;
      if (item[0]) {
        this.getTrail(item[0].id);
        this.$refs["trail"].show();
      }
    },
    async getTrail(transaction_id) {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transaction_status_logs/find_transaction_status_logs`,
        data: {
          transaction_id: transaction_id,
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.transaction_trail = res.data.transactionStatusLogs;
        })
        .catch(e => {});
    },
    createModal() {
      this.$refs["create"].show();
    },
    createDRModal(row) {
      this.selectedRow = row.index;
      this.$refs["dr"].show();
      this.rmaf_id = row.item.rmaf_id;
      this.bags = row.item.no_of_bags;
      this.bir_id = row.item.bir_id;
      this.transaction_type_id = row.item.transaction_type_id;
      this.truck_info = row.item.truck_info_id;
      this.driver_id = row.item.driver_id;
      this.id = row.item.id;
      this.status_id = row.item.status_id;
      this.supplier = row.item.supplier_name;
      this.code = row.item.supplier_code;
      this.date = moment(row.item.created_at).format("MMM DD,YYYY");
      this.address = row.item.supplier_address;
      this.driver = row.item.driver_name;
      // row.item.driver[0].firstname + " " + row.item.driver[0].lastname;
      this.plate = row.item.plate_number;
      this.item = row.item.bir[0].items[0].description;
    },
    async createDR() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deliveryreceipts/add_deliveryreceipt`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          quantity: this.bags,
          unit: "sacks",
          description_of_articles: this.item,
          created_by: employee.id,
          delivery_receipt: this.receipt
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.receipt = res.data[0].id;
          this.edit();
          this.getTransactions();
          this.$refs["dr"].hide();
        })
        .catch(e => {});
    },
    close() {
      this.$refs["add"].hide();
    },
    endorseModal(row) {
      this.selectedIndex = row.index;
      this.$refs["endorse"].show();
      this.status_id = this.endorseStatus;
      this.rmaf_id = row.item.rmaf_id;
      this.qc_cn = row.item.qc_control_number;
      this.bir_id = row.item.bir_id;
      this.transaction_type_id = row.item.transaction_type_id;
      this.truck_info = row.item.truck_info_id;
      this.driver_id = row.item.driver_id;
      this.id = row.item.id;
      this.supplier = row.item.supplier_name;
      this.receipt = row.item.delivery_receipt_id;
      this.code = row.item.supplier_code;
      this.date = moment(row.item.created_at).format("MMM DD,YYYY");
      // this.address = this.getAddress(row.item.supplier_name);
      this.address = row.item.supplier_address;
      this.driver = row.item.driver_name;
      // row.item.driver[0].firstname + " " + row.item.driver[0].lastname;
      this.plate = row.item.plate_number;
      this.item = row.item.bir[0].items[0].description;
      this.bags = row.item.no_of_bags;
    },
    async autoGenerateWeightSlip() {
      try {
        const employee = JSON.parse(localStorage.employee);
        const doc = new jsPDF();
        /** WITH CSS */
        // this.code = null;
        // console.log(this.code);
        var canvasElement = document.createElement("canvas");

        const pdfs = await new Promise(resolve => {
          html2canvas(this.$refs.testHtml, { canvas: canvasElement }).then(
            function(canvas) {
              const img = canvas.toDataURL("image/jpeg", 0.8);
              doc.addImage(img, "JPEG", 5, 10);
              resolve(doc);
              // doc.save(`RMAF.pdf`);
            }
          );
        });

        const data = new Blob([pdfs.output("blob")], {
          type: "application/pdf"
        });
        var fd = new FormData();

        fd.append(
          "WS",
          data,
          `WS - ${this.selected_transaction.supplier_code}.pdf`
        );

        // upload file to API
        await axios.post(
          `${this.$axios.defaults.baseURL}/transactions/transactions/upload/attachments`,
          fd,
          {
            headers: { authorization: `B1SESSION=${employee.token}` }
          }
        );
      } catch (e) {
        console.log("Error generate PDF: ", e);
      }
    },
    async endorseGRPO(item) {
      const employee = JSON.parse(localStorage.employee);
      this.showLoading = true;
      const weight = [
        {
          IB_WEIGHT: item.weight[0].weights[0].ibWeight,
          OB_WEIGHT: item.weight[0].weights[0].obWeight,
          U_TS_PLATE_NUM: item.weight[0].plate_number,
          U_TS_TRMODEL: item.weight[0].truckModel,
          DRIVER_NAME: item.weight[0].driver_name,
          U_TS_NUM_BAGS: item.weight[0].num_bags,
          DocEntry: item.weight[0].id
        }
      ];
      const net_weight = weight[0].IB_WEIGHT - weight[0].OB_WEIGHT;
      const DocumentLines = [{}];
      DocumentLines[0].ItemCode = item.po_details[0].DocumentLines[0].ItemCode;
      DocumentLines[0].BaseEntry = item.po_details[0].DocEntry;
      DocumentLines[0].BaseType = 22;
      DocumentLines[0].BaseLine = 0;
      DocumentLines[0].U_APP_InboundWt = weight[0].IB_WEIGHT;
      DocumentLines[0].U_APP_OutboundWt = weight[0].OB_WEIGHT;
      DocumentLines[0].U_APP_NetWt = net_weight;
      DocumentLines[0].U_APP_RMAFNo = item.rmaf_id;

      let grpoDocEntry = "";
      try {
        // endorse to grpo route
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/sap/endorse_grpo`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            employee_id: employee.id,
            CardCode: item.po_details[0].CardCode,
            // DocObjectCode = "19",
            U_APP_WithDeductions: "Y",
            U_APP_PlateNo: weight[0].U_TS_PLATE_NUM,
            U_APP_TruckModel: weight[0].U_TS_TRMODEL,
            U_APP_Driver: weight[0].DRIVER_NAME,
            U_APP_DRNo: item.delivery_receipt[0].id,
            deduction_receipt:
              item.deductions.deductionReceipts.listDeductionCriteria,
            weight: weight,
            po_details: item.po_details,
            rmaf_id: item.rmaf,
            delivery_receipt: item.delivery_receipt,
            DocumentLines
          }
        });

        // GRPO docEntry
        grpoDocEntry = res.data.DocEntry;

        // attachments will be auto;
        // Macro attachments
        if (
          this.selected_transaction.bir[0].raw_materials[0].description.toLowerCase() ==
          "macro"
        ) {
          // upload file to SAP

          const supplier_code = this.selected_transaction.supplier_code;
          const pre = supplier_code.split("-");
          if (pre[0] !== "BGW") {
            // if not napier attach all;
            try {
              await axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/micro/post-attachments`,
                headers: {
                  authorization: `B1SESSION=${employee.token}`
                },
                data: {
                  grpoDocEntry,
                  weight_slip: `WS - ${supplier_code}.pdf`,
                  deduction_slip: `DEDUCTION - ${supplier_code}.pdf`,
                  rmaf: `RMAF - ${supplier_code}.pdf`,
                  rejection_receipt: `REJECTION - ${supplier_code}.pdf`,
                  isMacro: true
                }
              });
            } catch (e) {
              this.showLoading = false;
              this.displayErrorToast(e.response.data);
            }
          } else {
            // if napier; only weight slip to be attached
            try {
              await axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/micro/post-attachments`,
                headers: {
                  authorization: `B1SESSION=${employee.token}`
                },
                data: {
                  grpoDocEntry,
                  weight_slip: `WS - ${supplier_code}.pdf`,
                  deduction_slip: null,
                  rmaf: null,
                  rejection_receipt: null,
                  isMacro: true
                }
              });
            } catch (e) {
              this.showLoading = false;
              this.displayErrorToast(e.response.data);
            }
          }
        }

        // hide modal and update status to completed;
        this.showLoading = false;

        this.$refs["viewGRPO"].hide();
        await this.updateTransactionStatus("Completed");

        this.displaySuccessToast("Transaction has been endorsed.");

        await this.getTransactions();
      } catch (err) {
        this.showLoading = false;
        this.displayErrorToast(err.response.data);
      }
    },

    async endorseGRPOMicro(item) {
      try {
        const employee = JSON.parse(localStorage.employee);
        this.showLoading = true;

        // weight slip;
        const weight = [];
        for (let i = 0; i < item.weight[0].weights.length; i++) {
          const e = item.weight[0].weights[i];
          weight.push({
            IB_WEIGHT: e.ibWeight,
            OB_WEIGHT: e.obWeight,
            U_TS_PLATE_NUM: item.weight[0].plate_number,
            U_TS_TRMODEL: item.weight[0].truckModel,
            DRIVER_NAME: item.weight[0].driver_name,
            U_TS_NUM_BAGS: item.weight[0].num_bags,
            DocEntry: item.weight[0].id
          });
        }

        // PO;
        const net_weight = weight[0].IB_WEIGHT - weight[0].OB_WEIGHT;
        const DocumentLines = [];
        // loop thru each item in documentlines
        for (let i = 0; i < item.po_details[0].DocumentLines.length; i++) {
          const e = item.po_details[0].DocumentLines[i];
          DocumentLines.push({
            ItemCode: e.ItemCode,
            BaseEntry: e.DocEntry,
            BaseType: 22,
            BaseLine: i,
            U_APP_COANo: this.coaNumber,
            U_APP_InboundWt: weight[i] ? weight[i].IB_WEIGHT : 0,
            U_APP_OutboundWt: weight[i] ? weight[i].OB_WEIGHT : 0,
            U_APP_NetWt: weight[i]
              ? weight[i].IB_WEIGHT - weight[i].OB_WEIGHT
              : 0,
            U_APP_RMAFNo: item.rmaf[i] ? item.rmaf[i].id : null
          });
        }

        let grpoDocEntry = "";

        // endorse grpo
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/sap/micro/endorse_grpo`,
          headers: {
            authorization: `B1SESSION=${employee.token}`
          },
          data: {
            employee_id: employee.id,
            CardCode: item.po_details[0].CardCode,
            // DocObjectCode = "19",
            U_APP_WithDeductions: "Y",
            U_APP_PlateNo: weight[0].U_TS_PLATE_NUM,
            U_APP_TruckModel: weight[0].U_TS_TRMODEL,
            U_APP_Driver: weight[0].DRIVER_NAME,
            U_APP_DRNo: item.delivery_receipt[0].id,
            deduction_receipt:
              item.deductions.deductionReceipts.listDeductionCriteria,
            weight: weight,
            po_details: item.po_details,
            rmaf_id: item.rmaf,
            delivery_receipt: item.delivery_receipt,
            DocumentLines,
            microPackages: this.microPackages
          }
        });

        // GRPO docEntry
        grpoDocEntry = res.data.DocEntry;

        // # attachments
        // ############
        // for attachments
        let bool = false; // check if there is file; not run post to sap route if none

        var fd = new FormData();
        if (this.certificateOfAnalysis) {
          fd.append(
            "COA",
            this.certificateOfAnalysis,
            this.certificateOfAnalysis.name
          );
          bool = true;
        }
        if (this.billOfLanding) {
          fd.append("BOL", this.billOfLanding, this.billOfLanding.name);
          bool = true;
        }
        if (this.noticeOfArrival) {
          fd.append("NOA", this.noticeOfArrival, this.noticeOfArrival.name);
          bool = true;
        }

        // upload file to API
        await axios.post(
          `${this.$axios.defaults.baseURL}/transactions/transactions/upload/attachments`,
          fd,
          {
            headers: { authorization: `B1SESSION=${employee.token}` }
          }
        );

        if (bool == true) {
          // upload file to SAP
          try {
            await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/micro/post-attachments`,
              headers: {
                authorization: `B1SESSION=${employee.token}`
              },
              data: {
                grpoDocEntry,
                coa: this.certificateOfAnalysis
                  ? this.certificateOfAnalysis.name
                  : null,
                bol: this.billOfLanding ? this.billOfLanding.name : null,
                noa: this.noticeOfArrival ? this.noticeOfArrival.name : null
              }
            });
          } catch (e) {
            this.showLoading = false;
            this.displayErrorToast(e.response.data);
          }
        }

        // ####### end attachements

        // auto attachments; TO DOS; weight slip, rmaf, micro package etc..

        // hide modal and update status to completed;
        this.showLoading = false;

        this.$refs["viewGRPO"].hide();
        await this.updateTransactionStatus("Completed");

        this.displaySuccessToast("Transaction has been endorsed.");

        await this.getTransactions();
      } catch (err) {
        this.showLoading = false;
        this.displayErrorToast(err.response.data);
      }
    },
    async endorseGRPOModal() {
      await this.autoGenerateWeightSlip();
      if (this.isMicro == true) {
        //  micro endorse grpo
        if (this.coaNumber == null) {
          return this.displayErrorToast("Please input COA number.");
        }
        await this.endorseGRPOMicro(this.selected_transaction);
      } else {
        // macro endorse grpo
        await this.endorseGRPO(this.selected_transaction);
      }
    },
    async updateTransactionStatus(status) {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.selected_transaction.id,
          status: status,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules,
          po_details: this.selected_transaction.po_details,
          weight: this.selected_transaction.weight
        }
      })
        .then(res => {
          // this.getReports.splice(this.selectedIndex, 1);
          // this.getReports.unshift(res.data);
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    tagPOModal(row) {
      this.selected_transaction2 = row.item;

      this.transaction_id = row.item.id;
      this.selectedIndex = row.index;
      this.$refs["addPO"].show();

      this.supplier = row.item.supplier_name;
      this.address = row.item.supplier_address;
    },
    async grpoModal(row) {
      this.selectedIndex = row.index;
      this.selected_transaction = row.item;

      const pre = row.item.supplier_code.split("-");
      this.prefix = pre[0]; // get prefix of supplier code
      // get raw material of one item to know if micro or not;
      const micro = this.selected_transaction.bir[0].raw_materials[0]
        .description;
      if (micro.toLowerCase() == "micro") this.isMicro = true;

      if (this.isMicro == true) {
        // get micro packages
        this.microPackages = this.selected_transaction.deductions.deductionReceipts.micro;
      }

      await this.$refs["viewGRPO"].show();

      if (row.item.deductions) {
        this.deductions = row.item.deduction_receipt;
      }
      if (row.item.weight) {
        const ts = row.item.weight[0].weights[0];
        this.gross_weight = ts.ibWeight - ts.obWeight;
      }
    },
    async endorse() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deliveryreceipts/add_deliveryreceipt`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.getTransactions();
          this.showAlert1();

          this.getReports.splice(this.selectedIndex, 1);
          this.getReports.unshift(this.resData);
        })
        .catch(e => {});
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    clearDelivery() {
      this.date = "";
      this.receipt = "";
      this.supplier = "";
      this.address = "";
      this.driver = "";
      this.plate = "";
      this.item = "";
      this.bags = "";
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    viewPoModal() {
      this.$refs["viewPO"].hide();
      this.$refs["viewGRPO"].hide();
    },
    viewPO(item) {
      this.rowData = item.po_details[0];
      this.$refs["viewPO"].show();
    },
    async getDeliveryStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/suppliers/select/fsqr`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.suppliers = res.data.view;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    }
  }
};
</script>

<style scoped>
table {
  table-layout: fixed;
}
td {
  word-wrap: break-word;
}
p {
  color: black;
}
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.button-circle {
  border: 0px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: auto;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.modal-xl {
  max-width: 90% !important;
}
.badge {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.borders {
  border: 1px solid black;
}
.borders-total {
  border: 1px solid black;
  width: 100%;
}
.td1 {
  border: 0.5px solid black;
}
</style>
