<template>
  <div>
    <b-row>
      <b-col lg="12" md="8" sm="8" class="mb-2">
        <b-button variant="success" size="sm" @click="createModal">
          <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Trasmittal Delivery
        </b-button>

        <!-- <b-button variant="secondary" size="sm" @click="addModal">
          <font-awesome-icon style="color:white" icon="qrcode" small class="icon" />Scan QR
        </b-button> -->
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input
            maxlength="10"
            type="search"
            placeholder="Search Pending Requests"
            id="search-all"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="4" md="4" sm="12" class="mb-2">
        <b-input-group prepend="Date">
          <date-range-picker
            ref="picker"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="min-width: 150px;"
            >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="3" sm="6" md="6">
        <b-input-group prepend="Filter">
          <b-form-select v-model="filterActive" id="verified-filter">
            <option :value="``">All</option>
            <optgroup label="Status">
              <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
            </optgroup>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      hover
      class="mt-2 table1"
      ref="all-request-Table"
      id="all-request-table"
      :per-page="perPage"
      :current-page="currentPage"
      :borderless="false"
      :empty-text="`There are no ${filterActive ? filterActive:'transactions'} to display`"
      :items="Filteration"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      tbody-tr-class
      responsive
      show-empty
      selectable
      @row-selected="openModal"
    >
      <template v-slot:cell(status)="row">
        <div class="badge">
          <b-badge pill variant="warning">{{row.item.status}}</b-badge>
        </div>
      </template>
      <template v-slot:cell(actions)="row">
        <b-button
          size="sm"
          variant="success"
          class="button-circle"
          v-if="row.item.receipt == ``"
          @click="createDRModal(row)"
          v-b-tooltip.hover
          title="Generate Delivery Receipt"
        >
          <font-awesome-icon style="color:white" icon="receipt" small class="icon" />
        </b-button>

        <b-button
          size="sm"
          variant="success"
          class="button-circle"
          v-if="row.item.receipt != `` && row.item.status === 'Sampling'"
          @click="endorseModal(row)"
          v-b-tooltip.hover
          title="Endorse Delivery"
        >
          <font-awesome-icon style="color:white" icon="check-circle" small class="icon" />
        </b-button>

          <b-button
          size="sm"
          variant="secondary"
          class="button-circle"
          @click="editModal(row)"
          v-b-tooltip.hover
        >
          <font-awesome-icon style="color:white;" icon="edit" small class="icon" />
        </b-button>
        <!--   <b-button
          size="sm"
          variant="success"
          class="mr-1"
          v-if="row.item.receipt != `` && row.item.status === 'Sampling'"
          @click="print(row)"
          v-b-tooltip.hover
          title="Print"
        >
          <font-awesome-icon style="color:white" icon="print" small class="icon" />
        </b-button>-->
      </template>
    </b-table>

    <b-col cols="6" offset="1" class="my-1 mt-3">
      <b-pagination
        pills
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="right"
        size="sm"
      ></b-pagination>
    </b-col>

    <b-alert :show="dismissCountDown" dismissible fade class="button1 fixed">Successfully Added</b-alert>

    <b-alert :show="dismissCountDown1" dismissible fade class="button1 fixed">Endorsed to Sampling</b-alert>

    <b-modal
      no-fade
      ref="edit"
      header-bg-variant="success"
      header-text-variant="light"
      size="lg"
    >
     <b-row>
        <b-col>
          <h4>Info Sheet</h4>
          <b-card bg-variant="light">
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Date:</small>
                <b-form-input v-model="date" style="font-size:15px" ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Transaction Type:</small>
                <b-form-select v-model="type" style="font-size:15px" >
                     <option v-for="(option,i) in options" :value="option" :key="i">{{option}}</option>
                </b-form-select>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Supplier:</small>
                <b-form-input v-model="supplier" style="font-size:15px" ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Address:</small>
                <b-form-input v-model="address" style="font-size:15px" ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Driver's Name:</small>
                <b-form-input v-model="driver" style="font-size:15px" ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Plate no:</small>
                <b-form-input v-model="plate" style="font-size:15px" ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Item:</small>
                <b-form-input v-model="item" style="font-size:15px" ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">No. of bags:</small>
                <b-form-input v-model="bags" type="number" style="font-size:15px" ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="edit()" style="font-size:13px">Endorse</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>

    <!-- <b-modal
      no-fade
      ref="endorse"
      header-bg-variant="success"
      header-text-variant="light"
      size="lg"
    >
      <b-row>
        <b-col>
          <h4>Info Sheet</h4>
          <b-card bg-variant="light">
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Date:</small>
                <b-form-input v-model="date" style="font-size:15px" disabled></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <small class="ml-1">Supplier:</small>
                <b-form-input v-model="supplier" style="font-size:15px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Address:</small>
                <b-form-input v-model="address" style="font-size:15px" disabled></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Driver's Name:</small>
                <b-form-input v-model="driver" style="font-size:15px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Plate no:</small>
                <b-form-input v-model="plate" style="font-size:15px" disabled></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Item:</small>
                <b-form-input v-model="item" style="font-size:15px" disabled></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">No. of bags:</small>
                <b-form-input v-model="bags" type="number" style="font-size:15px" disabled></b-form-input>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
        <div style="width:2px;background:#c2c2c2;"></div>
        <b-col>
          <h4>Endorse Delivery</h4>
          <b-card bg-variant="light">
            <b-col>
              <small class="ml-1">Supplier Code:</small>
              <b-form-input v-model="supplierCode" style="font-size:15px" disabled></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Supplier Name:</small>
              <b-form-input v-model="supplier" style="font-size:15px" disabled></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Item:</small>
              <b-form-input v-model="item" style="font-size:15px" disabled></b-form-input>
            </b-col>
          </b-card>
        </b-col>
      </b-row>
      <br />

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="endorse()" style="font-size:13px">Endorse</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>-->

    <!-- <b-modal
      ref="create"
      header-bg-variant="success"
      header-text-variant="light"
      title="Add Delivery"
    >
      <b-form-group>
        <b-row class="my-1">
          <b-col sm="4">
            <label>Date:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="date" type="date" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Delivery Receipt:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input type="number" v-model="receipt" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Supplier Name:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="supplier" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Address:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="address" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Driver Name:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="driver" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Plate no.:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="plate" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Item:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="item" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>No. of bags:</label>
          </b-col>
          <b-col sm="8">
            <b-form-input v-model="bags" type="number" size="sm"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="4">
            <label>Transaction type:</label>
          </b-col>
          <b-col sm="8">
            <b-form-select v-model="type">
              <option v-for="(option,i) in options" :value="option" :key="i">{{option}}</option>
            </b-form-select>
          </b-col>
        </b-row>
      </b-form-group>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="addDelivery()" style="font-size:13px">Create</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>-->

    <b-modal
      no-fade
      ref="dr"
      header-bg-variant="success"
      header-text-variant="light"
      title="Generated Delivery Receipt"
    >
      <center>
        <b-form-group label="Delivery Receipt:" label-for="name-input">
          <b-form-input v-model="receipt2" type="number" size="sm"></b-form-input>
        </b-form-group>
      </center>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="createDR()" style="font-size:13px">Create</b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>

    <!-- <b-modal
      no-fade
      ref="add"
      hide-footer
      header-bg-variant="success"
      header-text-variant="light"
      title="Scan QR Code"
    >
      <center>
        <div>
          <font-awesome-icon style="color:green; width:30%; height:30%" icon="check-circle" small />
          <h3 style="color:green">Scanned!</h3>
          <hr />
          <b-button size="sm" variant="success" @click="save()" style="font-size:13px">Save</b-button>
          <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
        </div>
      </center>
    </b-modal>-->

    <b-modal
      ref="trail"
      size="lg"
      header-text-variant="dark"
      id="bv-modal-row"
      class="modal"
      hide-footer
      scrollable
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Delivery Trail</h5>
      </template>
      <!--modal container-->
      <div class="container py-2 mt-4 mb-4">
        <!-- timeline item 1 -->
        <div class="row">
          <!-- timeline item 1 left dot -->
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <!-- timeline item 1 event content -->
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                <h4 class="card-title text-muted">In progress</h4>
                <p class="card-text">Created By : Ahmad Baulo</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 2 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Thu, Jan 12th 2019 11:30 AM</div>
                <h4 class="card-title">Sampling</h4>
                <p>Test By : Hannah Montana</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 3 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Wed, Jan 11th 2019 8:30 AM</div>
                <h4 class="card-title">Inbound</h4>
                <p>Test By : Hannah Montana</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 4 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Thu, Jan 12th 2019 11:30 AM</div>
                <h4 class="card-title">Analyze</h4>
                <p>Checked By : Alvin Subere</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 5 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card border-success shadow">
              <div class="card-body">
                <div class="float-right text-success">Tue, Jan 10th 2019 8:30 AM</div>
                <h4 class="card-title text-success">Completed</h4>
                <p class="card-text">Certify By : Alvin Subere</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
      </div>
      <!--container-->
    </b-modal>
  </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      status: [
        "In Progress",
        "Sampling",
        "Inbound",
        "Analysis",
        "Outbound",
        "Reconsideration",
        "Rejected"
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      date: "",
      receipt: "",
      type: "",
      address: "",
      code: "",
      plate: "",
      supplier: "",
      driver: "",
      item: "",
      bags: "",
      selectedIndex: null,

      options: ["Delivery", "Withdrawal"],

      receipt2: null,

      selectedRow: null,
      selectedIndex:null,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      showDismissibleAlert: false,
      getReports: [
        {
          date: "11/11/2019",
          receipt: "001",
          type: "Delivery",
          code: "PDF-12312312",
          driver: 'Kiel Guerero',
          plate: 'JOEY-0012',
          supplier: "Khent Quintua",
          address: "Tantangan",
          item: "Wet Paddy Fancy",
          bags: "270",
          status: "Sampling"
        },
        {
          date: "11/11/2019",
          receipt: "",
          type: "Delivery",
          code: "CDF-45454545",
          driver: 'Kiel Guerero',
          plate: 'JOEY-0012',
          supplier: "Jammel",
          address: "Gensan",
          item: "Corn Grains",
          bags: "250",
          status: "Sampling"
        },
        {
          date: "11/11/2019",
          receipt: "002",
          type: "Delivery",
          code: "CDF-343434343",
          driver: 'Kiel Guerero',
          plate: 'JOEY-0012',
          supplier: "Alvin Subere",
          address: "Koronadal",
          item: "Corn on Cobs",
          bags: "300",
          status: "Sampling"
        },
        {
          date: "11/11/2019",
          receipt: "003",
          type: "Delivery",
          code: "FM-343434343",
          driver: 'Kiel Guerero',
          plate: 'JOEY-0012',
          supplier: "Ahmad Baulo",
          address: "Norala",
          item: "Rice Bran",
          bags: "200",
          status: "Sampling"
        }
      ],
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "receipt",
          label: "DR #",
          sortable: true
        },
        {
          key: "type",
          label: "Type",
          sortable: true
        },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "supplier",
          label: "Supplier Name",
          sortable: true
        },
        {
          key: "address",
          label: "Address",
          sortable: true
        },
        {
          key: "driver",
          label: "Driver",
          sortable: true
        },
        {
          key: "plate",
          label: "Plate No.",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "code",
          label: "Item Code",
          sortable: true
        },
        {
          key: "bags",
          label: "No. of Bags",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: ""
    };
  },

  computed: {
    Filteration() {
      return this.getReports.filter(emp => {
        const results = emp.status.match(this.filterActive);
        return results;
      });
    }
  },
  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
    },
    rowClass(item) {
      if (!item) return;
      if (item.receipt === "") return "table-warning";
    },

    addModal() {
      this.$refs["add"].show();
    },
    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();

      this.supplier = row.item.supplier;
      this.date = row.item.date;
      this.type = row.item.type;
      this.address = row.item.address;
      this.driver = row.item.driver;
      this.plate = row.item.plate;
      this.item = row.item.item;
      this.bags = row.item.bags;
      this.code = row.item.code;
    },
    edit(row) {
      this.getReports[this.selectedIndex].supplier = this.supplier;
      this.getReports[this.selectedIndex].date = this.date;
      this.getReports[this.selectedIndex].address = this.address;
      this.getReports[this.selectedIndex].type = this.type;
      this.getReports[this.selectedIndex].driver = this.address;
      this.getReports[this.selectedIndex].plate = this.plate;
      this.getReports[this.selectedIndex].item = this.item;
      this.getReports[this.selectedIndex].bags = this.bags;
      this.getReports[this.selectedIndex].code = this.code;
      this.selectedIndex = null;
      this.clearDelivery()  
      this.$refs["edit"].hide();
    },
    showAlert1() {
      this.dismissCountDown1 = this.dismissSecs;
    },
    openModal() {
      this.$refs["trail"].show();
    },
    createDRModal(row) {
      this.selectedRow = row.index;
      this.$refs["dr"].show();
    },
    createModal() {
      this.$refs["create"].show();
    },
    // randomNumber() {
    //   return Math.floor(Math.random() * 100000 + 1);
    // },
    addDelivery() {
      this.getReports.push({
        date: this.date,
        receipt: this.receipt,
        supplier: this.supplier,
        address: this.address,
        driver: this.driver,
        plate: this.plate,
        item: this.item,
        bags: this.bags,
        type: this.type,
        code: "BUSINESS-12121212",
        status: "In Progress"
      });
      this.showAlert();
      this.$refs["create"].hide();

      this.clearDelivery();
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    clearDelivery() {
      this.date = "";
      this.receipt = "";
      this.supplier = "";
      this.address = "";
      this.driver = "";
      this.plate = "";
      this.item = "";
      this.bags = "";
    },
    createDR() {
      this.getReports[this.selectedRow].receipt = this.receipt2;
      this.$refs["dr"].hide();
    },
    close() {
      this.$refs["add"].hide();
    },

    endorse(row) {
      this.getReports[this.selectedIndex].status = "Inbound";
      this.selectedIndex = null;
      this.$refs["endorse"].hide();
      this.showAlert1();
    },
    print() {
      const url = `/print`;
      window.open(url);
    },
    updated() {
      this.totalRows = this.getReports.length;
    }
  }
};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.table1 {
  overflow-y:hidden;
  font-size: 75%;
}
.button-circle {
  font-size: 90%;
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}
</style>
