<template>
  <div>
    <b-card class="my-5 mr-2 ml-2 cardShadow">
      <RolesTable />
    </b-card>
  </div>
</template>

<script>
import RolesTable from "@/components/AdminDashboard/Roles/RolesTable";
export default {
  components: {
    RolesTable
  },
  layout: "AdminDashboard",
  middleware: "authAdmin",
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style>
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color:#28a745;
    background-color:#28a745;
}
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
