<template>
  <div class="wrapper">
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header">
        <div>
          <b-img
            src="/logo.png"
            style="width:100%; height:100%;"
            center
          ></b-img>
        </div>
      </div>
      <ul class="list-unstyled components">
        <span v-for="(path, i) in scan" :key="i">
          <li :style="getStyle(path)" @click="getPath(path)">
            <router-link :to="path.to">
              <font-awesome-icon :icon="path.icon" class="icon" />
              {{ path.title }}
            </router-link>
          </li>
        </span>
        <li>
          <a
            v-if="hasAdminPriviledge"
            v-b-toggle.collapse-1
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <font-awesome-icon icon="user-cog" class="icon" />Admin Dashboard
          </a>
          <b-collapse id="collapse-1" class="mt-1 ml-2">
            <span v-for="(path, i) in dashboard" :key="i">
              <li :style="getStyle(path)" @click="getPath(path)">
                <router-link :to="path.to">
                  <font-awesome-icon :icon="path.icon" class="icon" />
                  {{ path.title }}
                </router-link>
              </li>
            </span>
          </b-collapse>
        </li>
        <span v-for="(path, i) in transaction" :key="i">
          <li :style="getStyle(path)" @click="getPath(path)">
            <router-link :to="path.to">
              <font-awesome-icon :icon="path.icon" class="icon" />
              {{ path.title }}
            </router-link>
          </li>
        </span>
      </ul>
    </nav>

    <div class="right" style="z-index: 1">
      <b-row>
        <b-col cols="2" class="bell">
          <b-row>
            <b-col class="mt-1">
              <b-button
                id="popover-button-variant"
                variant="light"
                class="bell"
              >
                <b-badge
                  style="font-size:10px; position: absolute; right: 25px; top: 3px;"
                  v-model="notif"
                  variant="danger"
                  >1</b-badge
                >
                <font-awesome-icon
                  style="color:black;height:25px;width:25px;"
                  icon="bell"
                />
              </b-button>
              <b-popover
                target="popover-button-variant"
                triggers="focus"
                placement="leftbottom"
              >
                <template v-slot:title>Notification</template>
                You have receive 1 purchase order
              </b-popover>
            </b-col>
          </b-row>

          <b-popover
            target="popover-button-variant"
            triggers="focus"
            placement="leftbottom"
          >
            <template v-slot:title>Notification</template>
            You have receive 1 purchase order
          </b-popover>
        </b-col>
        <b-col cols="2" style="margin-top:10px; position:relative; left:15px">
          <font-awesome-icon
            style="color:black;height:29px;width:29px"
            icon="user"
            class="icon1"
          />
        </b-col>
        <b-col cols="5" style="margin-top:4px; margin-left: 5px;">
          <b-row>
            <b style="font-size:14px"
              >{{ getUser.name ? getUser.name : "Guest" }}&nbsp;</b
            >
          </b-row>
          <b-row>
            <b-badge style="font-size:10px;background-color:#00803E">{{
              getUserRole(getUser.roleParam)
            }}</b-badge>
          </b-row>
        </b-col>
        <b-col cols="2" style="margin-top:10px;">
          <button
            @click="logout"
            style="background: transparent; border-color: transparent;"
          >
            <font-awesome-icon
              style="color:#dc3545;height:25px;width:25px"
              icon="power-off"
            />
          </button>
        </b-col>
      </b-row>
    </div>
    <div class="ml-3" style="position:relative; left: 13rem; width:83%;">
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeadminsubmenus: [],
      paths: [],
      activePath: "Modules",
      hasAdminPriviledge: false,
      adminsubmenus: [
        {
          path: "/admin/modules",
          icon: "cubes",
          description: "Modules",
          action: "View Modules"
        },
        {
          path: "/admin/actions",
          icon: "tasks",
          description: "Actions",
          action: "View Actions"
        },
        {
          path: "/admin/departments",
          icon: "landmark",
          description: "Departments",
          action: "View Departments"
        },
        {
          path: "/admin/roles",
          icon: "fingerprint",
          description: "Roles & Access",
          action: "View Roles"
        },
        {
          path: "/admin/users",
          icon: "id-badge",
          description: "Users",
          action: "View Users"
        }
      ],

      transaction: [],
      scan: [],
      notif: null
    };
  },

  computed: {
    getUser() {
      return JSON.parse(localStorage.employee);
    },

    dashboard() {
      const employee = JSON.parse(localStorage.employee);

      const mapViewModules = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View modules")
      );
      const mapViewActions = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View actions")
      );
      const mapViewDepartments = employee.modules.find(element =>
        element.actions.find(
          modules => modules.description === "View departments"
        )
      );
      const mapViewRoles = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View roles")
      );
      const mapViewUsers = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View users")
      );
      const mapViewLogs = employee.modules.find(element =>
        element.actions.find(
          modules => modules.description === "View activity logs"
        )
      );

      if (
        mapViewModules ||
        mapViewActions ||
        mapViewRoles ||
        mapViewUsers ||
        mapViewLogs ||
        mapViewDepartments
      ) {
        this.hasAdminPriviledge = true;
      }
      const mapTransaction = employee.modules.find(
        element => element.description === "transaction"
      );
      const mapReports = employee.modules.find(
        element => element.description === "reports"
      );

      const mapTransactions = employee.modules.find(element =>
        element.actions.find(
          modules => modules.description === "View transactions"
        )
      );
      const mapViewReports = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View reports")
      );
      const mapViewScan = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View scan")
      );
      const mapViewRMScan = employee.modules.find(element =>
        element.actions.find(modules => modules.description === "View rm scan")
      );

      if (mapViewModules) {
        this.paths.push({
          icon: "cubes",
          title: "Modules",
          to: "/admin/modules",
          action: "View modules"
        });
      }

      if (mapViewActions) {
        this.paths.push({
          icon: "tasks",
          title: "Actions",
          to: "/admin/actions",
          action: "View actions"
        });
      }

      if (mapViewRoles) {
        this.paths.push({
          icon: "fingerprint",
          title: "Roles & Access",
          to: "/admin/roles",
          action: "View roles"
        });
      }

      if (mapViewUsers) {
        this.paths.push({
          icon: "id-badge",
          title: "Users",
          to: "/admin/users",
          action: "View users"
        });
      }
      if (mapViewDepartments) {
        this.paths.push({
          icon: "landmark",
          title: "Groups",
          to: "/admin/departments",
          action: "View departments"
        });
      }

      if (mapViewLogs) {
        this.paths.push({
          icon: "chart-bar",
          title: "Activity Logs",
          to: "/admin/logs",
          action: "View activity logs"
        });
      }

      if (mapTransactions) {
        this.transaction.push({
          icon: "file-signature",
          title: "Transaction",
          to: "/transaction",
          action: "View transactions"
        });
      }

      if (mapViewReports) {
        this.transaction.push({
          icon: "chart-line",
          title: "Reports",
          to: "/report",
          action: "view reports"
        });
      }
      if (mapViewScan) {
        this.scan.push({
          icon: "tachometer-alt",
          title: "Dashboard",
          to: "/sampling",
          action: "View scan"
        });
      }
      if (mapViewRMScan) {
        this.scan.push({
          icon: "tachometer-alt",
          title: "Dashboard",
          to: "/tally",
          action: "View rm scan"
        });
      }

      return this.paths;
    }
  },
  created() {
    this.getPath();
  },
  methods: {
    getStyle(path) {
      if (path.to == this.activePath) {
        return "background-color:#00803E";
      }
    },
    getPath(path) {
      if (path) {
        this.activePath = path.to;
      } else {
        const current = this.$router.history.current.path;
        this.activePath = current;
      }
    },
    logoutModal() {
      this.$refs["modal"].show();
    },
    logout() {
      localStorage.clear();
      this.$router.push("/");
    },
    getUserRole(role) {
      if (role == "admin") {
        return "Admin";
      } else if (role == "dc") {
        return "Document Controller";
      } else if (role == "qa") {
        return "Lab Analyst";
      } else if (role == "qi") {
        return "Quality Inspector";
      } else if (role == "rm") {
        return "RM Inspector";
      } else if (role == "shp") {
        return "Section Head Physical";
      } else if (role == "shc") {
        return "Section Head Chemical";
      } else if (role == "sv") {
        return "Supervisor QA";
      } else if (role == "ppic") {
        return "Production Plant Inventory Custodian";
      } else if (role == "wh") {
        return "Warehouse Supervisor";
      } else if (role == "ch") {
        return "RM Checker";
      }
    }
  }
};
</script>
<style>
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@media (max-width: 768px) {
  #sidebar {
    margin-left: 100px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
a[data-toggle="collapse"] {
  position: relative;
  font-size: large;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.hr {
  background-color: white;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  position: fixed;
  background-color: #01401f;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 224px;
  max-width: 204px;
  min-height: 100vh;
  font-size: 13.5px;
  z-index: 100;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 15px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}
#sidebar ul.components {
  padding: 10px 0;
  /* border-top: 1px solid #fff; */
  font-size: 15px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: #00803e;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #00803e;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #00803e;
}
.content {
  width: 100%;
}
.right {
  position: absolute;
  right: 25px;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.page-header {
  width: 300px;
  margin-bottom: -40px;
  float: right;
}
</style>
