<template>
  <div>
    <Loading v-if="showLoading" />
    <div>
      <b-row>
        <b-col lg="4" md="4" sm="4" class="mb-2">
          <b-input-group size="sm">
            <b-form-input
              maxlength="10"
              type="search"
              placeholder="Search Pending Requests"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div slot="input" style="min-width: 150px;">
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="date-reset">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <!-- <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Filter">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Status">
                <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>-->
      </b-row>
      <b-table
        class="mt-2"
        ref="all-request-Table"
        id="all-request-table"
        :borderless="false"
        :items="Filteration"
        :empty-text="
          `There are no ${
            filterActive ? filterActive : 'transactions'
          } to display`
        "
        :fields="fields"
        selectedVariant="primary"
        :tbody-tr-class="rowClass"
        :per-page="perPage"
        :current-page="currentPage"
        :filter="filter"
        responsive
        show-empty
        :busy="isBusy"
      >
        <template v-slot:table-busy>
          <div class="text-center text-secondary my-2">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
        <template v-slot:table-caption>{{ ShowingEntries }}</template>
        <template v-slot:cell(status)="row">
          <div
            class="badge font-badge"
            v-if="row.item.status[0].name === 'Unloading'"
          >
            <b-badge pill variant="dark">{{ row.item.status[0].name }}</b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'Unloaded'"
          >
            <b-badge pill variant="success">{{
              row.item.status[0].name
            }}</b-badge>
          </div>
          <div class="badge font-badge" v-else>
            <b-badge pill variant="dark">{{ row.item.status[0].name }}</b-badge>
          </div>
        </template>
        <template class="font_badge" v-slot:cell(date)="row">{{
          formatDate(row.item.created_at)
        }}</template>
        <template class="font_badge" v-slot:cell(code)="row">{{
          row.item.supplier_code
        }}</template>
        <template class="font_badge" v-slot:cell(item)="row">{{
          row.item.bir[0].items[0].description
        }}</template>
        <template v-slot:cell(actions)="row">
          <b-button
            id="input-deduction"
            size="sm"
            variant="success"
            class="mr-1"
            block
            v-if="row.item.status[0].name === 'Unloading' && row.item.toVerify"
            @click="verifyModal(row.item)"
            v-b-tooltip.hover
          >
            <font-awesome-icon
              style="color:white"
              icon="check-circle"
              small
            />&nbsp;Verify
          </b-button>
        </template>
      </b-table>

      <b-col cols="6" offset="1" class="my-1 mt-3">
        <b-pagination
          pills
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>

      <b-modal
        ref="verify_modal"
        no-close-on-backdrop
        size="xl"
        header-bg-variant="success"
        header-text-variant="light"
        id="modal-multi-1"
      >
        <template v-slot:modal-title>
          <h6>Verify deductions</h6>
        </template>

        <b-row>
          <b-col cols="5">
            <h4>Rejection Receipt</h4>
            <b-card bg-variant="light">
              <b-row align-h="center">
                <b-col cols="5">
                  <h6>
                    <b>Date :</b>
                  </h6>
                </b-col>
                <b-col cols="7">
                  <b style="text-decoration: underline;">{{ onlyDate }}</b>
                </b-col>
              </b-row>
              <b-row align-h="center">
                <b-col cols="5">
                  <h6>
                    <b>Supplier :</b>
                  </h6>
                </b-col>
                <b-col cols="7">
                  <b style="text-decoration: underline;">{{ supplier_code }}</b>
                </b-col>
              </b-row>
              <b-row align-h="center">
                <b-col cols="5">
                  <h6>
                    <b>Commodity :</b>
                  </h6>
                </b-col>
                <b-col class="mb-4" cols="7">
                  <b style="text-decoration: underline;">{{ item }}</b>
                </b-col>
              </b-row>
              <table class="b-table table table-bordered table-striped">
                <tr class="th1">
                  <th>Criteria</th>
                  <th>No of Bags Rejected</th>
                  <th>Reason of Rejection</th>
                </tr>
                <tr v-for="(item, index) in criteria" :key="index">
                  <td class="td1" v-if="item.criteria_desc == 'Rejected'">
                    {{ item.criteria_desc }}
                  </td>
                  <td class="td1" v-if="item.criteria_desc == 'Rejected'">
                    {{ item.quantity }}
                  </td>
                  <td class="td1" v-if="item.criteria_desc == 'Rejected'">
                    {{ reasonRejection }}
                  </td>
                </tr>
              </table>
            </b-card>
          </b-col>
          <b-col cols="7">
            <h4>Deduction Receipt</h4>
            <b-card bg-variant="light">
              <b-row align-h="center">
                <b-col cols="5">
                  <h6>
                    <b>Date :</b>
                  </h6>
                </b-col>
                <b-col cols="7">
                  <b style="text-decoration: underline;">{{ onlyDate }}</b>
                </b-col>
              </b-row>
              <b-row align-h="center">
                <b-col cols="5">
                  <h6>
                    <b>Supplier :</b>
                  </h6>
                </b-col>
                <b-col cols="7">
                  <b style="text-decoration: underline;">{{ supplier_code }}</b>
                </b-col>
              </b-row>
              <b-row align-h="center">
                <b-col cols="5">
                  <h6>
                    <b>Commodity :</b>
                  </h6>
                </b-col>
                <b-col class="mb-4" cols="7">
                  <b style="text-decoration: underline;">{{ item }}</b>
                </b-col>
              </b-row>
              <table class="b-table table table-bordered table-striped">
                <tr class="th1">
                  <th>Criteria</th>
                  <th>Quantity</th>
                  <th>Deductions</th>
                  <th>Total (kg)</th>
                </tr>
                <tr v-for="(item, index) in criteria" :key="index">
                  <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                    {{ item.criteria_desc }}
                  </td>
                  <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                    {{ item.quantity }}
                  </td>
                  <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                    {{ item.deduction }}
                  </td>
                  <td class="td1" v-if="item.criteria_desc != 'Rejected'">
                    {{ item.total }}
                  </td>
                </tr>
                <tr>
                  <td class="td1">
                    <strong>TOTAL</strong>
                  </td>
                  <td class="td1"></td>
                  <td class="td1"></td>
                  <td class="td1">
                    <strong>{{ this.total_deductions }}</strong>
                  </td>
                </tr>
              </table>
            </b-card>
          </b-col>
        </b-row>
        <br />

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="cancel-AppD"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
            >Cancel</b-button
          >
          <b-button
            id="app-deductions"
            size="sm"
            variant="success"
            v-b-modal.modal-multi-1
            style="font-size:13px"
            >Endorse</b-button
          >
        </template>
      </b-modal>

      <b-modal
        ref="close"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        id="modal-multi-1"
      >
        <template v-slot:modal-title>
          <h6>Security Purposes</h6>
        </template>
        <div class="container">
          <h5>Enter Your Pincode</h5>
          <div class="pinBox">
            <input
              id="input-pincode"
              class="pinEntry"
              v-model="pincode"
              type="password"
              maxlength="4"
              name="pin"
              pattern="[0-9]{4}"
            />
          </div>
        </div>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="rmaf-verify"
            size="sm"
            variant="success"
            @click="checkPincode()"
            style="font-size:13px"
            >Save</b-button
          >
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
            >Cancel</b-button
          >
        </template>
        <center>
          <small style="color:red">{{ errMessage }}</small>
        </center>
      </b-modal>

      <b-modal
        ref="signature"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        size="xl"
      >
        <template v-slot:modal-title>
          <h6>Draw Signature</h6>
        </template>

        <div>
          <div class="col-12">
            <VueSignaturePad
              id="signature"
              width="100%"
              height="450px"
              ref="signaturePad"
              :options="{
                onBegin: () => {
                  $refs.signaturePad.resizeCanvas();
                }
              }"
            />
          </div>
          <div class="col-3 mt-2">
            <b-button
              variant="dark"
              style="font-size:13px;border: 0px;"
              @click="clear"
              >Undo</b-button
            >
          </div>
        </div>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="rmaf-verify"
            size="sm"
            variant="success"
            @click="addSignature()"
            style="font-size:13px"
            >Save</b-button
          >
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
            >Cancel</b-button
          >
        </template>
        <center>
          <small style="color:red">{{ errMessage }}</small>
        </center>
      </b-modal>
      <!-- <b-modal
        ref="close1"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        id="modal-multi-1"
      >
        <template v-slot:modal-title>
          <h6>Security Purposes</h6>
        </template>

        <div class="container">
          <h5>Enter Your Pincode</h5>
          <div class="pinBox">
            <input
              id="input-pincodeA"
              class="pinEntry"
              v-model="pincode"
              type="password"
              maxlength="4"
              name="pin"
              pattern="[0-9]{4}"
            />
          </div>
        </div>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="rmaf-approve"
            size="sm"
            variant="success"
            @click="checkPincode()"
            style="font-size:13px"
            >Save</b-button
          >
          <b-button
            id="rmaf-cancel-approve"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
            >Cancel</b-button
          >
        </template>
        <center>
          <small style="color:red">{{ errMessage }}</small>
        </center>
      </b-modal> -->
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import Loading from "@/components/Loading/Loading";
import VueSignaturePad from "vue-signature-pad";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

import moment from "moment";
export default {
  components: {
    DateRangePicker,
    VueSignaturePad,
    Loading
  },
  data() {
    return {
      isBusy: false,
      opens: "center",
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      results: [
        "Class B",
        " Watery Wet",
        "Husky/Stalks",
        "Moldy",
        "Mixed Green"
      ],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      status: [
        "In Progress",
        "Inbound",
        "Analysis",
        "Outbound",
        "Reconsideration",
        "Rejected"
      ],

      trial1: null,
      trial2: null,
      trial3: null,
      average: null,
      pincode: null,
      errMessage: null,

      onlyDate: null,
      supplier_code: null,
      item: null,
      transaction_id: null,

      getReports: [],
      sortDesc: false,
      filter: "",
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "id",
          label: "Transaction ID",
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      selectedIndex: null,
      status: [],
      sampling_status_id: [],
      resData: null,
      deduction_receipts: {
        total_deductions: 0,
        deduction_criteria: []
      },
      criteria: [],
      total_deductions: null,
      reasonRejection: null,
      qcp_id: null,
      showLoading: false
    };
  },

  computed: {
    Filteration() {
      return this.getReports.filter(emp => {
        const results =
          emp.status[0].name.match(this.filterActive) ||
          emp.supplier_code.match(this.filterActive);
        return results;
      });
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.Filteration.length) {
        end = this.Filteration.length;
      }
      if (this.Filteration.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.Filteration.length} entries`;
    }
  },

  created() {
    this.getStatus();
    this.getTransactions();
  },

  methods: {
    alreadyTallied(item) {
      const employee = JSON.parse(localStorage.employee);

      if (item.deductions) {
        for (let i = 0; i < item.deductions.length; i++) {
          if (employee.id == item.deductions[i].prepared_by) {
            return true;
          }
        }
        return false;
      }
    },
    rowClass(item) {
      if (!item) return;
      if (!item.weight) return "table-warning";
    },
    hasWeight(item) {
      if (item.weight) {
        if (item.weight[0].weights[0]) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    // hasCOA(item) {
    //   if (item.certificatOfAnalysis) {
    //     if (item.certificatOfAnalysis[0]) {
    //       return true;
    //     } else {
    //       return false;
    //     }
    //   } else {
    //     return false;
    //   }
    // },
    closeModal() {
      this.$refs["verify_modal"].hide();
      this.$refs["close"].hide();
      this.$refs["signature"].hide();
      // this.close()
    },
    pincodeModal() {
      this.$refs["close"].show();
    },
    async verifyModal(item) {
      const employee = JSON.parse(localStorage.employee);
      this.onlyDate = moment().format("YYYY-MM-DD hh:mm A");
      this.supplier_code = item.supplier_code;
      this.item = item.bir[0].items[0].description;
      this.transaction_id = item.id;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_receipt`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          transaction_id: item.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res.data);
          this.criteria = res.data.deductionReceipts.listDeductionCriteria;
          this.total_deductions =
            res.data.deductionReceipts.sum_total_deductions;
          this.reasonRejection = "";
          for (
            let i = 0;
            i < res.data.deductionReceipts.rejection.length;
            i++
          ) {
            const element = res.data.deductionReceipts.rejection[i];

            if (this.reasonRejection) {
              this.reasonRejection += ", " + element.reason_of_rejection;
            } else {
              this.reasonRejection = element.reason_of_rejection;
            }
          }
          this.$refs["verify_modal"].show();
        })
        .catch(e => {
          console.log("tets", e);
          this.errMessage = e;
        });
    },

    checkMoistureExists(item) {
      let exists = false;
      if (item.rmaf[0]) {
        if (item.rmaf[0].physical_analysis[0]) {
          if (item.rmaf[0].physical_analysis[0].moisture_tally_sheet[0]) {
            exists = true;
          }
        }
      }
      return exists;
    },
    findStatus(status_id) {
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].id == status_id) {
          return this.status[i].name;
        }
      }
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (
              this.status[i].name == "Quality Control" ||
              this.status[i].name == "Unloaded" ||
              this.status[i].name == "Unloading"
            ) {
              if (this.status[i].name == "Unloaded") {
                this.qcp_id = this.status[i].id;
              }
              this.sampling_status_id.push(this.status[i].id);
            }
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      // this.showLoading = true;
      this.isBusy = true;
      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);
      const department = employee.department.name.split("-");

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to,
          showToVerify: true,
          getWeight: true,
          department: department[0]
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // this.showLoading = false;
          this.isBusy = false;
          console.log(res.data.transactions);
          this.getReports = res.data.transactions.filter(transaction => {
            if (employee.department.name.toLowerCase() != "qa-analyst") {
              const results =
                this.sampling_status_id.includes(transaction.status_id) &&
                transaction.bir[0].department[0].name ==
                  employee.department.name;

              // console.log(employee.department.name)
              //  console.log(transaction.bir[0].department[0].name)
              // // console.log( this.sampling_status_id)
              // console.log(results)

              return results;
            } else {
              const results = this.sampling_status_id.includes(
                transaction.status_id
              );
              return results;
            }
          });
          // console.log(results)
          // console.log(employee.department.name)

          if (employee.department.name.toLowerCase() != "qa-analyst") {
            this.getReports = this.getReports.filter(transaction => {
              const results =
                transaction.bir[0].department[0].id == employee.department.id;

              //  console.log(transaction.bir[0].department[0].id)
              //  console.log(employee.department.id)
              return results;
            });
          }

          this.totalRows = this.getReports.length;
        })

        .catch(e => {
          // this.showLoading = false;
          this.isBusy = false;
          // this.errMessage = e.response.data;
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    deductModal(row) {
      this.$router.push(`/tally/${row.item.id}`);
    },
    verifyMicroModal(row) {
      // console.log(row)
      this.$router.push(`/tally/${row.item.id}`);
    },
    async updateTransactionStatus() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.transaction_id,
          employee_id: employee.id,
          checked_signature: this.signaturePath,
          validateTally: true,
          status_id: this.qcp_id,
          updated_by: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          // console.log(res.data)
          // this.resData = res.data;

          this.displaySuccessToast("Transaction has been updated.");
          // this.closeModal();
          this.$refs["signature"].hide();

          // this.getReports.splice(this.selectedIndex, 1);
          // this.getReports.unshift(this.resData);
          this.showLoading = false;
        })
        .catch(error => {
          this.showLoading = false;
          console.log(error);
          // this.displayErrorToast(error);
        });
    },
    async addSignature() {
      const employee = JSON.parse(localStorage.employee);
      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      var data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        var image = new Image();
        image.src = data.data;

        let fileName = `${moment().format("YYYY-MM-DD_HHmmss")}_${
          employee.id
        }.png`;

        const url = this.$axios.defaults.baseURL;

        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);

            const signature_path = await axios
              .post(`${url}/transactions/transactions/upload_signature`, fd, {
                headers: {
                  authorization: `B1SESSION=${employee.token}`
                }
              })
              .then(res => {
                return res.data.path;
              })
              .catch(err => {
                console.log(err);
              });

            return signature_path;
          }
        );

        this.signaturePath = path;

        await this.updateTransactionStatus();
        this.$refs["close"].hide();
        this.$refs["verify_modal"].hide();
        this.$refs["signature"].hide();

        this.getTransactions();

        // this.getReports.splice(this.selectedIndex, 1);
        // this.getReports.push(this.resData);
      }
    },
    async checkPincode() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            this.$refs["signature"].show();
            // await this.updateTransactionStatus();
            // this.$refs["close1"].hide();
            // this.$refs["verify_modal"].hide();

            // this.getReports.splice(this.selectedIndex, 1);
            // this.getReports.push(this.resData);
          }
        })
        .catch(e => {
          if (e.response) {
            this.errMessage = e.response.data;
          } else {
            this.errMessage = e;
          }
        });
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    cancel() {
      this.$refs["moisture"].hide();
    },
    cancel1() {
      this.$refs["close1"].hide();
    }
  }
};
</script>

<style>
.badge {
  font-size: 13px;
}
.borders {
  border: 1px solid black;
}
.signature {
  font-weight: bold;
  font-size: 13px;

  font-style: italic;
  bottom: 11px;
  left: 52px;
}
.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 70%;
}
.td1,
.th1 {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.container {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
