<template>
  <div class="body">
    <main>
      <LoginForm/>
    </main>
  </div>
</template>

<script>
import LoginForm from "@/components/Login/LoginForm";
export default {
  name: "LoginUI",
  layout: "loginLayout",
  components: {
    LoginForm
  },
  data() {
    return {
    };
  }
};
</script>

<style scoped>
body {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}

</style>
