<template>
  <div class="my-5 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <b-card class="my-5 mr-3 ml-4">
      <div v-if="type == 'Micro'" class="mx-auto">
        <div class="mx-auto" style="width: 40rem;">
          <b-col cols="12">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h2">
                  <h2>TRUCK DETAILS</h2>
                </div>
                <h5>
                  Date:
                  <b>{{ date }}</b>
                </h5>
                <h5>
                  Supplier:
                  <b>{{ supplier }}</b>
                </h5>
              </center>
            </b-card>
          </b-col>
          <!-- <b-card
            class="text-center ml-6"
            header="Transaction Details"
            header-bg-variant="success"
            header-text-variant="white"
          >
            <div>{{ onlyDate }}</div>
            <div>
              <h4>{{ supplier }}</h4>
            </div>
            <div>{{item }}</div>
          </b-card>-->
        </div>

        <b-card class="my-2 mr-2 ml-2" style="height:90%;">
          <b-row align-h="start" class="fixed my-3">
            <!-- <b-col>
              <b-button
                class="block ml-1 my-2"
                id="recon-endorse"
                size="sm"
                variant="success"
                @click="addPackage()"
                style="font-size:13px;border: 0px;margin-left: px;"
              >ADD PACKAGE</b-button>
            </b-col>-->
            <b-col cols="8"></b-col>
          </b-row>
          <center>
            <b-row align-h="center">
              <div class="text-center mt-3">
                <ul style="list-style: none;">
                  <!-- <div v-if="!this.fieldRowName">
                  <h2>Add field</h2>
                  </div>-->

                  <li v-for="(value, k) in microfilter" :key="k" class="mt-3">
                    <hr />
                    <div small>
                      <b-row>
                        <b-col class="h10">
                          <label>{{ fieldRowName[k] }}</label>
                        </b-col>

                        <b-col class="colpadding ">
                          <b-form-input
                            id="package"
                            type="text"
                            v-model="value.package_no"
                            placeholder="Package No/Lot. No"
                            disabled
                          ></b-form-input>
                        </b-col>

                        <b-col class="colpadding">
                          <b-form-input
                            id="quantity"
                            type="text"
                            v-model="value.quantity"
                            placeholder="Quantity"
                            disabled
                          ></b-form-input>
                        </b-col>

                        <b-col class="colpadding">
                          <b-form-input
                            id="unitMeasure"
                            type="text"
                            v-model="value.remarks"
                            placeholder="Unit Measure"
                            disabled
                          ></b-form-input>
                        </b-col>

                        <b-col class="colpadding; mt-1">
                          <Datepicker
                            placeholder="Expiry Date"
                            v-model="datastore.expiry_date[k]"
                            typeable="true"
                          ></Datepicker>
                        </b-col>

                         <b-col class="colpadding; mt-1">
                          <Datepicker
                            placeholder="Manufacture Date"
                            v-model="datastore.manifacture_date[k]"
                            typeable="true"
                          ></Datepicker>
                        </b-col>

                        <b-col cols="1" class="mt-1">
                          <b-button
                            id="docu_remove"
                            class="mb-2"
                            size="sm"
                            @click="addItem(k)"
                            variant="dark"
                          >
                            <font-awesome-icon icon="balance-scale" />
                          </b-button>
                        </b-col>
                      </b-row>
                      <span v-if="microfilter[k].toBeConvert === 1">
                        <b-row align-h="start">
                          <b-col class="colpadding">
                            <b-form-input
                              id="quantity"
                              type="number"
                              v-model="datastore.quantityGdrtrn[k]"
                              placeholder="Quantity"
                                @change="cal(k, UoMsubmit[k])"
                            ></b-form-input>
                          </b-col>

                          <b-col class="colpadding">
                            <b-form-select
                              id="unitMeasure"
                              text="Select UoM"
                              v-model="UoMsubmit[k]"
                              :options="
                                finalUoM[k].alt.length == 0
                                  ? finalUoM[k].pri
                                  : finalUoM[k].alt
                              "
                              required
                              @change="cal(k, UoMsubmit[k])"
                              style="width:10rem"
                            >
                            </b-form-select>
                          </b-col>

                          <b-col class="colpadding">
                            <b-form-input
                              id="quantity"
                              type="text"
                              v-model="calculate[k]"
                              placeholder="Total"
                              disabled
                              :key="componentKey"
                            ></b-form-input>
                          </b-col>
                          <!-- <b-col cols="1" class="colpadding ; mt-1">
                              <b-row align-h="end">
                                <b-button
                                  :id="`docu_remove-${k}`"
                                  size="sm"
                                  @click="addLotno(k)"
                                  variant="dark"
                                >
                                  <font-awesome-icon icon="plus" />
                                </b-button>
                              </b-row>
                            </b-col> -->

                          <!-- <b-col class="colpadding">
                          <b-form-input
                            id="unitMeasure"
                            type="text"
                            v-model="datastore.remarksCnvrto[k]"
                            placeholder="Unit Measure"
                          ></b-form-input>
                            </b-col>-->
                          <b-col class="colpadding">
                            <b-form-input
                              :id="`lotNum-${k}`"
                              type="text"
                              v-model="datastore.lotNumb[k].lotNum"
                              placeholder="Lot no."
                              @keydown="replace(k, $event)"
                            ></b-form-input>
                            <small>
                              Separated with spaces
                            </small>
                          </b-col>
                      <span v-if="isFull[k] == 1">
                          <b-col class="colpadding">
                            <b-form-input
                              :id="`lotNum-${k}`"
                              type="text"
                              v-model="datastore.reasonOfRejection[k]"
                              placeholder="Reason of rejection"
                            ></b-form-input>
                            <!-- <small>
                              Separated with spaces
                            </small> -->
                          </b-col>
                      </span>
                        </b-row>
                        <!-- <b-row
                            v-for="(value, a) in datastore.lotNumb[k].lotNum"
                            :key="a"
                            class="mt-3"
                          > -->

                        <!-- <b-col cols="1" class="colpadding ; mt-1">
                              <b-button
                                :id="`docu_remove-${k}-${a}`"
                                class="mb-2"
                                size="sm"
                                @click="minusLotno(k, a)"
                                variant="dark"
                              >
                                <font-awesome-icon icon="minus" />
                              </b-button>
                            </b-col> -->
                        <!-- </b-row> -->
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </b-row>
          </center>
          <b-row align-h="end" class="fixed my-3 mt-2">
            <b-button
              class="mr-2  my-2 block"
              id="recon-endorse"
              size="sm"
              variant="success"
              @click="confirmMicro()"
              style="font-size:13px;margin-right: 10px;"
              >Save</b-button
            >
            <b-button
              class="block mr-4 my-2"
              id="cancel-recon"
              size="sm"
              @click="cancel1()"
              style="font-size:13px;border: 0px;margin-right: 10px;"
              >Cancel</b-button
            >
          </b-row>
        </b-card>

        <!-- <b-modal
          size="md"
          header-bg-variant="success"
          header-text-variant="light"
          body-bg-variant="light"
          footer-bg-variant="light"
          id="bv-modal-findUser"
          class="modal"
          hide-header-close
          no-close-on-backdrop
        >
          <b-col cols="12">
            <h6 class="mb-4 ml-1 mt-2">Add new field</h6>
            <b-card class="cardShadow" style="position:relative; bottom:14px">
              <small class="ml-1">New field</small>
              <b-form-input
                id="newField"
                type="text"
                v-model="fieldName"
                style="font-size:10px"
                required
              ></b-form-input>
            </b-card>
          </b-col>

          <template v-slot:modal-footer="{}">
            <b-button
              id="cancel-add-account"
              size="sm"
              @click="ExitaddPackage()"
              style="font-size:13px;border: 0px;"
            >Cancel</b-button>
            <b-button
              id="save-add-account"
              size="sm"
              variant="success"
              @click="SaveaddPackage()"
              style="font-size:13px"
              :disabled="showButtonLoading === true"
            >
              <b-spinner v-show="showButtonLoading === true" small label="Spinning"></b-spinner>Save
            </b-button>
          </template>
        </b-modal>-->
      </div>

      <div v-else class="my-4 mr-4 ml-4">
        <b-row>
          <b-col cols="12">
            <div v-if="department[0] === 'CDF'">
              <b-card class="my-2 mr-2 ml-2" style="height:90%">
                <center>
                  <div class="h2">
                    <h2>TRUCK DETAILS</h2>
                  </div>
                  <h5>
                    Date:
                    <b>{{ date }}</b>
                  </h5>
                  <h5>
                    Plate Number:
                    <b>{{ plate }}</b>
                  </h5>
                  <h5>
                    Number of Bags:
                    <b>{{ no_of_bags }}</b>
                  </h5>
                </center>
              </b-card>
            </div>
          </b-col>

          <b-col cols="12">
            <div v-if="department[0] != 'CDF'">
              <b-card class="my-2 mr-2 ml-2" style="height:90%">
                <center>
                  <div class="h2">
                    <h2>TRUCK DETAILS</h2>
                  </div>
                  <h5>
                    Date:
                    <b>{{ date }}</b>
                  </h5>
                  <h5>
                    Plate Number:
                    <b>{{ plate }}</b>
                  </h5>
                </center>
              </b-card>
            </div>
          </b-col>
          <b-col cols="12">
            <center>
              <b-card class="my-2 mr-2 ml-2" style="height:90%;">
                <b-row
                  v-for="(item, index) in criteria"
                  :key="index"
                  align-h="center"
                >
                  <div class="h7">
                    <h6 class="mt-1">{{ item.description }}</h6>
                  </div>

                  <b-form-input
                    v-model="criteriaTally[index]"
                    min="0"
                    class="input"
                    type="number"
                    :id="index.toString()"
                  />
                  <div v-if="department[0] != 'CDF'">
                    <b-button
                      size="sm"
                      @click="deduct(index)"
                      class="button-tally"
                    >
                      <font-awesome-icon
                        style="color:white"
                        icon="minus"
                        small
                      />
                    </b-button>
                    <b-button
                      size="sm"
                      @click="add(index)"
                      variant="success"
                      class="button-tally"
                    >
                      <font-awesome-icon
                        style="color:white"
                        icon="plus"
                        small
                      />
                    </b-button>
                  </div>
                </b-row>

                <b-row align-h="center">
                  <div class="h8 ml-2">
                    <h6 class="mt-1">Reason for Rejection</h6>
                  </div>
                  <b-form-input
                    v-model="reasonRejection"
                    class="input1"
                    type="text"
                  />
                </b-row>

                <b-row align-h="end" class="fixed my-3">
                  <b-button
                    href="/transaction"
                    class="mr-2  my-2 block"
                    style="font-size:14px; margin-right: 10px;"
                    >Cancel</b-button
                  >
                  <b-button
                    class="block mr-4 my-2"
                    @click="confirmDeduction"
                    variant="success"
                    style="font-size:14px; margin-right: 10px;"
                    >Save</b-button
                  >
                </b-row>
              </b-card>
            </center>
          </b-col>
        </b-row>
      </div>
    </b-card>

    <b-modal
      no-fade
      ref="confirmMicro"
      header-bg-variant="success"
      header-text-variant="light"
      title="Micro Delivery"
      size="xl"
    >
      <b-card
        class="cardShadow"
        style="width:55
        rem;margin-left: auto;margin-right: auto "
      >
        <b-row class="text-center">
          <b-col cols="12">
            <div>
              <h5>BIOTECH FARMS, INC.</h5>
              <div
                class="mb-1"
                style="position:relative;bottom:13px; font-size:13px"
              >
                Brgy. Dumadalig, Tantangan, South Cotabato
              </div>
            </div>
            <br />
            <b style="position:relative;bottom:28px">
              <strong>Delivery Micro Details</strong>
            </b>
          </b-col>
        </b-row>
        <b-row>
          <b-col align-self="center" cols="12" class="mr-1 mb-2">
            <div style="font-size:15px;text-transform: uppercase">
              <b>{{ supplier }}</b>
            </div>
            <div style="font-size:13px;text-transform: uppercase;color:green">
              <b>Disodreen</b>
            </div>
            <div style="text-decoration: underline;font-size:12px">Gensan</div>
          </b-col> </b-row
        >​
        <!-- Content -->
        <table
          style="font-size:12px"
          class="b-table table table-bordered table-striped"
        >
          <tr>
            <th class="borders" title="Item"                        >Item</th>
            <th class="borders" title="Package Number"              >Package No.</th>
            <th class="borders" title="Total Quantity"              >Total Qty <br /></th>
            <th class="borders" title="Unit of measurment"          >UoM</th>
            <th class="borders" title="Lot Number"                  >Lot no.</th>
            <th class="borders" title="Quantity to be received"     >Qty Received</th>
            <th class="borders" title="Converted Unit of measurment">Converted UoM</th>
            <th class="borders" title="Expiry Date"                 >Expiry Date</th>  
            <th class="borders" title="Manufacture Date"            >Manufacture Date</th>  
            <th class="borders" title="Total Received"              >Total Received</th>
            <th class="borders" title="Rejected"                    >Rejected</th>
            <th class="borders" title="Reason of Rejection"         >Reason</th>

          </tr>
          <!-- testing -->
          <tr v-for="(item, index) in fieldRowName" :key="index">
            <td class="td1">{{ fieldRowName[index] }}</td>
            <td class="td1">{{ microfilter[index].package_no }}
            <td class="td1">{{ microfilter[index].quantity }}</td>
            <td class="td1">{{ microfilter[index].remarks }}</td>
            <td class="td1">{{ datastore.lotNumb[index].lotNum }}</td>
            <td class="td1">{{ datastore.quantityGdrtrn[index] }}</td>
            <td class="td1">{{ UoMsubmit[index] }}</td>
            <td class="td1">{{ formatedDate[index] }}</td>
            <td class="td1">{{ formatedDateMan[index] }}</td>
            <td class="td1">{{ totalUom[index] }}&nbsp;
              {{ microfilter[index].remarks }}</td>
            <td class="td1">{{ reject[index] }}</td>
            <td class="td1">{{ datastore.reasonOfRejection[index] }}</td>
          </tr>
        </table>

        <br />
        <br />
        <br />​
        <br />
      </b-card>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="cancel-D"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
        <b-button
          id="deductions"
          size="sm"
          variant="success"
          v-b-modal.modal-multi-1
          style="font-size:13px"
          >Endorse</b-button
        >
      </template>
    </b-modal>

    <b-modal
      no-fade
      ref="confirm"
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <b-row>
        <b-col cols="5">
          <h4>Rejection Receipt</h4>
          <b-card bg-variant="light">
            <b-row align-h="center">
              <b-col cols="5">
                <h6>
                  <b>Date :</b>
                </h6>
              </b-col>
              <b-col cols="7">
                <b style="text-decoration: underline;">{{ onlyDate }}</b>
              </b-col>
            </b-row>
            <b-row align-h="center">
              <b-col cols="5">
                <h6>
                  <b>Supplier :</b>
                </h6>
              </b-col>
              <b-col cols="7">
                <b style="text-decoration: underline;">{{ supplier }}</b>
              </b-col>
            </b-row>
            <b-row align-h="center">
              <b-col cols="5">
                <h6>
                  <b>Commodity :</b>
                </h6>
              </b-col>
              <b-col class="mb-4" cols="7">
                <b style="text-decoration: underline;">{{ item }}</b>
              </b-col>
            </b-row>
            <table class="b-table table table-bordered table-striped">
              <tr class="th1">
                <th>Criteria</th>
                <th>No of Bags Rejected</th>
                <th>Reason of Rejection</th>
              </tr>
              <tr v-for="(item, index) in criteria" :key="index">
                <td class="td1" v-if="item.description == 'Rejected'">
                  {{ item.description }}
                </td>
                <td class="td1" v-if="item.description == 'Rejected'">
                  {{ criteriaTally[index] }}
                </td>
                <td class="td1" v-if="item.description == 'Rejected'">
                  {{ reasonRejection }}
                </td>
              </tr>
            </table>
          </b-card>
        </b-col>
        <b-col cols="7">
          <h4>Deduction Receipt</h4>
          <b-card bg-variant="light">
            <b-row align-h="center">
              <b-col cols="5">
                <h6>
                  <b>Date :</b>
                </h6>
              </b-col>
              <b-col cols="7">
                <b style="text-decoration: underline;">{{ onlyDate }}</b>
              </b-col>
            </b-row>
            <b-row align-h="center">
              <b-col cols="5">
                <h6>
                  <b>Supplier :</b>
                </h6>
              </b-col>
              <b-col cols="7">
                <b style="text-decoration: underline;">{{ supplier }}</b>
              </b-col>
            </b-row>
            <b-row align-h="center">
              <b-col cols="5">
                <h6>
                  <b>Commodity :</b>
                </h6>
              </b-col>
              <b-col class="mb-4" cols="7">
                <b style="text-decoration: underline;">{{ item }}</b>
              </b-col>
            </b-row>
            <table class="b-table table table-bordered table-striped">
              <tr class="th1">
                <th>Criteria</th>
                <th>Quantity</th>
                <th>Deductions</th>
                <th>Total (kg)</th>
              </tr>
              <tr v-for="(item, index) in criteria" :key="index">
                <td class="td1" v-if="item.description != 'Rejected'">
                  {{ item.description }}
                </td>
                <td class="td1" v-if="item.description != 'Rejected'">
                  {{ criteriaTally[index] }}
                </td>
                <td
                  class="td1"
                  v-if="
                    item.description != 'Rejected' &&
                      item.description == 'Class B'
                  "
                >
                  <b-form-input
                    @change="calculateTotalDeduction(index)"
                    type="number"
                    step="0.1"
                    style="width:80px;"
                    v-model="deductionPerCriteria[index]"
                    required
                  ></b-form-input>
                  <!-- {{ deductionPerCriteria[index] }} -->
                </td>
                <td
                  class="td1"
                  v-else-if="
                    item.description != 'Rejected' &&
                      (item.description === 'Moldy' ||
                        item.description === 'Lato-lato')
                  "
                >
                  <b-form-select
                    :id="index"
                    size="sm"
                    style="width:80px;"
                    v-model="deductionPerCriteria[index]"
                    @change="calculateTotalDeduction(index)"
                    required
                  >
                    <option
                      v-for="(value, i) in deductions"
                      :key="i"
                      :value="value"
                      >{{ value }}</option
                    >
                  </b-form-select>
                  <!-- {{ deductionPerCriteria[index] }} -->
                  <!-- {{item.deduction_per_criteria}} -->
                </td>
                <td
                  class="td1"
                  v-else-if="
                    item.description != 'Rejected' &&
                      (item.description != 'Moldy' ||
                        item.description != 'Lato-lato')
                  "
                >
                  <!-- <b-form-select
                    :id="index"
                    size="sm"
                    style="width:80px;"
                    v-model="deductionPerCriteria[index]"
                    @change="calculateTotalDeduction(index)"
                    required=""
                  >
                    <option v-for="(value, i) in deductions" :key="i" :value="value">{{value}}</option>
                  </b-form-select>-->
                  {{ deductionPerCriteria[index] }}
                  <!-- {{item.deduction_per_criteria}} -->
                </td>
                <td class="td1" v-if="item.description != 'Rejected'">
                  {{ totalDeductionPerCriteria[index] }}
                </td>
              </tr>
              <tr>
                <td class="td1">
                  <strong>TOTAL</strong>
                </td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1">
                  <strong>{{ this.total_deductions }}</strong>
                </td>
              </tr>
            </table>
          </b-card>
        </b-col>
      </b-row>
      <br />

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="cancel-D"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
        <b-button
          id="deductions"
          size="sm"
          variant="success"
          v-b-modal.modal-multi-1
          style="font-size:13px"
          >Endorse</b-button
        >
      </template>
    </b-modal>

    <b-modal
      ref="close1"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      id="modal-multi-1"
    >
      <template v-slot:modal-title>
        <h6>Security Purposes</h6>
      </template>
      <center>
        <div class="container">
          <h5>Enter Your Pincode</h5>
          <div class="pinBox">
            <input
              class="pinEntry"
              v-model="pincode"
              type="password"
              maxlength="4"
              name="pin"
              pattern="[0-9]{4}"
            />
          </div>
        </div>
      </center>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="cancel-P"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
        <b-button
          id="save-deductions"
          size="sm"
          variant="success"
          @click="checkPincode()"
          style="font-size:13px"
          >Save</b-button
        >
      </template>
      <center>
        <small style="color:red">{{ errMessage }}</small>
      </center>
    </b-modal>

    <b-modal
      ref="signature"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <template v-slot:modal-title>
        <h6>Draw Signature</h6>
      </template>

      <div>
        <div class="col-12">
          <VueSignaturePad
            id="signature"
            width="100%"
            height="450px"
            ref="signaturePad"
            :options="{
              onBegin: () => {
                $refs.signaturePad.resizeCanvas();
              }
            }"
          />
        </div>
        <div class="col-3 mt-2">
          <b-button
            variant="dark"
            style="font-size:13px;border: 0px;"
            @click="clear"
            >Undo</b-button
          >
        </div>
      </div>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="rmaf-verify"
          size="sm"
          variant="success"
          @click="addSignature()"
          style="font-size:13px"
          >Save</b-button
        >
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
          >Cancel</b-button
        >
      </template>
      <center>
        <small style="color:red">{{ errMessage }}</small>
      </center>
    </b-modal>

    <!-- <b-modal
      ref="signatures"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
    >
      <template v-slot:modal-title>
        <h6>Draw Signature</h6>
      </template>

      <div>
        <div class="col-12">
          <VueSignaturePad
            id="signature"
            width="100%"
            height="450px"
            ref="signaturePad"
            :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}"
          />
        </div>
        <div class="col-3 mt-2">
          <b-button variant="dark" style="font-size:13px;border: 0px;" @click="clear">Undo</b-button>
        </div>
      </div>

      <template v-slot:modal-footer="{ ok, cancels }">
        <b-button
          id="rmaf-verify"
          size="sm"
          variant="success"
          @click="addSignature()"
          style="font-size:13px"
        >Save</b-button>
        <b-button
          id="rmaf-verify-cancel"
          size="sm"
          @click="cancels()"
          style="font-size:13px;border: 0px;"
        >Cancel</b-button>
      </template>
      <center>
        <small style="color:red">{{errMessage}}</small>
      </center>
    </b-modal>-->

    <span style="color:white">{{ bug }}</span>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import VueSignaturePad from "vue-signature-pad";
import { parse } from "@babel/parser";
import Loading from "@/components/Loading/Loading";
import Datepicker from "vuejs-datepicker";

export default {
  layout: "AdminDashboard",
  middleware: "authRMScan",
  components: {
    VueSignaturePad,
    Loading,
    Datepicker
  },
  data() {
    return {
      calculate: [],
      componentKey: 0,
      showLoading: false,
      value: 0,
      businessEntity: "Business Entity",
      date: null,
      onlyDate: null,
      item: null,
      items: [],
      plate: null,
      criteria: [],
      criteriaTally: [],
      totalDeductionPerCriteria: [],
      deductionPerCriteria: [],
      pincode: null,
      supplier: null,
      errMessage: null,
      bug: "",
      transaction: [],
      business_entity_id: null,
      total_deductions: 0,
      transaction_id: null,
      quality_passed_id: null,
      status: null,
      reasonRejection: null,
      RejectedIndex: null,
      deductions: [2, 3, 4, 5, 6, 7, 8, 9, 10],
      option: {
        penColor: "rgb(0, 0, 0)",
        backgroundColor: "rgb(255,255,255)"
      },
      disabled: false,
      signaturePath: null,
      unloading_status: null,
      type: null,

      fieldName: [],
      fieldRowName: [],
      tobeView: [],
      micro: {
        transaction_id: null,
        data: []
      },
      datastore: {
        quantity: [],
        expiry_date: [],
        manifacture_date: [],
        package_no: [],
        remarks: [],
        quantityGdrtrn: [],
        remarksCnvrt: [],
        quantityCnvrt: [],
        remarksCnvrto: [],
        lotNumb: [],
        reasonOfRejection:[],
      },
      created_date: null,
      created_time: null,
      microfilter: [],
      department: [],
      no_of_bags: null,
      transactionId: null,
      toConvert: false,
      formatedDate: [],
      formatedDateMan: [],

      finalUoM: [],
      UoMsubmit: [],
      numOfLotNo: [],
      totalUom: [],
      isFull:[],
      reject:[],
      microfinal:[],
    };
  },
  created() {
    this.getStatus();
    this.getTransaction();
    this.transactionId = this.$route.params.id;
  },
  methods: {
    cal(index, value) {
//diri
let data = 0
      if (this.UoMsubmit[index] == this.transaction.bir[index].units[0].primary.unit) {
         data = this.datastore.quantityGdrtrn[index] * parseInt(this.transaction.bir[index].units[0].primary.baseQty);
        this.calculate[index] = `${data} ${this.microfilter[index].remarks}`;
      } else {
        for (let i = 0;i < this.transaction.bir[index].units[0].alt.length;i++) {

          const element = this.transaction.bir[index].units[0].alt[i];

          if (this.UoMsubmit[index] == element.unit) {
             data = this.datastore.quantityGdrtrn[index] * parseInt(this.transaction.bir[index].units[0].alt[i].baseQty);

            this.calculate[index] = `${data} ${this.microfilter[index].remarks}`;
          }
        }
      }

      if(data<this.microfilter[index].quantity){
        this.isFull[index]="1"
      }else{
        this.isFull[index]="0"
      }
  
      this.componentKey++;
    },

    replace(index, k) {
      if (k.key == " ") {
        let addComma;
        if (this.datastore.lotNumb[index].lotNum != null) {
          addComma = this.datastore.lotNumb[index].lotNum + ", ";
        }

        if (this.datastore.lotNumb[index].lotNum) {
          if (
            this.datastore.lotNumb[index].lotNum.charAt(
              this.datastore.lotNumb[index].lotNum.length - 3
            ) == ","
          ) {
            k.preventDefault();
          } else {
            this.datastore.lotNumb[index].lotNum = addComma;
          }
        } else {
          k.preventDefault();
        }
      }
    },
    cancel() {
      this.$refs["confirm"].hide();
    },
    cancel1() {
      // this.$bvModal.hide("close1");
      this.$refs["signature"].hide();
    },

    cancels() {
      this.$refs["signatures"].hide();
    },

    addItem(k) {
      if (this.microfilter[k].toBeConvert === 1) {
        this.microfilter[k].toBeConvert = 0;
      } else {
        this.microfilter[k].toBeConvert = 1;
      }

      console.log(this.datastore);
    },

    minusLotno(k, a) {
      console.log(k, a);
      this.datastore.lotNumb[k].lotNum.splice(a, 1);
    },

    addLotno(k) {
      // console.log(this.datastore.lotNumb);

      console.log(k);

      this.datastore.lotNumb[k].lotNum.push(null);

      console.log(this.datastore.lotNumb);
    },

    ExitaddPackage() {
      this.$bvModal.hide("bv-modal-findUser");
    },

    async addPackage() {
      this.showLoading = true;
      this.fieldName = null;
      await this.$bvModal.show("bv-modal-findUser");
      this.showLoading = false;
    },

    SaveaddPackage() {
      this.tobeView.push(this.fieldName);
      this.fieldRowName = this.tobeView;
      this.$bvModal.hide("bv-modal-findUser");
    },

    // async addSignatures() {
    //   const employee = JSON.parse(localStorage.employee);
    //   function srcToFile(src, fileName, mimeType) {
    //     return fetch(src)
    //       .then(function(res) {
    //         return res.arrayBuffer();
    //       })
    //       .then(function(buf) {
    //         return new File([buf], fileName, { type: mimeType });
    //       });
    //   }

    //   var data = this.$refs.signaturePad.saveSignature();

    //   if (data.data) {
    //     var image = new Image();
    //     image.src = data.data;

    //     var fileName = moment().format("YYYY-MM-DD_HHmmss") + "_" + employee.id;

    //     const url = this.$axios.defaults.baseURL;

    //     const path = await srcToFile(image.src, fileName, "image/png").then(
    //       async function(file) {
    //         var fd = new FormData();
    //         fd.append("image", file, file.name);

    //         const signature_path = await axios
    //           .post(`${url}/transactions/transactions/upload_signature`, fd, {
    //             headers: {
    //               authorization: `B1SESSION=${employee.token}`
    //             }
    //           })
    //           .then(res => {
    //             console.log(res.data);
    //             return res.data.path;
    //           })
    //           .catch(err => {
    //             console.log(err);
    //           });

    //         return signature_path;
    //       }
    //     );

    //     this.signaturePath = path;
    //     await this.EndorseTest()
    //     console.log("heh", this.transaction.status.name);
    //   }
    // },
    async EndorseTest() {
      // this.showLoading = true;
      this.created_date = moment().format("YYYY-MM-DD");
      this.created_time = moment().format("HHmm");

      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/micro/add`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          transaction_id: this.micro.transaction_id,
          created_by: employee.id,
          created_date: this.created_date,
          created_time: this.created_time,
          data: this.micro.data
        }
      })
        .then(res => {
          this.displaySuccessToast("Delivery Updated");
        })
        .catch(error => {
          console.log(error);
          this.displayErrorToast(error);
        });

      setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
    },

    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    async updateTransactionStatus(status) {
      console.log(status);
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.$route.params.id,
          status: status,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.displaySuccessToast("Delivery Updated");

          if (
            this.transaction.bir[0].raw_materials[0].description === "Macro"
          ) {
            this.closeModal();
          }
          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          console.log(error);
          this.displayErrorToast(error);
        });
    },

    closeModal() {
      // this.close();
    },

    // async addSignature() {
    //   const employee = JSON.parse(localStorage.employee);
    //   function srcToFile(src, fileName, mimeType) {
    //     return fetch(src)
    //       .then(function(res) {
    //         return res.arrayBuffer();
    //       })
    //       .then(function(buf) {
    //         return new File([buf], fileName, { type: mimeType });
    //       });
    //   }

    //   var data = this.$refs.signaturePad.saveSignature();

    //   if (data.data) {
    //     var image = new Image();
    //     image.src = data.data;

    //     var fileName = moment().format("YYYY-MM-DD_HHmmss") + "_" + employee.id;

    //     const url = this.$axios.defaults.baseURL;

    //     const path = await srcToFile(image.src, fileName, "image/png").then(
    //       async function(file) {
    //         var fd = new FormData();
    //         fd.append("image", file, file.name);

    //         const signature_path = await axios
    //           .post(`${url}/transactions/transactions/upload_signature`, fd, {
    //             headers: { Authorization: `Bearer ${employee.token}` }
    //           })
    //           .then(res => {
    //             return res.data.path;
    //           })
    //           .catch(err => {
    //             console.log(err);
    //           });

    //         return signature_path;
    //       }
    //     );

    //     this.signaturePath = path;

    //     await this.endorse();
    //   }
    // },
    calculateTotalDeduction(index) {
      this.totalDeductionPerCriteria[index] = (
        parseFloat(this.criteriaTally[index]) *
        parseFloat(this.deductionPerCriteria[index])
      ).toFixed(2);

      this.calculateTotal();
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async getRejectionMicro() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rejection_receipt/add_rejection_receipt`,
        data: {
          transaction_id: this.micro.transaction_id,
          date: this.onlyDate,
          no_of_bags_rejected: this.criteriaTally[this.RejectedIndex],
          reason_of_rejection: this.reasonRejection,
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log("wew", res.data);
        })
        .catch(e => {
          this.displayErrorToast(error.response.data);
        });
    },

    async getRejection() {
      try {
        this.showLoading = true;

        const employee = JSON.parse(localStorage.employee);
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/rejection_receipt/add_rejection_receipt`,
          data: {
            transaction_id: this.transactionId,
            date: this.onlyDate,
            no_of_bags_rejected: this.criteriaTally[this.RejectedIndex],
            reason_of_rejection: this.reasonRejection,
            employee_id: employee.id,
            modules: employee.modules
          },
          headers: {
            authorization: `B1SESSION=${employee.token}`
          }
        });
      } catch (e) {
        this.displayErrorToast(e.response.data);
      }
    },
    async checkPincode() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            this.$refs["signature"].show();
            // await this.endorse();
            // this.$refs["close1"].hide();
          }
        })
        .catch(e => {
          if (e.response) {
            this.errMessage = e.response.data;
          } else {
            this.errMessage = e;
          }
        });
    },
    async addSignature() {
      const employee = JSON.parse(localStorage.employee);
      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      var data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        var image = new Image();
        image.src = data.data;

        var fileName = moment().format("YYYY-MM-DD_HHmmss") + "_" + employee.id;

        const url = this.$axios.defaults.baseURL;

        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);

            const signature_path = await axios
              .post(`${url}/transactions/transactions/upload_signature`, fd, {
                headers: {
                  authorization: `B1SESSION=${employee.token}`
                }
              })
              .then(res => {
                console.log(res.data);
                return res.data.path;
              })
              .catch(err => {
                console.log(err);
              });

            return signature_path;
          }
        );

        this.signaturePath = path;

        if (this.transaction.bir[0].raw_materials[0].description === "Micro") {
          await this.EndorseTest();
          await this.updateTransactionStatus("Unloaded");

          await this.getRejectionMicro();
        }

        if (this.transaction.bir[0].raw_materials[0].description === "Macro") {
          if (this.transaction.status.name != "Unloading") {
            await this.updateTransactionStatus("Unloading");
          }
          await this.endorse();
        }

        // await this.updateTransaction(this.status_id);

        // this.$refs["signature"].hide();

        // this.getReports.splice(this.selectedIndex, 1);
        // this.getReports.push(this.resData);
      }
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (this.status[i].name == "Unloaded") {
              this.quality_passed_id = this.status[i].id;
            }
            if (this.status[i].name == "Unloading") {
              this.unloading_status = this.status[i].id;
            }
          }
        })
        .catch(e => {});
    },
    async endorse() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_receipt/add_deduction_receipt`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id,
          total_deductions: this.total_deductions,
          created_by: employee.id,
          prepared_by: employee.id,
          prepared_signature: this.signaturePath
        }
      })
        .then(async res => {
          console.log(res.data);

          for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
            try {
              this.showLoading = true;
              await axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/transactions/deduction_criteria/add_deduction_criteria`,
                headers: {
                  authorization: `B1SESSION=${employee.token}`
                },
                data: {
                  employee_id: employee.id,
                  criteria_id: this.criteria[i].id,
                  total_deductions: this.total_deductions,
                  deduction_receipt_id: res.data.id,
                  quantity: this.criteriaTally[i],
                  deduction: this.deductionPerCriteria[i],
                  total: this.totalDeductionPerCriteria[i]
                }
              });
            } catch (e) {
              this.displayErrorToast(e.response.data);
            }
          }

          await this.getRejection();
          // this.$refs["confirm"].hide();
          // this.$refs["signature"].hide();

          this.displaySuccessToast("Deductions Saved.");
          this.showLoading = false;

          setTimeout(() => this.$router.push({ path: "/transaction" }), 1000);
        })
        .catch(error => {
          if (error.response) {
            this.showLoading = false;
            this.displayErrorToast(error.response.data);
          } else {
            this.showLoading = false;
            this.displayErrorToast(error);
          }
          this.showLoading = false;
        });
    },
    // async updateTransaction() {
    //   this.showLoading = true;

    //   const employee = JSON.parse(localStorage.employee);
    //   await axios({
    //     method: "PUT",
    //     url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
    //     headers: {
    //       authorization: "Bearer " + localStorage.token
    //     },
    //     data: {
    //       id: this.$route.params.id,
    //       status_id: this.quality_passed_id,
    //       updateStatus: true,
    //       updated_by: employee.id,
    //       employee_id: employee.id,
    //       modules: employee.modules
    //     }
    //   })
    //     .then(res => {
    //       this.showLoading = false;
    //     })
    //     .catch(error => {
    //       this.showLoading = false;
    //       this.displayErrorToast(error.response.data);
    //     });
    // },
    add(index) {
      this.criteriaTally[index] = parseInt(this.criteriaTally[index]) + 1;
      this.bug = this.criteriaTally[index];
    },
    deduct(index) {
      this.criteriaTally[index] = parseInt(this.criteriaTally[index]) - 1;
      if (this.criteriaTally[index] < 0) {
        this.criteriaTally[index] = 0;
      }
      this.bug = this.criteriaTally[index];
    },

    async getTransaction() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.$route.params.id,
          getWeight: true
        }
      })
        .then(async res => {
          console.log(res.data.transactions[0]);

          this.transaction = res.data.transactions[0];
          this.no_of_bags = this.transaction.no_of_bags;
          this.transaction_id = this.transaction.id;

          //tae
          if (
            this.transaction.bir[0].raw_materials[0].description === "Micro"
          ) {
            this.fieldName = this.transaction.po_details[0].DocumentLines;

            // console.log(this.transaction.po_details[0].DocumentLines);

            // let lotNum = { [] };

            let data = [];
            let data2 = [];
            let data3 = [];

            for (let a = 0; a < this.fieldName.length; a++) {
              const micro = {};
              const element = this.fieldName[a].ItemDescription;

              micro.package_no = this.fieldName[a].ItemCode;
              micro.remarks = this.fieldName[a].MeasureUnit;
              micro.quantity = this.fieldName[a].Quantity;
              micro.toBeConvert = 0;

              // console.log('1', this.fieldName[a].ItemDescription,this.fieldName[a].ItemCode,this.fieldName[a].MeasureUnit,this.fieldName[a].Quantity);
              data.push(element);
              data2.push(micro);
              data3.push(micro)
              this.datastore.lotNumb.push({
                lotNum: null
              });
            }
            this.micro.data = data2;
            this.microfilter = data3;
            console.log(this.microfilter);

            this.fieldRowName = data;
            // console.log(this.datastore);

            let UoM = [];

            for (let b = 0; b < this.transaction.bir.length; b++) {
              let unitOfMeasure = { alt: [], pri: [] };

              const alt = this.transaction.bir[b].units[0];
              if (alt.alt.length != 0) {
                let data = [];
                for (let c = 0; c < alt.alt.length; c++) {
                  const element = alt.alt[c].unit;

                  data.push(element);
                }

                unitOfMeasure.alt = data;
                unitOfMeasure.alt.push(alt.primary.unit);
                unitOfMeasure.pri.push(alt.primary.unit);
              }

              if (alt.alt.length === 0) {
                const element1 = alt.primary.unit;

                unitOfMeasure.pri.push(element1);
              }

              UoM.push(unitOfMeasure);
            }
            this.finalUoM = UoM;
          }

          this.department = this.transaction.bir[0].department[0].name.split(
            "-"
          );

          this.business_entity_id = this.transaction.bir[0].business_entity[0].id;

          this.date = moment(this.transaction.created_at).format("MMM DD,YYYY");
          this.onlyDate = moment(this.transaction.created_at).format(
            "DD-MMM-YYYY"
          );

          await this.getCriteria();

          this.plate = this.transaction.plate_number;
          this.supplier = this.transaction.supplier_name;
          if (this.transaction.bir) {
            if (this.transaction.bir[0].raw_materials) {
              this.type = this.transaction.bir[0].raw_materials[0].description;
            }
            if (this.transaction.bir[0].items) {
              this.item = this.transaction.bir[0].items[0].description;
            }
          }

          this.items = this.transaction.deductions;
          this.total_deductions = 0;
          //testing for type

          if (this.transaction.status.name == "Quality Control") {
            this.updateTransactionStatus("Unloading");
          }
          this.showLoading = false;
        })
        .catch(error => {
          console.log("error", error);
          this.showLoading = false;
        });
    },

    confirmDeduction() {
      if (!this.reasonRejection) {
        this.displayErrorToast("Please enter reason for rejection.");
        return;
      }
      this.$refs["confirm"].show();
      this.calculateTotal();
    },
    async confirmMicro() {
      let data = [];

      for (let i = 0; i < this.fieldRowName.length; i++) {
        const dataValue = {};
        if (this.datastore.expiry_date.length != this.fieldRowName.length) {
          this.displayErrorToast("All item must have Expiry Date");
          return;
        }

        if (this.datastore.manifacture_date.length != this.fieldRowName.length) {
          this.displayErrorToast("All item must have Manufacture Date");
          return;
        }

        if (this.datastore.expiry_date.length == this.fieldRowName.length) {
          dataValue.quantity = this.datastore.quantity[i];
          dataValue.expiry_date = this.datastore.expiry_date[i];
          dataValue.manifacture_date = this.datastore.manifacture_date[i];
          dataValue.package_no = this.datastore.package_no[i];
          dataValue.remarks = this.datastore.remarks[i];

          data.push(dataValue);
          this.formatedDate[i]=(
            moment(this.datastore.expiry_date[i]).format("LL")
          );
          this.formatedDateMan[i]=(
            moment(this.datastore.manifacture_date[i]).format("LL")
          );
        }

        if (this.formatedDate != this.fieldRowName.length) {
          this.formatedDate = this.formatedDate.slice(-2);
        }

         if (this.formatedDateMan != this.fieldRowName.length) {
          this.formatedDateMan = this.formatedDateMan.slice(-2);
        }

        if (this.datastore.quantityGdrtrn.length != this.fieldRowName.length) {
          this.displayErrorToast("All item must have Quantity");
          return;
        } else {
          //diri
          if (
            this.UoMsubmit[i] == this.transaction.bir[i].units[0].primary.unit
          ) {
            const data =
              this.datastore.quantityGdrtrn[i] *
              parseInt(this.transaction.bir[i].units[0].primary.baseQty);
            this.totalUom[i] = data;
          } else {

             for (let e = 0;e < this.transaction.bir[i].units[0].alt.length;e++) {

                const element = this.transaction.bir[i].units[0].alt[e];

                if (this.UoMsubmit[i] == element.unit) {
                  const data = this.datastore.quantityGdrtrn[i] * parseInt(this.transaction.bir[i].units[0].alt[e].baseQty);

                  this.totalUom[i] = data;
                }
            }
          }
        }

       

        if(!this.datastore.lotNumb[i].lotNum){
          this.displayErrorToast(`Some Lot no. is empty`);
          return;
        }


        if(this.totalUom[i]>this.microfilter[i].quantity){
          this.displayErrorToast(`Total Recieved of item "${this.fieldRowName[i]}" must not exceed to ${this.microfilter[i].quantity}` );
          return;
        }

        if(this.reject[i]==0){
          this.datastore.reasonOfRejection[i]=null
        }

        this.reject[i]=this.microfilter[i].quantity - this.totalUom[i]


        this.micro.data[i]=({
          item:this.fieldRowName[i],
          poData:this.microfilter[i],
          lotNum:this.datastore.lotNumb[i] ,
          quantityCvrt:this.datastore.quantityGdrtrn[i] ,
          cvrtUom:this.UoMsubmit[i] ,
          expirtDate:this.formatedDate[i],
          manifactureDate:this.formatedDateMan[i],
          totalRcvd:this.totalUom[i] ,
          rejected:this.reject[i] ,
          reason:this.datastore.reasonOfRejection[i]
        });

      }

      this.micro.transaction_id = this.$route.params.id;


      this.$refs["confirmMicro"].show();
    },
    calculateTotal() {
      let total = 0;
      for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
        this.totalDeductionPerCriteria[i] =
          parseFloat(this.deductionPerCriteria[i]) *
          parseFloat(this.criteriaTally[i]);
      }
      for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
        if (i != this.RejectedIndex) {
          total += this.totalDeductionPerCriteria[i];
        }
      }
      this.total_deductions = total;
    },
    async getCriteria() {
      const employee = JSON.parse(localStorage.employee);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/criteria`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          business_entity_id: this.business_entity_id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.criteria = res.data.criteria;
          for (let i = 0; i < this.criteria.length; i++) {
            if (this.criteria[i].description === "Rejected") {
              this.RejectedIndex = i;
            }
            this.criteriaTally[i] = 0;
            this.totalDeductionPerCriteria[i] = 0;
            let crit = this.criteria[i].deduction_per_criteria;
            this.deductionPerCriteria[i] = crit;
          }
        })
        .catch(error => {
          //  this.displayErrorToast(error.response.data);
        });
    }
  }
};
</script>
<style scoped>
.button-tally {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.h8 {
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  font-size: 13px;
  background-color: #e25050;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;

  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #00803e;
  line-height: 50px;
}
.input1 {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;

  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.forms {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.vdp-datepicker * {
  box-sizing: border-box;
  width: 300px;
  /* padding: 2pt; */
}

.vdp-datepicker__calendar {
  width: 25rem;
}
.h10 {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  width: 100px;
  background-color: #00803e;
  color: white;
}
.borders {
  border: 1px solid black;
}
.borders-total {
  border: 1px solid black;
  width: 100%;
}
.td1 {
  border: 0.5px solid black;
}
</style>
