<template>
  <div>
    <b-row>
      <b-col lg="12" md="8" sm="8" class="mb-2">
        <b-button id="add-roles" variant="success" size="sm" @click="addModal">
          <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Role
        </b-button>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input
            size="sm"
            maxlength="10"
            type="search"
            placeholder="Search Roles and Access"
            id="search-all-R"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="2" sm="3" class="items">
        <b-input-group prepend="Items" size="sm">
          <b-form-select style="z-index:0" size="sm" v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            <option :value="getRolesFilter.length">All</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      small
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="getRolesFilter"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
       :per-page="perPage"
      :current-page="currentPage"
      show-empty
      sort-by="status"
    >
      <template v-slot:table-caption>{{ShowingEntries}}</template>
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Inactive' ">
          <b-badge pill variant="danger">{{row.item.status}}</b-badge>
        </div>
        <div class="badge" v-if="row.item.status === 'Active' ">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>
      <template v-slot:cell(actions)="row">
        <b-button
          id="edit-roles"
          size="sm"
          class="mr-1 mt-1"
          @click="editModal(row)"
          v-b-tooltip.hover
        >
          <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
        </b-button>
      </template>
    </b-table>
    <div class="mt-5">
      <b-pagination
        v-if="getRolesFilter.length !== 0"
        id="schedule-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
        size="sm"
        pills
      ></b-pagination>
    </div>

    <b-modal ref="add" header-bg-variant="success" header-text-variant="light" title="Add Module">
      <b-form-group>
        <label>Role Name:</label>
        <b-form-input id="input-role" v-model="role" class="my-2"></b-form-input>
      </b-form-group>
      <template v-slot:modal-footer="{}">
        <b-button
          id="added-role"
          size="sm"
          variant="success"
          @click="addRole()"
          style="font-size:13px"
        >Add</b-button>
        <b-button
          id="added-close"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="closeModal()"
        >Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      ref="edit"
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      title="Update Roles and Access Rights"
      @hidden="selectedActions=[]"
      @hide="selectedActions=[]"
    >
      <b-row>
        <b-col cols="6">
          <b-form-group>
            <label>Role Name:</label>
            <b-form-input id="edit-input-R" v-model="roleName" class="my-2"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label>Status:</label>
            <b-form-select id="select-stadddds" v-model="status" :options="OptStatus" class="my-2"></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- <b-row>
        <label class="ml-3">Access Rights:</label>
        <b-col>
          <b-form-group>
            <b-form-checkbox-group v-model="selected" :options="options" switches stacked></b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>-->
      <b-row v-if="modules.length !== 0">
        <b-col cols="sm-3" v-for="item in getActiveModules" :key="item.id">
          <b-form class="mx-3">
            <b-form-group :label="`${item.description} Module:`">
              <b-form-checkbox-group
                :id="item.description"
                v-model="selectedActions"
                :options="item.actions"
                name="actions"
                stacked
                switches
              ></b-form-checkbox-group>
            </b-form-group>
          </b-form>
        </b-col>
      </b-row>
      <template v-slot:modal-footer="{}">
        <b-button
          id="edited-role"
          size="sm"
          variant="success"
          @click="editRole()"
          style="font-size:13px"
        >Update</b-button>
        <b-button
          id="edited-close"
          size="sm"
          style="font-size:13px;border: 0px;"
          @click="closeModal()"
        >Cancel</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  data() {
    return {
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      selectedIndex: null,
      id: null,
      rolesData: [],
      status: "",
      roleName: null,
      options: [],
      modules: [],
      selected: [],
      selectedActions: [],
      fields: [
        {
          key: "name",
          label: "Role Name",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      role: "",
      OptStatus: ["Active", "Inactive"]
    };
  },
  async created() {
    await this.getModules();
    await this.getAccessRights();
    await this.getRoles();
  },

  computed: {
    getRolesFilter() {
      const roles = this.rolesData.filter(role => {
        const result =
          role.name.toLowerCase().match(this.filter) ||
          role.name.toUpperCase().match(this.filter) ||
          role.name.match(this.filter);
        return result;
      });
      this.totalRows = roles.length;

      return roles;
    },
    getActiveModules() {
      return this.modules.filter(modules => modules.status == "Active");
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.getRolesFilter.length) {
        end = this.getRolesFilter.length;
      }
      if (this.getRolesFilter.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.getRolesFilter.length} entries`;
    },
    totalRows(){
      return this.getRolesFilter.length;
    }
  },
  methods: {
    async getModules() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/modules`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.modules = res.data.modules;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async getRoles() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/roles`,
        data: {
          employee_id: employee.id,
          role: employee.role
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.rolesData = res.data;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    removeNoActions() {
      for (let j = 0; j < this.modules.length; j++) {
        if (!this.modules[j].actions || this.modules[j].status != "Active") {
          this.modules.splice(j, 1);
          this.removeNoActions();
        }
      }
    },
    async getActions() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/actions/action_role`,
        data: {
          employee_id: employee.id,
          role_id: this.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          for (let i = 0; i < res.data.actions.length; i++) {
            this.selectedActions.push(res.data.actions[i].action_id);
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async getAccessRights() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/actions`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          actions: employee.actions
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          for (let i = 0; i < res.data.actions.length; i++) {
            for (let k = 0; k < this.modules.length; k++) {
              // console.log(this.modules[k].id, res.data.actions[i].module_id)
              if (this.modules[k].id == res.data.actions[i].module_id) {
                if (!this.modules[k].actions) {
                  this.modules[k].actions = [];
                }
                if (res.data.actions[i].status == "Active") {
                  this.modules[k].actions.push({
                    text: res.data.actions[i].description,
                    value: res.data.actions[i].id.toString()
                  });
                }
              }
            }
          }

          if (isArray(res.data.actions)) {
            this.actionsData = [];
            this.actionsData = res.data.actions.filter(
              action => action.status === "Active"
            );
          }
          if (isArray(res.data.roles)) {
            this.rolesData = [];
            this.rolesData = res.data.roles.filter(
              role => role.status === "Active"
            );
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },

    // get integer from time
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();
      this.id = row.item.id;
      this.roleName = row.item.name;
      this.status = row.item.status;
      this.getActions();
    },
    async editRole() {
      const d = new Date().toDateString();
      const t = new Date().toTimeString();
      const date = moment(d).format("YYYY-MM-DD");
      const time = await this.fixTime(t);

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/admin/roles/update_role`,
        data: {
          employee_id: employee.id,
          updated_by: employee.id,
          role: employee.role,
          id: this.id,
          status: this.status,
          name: this.roleName,
          actions: this.selectedActions,
          updated_date: date,
          updated_time: time
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // if (typeof res.data === "object") {
          //   const roleIndex = this.rolesData.findIndex(
          //     rolesData => rolesData.id === res.data.id
          //   );
          //   this.rolesData.splice(roleIndex, 1);
          //   this.rolesData.unshift({ ...res.data });

          this.displaySuccessToast("Role updated");
          this.getRoles();
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response.data);
        });
      this.$refs["edit"].hide();
    },

    addModal() {
      this.$refs["add"].show();
    },
    async addRole() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/roles/add_role`,
        data: {
          employee_id: employee.id,
          role: employee.role,
          name: this.role,
          status: "Active",
          created_by: employee.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // if (res.status === 201) {
          //   this.rolesData.push({ ...res.data[0] });
          this.displaySuccessToast("Role added ");
          this.getRoles();
          // }
        })
        .catch(e => {
          this.displayErrorToast(e.response.data);
        });
      this.$refs["add"].hide();
      this.clearRole();
    },
    clearRole() {
      this.role = "";
    },

    close() {
      this.selectedActions = [];
      this.$refs["add"].hide();
    },
    displaySuccessToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `${action}`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(action) {
      this.$bvToast.toast(`${action}`, {
        id: "toast-display-action",
        title: `Operation failed.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    }
  }
};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
</style>
