<template>
  <div>
    <Loading v-if="showLoading" />

    <div>
      <b-row>
        <b-col lg="4" md="4" sm="4" class="mb-2">
          <b-input-group size="sm">
            <b-form-input
              maxlength="10"
              type="search"
              placeholder="Search Pending Requests"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="date-reset">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <!-- <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Filter">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Status">
                <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>-->
      </b-row>
      <b-table
        class="mt-2"
        ref="all-request-Table"
        id="all-request-table"
        :borderless="false"
        :items="Filteration"
        :empty-text="
          `There are no ${
            filterActive ? filterActive : 'transactions'
          } to display`
        "
        :fields="fields"
        selectedVariant="primary"
        :tbody-tr-class="rowClass"
        :per-page="perPage"
        :current-page="currentPage"
        :filter="filter"
        responsive
        show-empty
        :busy="isBusy"
      >
        <template v-slot:table-busy>
          <div class="text-center text-secondary my-2">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
        <template v-slot:table-caption>{{ ShowingEntries }}</template>
        <template v-slot:cell(status)="row">
          <div class="badge font-badge" v-if="row.item.status[0].name === 'Unloaded'">
            <b-badge pill variant="dark">{{ row.item.status[0].name }}</b-badge>
          </div>
          <div class="badge font-badge" v-else-if="row.item.status[0].name === 'For Outbound'">
            <b-badge pill variant="dark">{{ row.item.status[0].name }}</b-badge>
          </div>
        </template>
        <template class="font_badge" v-slot:cell(date)="row">
          {{
          formatDate(row.item.created_at)
          }}
        </template>
        <template class="font_badge" v-slot:cell(code)="row">
          {{
          row.item.supplier_code
          }}
        </template>

        <template class="font_badge" v-slot:cell(item)="row">
          {{multipleItem(row)}}
        </template>

        <template v-slot:cell(actions)="row">
          <b-button
            id="input-deductions"
            size="sm"
            variant="success"
            class="mr-1"
            block
            v-if="
              row.item.status[0].name === 'Unloaded' &&
                row.item.purchase_order_id
            "
            @click="deductModal(row.item)"
            v-b-tooltip.hover
            title="Approve Deduction"
          >
            <font-awesome-icon class="mr-2" style="color:white" icon="minus-circle" small />APPROVE
          </b-button>
        </template>
      </b-table>
      <b-col cols="6" offset="1" class="my-1 mt-3">
        <b-pagination
          pills
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>

      <b-modal
        no-fade
        ref="deduct"
        header-bg-variant="success"
        header-text-variant="light"
        size="xl"
      >
        <template v-slot:modal-title>
          <h6>Verify deductions</h6>
        </template>

        <div v-if="type=='Macro'">
          <b-row>
            <b-col cols="5">
              <b-card ref="testHtml1" style="height:auto;">
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <b-img src="/biotechfarms.jpg" style="width:200px;height:75px" center />
                    </div>
                    <h5>REJECTION RECEIPT</h5>
                    <p style="position:relative;bottom:12px;font-size:15px">{{businessEntity}}</p>
                  </b-col>
                </b-row>​
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Date :</b>
                  </b-col>
                  <b-col cols="7">
                    <b style="text-decoration: underline;">{{onlyDate}}</b>
                  </b-col>
                </b-row>
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Supplier :</b>
                  </b-col>
                  <b-col cols="7">
                    <b style="text-decoration: underline;">{{supplier_code}}</b>
                  </b-col>
                </b-row>
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Commodity :</b>
                  </b-col>
                  <b-col class="mb-4" cols="7">
                    <b style="text-decoration: underline;">{{item}}</b>
                  </b-col>
                </b-row>
                <table style="font-size:12px" class="b-table table table-bordered table-striped">
                  <tr class="th1">
                    <th>Criteria</th>
                    <th>No of Bags Rejected</th>
                    <th>Reason of Rejection</th>
                  </tr>
                  <tr v-for="(item, index) in criteria" :key="index">
                    <td class="td1" v-if="item.criteria_desc == 'Rejected'">{{ item.criteria_desc }}</td>
                    <td class="td1" v-if="item.criteria_desc == 'Rejected'">{{ item.quantity }}</td>
                    <td class="td1" v-if="item.criteria_desc == 'Rejected'">{{ reasonRejection }}</td>
                  </tr>
                </table>
              </b-card>
            </b-col>
            <b-col cols="7">
              <b-card ref="testHtml" style="width:31rem;height:auto;">
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <b-img src="/biotechfarms.jpg" style="width:200px;height:75px" center />
                    </div>
                    <h5>DEDUCTION RECEIPT</h5>
                    <p style="position:relative;bottom:12px;font-size:15px">{{businessEntity}}</p>
                  </b-col>
                </b-row>​
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Date :</b>
                  </b-col>
                  <b-col cols="7">
                    <b style="text-decoration: underline;">{{onlyDate}}</b>
                  </b-col>
                </b-row>
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Supplier :</b>
                  </b-col>
                  <b-col cols="7">
                    <b style="text-decoration: underline;">{{supplier_code}}</b>
                  </b-col>
                </b-row>
                <b-row align-h="center" style="font-size:12px">
                  <b-col cols="5">
                    <b>Commodity :</b>
                  </b-col>
                  <b-col class="mb-4" cols="7">
                    <b style="text-decoration: underline;">{{item}}</b>
                  </b-col>
                </b-row>
                <table style="font-size:12px" class="b-table table table-bordered table-striped">
                  <tr class="th1">
                    <th>Criteria</th>
                    <th>Quantity</th>
                    <th>Deductions</th>
                    <th>Total (kg)</th>
                  </tr>
                  <tr v-for="(item, index) in criteria" :key="index">
                    <td class="td1" v-if="item.criteria_desc != 'Rejected'">{{ item.criteria_desc }}</td>
                    <td class="td1" v-if="item.criteria_desc != 'Rejected'">{{ item.quantity }}</td>
                    <td class="td1" v-if="item.criteria_desc != 'Rejected'">{{ item.deduction }}</td>
                    <td class="td1" v-if="item.criteria_desc != 'Rejected'">{{ item.total }}</td>
                  </tr>
                  <tr>
                    <td class="td1">
                      <strong>TOTAL</strong>
                    </td>
                    <td class="td1"></td>
                    <td class="td1"></td>
                    <td class="td1">
                      <strong>{{ this.total_deductions }}</strong>
                    </td>
                  </tr>
                </table>
              </b-card>
            </b-col>
          </b-row>
        </div>

<!-- //diri -->
        <div v-if="type=='Micro'">
          <b-card class="cardShadow" style="width:68rem;margin-left: auto;margin-right: auto ">
            <b-row class="text-center">
              <b-col cols="12">
                <div>
                  <h5>BIOTECH FARMS, INC.</h5>
                  <div
                    class="mb-1"
                    style="position:relative;bottom:13px; font-size:13px"
                  >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                </div>
                <br />
                <b style="position:relative;bottom:28px">
                  <strong>Delivery Micro Details</strong>
                </b>
              </b-col>
            </b-row>
            <b-row>
              <b-col align-h="start" cols class="mr-1 mb-2">
                <div style="font-size:15px;text-transform: uppercase">
                  <b>{{supplier}}</b>
                </div>
                <div style="font-size:13px;text-transform: uppercase;color:green">
                  <b>Disodreen</b>
                </div>
                <div style="text-decoration: underline;font-size:12px">Gensan</div>
              </b-col>
            </b-row>​
            <!-- Content -->
            <table style="font-size:12px" class="b-table table table-bordered table-striped">
              <tr>
            <th class="borders" title="Item"                        >Item</th>
            <th class="borders" title="Package Number"              >Package No.</th>
            <th class="borders" title="Total Quantity"              >Total Qty <br /></th>
            <th class="borders" title="Unit of measurment"          >UoM</th>
            <th class="borders" title="Lot Number"                  >Lot no.</th>
            <th class="borders" title="Quantity to be received"     >Qty Received</th>
            <th class="borders" title="Converted Unit of measurment">Converted UoM</th>
            <th class="borders" title="Expiry Date"                 >Expiry Date</th>  
            <th class="borders" title="Manufacture Date"            >Manufacture Date</th>  
            <th class="borders" title="Total Received"              >Total Received</th>
            <th class="borders" title="Rejected"                    >Rejected</th>
            <th class="borders" title="Reason of Rejection"         >Reason</th>

          </tr>
          <!-- testing -->
          <tr v-for="(item, index) in selectedIndex.deductions.deductionReceipts.micro" :key="index">
            <td class="td1">{{ item.itemDesc }}</td>
            <td class="td1">{{ item.itemCode }}
            <td class="td1">{{ item.qty }}</td>
            <td class="td1">{{ item.remarks }}</td>
            <td class="td1">{{ item.lotNum.toString() }}</td>
            <td class="td1">{{ item.totalreceive }}</td>
            <td class="td1">{{ item.uom_converted }}</td>
            <td class="td1">{{ cnvrtDateEx[index] }}</td>
            <td class="td1">{{ cnvrtDateMan[index] }}</td>
            <td class="td1">{{ item.totalreceive }}&nbsp;
              {{ item.remarks }}</td>
            <td class="td1">{{ item.rejected }}</td>
            <td class="td1">{{ item.reason_reject }}</td>
          </tr>
            </table>
            <br />
            <br />
            <br />​
            <br />
          </b-card>
        </div>
        <br />
        <br />

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="cancel-AppD"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
          <b-button
            id="app-deductions"
            size="sm"
            variant="success"
            v-b-modal.modal-multi-1
            @click="generatePdf"
            style="font-size:13px"
          >Endorse</b-button>
        </template>
      </b-modal>

      <b-modal
        ref="close1"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        id="modal-multi-1"
      >
        <template v-slot:modal-title>
          <h6>Security Purposes</h6>
        </template>
        <center>
          <div class="container">
            <h5>Enter Your Pincode</h5>
            <div class="pinBox">
              <input
                class="pinEntry"
                v-model="pincode"
                type="password"
                maxlength="4"
                name="pin"
                pattern="[0-9]{4}"
              />
            </div>
          </div>
        </center>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="cancel-Dapp"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
          <b-button
            id="approve-deductions"
            size="sm"
            variant="success"
            @click="checkPincode()"
            style="font-size:13px"
          >Save</b-button>
        </template>
        <center>
          <small style="color:red">{{ errMessage }}</small>
        </center>
      </b-modal>
      <b-modal
        ref="signature"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        size="xl"
      >
        <template v-slot:modal-title>
          <h6>Draw Signature</h6>
        </template>

        <div>
          <div class="col-12">
            <VueSignaturePad
              id="signature"
              width="100%"
              height="450px"
              ref="signaturePad"
              :options="{
                onBegin: () => {
                  $refs.signaturePad.resizeCanvas();
                }
              }"
            />
          </div>
          <div class="col-3 mt-2">
            <b-button variant="dark" style="font-size:13px;border: 0px;" @click="clear">Undo</b-button>
          </div>
        </div>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="rmaf-verify"
            size="sm"
            variant="success"
            @click="addSignature()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
        <center>
          <small style="color:red">{{ errMessage }}</small>
        </center>
      </b-modal>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
import VueSignaturePad from "vue-signature-pad";
import Loading from "@/components/Loading/Loading";
import jsPDF from "jspdf";
import html2canvas from "html2canvas";

export default {
  components: {
    DateRangePicker,
    VueSignaturePad,
    Loading
  },
  data() {
    return {
      isBusy: false,
      showLoading: false,
      results: [
        "Class B",
        " Watery Wet",
        "Husky/Stalks",
        "Moldy",
        "Mixed Green"
      ],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      status: [
        "In Progress",
        "Sampling",
        "Inbound",
        "Analysis",
        "Outbound",
        "Reconsideration",
        "Rejected"
      ],
      getReports: [],
      sortDesc: false,
      filter: "",
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "id",
          label: "Transaction ID",
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      departments: [],
      requestTypes: [],
      filterActive: "",
      selectedIndex: null,
      status: [],
      sampling_status_id: [],
      date: null,
      onlyDate: null,
      item: null,
      plate: null,
      criteria: [],
      criteriaTally: [],
      totalDeductionPerCriteria: [],
      pincode: null,
      supplier: null,
      supplier_code: null,
      errMessage: null,
      bug: "",
      transaction: [],
      business_entity_id: null,
      total_deductions: 0,
      transaction_id: null,
      quality_approved_id: null,
      status: null,
      opens: "center",
      receipts: null,
      deductionPerCriteria: [],
      deductions: [3, 4, 5],
      RejectedIndex: null,
      deduction_receipt_id: null,
      deduction_receipt_tally: [],
      deduction_criterias: [],
      resData: null,
      reasonRejection: null,
      option: {
        penColor: "rgb(0, 0, 0)",
        backgroundColor: "rgb(255,255,255)"
      },
      disabled: false,
      signaturePath: null,
      type: null,
      micro: null,
      cnvrtDateEx:[],
      cnvrtDateMan:[],
    };
  },

  computed: {
    Filteration() {
      return this.getReports.filter(emp => {
        const results =
          emp.status[0].name.match(this.filterActive) ||
          emp.supplier_code.match(this.filterActive) ||
          emp.status[0].name.match(this.filterActive);
        return results;
      });
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.Filteration.length) {
        end = this.Filteration.length;
      }
      if (this.Filteration.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.Filteration.length} entries`;
    }
  },

  created() {
    this.getStatus();
    this.getTransactions();
    this.getDeductionCriteria();
    this.getCriteria();
  },

  methods: {
     multipleItem(row){
      let item={items:[]}
      for (let a = 0; a < row.item.bir.length; a++) {
        const element = row.item.bir[a].items[0].description;
    
        item.items.push(element)
      }
      
      const convert = item.items.toString()
      return convert

    },
    hasPO(item) {
      if (item.po_details) {
        if (item.po_details[0]) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    async addSignature() {
      const employee = JSON.parse(localStorage.employee);
      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      var data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        var image = new Image();
        image.src = data.data;

        var fileName = moment().format("YYYY-MM-DD_HHmmss") + "_" + employee.id;

        const url = this.$axios.defaults.baseURL;

        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);

            const signature_path = await axios
              .post(`${url}/transactions/transactions/upload_signature`, fd, {
                headers: {
                  authorization: `B1SESSION=${employee.token}`
                }
              })
              .then(res => {
                return res.data.path;
              })
              .catch(err => {
                console.log(err);
              });

            return signature_path;
          }
        );

        this.signaturePath = path;
        console.log(this.quality_approved_id);
        if (this.type == "Macro") {
          await this.updateDeductionReceipt();
        }

        // await this.updateDeductionCriteria();
        await this.updateTransaction();
        this.$refs["signature"].hide();

        // this.getReports.splice(this.selectedIndex, 1);
        // this.getReports.unshift(this.resData);
      }
    },
    calculateTotalDeduction(index) {
      this.totalDeductionPerCriteria[index] =
        parseFloat(this.receipts[index].quantity) *
        parseFloat(this.deductionPerCriteria[index]);

      this.calculateTotal();
    },
    calculateTotal() {
      let total = 0;
      for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
        if (i != this.RejectedIndex) {
          this.totalDeductionPerCriteria[i] =
            parseFloat(this.deductionPerCriteria[i]) *
            parseFloat(this.receipts[i].quantity);
        }
      }
      for (let i = 0; i < this.totalDeductionPerCriteria.length; i++) {
        if (i != this.RejectedIndex) {
          total += this.totalDeductionPerCriteria[i];
        }
      }
      this.total_deductions = total;
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (
              this.status[i].name == "For Outbound" ||
              this.status[i].name == "Unloaded"
            ) {
              this.sampling_status_id.push(this.status[i].id);
            }
            if (this.status[i].name == "For Outbound") {
              this.quality_approved_id = this.status[i].id;
            }
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      // this.showLoading = true;
      this.isBusy = true;
      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);
      const department = employee.department.name.split("-");

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to,
          getWeight: true,
          department: department[0]
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res);
          if (employee.department.name.toLowerCase() != "qa-analyst") {
            this.getReports = res.data.transactions.filter(transaction => {
              const results =
                this.sampling_status_id.includes(transaction.status_id) &&
                transaction.bir[0].department[0].name ==
                  employee.department.name;
              return results;
              
            });
          } else {
            this.getReports = res.data.transactions.filter(transaction => {
              const results = this.sampling_status_id.includes(
                transaction.status_id
              );
              return results;
            });
          }

          if (employee.department.name.toLowerCase() != "qa-analyst") {
            this.getReports = this.getReports.filter(transaction => {
              const results =
                transaction.bir[0].department[0].id == employee.department.id;
              return results;
            });
          }
          
          this.totalRows = this.getReports.length;
          // this.showLoading = false;
          this.isBusy = false;
        })

        .catch(e => {
          // this.showLoading = false;
          this.isBusy = false;
          // this.errMessage = e.response.data;
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    async deductModal(item) {
      this.selectedIndex = item;
      const rowData = item;
      
      const employee = JSON.parse(localStorage.employee);
      
      this.onlyDate = moment().format("YYYY-MM-DD hh:mm A");
      this.supplier_code = item.supplier_code;
      this.item = item.bir[0].items[0].description;
      this.transaction_id = item.id;
      this.businessEntity = item.bir[0].business_entity[0].description;

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_receipt`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          transaction_id: item.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          console.log(res.data);
          this.type = rowData.bir[0].raw_materials[0].description;

          if (rowData.bir[0].raw_materials[0].description === "Macro") {
            this.criteria = res.data.deductionReceipts.listDeductionCriteria;
            this.total_deductions =
              res.data.deductionReceipts.sum_total_deductions;
            this.reasonRejection = "";
            this.deduction_receipt_tally = res.data.deductionReceipts.tallies;
            for (
              let i = 0;
              i < res.data.deductionReceipts.rejection.length;
              i++
            ) {
              const element = res.data.deductionReceipts.rejection[i];

              if (this.reasonRejection) {
                this.reasonRejection += ", " + element.reason_of_rejection;
              } else {
                this.reasonRejection = element.reason_of_rejection;
              }
            }
          }

//diri
          if (rowData.bir[0].raw_materials[0].description === "Micro") {
            this.micro = rowData.micro_package;
            this.supplier = rowData.supplier_name;

            for (let i = 0; i < this.selectedIndex.deductions.deductionReceipts.micro.length; i++) {
              const ED = this.selectedIndex.deductions.deductionReceipts.micro[i].expiry_date; 
              const MD = this.selectedIndex.deductions.deductionReceipts.micro[i].manifactureDate; 

               this.cnvrtDateEx[i]=(moment(ED).format("LL"));
               this.cnvrtDateMan[i]=(moment(MD).format("LL"))
            }
            console.log(this.cnvrtDateEx)
            console.log(this.cnvrtDateMan)


            

          }

          this.$refs["deduct"].show();
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async checkPincode() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            this.$refs["signature"].show();
          }
        })
        .catch(e => {
          if (e.response) {
            this.errMessage = e.response.data;
          } else {
            this.errMessage = e;
          }
        });
    },
    async updateDeductionCriteria() {
      const employee = JSON.parse(localStorage.employee);
      let deductionCriteria;
      for (let i = 0; i < this.receipts.length; i++) {
        deductionCriteria = this.receipts[i];
        await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/deduction_criteria/update_deduction_criteria`,
          headers: {
            authorization: "Bearer " + localStorage.token
          },
          data: {
            id: deductionCriteria.id,
            criteria_id: deductionCriteria.criteria_id,
            deduction_receipt_id: deductionCriteria.deduction_receipt_id,
            quantity: deductionCriteria.quantity,
            deduction: this.deductionPerCriteria[i],
            total: this.totalDeductionPerCriteria[i],
            updated_by: employee.id,
            employee_id: employee.id,
            modules: employee.modules
          }
        })
          .then(res => {})
          .catch(error => {
            this.displayErrorToast(error.response.data);
          });
      }
    },
    async updateDeductionReceipt() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_receipt/update_deduction_receipt`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.deduction_receipt_tally[0].id,
          transaction_id: this.transaction_id,
          noted_by: employee.id,
          noted_signature: this.signaturePath,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.showLoading = false;
        })
        .catch(error => {
          this.showLoading = false;
          console.log(error);
          this.displayErrorToast(error);
        });
    },
    async updateTransaction() {
      this.showLoading = true;

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.transaction_id,
          status_id: this.quality_approved_id,
          updateStatus: true,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(res => {
          // this.resData = res.data;
          this.$refs["deduct"].hide();
          this.$refs["close1"].hide();
          this.$refs["signature"].hide();
          this.showLoading = false;

          this.displaySuccessToast("Transaction Approved.");
        })
        .catch(error => {
          this.showLoading = true;
          this.displayErrorToast(error);
        });

      // reload transaction table
      await this.getTransactions();
    },
    async getCriteria() {
      const employee = JSON.parse(localStorage.employee);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/criteria`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          business_entity_id: this.business_entity_id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.criteria = res.data.criteria;

          // for (let i = 0; i < this.criteria.length; i++) {
          //   this.criteriaTally[i] = 0;
          //   this.totalDeductionPerCriteria[i] = 0;
          // }
        })
        .catch(error => {
          //  this.displayErrorToast(error.response.data);
        });
    },
    rowClass(item) {
      if (!item) return;
      if (!item.purchase_order_id) return "table-warning";
    },
    async getDeductionCriteria() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/deduction_criteria`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          business_entity_id: this.business_entity_id,
          modules: employee.modules
        }
      })
        .then(res => {
          this.deduction_criterias = res.data.deduction_criteria;
        })
        .catch(error => {
          //  this.displayErrorToast(error.response.data);
        });
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async generatePdf() {
      try {
        const employee = JSON.parse(localStorage.employee);
        const doc = new jsPDF();
        var canvasElement = document.createElement("canvas");

        const pdfs = await new Promise(resolve => {
          html2canvas(this.$refs.testHtml, { canvas: canvasElement }).then(
            function(canvas) {
              const img = canvas.toDataURL("image/jpeg", 0.8);
              doc.addImage(img, "JPEG", 30, 10);
              resolve(doc);
              // doc.save(`RMAF.pdf`);
            }
          );
        });

        const data = new Blob([pdfs.output("blob")], {
          type: "application/pdf"
        });
        var fd = new FormData();

        fd.append("DEDUCT", data, `DEDUCTION - ${this.supplier_code}.pdf`);

        // upload file to API
        await axios.post(
          `${this.$axios.defaults.baseURL}/transactions/transactions/upload/attachments`,
          fd,
          {
            headers: { authorization: `B1SESSION=${employee.token}` }
          }
        );
        this.generatePdf1();
      } catch (e) {
        console.log("Error generate PDF: ", e);
      }
    },
    async generatePdf1() {
      try {
        const employee = JSON.parse(localStorage.employee);
        const doc = new jsPDF();
        var canvasElement = document.createElement("canvas");

        const pdfs = await new Promise(resolve => {
          html2canvas(this.$refs.testHtml1, { canvas: canvasElement }).then(
            function(canvas) {
              const img = canvas.toDataURL("image/jpeg", 0.8);
              doc.addImage(img, "JPEG", 30, 10);
              resolve(doc);
              // doc.save(`RMAF.pdf`);
            }
          );
        });

        const data = new Blob([pdfs.output("blob")], {
          type: "application/pdf"
        });
        var fd = new FormData();

        fd.append("REJECT", data, `REJECTION - ${this.supplier_code}.pdf`);

        // upload file to API
        await axios.post(
          `${this.$axios.defaults.baseURL}/transactions/transactions/upload/attachments`,
          fd,
          {
            headers: { authorization: `B1SESSION=${employee.token}` }
          }
        );
      } catch (e) {
        console.log("Error generate PDF: ", e);
      }
    },
    cancel() {
      this.$refs["deduct"].hide();
    },
    cancel1() {
      this.$refs["signature"].hide();
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    }
  }
};
</script>

<style scoped>
.badge {
  font-size: 13px;
}
.borders {
  border: 1px solid black;
}
.signature {
  font-weight: bold;
  font-size: 13px;

  font-style: italic;
  bottom: 11px;
  left: 52px;
}
.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td1,
.th1 {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.tr1:nth-child(odd) {
  background-color: #dddddd;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
