<template>
  <div>
    <Loading v-if="showLoading" />

    <div>
      <b-tabs content-class="mt-3" fill pills>
        <b-tab title="Input Delivery Details" active>
          <b-form-group class="label-guard">
            <b-row align-h="center">
              <v-stepper
                ref="stepper"
                :steps="steps"
                v-model="step"
                class="steppers p-5"
                style="border-radius:3px;height:3rem"
              ></v-stepper>
            </b-row>

            <br />
            <b-form @submit.stop.prevent="nextStep()">
              <template v-if="step === 1">
                <b-row align-h="center">
                  <h2 class="mb-3 mr-6">ITEM DETAILS</h2>
                </b-row>
                <b-row>
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Business Unit:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-select
                      id="select-BE"
                      required
                      @change="getItemsByBusinessEntity"
                      v-model="transactionData.businessEntity"
                      :options="businessEntities"
                      size="md"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <b-row v-if="!isUnahco" class="mt-2">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Raw Material:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-select
                      id="select-BE"
                      required
                      @change="getItemsByBusinessEntity"
                      v-model="raw_mats1"
                      :options="raw_mats"
                      size="md"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <b-row v-if="!isUnahco" class="mt-2">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Item Description:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-select
                      id="select-item"
                      @change="getBIRId"
                      required
                      size="md"
                      v-model="transactionData.raw_material_name"
                      :options="items"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <!-- <b-row class="mt-2">

                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Items:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                      <multiselect
                  v-model="multiSelectValue"
                  :options="multiSelectOptions"
                  :multiple="true"
                  track-by="item_name"
                  :hide-selected="true"
                  :close-on-select="false"
                  :custom-label="customLabel"
                  :searchable="true"
                  :show-labels="true"
                  :max="3"
                  @select="toggleSelected"
                  id="select_item"
                >
                  <span slot="maxElements">Max Reached</span>
                </multiselect>
                   
                  </b-col>

                </b-row>-->

                <b-row v-if="!isUnahco" class="mt-2">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Number of bags:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      id="input-bags"
                      v-model="transactionData.no_of_bags"
                      type="number"
                      size="md"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <b-button
                  size="sm"
                  id="step1_next"
                  class="button sm-button mt-2"
                  variant="success"
                  type="submit"
                  >Next</b-button
                >
                <br />
              </template>
            </b-form>

            <b-form @submit.stop.prevent="nextStep()">
              <template v-if="step === 2">
                <b-row align-h="center">
                  <h2 class="mb-3 mr-6">TRANSACTION DETAILS</h2>
                </b-row>
                <b-row>
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Transaction Type:</label
                      >
                    </b>
                  </b-col>
                  <b-col>
                    <b-form-select
                      id="select-type"
                      size="md"
                      v-model="transactionData.transaction_type_id"
                      :options="transactionTypes"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <b-row v-if="!isUnahco" class="mt-2">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Delivery Receipt:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      id="input-dr"
                      type="number"
                      v-model="transactionData.delivery_receipt"
                      size="md"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <b-button
                  size="sm"
                  id="step2_next"
                  class="button sm-button ml-2 mt-2"
                  variant="success"
                  type="submit"
                  >Next</b-button
                >
                <b-button
                  id="step3_prev"
                  size="sm"
                  variant="dark"
                  class="button sm-button ml-1 mt-2"
                  @click="$refs.stepper.previous()"
                  >Previous</b-button
                >
                <br />
              </template>
            </b-form>

            <b-form @submit.stop.prevent="nextStep()">
              <template v-if="step === 3">
                <b-row align-h="center">
                  <h2 class="mb-3 mr-6">SUPPLIER DETAILS</h2>
                </b-row>
                <b-row v-if="!isUnahco">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Supplier Name:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      required
                      id="input-supplier"
                      type="text"
                      v-model="transactionData.supplier_name"
                      size="md"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <b-row v-if="!isUnahco" class="mt-2">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Address:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      required
                      id="input-address"
                      size="md"
                      v-model="transactionData.address"
                      :options="address"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <b-button
                  size="sm"
                  id="step3_next"
                  class="button sm-button ml-2 mt-2"
                  variant="success"
                  type="submit"
                  >Next</b-button
                >
                <b-button
                  id="step4_prev"
                  size="sm"
                  variant="dark"
                  class="button sm-button mt-2"
                  @click="$refs.stepper.previous()"
                  >Previous</b-button
                >
                <br />
              </template>
            </b-form>

            <b-form @submit.stop.prevent="nextStep()">
              <template v-if="step === 4">
                <b-row align-h="center">
                  <h2 class="mb-3 mr-6">DRIVER DETAILS</h2>
                </b-row>
                <b-row>
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Plate no:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      required
                      id="input-plate_no"
                      type="text"
                      v-model="transactionData.plate_no"
                      size="md"
                    ></b-form-input>

                    <!-- <vue-bootstrap-typeahead id="input-plate" v-model="transactionData.plate_no" :data="trucks" required />
                    <b-form-select required size="sm" v-model="transactionData.plate_no" :options="trucks"></b-form-select>-->
                  </b-col>
                </b-row>

                <b-row class="mt-2">
                  <b-col sm="3">
                    <b>
                      <label style="font-size: 16px; float: right"
                        >Driver Name:</label
                      >
                    </b>
                  </b-col>
                  <b-col sm="9">
                    <b-row>
                      <b-col cols="6">
                        <b-form-input
                          required
                          id="input-driver_fname"
                          type="text"
                          v-model="transactionData.driver_fname"
                          size="md"
                          placeholder="First Name"
                        ></b-form-input>
                      </b-col>
                      <b-col cols="6">
                        <b-form-input
                          id="input-driver_lname"
                          type="text"
                          v-model="transactionData.driver_lname"
                          size="md"
                          placeholder="Last Name"
                        ></b-form-input>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <b-button
                  size="sm"
                  id="step4_next"
                  class="button sm-button ml-2 mt-2"
                  variant="success"
                  type="submit"
                  >Next</b-button
                >
                <b-button
                  id="step5_prev"
                  size="sm"
                  variant="dark"
                  class="button sm-button mt-2"
                  @click="$refs.stepper.previous()"
                  >Previous</b-button
                >
                <br />
              </template>
            </b-form>
            <b-form @submit.stop.prevent="nextStep()">
              <template v-if="step === 5">
                <b-row align-h="center">
                  <h2 class="mb-3 mr-6">TRANSACTION DETAILS</h2>
                </b-row>
                <b-row>
                  <b-col>
                    <b-card
                      style="width:38rem;margin-left: auto;margin-right: auto "
                    >
                      <b-row class="text-center">
                        <b-col cols="12">
                          <div>
                            <h5>BIOTECH FARMS, INC.</h5>
                            <div
                              class="mb-1"
                              style="position:relative;bottom:13px; font-size:13px"
                            >
                              Brgy. Dumadalig, Tantangan, South Cotabato
                            </div>
                          </div>
                          <br />
                          <b-row align-h="center">
                            <b style="font-size: 120%; margin-top: -2rem">
                              <strong>
                                {{
                                  getRawMaterialName(
                                    this.transactionData.raw_material_name
                                  )
                                }}
                              </strong>
                            </b>
                          </b-row>
                          <b-row align-h="center">
                            <p style="font-size: 80%; margin-top: -5px">
                              <strong>
                                {{ this.transactionData.business_entity_name }}
                              </strong>
                            </p>
                          </b-row>
                          <b-row align-h="center">
                            <b style="font-size: 90%; margin-top: -1rem">
                              <strong>
                                {{ this.transactionData.delivery_receipt }}
                              </strong>
                            </b>
                          </b-row>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col align-h="start" cols="6" class="mr-1 mb-2">
                          <div style="font-size:15px;text-transform: uppercase">
                            <b>
                              <strong>
                                {{ this.transactionData.supplier_name }}
                              </strong>
                            </b>
                          </div>
                          <div
                            style="text-decoration: underline;font-size:12px; margin-top:-5px"
                          >
                            {{ this.transactionData.address }}
                          </div>
                        </b-col>
                        <b-col
                          style="font-size:12px"
                          align-h="end"
                          class="mr-1"
                        >
                          <div>
                            <strong>
                              {{ this.transactionData.driver_fname }}
                              {{ this.transactionData.driver_lname }}
                            </strong>
                          </div>
                          <div
                            style="text-decoration: underline;font-size:12px;margin-top:-5px"
                          >
                            {{ this.transactionData.plate_no }}
                          </div>
                        </b-col> </b-row
                      >​
                    </b-card>
                  </b-col>
                </b-row>

                <b-button
                  id="step5_prev"
                  size="sm"
                  variant="dark"
                  class="button sm-button mt-2"
                  @click="$refs.stepper.previous()"
                  >Previous</b-button
                >
                <br />
              </template>
            </b-form>
            <hr />
            <b-col>
              <small style="color:red">{{ errMessage }}</small>
            </b-col>
            <b-button
              id="generate-qr"
              size="sm"
              variant="success"
              v-show="done"
              @click="generateQR()"
            >
              <font-awesome-icon
                style="color:white"
                icon="qrcode"
                small
                class="icon mr-2"
              />GENERATE QR CODE
            </b-button>
            <b-button
              size="sm"
              style="background-color:#2F2F31"
              @click="clear()"
              >Clear</b-button
            >
            <br />
          </b-form-group>
          <b-modal
            no-fade
            no-close-on-backdrop
            ref="generateQRCode"
            title="Generate QR Code"
            header-bg-variant="success"
            header-text-variant="light"
            hide-footer
          >
            <center>
              <div>
                <b-row class="text-center">
                  <b-col>
                    <div></div>
                    <VueQrcode
                      id="QRcode"
                      type="String"
                      :value="JSON.stringify(this.qrcodeData)"
                      :options="{ width: 300 }"
                    ></VueQrcode>
                  </b-col>
                </b-row>
              </div>
              <br />
              <b-button
                id="print-barcode"
                variant="success"
                class="text-center"
                block
                @click="printQRCode"
                >Print</b-button
              >
            </center>
          </b-modal>
        </b-tab>

        <b-tab title="Add Micro Transaction">
          <h2 class="mb-3 mr-6">Micro Transaction</h2>
          <br />

          <div style="width:2px;background:#c2c2c2;"></div>
          <b-row>
            <b-col>
              <h6 class="mb-3">List of Purchase Order</h6>
              <b-card>
                <b-row>
                  <b-col cols="5">
                    <b-input-group size="sm">
                      <b-form-input
                        type="search"
                        id="filterInput"
                        placeholder="Search"
                        v-model="filter"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button size="sm" id="filter" :disabled="!filter"
                          >Clear</b-button
                        > </b-input-group-append
                      >&nbsp;
                    </b-input-group>
                  </b-col>

                  <!-- DateRange Picker -->
                  <!-- <b-col lg="7" md="5" sm="5" class="mb-2">
                <b-input-group size="sm" prepend="Date">
                  <date-range-picker
                    ref="picker"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    v-model="datePickerTable"
                    @update="updateValuesTable"
                  >
                    <div
                      slot="input"
                      style="min-width: 100px; min-height: 20px"
                    >
                      {{ datePickerTable.startDate }} -
                      {{ datePickerTable.endDate }}
                    </div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDateTable" id="date-reset"
                      >Reset</b-button
                    >
                  </b-input-group-append>
                </b-input-group>
                  </b-col>-->
                  <!-- <b-col lg="6" md="6" sm="6" class="mb-2">
              <div style="float: right">
                <b-input-group prepend="Date">
                  <date-range-picker
                    ref="picker"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    :opens="opens"
                    v-model="datePicker"
                    @update="updateValuesPO"
                  >
                    <div slot="input" style="min-width: 150px;">
                      {{ datePicker.startDate }} - {{ datePicker.endDate }}
                    </div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDate" id="date-reset"
                      >Reset</b-button
                    >
                  </b-input-group-append>
                </b-input-group>
              </div>
                  </b-col>-->
                </b-row>
                <br />
                <b-row>
                  <b-col cols="12">
                    <b-table
                      class="my-table"
                      id="modalAddPO-table"
                      style="font-size:12px; background-color: #fff"
                      scrollable="true"
                      selectedVariant="success"
                      headVariant="light"
                      empty-text="There are no purchase order to display"
                      :fields="PurchaseOrderFields"
                      :tbody-tr-class="rowClass"
                      :items="po_items"
                      no-border-collapse
                      :filter="filter"
                      show-empty
                      sticky-header
                      selectable
                      ref="po_table"
                      @row-selected="selectItem"
                      responsive
                    >
                      <template v-slot:cell(item)="row">
                        <span
                          v-for="(item, index) in row.item.DocumentLines"
                          :key="index"
                        >
                          {{ item.ItemDescription }}
                          <span v-if="row.item.DocumentLines[index + 1]"
                            >,</span
                          >
                        </span>
                      </template>
                      <template v-slot:cell(quantity)="row">
                        <span
                          v-for="(item, index) in row.item.DocumentLines"
                          :key="index"
                        >
                          {{ item.Quantity }}
                          <span v-if="row.item.DocumentLines[index + 1]"
                            >,</span
                          >
                        </span>
                      </template>
                      <template v-slot:cell(action)="row">
                        <b-button
                          id="view_PO"
                          size="sm"
                          variant="success"
                          block
                          @click="addMicro(row.item)"
                        >
                          <font-awesome-icon
                            style="color:white"
                            icon="plus"
                            small
                          />
                        </b-button>
                      </template>
                    </b-table>

                    <b-modal id="addMicro" hide-footer>
                      <template v-slot:modal-title
                        >Add Micro Transaction</template
                      >
                      <div class="d-block text-center">
                        <div>
                          <b-form>
                            <b-form-group
                              id="input-group-2"
                              label="Driver Name"
                              label-for="drivername"
                              style="font-size:13px"
                            >
                              <b-form-input
                                style="font-size:13px"
                                id="driver_fname"
                                placeholder="First Name"
                                v-model="po_driver_fname"
                                required
                              ></b-form-input>
                              <br />
                              <b-form-input
                                style="font-size:13px"
                                id="driver_lame"
                                placeholder="Last Name"
                                v-model="po_driver_lname"
                                required
                              ></b-form-input>
                            </b-form-group>

                            <b-form-group
                              id="input-group-2"
                              label="Plate Number"
                              label-for="plateNumber"
                              style="font-size:13px"
                            >
                              <b-form-input
                                style="font-size:13px"
                                id="plate Number"
                                placeholder="Plate #"
                                v-model="po_plate_number"
                                required
                              ></b-form-input>
                            </b-form-group>

                            <b-form-group
                              id="input-group-2"
                              label="No of Bags"
                              label-for="no_of_bags"
                              style="font-size:13px"
                            >
                              <b-form-input
                                style="font-size:13px"
                                id="no_of_bags"
                                type="number"
                                placeholder="# of Bags"
                                v-model="po_no_of_bags"
                                required
                              ></b-form-input>
                            </b-form-group>

                            <hr />
                            <b-button
                              class="ml-10 button1"
                              id="submit"
                              @click="AddMicroTransaction()"
                              >ADD</b-button
                            >
                          </b-form>
                        </div>
                      </div>
                    </b-modal>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-tab>

        <b-tab title="Scan QR Code">
          <h2 class="mb-3 mr-6">Scan QR CODE</h2>
          <br />
          <div>
            <b-form @submit="onSubmit">
              <b-input-group size="lg">
                <b-form-input
                  id="transactionInputField"
                  autocomplete="off"
                  type="search"
                  autofocus
                  ref="search-focus-employee"
                  placeholder="Scan Transaction"
                  v-model="qrResult"
                  class="form-control-lg"
                ></b-form-input>
              </b-input-group>

              <b-modal id="newTruckModal" hide-footer>
                <template v-slot:modal-title>Complete Details</template>
                <div class="d-block text-center">
                  <div>
                    <b-form>
                      <b-form-group
                        id="input-group-2"
                        label="Requested Sacks"
                        label-for="returnedsacks"
                        style="font-size:13px"
                      >
                        <b-form-input
                          style="font-size:13px"
                          id="no_of_requested_bags"
                          v-model="no_of_requested_bags"
                          required
                        ></b-form-input>
                      </b-form-group>

                      <b-form-group
                        id="input-group-2"
                        label="Total # of Sacks"
                        label-for="plateNumber"
                        style="font-size:13px"
                      >
                        <b-form-input
                          style="font-size:13px"
                          id="totalsacks"
                          v-model="totalsacks"
                          required
                        ></b-form-input>
                      </b-form-group>

                      <b-form-group
                        id="input-group-2"
                        label="Returned Sacks"
                        label-for="returnedsacks"
                        style="font-size:13px"
                      >
                        <b-form-input
                          style="font-size:13px"
                          id="returnedsacks"
                          v-model="returnedsacks"
                          required
                        ></b-form-input>
                      </b-form-group>

                      <hr />
                      <b-button
                        class="ml-10 button1"
                        id="submit"
                        @click="completeTransaction"
                        >Save</b-button
                      >
                    </b-form>
                  </div>
                </div>
              </b-modal>
            </b-form>
          </div>
          <!-- Code -->
          <br />
          <div class="my-4 mr-3 ml-4">
            <font-awesome-icon icon="qrcode" style="width:250px;height:250px" />
          </div>
        </b-tab>
        <b-tab title="View Transaction">
          <h2 class="mb-3 mr-6">View Transaction</h2>

          <!-- <b-modal
      no-fade
      no-close-on-backdrop
      ref="generateQRCode"
      title="Generate QR Code"
      header-bg-variant="success"
      header-text-variant="light"
      hide-footer
    >
      <center>
        <div>
          <b-row class="text-center">
            <b-col>
              <div></div>
              <VueQrcode
                id="QRcode"
                type="String"
                :value="JSON.stringify(this.qrcodeData)"
                :options="{ width: 300 }"
              ></VueQrcode>
            </b-col>
          </b-row>
        </div>
        <br />
        <b-button
          id="print-barcode"
          variant="success"
          class="text-center"
          block
          @click="printQRCode"
        >Print</b-button>
      </center>
    </b-modal>
    <b-modal
      ref="reprint-qr"
      size="xl"
      header-bg-variant="secondary"
      header-text-variant="light"
      id="modal1"
      hide-footer
      no-close-on-backdrop
          >-->
          <br />
          <b-row>
            <b-col lg="6" md="6" sm="6">
              <b-input-group size="sm">
                <b-form-input
                  maxlength="15"
                  type="search"
                  placeholder="Search Transactions"
                  id="search-all"
                  v-model="filter"
                ></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >Clear</b-button
                  >
                </b-input-group-append>
              </b-input-group>
            </b-col>
            <b-col lg="6" md="6" sm="6" class="mb-2">
              <div style="float: right">
                <b-input-group prepend="Date">
                  <date-range-picker
                    ref="picker"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    :opens="opens"
                    v-model="datePicker"
                    @update="updateValues"
                  >
                    <div slot="input" style="min-width: 150px;">
                      {{ datePicker.startDate }} - {{ datePicker.endDate }}
                    </div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDate" id="date-reset"
                      >Reset</b-button
                    >
                  </b-input-group-append>
                </b-input-group>
              </div>
            </b-col>
          </b-row>

          <b-table
            class="mt-2 table1"
            ref="all-request-Table"
            id="all-request-table"
            :borderless="false"
            :empty-text="
              `There are no ${
                filterActive ? filterActive : 'transactions'
              } to display`
            "
            :items="transactions"
            :fields="fields"
            selectedVariant="primary"
            tbody-tr-class
            :filter="filter"
            responsive
            show-empty
            :per-page="perPage"
            :current-page="currentPage"
          >
            <template v-slot:cell(date)="row">
              {{ formatDate(row.item.created_at) }}
            </template>
            <template v-slot:cell(item)="row">
              {{ row.item.bir[0].items[0].description }}
            </template>
            <template v-slot:cell(actions)="row">
              <b-button
                id="input-deduction"
                size="sm"
                variant="secondary"
                class="mr-1"
                style="width: 70%"
                block
                @click="printQR(row)"
              >
                <font-awesome-icon
                  style="color:white"
                  icon="print"
                  small
                />&nbsp;Print QR
              </b-button>
            </template>
          </b-table>
          <div class="mt-5">
            <b-pagination
              v-if="transactions.length !== 0"
              id="schedule-pagination"
              align="center"
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              class="my-0"
              size="sm"
              pills
            ></b-pagination>
          </div>
        </b-tab>
      </b-tabs>
    </div>
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      danger
      @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert
    >
  </div>
</template>

<script>
import axios from "axios";
import VueQrcode from "@chenfengyuan/vue-qrcode";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import { VStepper } from "vue-stepper-component";
import DateRangePicker from "vue2-daterange-picker";
import Loading from "@/components/Loading/Loading";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
// import 'bootstrap/scss/bootstrap.scss'
import moment from "moment";
export default {
  components: {
    VueQrcode,
    VueBootstrapTypeahead,
    VStepper,
    DateRangePicker,
    Loading
  },
  data() {
    return {
      multiSelectValue: null,
      multiSelectOptions: [],
      no_of_requested_bags: null,
      qrResult: null,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      opens: "left",
      values: ["5", "10", "25", "50", "100"],
      errMessage: "",
      userRole: null,
      pendingInterval: null,
      reason: "",
      pendingStatus: false,
      totalRows: 1,
      perPage: 5,
      currentRowIndex: -1,
      currentPage: 1,
      step: 1,
      steps: 5,
      transactions: [],
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "supplier_code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "delivery_receipt_id",
          label: "DR #",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ],
      showLoading: false,

      // Button create new
      createNew: true,
      done: false,
      startTime_create: null,
      endTime_create: null,
      errorMsg: "",
      dismissCountDownErr: 0,
      dismissSecs: 5,
      // Delivery receipt
      transactionData: {
        date: moment().format("YYYY-MM-DD"),
        business_entity_name: "",
        businessEntity: null,
        transaction_type_id: null,
        supplier_code: null,
        supplier_name: null,
        address: null,
        driver_fname: null,
        driver_lname: null,
        driverName: null,
        plate_no: null,
        raw_material_name: null,
        no_of_bags: null,
        delivery_receipt: null,
        bir_id: null
      },
      returnedsacks: null,
      totalsacks: null,
      // QR Code data
      qrcodeData: {},
      raw_mats1: null,
      trans_id: 2,
      data: "PDF-0001",
      sortDesc: false,
      filter: "",
      requests: [],
      selectedItems: [],
      departments: [],
      requestTypes: [],
      filterActive: "",
      transactionTypes: [],
      businessEntities: [],
      drivers: [],
      driverData: [],
      driverList: [],
      trucks: [],
      truckList: [],
      items: [],
      birs: [],
      PurchaseOrderFields: [
        {
          key: "DocNum",
          label: "Purchase Order Number",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CardName",
          label: "Supplier Name",
          sortable: true,
          sortDirection: "desc"
        },
        // {
        //   key: "U_APP_Farmer",
        //   label: "Farmer Name",
        //   sortable: true,
        //   sortDirection: "desc"
        // },
        // {
        //   key: "Address",
        //   label: "Address",
        //   sortable: true,
        //   sortDirection: "desc"
        // },
        {
          key: "item",
          label: "Item Description",
          sortable: true,
          sortDirection: "desc"
        },
        // {
        //   key: "quantity",
        //   label: "Quantity",
        //   sortable: true,
        //   sortDirection: "desc"
        // },
        {
          key: "action",
          label: "",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      po_items: [],
      suppliers: [],
      address: [],
      descrip: null,
      isUnahco: false,
      isCreate: false,
      haulingTransaction: null,
      haulingPODocEntry: null,
      raw_mats: [
        { value: null, text: "Please select" },
        { value: "macro", text: "Macro" },
       
      ],

      po_details: null,
      po_driver_lname: null,
      po_driver_fname: null,
      po_plate_number: null,
      po_no_of_bags: null
    };
  },

  computed: {},

  created() {
    this.getBusinessEntities();
    this.getTransactionTypes();
    this.getDrivers();
    this.getTransactions();
    this.getPO();
    // this.getTrucks();
    // this.getSuppliers();
  },

  methods: {
    toggleSelected(value) {
      console.log(" >> " + `${value}`);
    },
    customLabel(option) {
      return `${option.item_name}`;
    },
    openNew() {
      this.$bvModal.show("choose-action");
    },
    getRawMaterialName(id) {
      for (let i = 0; i < this.items.length; i++) {
        if (id == this.items[i].value) {
          return this.items[i].text;
          break;
        }
      }
    },

    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    async getTransactions() {
      this.showLoading = true;

      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.showLoading = false;
          this.transactions = res.data.transactions;

          this.totalRows = this.transactions.length;
        })

        .catch(e => {
          this.showLoading = false;
          // this.errMessage = e.response.data;
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    updateValuesPO() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getPO();
    },
    reprintQR() {
      this.getTransactions();
      this.$refs["reprint-qr"].show();
    },
    nextStep() {
      this.$refs.stepper.next();
      if (this.step == this.steps) {
        this.done = true;
      }
    },
    reset() {
      this.$refs.stepper.reset();
    },
    enable() {
      this.$bvModal.hide("choose-action");
      this.isCreate = true;
      this.transactionData.businessEntity = null;
      this.transactionData.raw_material_name = null;
      // this.items = [];
      this.transactionData.delivery_receipt = "";
      this.transactionData.supplier_name = "";
      this.transactionData.address = "";
      this.transactionData.plate_no = "";
      this.transactionData.driver_fname = "";
      this.transactionData.driver_lname = "";
      this.transactionData.no_of_bags = null;
      this.transactionData.transaction_type_id = null;
      this.createNew = false;
      this.errMessage = "";

      this.startTime_create = moment().format("YYYY-MM-DD HH:mm:ss");
    },
    clear() {
      this.isCreate = false;
      // this.transactionData.date = null;
      this.raw_mats1 = null;
      this.transactionData.businessEntity = null;
      this.transactionData.raw_material_name = null;
      // this.items = [];
      this.transactionData.delivery_receipt = "";
      this.transactionData.supplier_name = "";
      this.transactionData.address = "";
      this.transactionData.plate_no = "";
      this.transactionData.driver_fname = "";
      this.transactionData.driver_lname = "";
      this.transactionData.no_of_bags = null;
      this.transactionData.transaction_type_id = null;
      this.createNew = true;
      this.errMessage = "";
      this.isUnahco = false;
      this.done = false;
      this.$refs.stepper.reset();
    },
    getBIRId() {
      for (let i = 0; i < this.birs.length; i++) {
        if (
          this.birs[i].ItemCode == this.transactionData.raw_material_name &&
          this.birs[i].ItemCode == this.transactionData.raw_material_name
        ) {
          this.transactionData.bir_id = this.birs[i].ItemCode;
        }
      }
      if (!this.transactionData.bir_id) {
        this.errMessage = "B-I-R relation not found!";
      }
    },
    async getItemsByBusinessEntity() {
      this.isUnahco = false;
      const bu1 = this.transactionData.business_entity_name;

      const nw_bu = bu1.split(" ")[0];
      console.log(nw_bu);
      // this.getItems();
      if (!this.transactionData.businessEntity) {
        this.items = [];
      } else {
        this.transactionData.raw_material_name = null;
      }
      const employee = JSON.parse(localStorage.employee);

      if (this.transactionData.businessEntity) {
        this.items = [];
        for (let i = 0; i < this.businessEntities.length; i++) {
          if (
            this.transactionData.businessEntity ==
            this.businessEntities[i].value
          ) {
            this.transactionData.business_entity_name = this.businessEntities[
              i
            ].text;
            break;
          }
        }

        if (this.transactionData.business_entity_name == "UNC-Unahco") {
          this.isUnahco = true;
        } else {
          await axios({
            method: "POST",

            url: `${this.$axios.defaults.baseURL}/micro/hauling/list-items`,
            data: {
              bu: nw_bu,
              raw_mats: this.raw_mats1,
              employee_id: employee.id,
              modules: employee.modules
            },
            headers: {
              authorization: `B1SESSION=${employee.token}`
            }
          })
            .then(res => {
              const thisItems = res.data;
              console.log(res);
              this.birs = thisItems;
              this.items.push({
                value: null,
                text: "Please Select"
              });

              for (let i = 0; i < thisItems.length; i++) {
                this.items.push({
                  value: thisItems[i].ItemCode,
                  text: thisItems[i].ItemName
                });
              }
            })
            .catch(e => {
              // this.errMessage = e.response.data;
            });
        }
      }
    },
    async addMicro(data) {
      let microItems = [];
      for (let i = 0; i < data.DocumentLines.length; i++) {
        const item = {
          id: data.DocumentLines[i].ItemCode,
          qty: data.DocumentLines[i].Quantity,
          unit: data.DocumentLines[i].UnitsOfMeasurment
        };
        microItems.push(item);
      }
      this.po_details = {
        supplier_name: data.CardName,
        address: data.Address,
        delivery_receipt: data.DocEntry,
        // DocNum: data.DocNum,
         DocEntry: data.DocEntry,
        microItems
      };
      this.$bvModal.show("addMicro");
    },
    async getBusinessEntities() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/business_entity`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          const businessEnts = res.data.business_entities;
          this.businessEntities.push({
            value: null,
            text: "Please Select"
          });
          for (let i = 0; i < businessEnts.length; i++) {
            this.businessEntities.push({
              value: businessEnts[i].id,
              text: businessEnts[i].description
            });
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    async getTransactionTypes() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactiontypes`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          const tranTypes = res.data.transactionTypes;
          this.transactionTypes.push({
            value: null,
            text: "Please Select"
          });
          for (let i = 0; i < tranTypes.length; i++) {
            this.transactionTypes.push({
              value: tranTypes[i].id,
              text: tranTypes[i].name
            });
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async getDrivers() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/driver`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.driverList = res.data.driver;
          for (let i = 0; i < this.driverList.length; i++) {
            this.drivers.push(
              this.driverList[i].firstname +
                " " +
                this.driverList[i].middlename +
                " " +
                this.driverList[i].lastname
            );
            this.driverData.push({
              firstname: this.driverList[i].firstname,
              lastname: this.driverList[i].lastname
            });
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    async getTrucks() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/trucks`,
        data: {
          employee_id: employee.id,
          modules: employee.modules
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.truckList = res.data.truck;
          for (let i = 0; i < this.truckList.length; i++) {
            this.trucks.push(this.truckList[i].plate_number);
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },

    async AddMicroTransaction() {
      const employee = JSON.parse(localStorage.employee);
      let qccn, queue, driverName, plate, nameDriver;

      // Get QCCN
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      }).then(res => {
        qccn = res.data.QCCN;
      });
      // Get queue number
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/get_queue_number`,
        data: {
          employee_id: employee.id,
          business_entity: "FEEDMILL PLANT 1 WAREHOUSE 1",
          supplier_name: this.po_details.supplier_name
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          queue = res.data;
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
      if (this.transactionData.delivery_receipt == "") {
        this.transactionData.delivery_receipt = null;
      }
      // Add transaction
      nameDriver = this.po_driver_lname + ", " + this.po_driver_fname;
      this.created_date = moment().format("YYYY-MM-DD");
      this.created_time = moment().format("HHmm ");

      this.endTime_create = moment().format("YYYY-MM-DD HH:mm:ss");

      if (this.isUnahco) {
        this.transactionData.supplier_name = "Unahco";
      }

      let delivery_id;

      for (let i = 0; i < this.transactionTypes.length; i++) {
        if (this.transactionTypes[i].text == "Delivery") {
          delivery_id = this.transactionTypes[i].value;
          break;
        }
      }

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/add_transaction`,
        data: {
          employee_id: employee.id,
          created_date: this.created_date,
          created_time: this.created_time,
          // // business_entity_id: this.business_entity_id,
          modules: employee.modules,
          delivery_receipt: this.po_details.delivery_receipt,
          bir_id: this.po_details.microItems[0].id,
          plate_number: this.po_plate_number,
          supplier_name: this.po_details.supplier_name,
          supplier_address: this.po_details.address,
          address: this.po_details.address,
          business_entity: "FEEDMILL PLANT 1 WAREHOUSE 1",
          transaction_type_id: delivery_id,
          driver_name: nameDriver,
          no_of_bags: this.po_no_of_bags,
          guard_on_duty: employee.id,
          qc_control_number: qccn,
          queue_number: queue,
          created_by: employee.id,
          starttime: this.startTime_create,
          endtime: this.endTime_create,
          isMicro: true,
          microItems: this.po_details.microItems,
          PO: this.po_details.DocEntry,
          cookie: employee.token
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(async res => {
          if (res.data.status == 202) {
            const res1 = await axios({
              method: "PUT",
              url: `${this.$axios.defaults.baseURL}/micro/tag`,
              data: {
                po_id: this.po_details.DocEntry,
                transaction_id: res.data.transactionId
              },
              // insert to transaction

              headers: {
                authorization: `B1SESSION=${employee.token}`
              }
            });
            this.transactionData = {
              date: moment().format("YYYY-MM-DD"),
              business_entity_name: "",
              businessEntity: null,
              transaction_type_id: null,
              supplier_code: null,
              supplier_name: null,
              address: null,
              driver_fname: null,
              driver_lname: null,
              driverName: null,
              plate_no: null,
              raw_material_name: null,
              no_of_bags: null,
              delivery_receipt: null,
              bir_id: null
            };
            this.showLoading = false;
            this.displaySuccessToast("Transaction created.");

            this.printServer();
            this.createNew = true;
            this.isUnahco = false;
            this.done = false;
            this.$bvModal.hide("addMicro");
          } else {
            this.displayErrorToast(res.data.msg);
          }
          // const result = res.data[0];

          // for (let i = 0; i < this.items.length; i++) {
          //   if (this.items[i].value == this.transactionData.raw_material_name) {
          //     this.descrip = this.items[i].text;
          //   }
          // }
          // console.log(result.queue_number)

          // this.delivery_receipt = result.delivery_receipt_id;
          // this.data = result.queue_number;

          // this.qrcodeData = {
          //   header: {
          //     queue: result.queue_number,
          //     transaction: result.id,
          //     dr: this.delivery_receipt,
          //     item: this.descrip,
          //     date: moment().format("YYYY-MM-DD")
          //   },
          //   qrcode: {
          //     transaction: result.id,
          //     date: moment().format("YYYY-MM-DD"),
          //     supplier_code: result.supplier_code
          //   }
          // };

          // console.log("Supplier Code:", result.supplier_code);
        })
        //          this.PODocEntry = res.data.patched;
        // console.log(res)

        .catch(e => {
          this.showLoading = false;
          console.log(e);
          this.errMessage = e.response.data;
        });
      this.$refs.stepper.reset();
    },
    async addTransactions() {
      const employee = JSON.parse(localStorage.employee);
      let qccn, queue, driverName, plate, nameDriver;

      // Get QCCN
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
        data: {
          employee_id: employee.id
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      }).then(res => {
        qccn = res.data.QCCN;
      });
      // Get queue number
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/get_queue_number`,
        data: {
          employee_id: employee.id,
          business_entity: this.transactionData.business_entity_name,
          supplier_name: this.transactionData.supplier_name
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          queue = res.data;
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
      if (this.transactionData.delivery_receipt == "") {
        this.transactionData.delivery_receipt = null;
      }
      // Add transaction
      nameDriver =
        this.transactionData.driver_lname +
        ", " +
        this.transactionData.driver_fname;
      this.created_date = moment().format("YYYY-MM-DD");
      this.created_time = moment().format("HHmm ");

      this.endTime_create = moment().format("YYYY-MM-DD HH:mm:ss");

      if (this.isUnahco) {
        this.transactionData.supplier_name = "Unahco";
      }

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/add_transaction`,
        data: {
          employee_id: employee.id,
          created_date: this.created_date,
          created_time: this.created_time,
          business_entity_id: this.business_entity_id,
          modules: employee.modules,
          delivery_receipt: this.transactionData.delivery_receipt,
          bir_id: this.transactionData.bir_id,
          plate_number: this.transactionData.plate_no,
          supplier_name: this.transactionData.supplier_name,
          supplier_address: this.transactionData.address,
          address: this.transactionData.address,
          business_entity: this.transactionData.business_entity_name,
          transaction_type_id: this.transactionData.transaction_type_id,
          driver_name: nameDriver,
          no_of_bags: this.transactionData.no_of_bags,
          guard_on_duty: employee.id,
          qc_control_number: qccn,
          queue_number: queue,
          created_by: employee.id,
          starttime: this.startTime_create,
          endtime: this.endTime_create,
          isMacro: true
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          // const result = res.data[0];

          // for (let i = 0; i < this.items.length; i++) {
          //   if (this.items[i].value == this.transactionData.raw_material_name) {
          //     this.descrip = this.items[i].text;
          //   }
          // }
          // console.log(result.queue_number)

          // this.delivery_receipt = result.delivery_receipt_id;
          // this.data = result.queue_number;

          // this.qrcodeData = {
          //   header: {
          //     queue: result.queue_number,
          //     transaction: result.id,
          //     dr: this.delivery_receipt,
          //     item: this.descrip,
          //     date: moment().format("YYYY-MM-DD")
          //   },
          //   qrcode: {0
          //     transaction: result.id,
          //     date: moment().format("YYYY-MM-DD"),
          //     supplier_code: result.supplier_code
          //   }
          // };

          // console.log("Supplier Code:", result.supplier_code);

          this.transactionData = {
            date: moment().format("YYYY-MM-DD"),
            business_entity_name: "",
            businessEntity: null,
            transaction_type_id: null,
            supplier_code: null,
            supplier_name: null,
            address: null,
            driver_fname: null,
            driver_lname: null,
            driverName: null,
            plate_no: null,
            raw_material_name: null,
            no_of_bags: null,
            delivery_receipt: null,
            bir_id: null
          };
          this.showLoading = false;
          this.displaySuccessToast("Transaction created.");

          this.printServer();
          this.createNew = true;
          this.isUnahco = false;
          this.done = false;
        })
        .catch(e => {
          this.showLoading = false;
          console.log(e);
          this.errMessage = e.response.data;
        });
      this.$refs.stepper.reset();
    },
    async printQR(row) {
      const date = this.formatDate(row.item.created_at);
      this.qrcodeData = {
        header: {
          queue: row.item.queue_number,
          transaction: row.item.id,
          dr: row.item.delivery_receipt_id,
          item: row.item.bir[0].items[0].description,
          date: date
        },
        qrcode: {
          transaction: row.item.id,
          date: date,
          supplier_code: row.item.supplier_code
        }
      };
      this.printServer();
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `SUCCESS!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async printServer() {
      this.showLoading = true;
      await axios({
        method: "POST",
        url: `${process.env.serverPrintUrl}/fsqr/print`,
        data: {
          ...this.qrcodeData
        }
      })
        .then(res => {
          this.showLoading = false;
          this.displaySuccessToast("Transaction has been printed.");
        })
        .catch(e => {
          this.showLoading = false;
          if (e.response) {
            this.errMessage = e.response.data;
            this.displayErrorToast("Print error: " + e.response.data);
          } else {
            this.displayErrorToast(e);
          }
        });
    },
    generateQR() {
      this.addTransactions();
      this.isCreate = false;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    async getPO() {
      this.showLoading = true;
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/sap/po_micro`,
        data: {
          employee_id: employee.id
          // date_to: this.dateRange.date_to,
          // date_from: this.dateRange.date_from
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      }).then(res => {
        if (res.data[0]) {
          this.address_po = res.data[0].Address;
          this.po_items = res.data;
        }
        this.showLoading = false;
      });
      console.log(res).catch(e => {
        this.showLoading = false;

        this.errMessage = e.response.data;
      });
    },
    async completeTransaction() {
      try {
        const employee = JSON.parse(localStorage.employee);
        this.showLoading = true;
        this.haulingTransaction.no_of_bags = this.totalsacks;
        const trns = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/transactions/add_transaction`,
          data: {
            ...this.haulingTransaction
          },
          headers: {
            authorization: `B1SESSION=${employee.token}`
          }
        });

        if (trns.status == 201) {
          // this.haulingPODocEntry = res.data.patched.DocEntry;

          const res = await axios({
            method: "PUT",
            url: `http://94.237.66.240:8000/api/transaction/complete/${this.qrResult}`,
            data: {
              no_of_requested_bags: this.no_of_requested_bags,
              employee_id: employee.id,
              no_of_bags: this.totalsacks,
              no_of_empty_bags: this.returnedsacks,
              fsqrTransactionId: trns.data.transactionId
            },
            // insert to transaction

            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.haulingPODocEntry = res.data.patched;
          console.log(res);
          const res1 = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/micro/tag`,
            data: {
              po_id: this.haulingPODocEntry,
              transaction_id: trns.data.transactionId
            },
            // insert to transaction

            headers: {
              authorization: `B1SESSION=${employee.token}`
            }
          });

          this.showLoading = false;
          this.$bvModal.hide("newTruckModal");
          // tag PO to transaction; update
          console.log(trns);
        }
      } catch (er) {
        console.log(er);
        // not JSON error
        this.showLoading = false;
        this.errorMsg = er.response.data.error;
        this.showAlertErr();
      }
    },
    async onSubmit(evt) {
      evt.preventDefault();
      const employee = JSON.parse(localStorage.employee);

      this.created_date = moment().format("YYYY-MM-DD");
      this.created_time = moment().format("HHmm ");

      this.endTime_create = moment().format("YYYY-MM-DD HH:mm:ss");

      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `http://94.237.66.240:8000/api/transaction/scan`,
          data: {
            id: this.qrResult
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          const data = res.data.posted;

          let qccn, queue, driverName, plate, nameDriver;

          // // Get QCCN
          await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/rmaf/get_qccn`,
            data: {
              employee_id: employee.id
            },
            headers: {
              authorization: `B1SESSION=${employee.token}`
            }
          }).then(res => {
            qccn = res.data.QCCN;
          });
          // Get queue number
          await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/transactions/get_queue_number`,
            data: {
              employee_id: employee.id,
              business_entity: `RICE PLANT PDF RM WAREHOUSE`,
              supplier_name: "Revive"
            },
            headers: {
              authorization: `B1SESSION=${employee.token}`
            }
          })
            .then(res => {
              queue = res.data;
            })
            .catch(e => {
              this.errMessage = e.response.data;
            });

          this.no_of_requested_bags = res.data.posted.NUMBER_OF_REQUESTED_BAGS;
          this.totalsacks = res.data.posted.NUMBER_OF_BAGS;
          this.returnedsacks = res.data.posted.NUMBER_OF_EMPTY_BAGS;

          const transactionTypeId = await this.transactionTypes.find(
            tt => tt.text == "Delivery"
          ).value;

          const itemDetails = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/micro/hauling/list-items`,
            data: {
              employee_id: employee.id,
              item_code: res.data.posted.ITEM_ID,
              modules: employee.modules
            },
            headers: {
              authorization: `B1SESSION=${employee.token}`
            }
          });

          if (res.data.posted.TRANSACTION_TYPE == "Pick-up") {
            this.$bvModal.show("newTruckModal");
          }

          // fix data to be added here; error in item code (bir_id)
          this.haulingTransaction = {
            employee_id: employee.id,
            created_date: this.created_date,
            created_time: this.created_time,
            business_entity_id: itemDetails.data[0].Code,
            modules: employee.modules,
            delivery_receipt: res.data.posted.TRANSACTION_NUMBER,
            bir_id: res.data.posted.ITEM_ID,
            plate_number: res.data.posted.PLATE_NUMBER,
            supplier_name: "Revive",
            supplier_address: "Marbel",
            address: "Marbel",
            business_entity: itemDetails.data[0].U_description,
            transaction_type_id: transactionTypeId,
            driver_name: res.data.posted.DRIVER_NAME,
            no_of_bags: this.totalsacks,
            guard_on_duty: employee.id,
            qc_control_number: qccn,
            queue_number: queue,
            created_by: employee.id,
            isMacro: true
          };
          // ##

          if (res.data.posted.TRANSACTION_TYPE == "Delivery") {
            this.completeTransaction();
          }
        }
      } catch (er) {
        // not JSON error

        console.log(er);
        this.showLoading = false;
        this.errorMsg = er.response.data.error;
        this.showAlertErr();
      }
    },

    printQRCode() {
      this.addTransactions();

      let windowContent = "<!DOCTYPE html>";
      windowContent += "<html>";
      windowContent += "<body>";

      // windowContent += `<p style="page-break-before: always"></p>`;
      let tempLink = document.getElementById("QRcode");
      let data = tempLink.toDataURL("image/png");

      if (this.isUnahco) {
        windowContent +=
          `<center><strong style="margin-top:0px">${this.data}</strong><br>
        <small>Transaction #:</small><strong> ${this.qrcodeData.transaction}</strong><br>` +
          `<small>${this.qrcodeData.date}</small>` +
          '<img src="' +
          data +
          `"style="height: 170px; width:170px;margin-left: auto;margin-right: auto;display: block;"> 
        </center>`;
      } else {
        windowContent +=
          `<center><strong style="margin-top:0px">${this.data}</strong><br>
        <small>DR #:</small><strong> ${this.delivery_receipt}</strong><br>
        <small>Item:</small><strong>${this.descrip}</strong><br>
        <small>Transaction #:</small><strong> ${this.qrcodeData.transaction}</strong><br>` +
          `<small>${this.qrcodeData.date}</small>` +
          '<img src="' +
          data +
          `"style="height: 170px; width:170px;margin-left: auto;margin-right: auto;display: block;"> 
        </center>`;
      }

      windowContent += `<p style="page-break-before: always"></p>`;
      //let tempLink1 = document.getElementById("QRcode");
      //let data1 = tempLink1.toDataURL("image/png");

      windowContent +=
        `<center><strong style="margin-top:0px">${this.data}</strong><br>
        <small>Transaction #:</small><strong> ${this.qrcodeData.transaction}</strong><br>
        <small>DR #:</small><strong> ${this.delivery_receipt}</strong><br>
        <small>${this.descrip}</small><br>` +
        `<small>${this.qrcodeData.date}</small>` +
        '<img src="' +
        data +
        `"style="height: 170px; width:170px; margin-left: auto; margin-right: auto;display: block;">
       </center>`;

      windowContent += "</body>";
      windowContent += "</html>";
      const printWin = window.open(
        "",
        "",
        "width=" + screen.availWidth + ",height=" + screen.availHeight
      );

      printWin.document.open();
      printWin.document.write(windowContent);
      printWin.document.addEventListener(
        "load",
        function() {
          printWin.focus();
          printWin.print();
          printWin.document.close();
          printWin.close();
        },
        true
      );
    }
  }
};
</script>

<style>
.alert-info {
  color: white;
  background-color: #bd2828;
  border-color: #bd2828;
}
.form {
  height: 100%;
  width: 100%;
}
.logo {
  height: 80px;
  width: 80px;
}
p {
  color: black;
}
/* .btn-create {
  float: left;
  margin-right: -4rem;
}
.view-qr {
  float: right;
  margin-top: -2rem;
} */
.index[data-v-1a92c248] {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-shrink: 0;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #f4f4f4;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.sm-button {
  float: right;
}
</style>
