<template>
  <div>
    <b-card style="font-size:90%" class="my-5 mr-2 ml-2 cardShadow">
      <b-tabs v-model="tabIndex" content-class="mt-3">
        <b-tab title="Reports" :title-link-class="linkClass(0)">
           <div v-if="userActions.DCReport">
            <ReportTable />
          </div>
         <div v-if="userActions.QAReport">
            <SampleReportTable />
          </div>
         <div v-if="userActions.RMReport">
            <AnalyzeReportTable />
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import ReportTable from "@/components/Reports/ReportTable";
import SampleReportTable from "@/components/Reports/SampleReportTable";
import AnalyzeReportTable from "@/components/Reports/AnalyzeReportTable";

export default {
  components: {
    ReportTable,
    SampleReportTable,
    AnalyzeReportTable
  },
  layout: "AdminDashboard",
  data() {
    return {
      tabIndex: 0,
       userActions: {
        DCReport: false,
        QAReport: false,
        RMReport: false,

      }
    };
  },
  created() {
    const employee = JSON.parse(localStorage.employee);

    const mapDCReport = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View dc report"
      )
    );
    const mapQAReport = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View qa report"
      )
    );
    const mapRMReport = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View rm report"
      )
    );

    if (mapDCReport) {
      this.userActions.DCReport = true;
    }
    if (mapQAReport) {
      this.userActions.QAReport = true;
    }
    if (mapRMReport) {
      this.userActions.RMReport = true;
    }
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
