<template>
  <div>
    <b-card style="font-size:90%" class="my-5 mr-2 ml-2 cardShadow">
      <b-tabs v-model="tabIndex" content-class="mt-3">
        <b-tab title="Delivery" :title-link-class="linkClass(0)">
          <div v-if="userActions.DCTransaction">
            <DCTransaction />
          </div>
          <div v-else-if="userActions.QATransaction">
            <QATransaction />
          </div>
          <div v-else-if="userActions.QITransaction">
            <QITransaction />
          </div>
          <div v-else-if="userActions.SHTransaction">
            <HeadTransaction />
          </div>
          <div v-else-if="userActions.RMTransaction">
            <RMTransaction />
          </div>
          <div v-else-if="userActions.SVTransaction">
            <SupervisorTransaction />
          </div>
          <div v-else-if="userActions.PPICTransaction">
            <PPICTransaction />
          </div>
          <div v-else-if="userActions.WHTransaction">
            <WarehouseTransaction />
          </div>
          <div v-else-if="userActions.CHTransaction">
            <CheckerTransaction />
          </div>
        </b-tab>
        <!-- <b-tab title="Micro" :title-link-class="linkClass(1)">
          <MicroProcess />
        </b-tab> -->
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import DCTransaction from "@/components/Transaction/DeliveryTable/TransactionTable";
import MicroProcess from "@/components/Transaction/DeliveryTable/MicroProcess";
import QATransaction from "@/components/Transaction/SamplingTable/TransactionTable";
import QITransaction from "@/components/Transaction/SamplingTable/TransactionTableQ";
import RMTransaction from "@/components/Transaction/TestingTable/TransactionTable";
import PPICTransaction from "@/components/Transaction/PlantTable/TransactionTable";
import SupervisorTransaction from "@/components/Transaction/SupervisorTable/TransactionTable";
import HeadTransaction from "@/components/Transaction/HeadTable/TransactionTable";
import WarehouseTransaction from "@/components/Transaction/WarehouseTable/TransactionTable";
import CheckerTransaction from "@/components/Transaction/TestingTable/ChTransactionTable";

export default {
  components: {
    DCTransaction,
    QATransaction,
    RMTransaction,
    PPICTransaction,
    SupervisorTransaction,
    HeadTransaction,
    WarehouseTransaction,
    QITransaction,
    MicroProcess,
    CheckerTransaction
  },
  layout: "AdminDashboard",
  middleware: "authTransaction",
  data() {
    return {
      tabIndex: 0,
      userActions: {
        DCTransaction: false,
        QATransaction: false,
        RMTransaction: false,
        SHTransaction: false,
        SVTransaction: false,
        PPICTransaction: false,
        WHTransaction: false,
        QITransaction: false,
        CHTransaction: false
      }
    };
  },
  created() {
    const employee = JSON.parse(localStorage.employee);

    const mapDCTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View dc transaction"
      )
    );
    const mapQATransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View qa transaction"
      )
    );
    const mapQITransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View qi transaction"
      )
    );
    const mapRMTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View rm transaction"
      )
    );
    const mapSHTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View sh transaction"
      )
    );
    const mapSVTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View sv transaction"
      )
    );
    const mapPPICTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View ppic transaction"
      )
    );
    const mapWHTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View wh transaction"
      )
    );
    const mapCHTransaction = employee.modules.find(element =>
      element.actions.find(
        modules => modules.description === "View ch transaction"
      )
    );

    if (mapDCTransaction) {
      this.userActions.DCTransaction = true;
    }
    if (mapQATransaction) {
      this.userActions.QATransaction = true;
    }
    if (mapQITransaction) {
      this.userActions.QITransaction = true;
    }
    if (mapRMTransaction) {
      this.userActions.RMTransaction = true;
    }
    if (mapSHTransaction) {
      this.userActions.SHTransaction = true;
    }
    if (mapSVTransaction) {
      this.userActions.SVTransaction = true;
    }
    if (mapPPICTransaction) {
      this.userActions.PPICTransaction = true;
    }
    if (mapWHTransaction) {
      this.userActions.WHTransaction = true;
    }
    if (mapCHTransaction) {
      this.userActions.CHTransaction = true;
    }
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
