<template>
  <div>
    <Loading v-if="showLoading" />
    <div>
      <b-row>
        <b-col lg="4" md="4" sm="4" class="mb-2">
          <b-input-group>
            <b-form-input
              maxlength="10"
              type="search"
              placeholder="Search Pending Requests"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group prepend="Date">
            <date-range-picker
              ref="picker"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="date-reset">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="3" sm="6" md="6">
          <b-input-group prepend="Filter">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Status">
                <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>
      <b-table
        class="mt-2 table1"
        ref="all-request-Table"
        id="all-request-table"
        :borderless="false"
        :empty-text="`There are no ${filterActive ? filterActive:'transactions'} to display`"
        :items="getReports"
        :fields="fields"
        selectedVariant="primary"
        tbody-tr-class
        :filter="filter"
        responsive
        show-empty
      >
        <template v-slot:cell(status)="row">
          <div class="badge font-badge" v-if="row.item.status[0].name === 'Rejected-Approved'">
            <b-badge pill variant="danger">{{row.item.status[0].name}}</b-badge>
          </div>
          <div
            class="badge font-badge"
            v-else-if="row.item.status[0].name === 'For Reconsideration'"
          >
            <b-badge pill variant="secondary">{{row.item.status[0].name}}</b-badge>
          </div>
        </template>
        <template class="font_badge" v-slot:cell(date)="row">{{formatDate(row.item.created_at)}}</template>
        <template class="font_badge" v-slot:cell(code)="row">{{row.item.supplier_code}}</template>
        <template
          class="font_badge"
          v-slot:cell(item)="row"
        >{{row.item.bir[0].items[0].description}}</template>
        <template v-slot:cell(actions)="row">
          <b-button
            id="endorse-recon"
            size="sm"
            variant="success"
            v-if="row.item.status[0].name === 'Rejected-Approved'"
            @click="testModal(row)"
            v-b-tooltip.hover
            title="Endorse for Reconsideration"
            block
          >
            <font-awesome-icon class="mr-2" style="color:white" icon="check-circle" small />ENDORSE
          </b-button>
        </template>
      </b-table>

      <!-- <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >Endorsed Delivery for Reconsideration</b-alert>

      <b-alert
        :show="dismissCountDown1"
        dismissible
        fade
        class="button2 fixed"
        @dismiss-count-down="countDownChanged"
      >Delivery Rejected</b-alert>-->

      <b-modal
        no-close-on-backdrop
        ref="endorse"
        size="lg"
        header-bg-variant="success"
        header-text-variant="light"
        id="process-modal"
      >
        <template v-slot:modal-title>
          <h6>RECONSIDERATION</h6>
        </template>
        <h6 class="mb-3">Delivery Details</h6>
        <b-card bg-variant="light">
          <b-row>
            <b-col cols="6"></b-col>
            <b-col>
              <small class="ml-1">Date:</small>
              <b-form-input v-model="date" disabled style="font-size:15px"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Supplier Code:</small>
              <b-form-input v-model="code" disabled style="font-size:15px"></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Item:</small>
              <b-form-input v-model="item" disabled style="font-size:15px"></b-form-input>
            </b-col>
          </b-row>
          <hr />
          <b-row>
            <b-col>
              <small class="ml-1">Reason for Reconsideration:</small>
              <b-form-input v-model="remarks" style="font-size:15px"></b-form-input>
            </b-col>
          </b-row>
        </b-card>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="approve-recon"
            size="sm"
            variant="success"
            v-b-modal.modal-multi-1
            style="font-size:13px"
          >Endorse</b-button>
          <b-button
            id="cancel-approve"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
      </b-modal>
      <b-modal
        ref="close"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        id="modal-multi-1"
      >
        <template v-slot:modal-title>
          <h6>Security Purposes</h6>
        </template>
        <div class="container">
          <h5>Enter Your Pincode</h5>
          <div class="pinBox">
            <input
              class="pinEntry"
              v-model="pincode"
              type="password"
              maxlength="4"
              name="pin"
              pattern="[0-9]{4}"
            />
          </div>
        </div>

        <template v-slot:modal-footer="{ ok, cancel1 }">
          <b-button
            id="recon-endorse"
            size="sm"
            variant="success"
            @click="EndorseTest()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="cancel-recon"
            size="sm"
            @click="cancel1()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
        <center>
          <small style="color:red">{{errMessage}}</small>
        </center>
      </b-modal>
      <b-modal
        ref="signature"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        size="xl"
      >
        <template v-slot:modal-title>
          <h6>Draw Signature</h6>
        </template>

        <div>
          <div class="col-12">
            <VueSignaturePad
              id="signature"
              width="100%"
              height="450px"
              ref="signaturePad"
              :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}"
            />
          </div>
          <div class="col-3 mt-2">
            <b-button variant="dark" style="font-size:13px;border: 0px;" @click="clear">Undo</b-button>
          </div>
        </div>

        <template v-slot:modal-footer="{ ok, cancel1 }">
          <b-button
            id="rmaf-verify-sign"
            size="sm"
            variant="success"
            @click="addSignature()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="cancel1()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
        <center>
          <small style="color:red">{{errMessage}}</small>
        </center>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
import Loading from "@/components/Loading/Loading";
import VueSignaturePad from "vue-signature-pad";

export default {
  components: {
    VueSignaturePad,
    DateRangePicker,
    Loading
  },
  data() {
    return {
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      status: [
        "In Progress",
        "Sampling",
        "Inbound",
        "Analysis",
        "Outbound",
        "Reconsideration",
        "Rejected"
      ],
      selected: [],
      selected1: [],
      selected2: [],
      selected3: "",
      selected4: "",
      selected5: "",
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,

      getReports: [],
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "code",
          label: "Supplier Code",
          sortable: true
        },
        {
          key: "item",
          label: "Item",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ],
      rowData: null,
      departments: [],
      requestTypes: [],
      filterActive: "",
      date: "",
      code: "",
      item: "",
      remarks: "",
      selectedIndex: null,
      status: [],
      sampling_status_id: [],
      pincode: null,
      errMessage: "",
      resData: null,
      signaturePath: null,
      showLoading: false
    };
  },

  computed: {
    // Filteration() {
    //   return this.getReports.filter(emp => {
    //     if (emp.status[0]) {
    //       const results =
    //         emp.status[0].name.match(this.filterActive) ||
    //         emp.supplier_code.match(this.filterActive) ||
    //         emp.status[0].name.match(this.filterActive);
    //       return results;
    //     }
    //   });
    // }
  },

  created() {
    this.getStatus();
    this.getTransactions();
  },

  methods: {
    async addSignature() {
      const employee = JSON.parse(localStorage.employee);
      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      var data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        var image = new Image();
        image.src = data.data;

        var fileName = moment().format("YYYY-MM-DD_HHmmss") + "_" + employee.id;

        const url = this.$axios.defaults.baseURL;

        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);

            const signature_path = await axios
              .post(`${url}/transactions/transactions/upload_signature`, fd, {
                headers: { authorization: `B1SESSION=${employee.token}` }
              })
              .then(res => {
                return res.data.path;
              })
              .catch(err => {
                console.log(err);
              });

            return signature_path;
          }
        );

        this.signaturePath = path;

        this.updateTransaction();
      }
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    async getStatus() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/status`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.status = res.data.status;
          for (let i = 0; i < this.status.length; i++) {
            if (
              this.status[i].U_name == "For Reconsideration" ||
              this.status[i].U_name == "Rejected-Approved"
            ) {
              this.sampling_status_id.push(this.status[i].Code);
            }
          }
        })
        .catch(e => {
          // this.errMessage = e.response.data;
        });
    },
    formatDate(date) {
      return moment(date).format("MMM DD,YYYY hh:mm A");
    },
    displaySuccessToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `Transaction succesfully saved.`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "success",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    displayErrorToast(data) {
      this.$bvToast.toast(`${data} `, {
        id: "toast-display-action",
        title: `ERROR!!!`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    },
    async getTransactions() {
      this.showLoading = true;
      this.dateRange.date_to = moment(this.dateRange.date_to)
        .add(1, "day")
        .format("YYYY-MM-DD");
      const employee = JSON.parse(localStorage.employee);

      this.getReports = [];
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          this.getReports = res.data.transactions.filter(transaction => {
            if (employee.department.name.toLowerCase() != "qa-analyst") {
              const results =
                this.sampling_status_id.includes(transaction.status_id) &&
                transaction.bir[0].department[0].name ==
                  employee.department.name;
              return results;
            } else {
              const results = this.sampling_status_id.includes(
                transaction.status_id
              );
              return results;
            }
          });
          this.totalRows = this.getReports.length;
          this.showLoading = false;
        })
        .catch(e => {
          // this.errMessage = e.response.data;
          this.showLoading = false;
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.getTransactions();
    },
    closeModal() {
      this.$refs["signature"].hide();
      this.$refs["close"].hide();
      this.$refs["endorse"].hide();
    },
    async updateTransaction() {
      this.showLoading = true;

      let ForRecon, dispoPassed, dispoRejected, status;
      for (let i = 0; i < this.status.length; i++) {
        if (this.status[i].U_name.toLowerCase() == "for reconsideration") {
          ForRecon = this.status[i].Code;
        }
      }

      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          id: this.rowData.id,
          delivery_receipt_id: this.rowData.delivery_receipt_id,
          rmaf_id: this.rowData.rmaf_id,
          bir_id: this.rowData.bir_id,
          status_id: ForRecon,
          truck_info_id: this.rowData.truck_info_id,
          transaction_type_id: this.rowData.transaction_type_id,
          driver_id: this.rowData.driver_id,
          supplier_code: this.rowData.supplier_code,
          no_of_bags: this.rowData.no_of_bags,
          description: this.rowData.bir[0].items[0].description,
          guard_on_duty: this.rowData.guard_on_duty,
          qc_control_number: this.rowData.qc_control_number,
          updated_by: employee.id,
          employee_id: employee.id,
          modules: employee.modules
        }
      })
        .then(async res => {
          this.resData = res.data;
          if (this.rowData.rmaf[0].physical_analysis_id) {
            await this.addRecon(
              "physical",
              this.rowData.rmaf[0].physical_analysis_id
            );
          }
          if (this.rowData.rmaf[0].chemical_analysis_id) {
            await this.addRecon(
              "chemical",
              this.rowData.rmaf[0].chemical_analysis_id
            );
          }

          this.getReports.splice(this.selectedIndex, 1);
          this.getReports.unshift(this.resData);
          this.showLoading = false;

          this.displaySuccessToast("Approved for Reconsideration.");
          this.closeModal();
        })
        .catch(error => {
          this.showLoading = false;
          if (error.response) {
            this.displayErrorToast(error.response.data);
          } else {
            console.log(error);
          }
        });
    },
    async addRecon(type, analysis_id) {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/reconsideration/add_reconsideration`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          for_consideration: "TRUE",
          reason: this.remarks,
          reconsidered_by: employee.id,
          created_by: employee.id,
          reconsidered_signature: this.signaturePath,
          modules: employee.modules
        }
      })
        .then(async res => {
          await this.updateAnalysis(type, analysis_id, res.data[0].id);
        })
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    async updateAnalysis(type, analysis_id, recon_id) {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/transactions/${type}_analysis/update_${type}_analysis`,
        headers: {
          authorization: `B1SESSION=${employee.token}`
        },
        data: {
          employee_id: employee.id,
          id: analysis_id,
          reconsideration_id: recon_id,
          updated_by: employee.id,
          modules: employee.modules,
          onlyRecon: true
        }
      })
        .then(res => {})
        .catch(error => {
          this.displayErrorToast(error.response.data);
        });
    },
    testModal(row) {
      this.selectedIndex = row.index;
      this.$refs["endorse"].show();

      this.rowData = row.item;

      this.date = moment(row.item.created_at).format("MMMM DD,YYYY");
      this.code = row.item.supplier_code;
      this.item = row.item.bir[0].items[0].description;
    },
    // showAlert() {
    //   this.dismissCountDown = this.dismissSecs;
    // },
    // showAlert1() {
    //   this.dismissCountDown1 = this.dismissSecs;
    // },
    async EndorseTest() {
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/employee/check_pincode`,
        data: {
          employee_id: employee.id,
          modules: employee.modules,
          pincode: this.pincode
        },
        headers: {
          authorization: `B1SESSION=${employee.token}`
        }
      })
        .then(res => {
          if (res.data == false) {
            this.errMessage = "Pincode incorrect. Please try again.";
          } else {
            this.errMessage = "";
            this.$refs["signature"].show();
            // this.updateTransaction();

            // this.getReports.splice(this.selectedIndex, 1);
            // this.getReports.push(this.resData);
          }
        })
        .catch(e => {
          this.errMessage = e.response.data;
        });
    },
    cancel() {
      this.$refs["endorse"].hide();
    },
    cancel1() {
      this.$refs["close"].hide();
    }
  }
};
</script>

<style scoped>
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: red;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.table1 {
  overflow-y: hidden;
  font-size: 75%;
}
.button-circle {
  border: 0px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: auto;
}
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.container {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
