<template>
  <div class="my-5 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">Scan QR Code</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-form @submit="onSubmit">
        <b-input-group>
          <b-form-input
            v-model="qr"
            @blur="searchFocus"
            ref="scan-qr-code"
            required
            autocomplete="off"
            autofocus
            id="input-horizontal"
            type="search"
          ></b-form-input>
        </b-input-group>
        <b-input-group-append>
          <b-button v-show="false" text="Button" type="submit" variant="primary"></b-button>
        </b-input-group-append>
        <div>
          <b-img center style="width:30%; height:10%" src="/loader.gif" />
        </div>
      </b-form>
    </b-card>
  </div>
</template>
<script>
import axios from "axios";
import Loading from "@/components/Loading/Loading";

export default {
  layout: "AdminDashboard",
  middleware: "authRMScan",
  components: {
    Loading
  },
  data() {
    return {
      qr: null,
      transaction_id: null,
      showLoading: false
    };
  },
  computed: {},
  mounted() {},
  methods: {
    searchFocus() {
      this.$refs["scan-qr-code"].focus();
    },
    async onSubmit(evt) {
      this.showLoading = true;
      evt.preventDefault();
      const qrJSON = JSON.parse(this.qr);
      this.transaction_id = qrJSON.transaction;
      const employee = JSON.parse(localStorage.employee);

      if (!qrJSON.transaction) {
        this.transaction_id = this.qr;
      } else {
        this.transaction_id = qrJSON.transaction;
      }

      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/transactions/find_transaction`,
        headers: {
          authorization: "Bearer " + localStorage.token
        },
        data: {
          employee_id: employee.id,
          transaction_id: this.transaction_id,
          getWeight: true
        }
      })
        .then(res => {
          this.showLoading = false;
          if (res.data.transactions[0]) {
            if (res.data.transactions[0].status[0]) {
              if (
                res.data.transactions[0].status[0].name === "Quality Control" ||
                res.data.transactions[0].status[0].name === "Analysis-Approved"
              ) {
                if (res.data.transactions[0].weight) {
                  if (!qrJSON.transaction) {
                    this.transaction_id = this.qr;
                  } else {
                    this.transaction_id = qrJSON.transaction;
                  }

                  this.$router.push(`/tally/${this.transaction_id}`);
                } else {
                  this.displayToast("The Delivery has no inbound weight!");
                }
              } else {
                this.displayToast(
                  "The Delivery is not endorsed for Unloading!"
                );
                this.qr = null;
              }
            } else {
              this.displayToast("The Delivery is not endorsed for Unloading!");
              this.qr = null;
            }
          }
        })
        .catch(err => {
          this.showLoading = false;
          this.displayToast("Scan Failed");
          console.log(err);
        });
    },
    // onSubmit(evt) {
    //   evt.preventDefault();
    //   const qrJSON = JSON.parse(this.qr);
    //   const transaction_id = qrJSON.transaction;

    //   console.log(this.qrJSON.transaction);

    //   if(transaction_id == null){
    //     this.displayToast("Scan Failed");
    //     this.qr = null;
    //   }
    //   else{
    //     this.$router.push(`/tally/${transaction_id}`)
    //   }

    // },
    displayToast(action) {
      this.$bvToast.toast(`${action} `, {
        id: "toast-display-action",
        title: `Failed`,
        autoHideDelay: 2000,
        appendToast: true,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
        solid: false
      });
    }
  }
};
</script>
<style>
</style>
