<template>
  <div>
    <div>
      <b-row align-h="center">
        <v-stepper
          ref="stepper"
          :steps="steps"
          v-model="step"
          class="steppers p-2 cardShadow"
          style="border-radius:3px;height:3rem"
        ></v-stepper>
      </b-row>

      <!-- Step 1 -->

      <b-form @submit.stop.prevent="proceedStep2()">
        <template v-if="step === 1">
          <b-row align-h="center">
            <h6 class="mb-3 mt-3 mr-6">Company and Supplier Details</h6>
          </b-row>

          <b-row align-h="center">
            <b-card class="cardShadow" style="width:63rem">
              <b-row>
                <b-col>
                  <small class="ml-1">Company</small>
                  <div class="text-center">
                    <b-form-input
                      id="company_ref"
                      style="font-size:11px"
                      v-model="$v.transactionForm.U_COMPANY_REFERENCE.$model"
                      :state="
                        $v.transactionForm.U_COMPANY_REFERENCE.$dirty
                          ? !$v.transactionForm.U_COMPANY_REFERENCE.$error
                          : null
                      "
                    ></b-form-input>
                  </div>
                </b-col>

                <b-col cols="6">
                  <small class="ml-1">Supplier</small>
                  <div class="text-center" small>
                    <b-form-input
                      id="supplier_ref"
                      style="font-size:10px"
                      v-model="$v.transactionForm.U_SUPPLIER_REFERENCE.$model"
                      :state="
                        $v.transactionForm.U_SUPPLIER_REFERENCE.$dirty
                          ? !$v.transactionForm.U_SUPPLIER_REFERENCE.$error
                          : null
                      "
                    ></b-form-input>
                  </div>
                </b-col>
              </b-row>

              <b-row>
                <b-col>
                  <small class="ml-1">Supplier Representative Full Name</small>
                  <b-form-input
                    id="supplier_rep"
                    style="font-size:9px"
                    v-model="$v.transactionForm.U_SUP_REP_FULL_NAME.$model"
                    :state="
                      $v.transactionForm.U_SUP_REP_FULL_NAME.$dirty
                        ? !$v.transactionForm.U_SUP_REP_FULL_NAME.$error
                        : null
                    "
                  ></b-form-input>
                </b-col>

                <b-col>
                  <small class="ml-1">Supplier Representative Email (optional)</small>
                  <b-form-input
                    id="supplier_email"
                    type="email"
                    style="font-size:9px"
                    v-model="$v.transactionForm.U_SUP_REP_EMAIL.$model"
                    :state="
                      $v.transactionForm.U_SUP_REP_EMAIL.$dirty
                        ? !$v.transactionForm.U_SUP_REP_EMAIL.$error
                        : null
                    "
                  ></b-form-input>
                </b-col>
              </b-row>

              <b-row align-h="end" style="position:relative; left:5px" class="mt-5 mr-1">
                <b-button
                  id="step1_next"
                  class="button sm-button ml-2"
                  size="sm"
                  type="submit"
                  variant="success"
                  :disabled="
                    $v.transactionForm.U_SUPPLIER_REFERENCE.$invalid ||
                      $v.transactionForm.U_COMPANY_REFERENCE.$invalid ||
                      $v.transactionForm.U_SUP_REP_FULL_NAME.$invalid
                  "
                >Next</b-button>
              </b-row>
            </b-card>
          </b-row>
        </template>
      </b-form>

      <!-- Step 2 -->
      <b-form @submit.stop.prevent="proceedStep3()">
        <template v-if="step === 2">
          <b-row align-h="center">
            <h6 class="mb-3 mt-3">Document Details</h6>
          </b-row>

          <b-row align-h="center">
            <b-card class="cardShadow" style="width:63rem">
              <b-row align-h="end">
                <b-button
                  id="add_row"
                  size="sm"
                  variant="success"
                  class="button mb-3 mr-3"
                  style="font-size:10px;"
                  @click="addItem()"
                >
                  <font-awesome-icon icon="plus" />Add Row
                </b-button>
              </b-row>

              <b-row class="mb-1">
                <b-col cols="3">
                  <small style="position:relative; left:82px">Date</small>
                </b-col>
                <b-col>
                  <small style="position:relative; right:60px">Purchase Order</small>
                </b-col>
                <b-col>
                  <small style="position:relative; right:61px">Cargo Receipt</small>
                </b-col>
                <b-col>
                  <small style="position:relative; right:70px">Delivery Receipt</small>
                </b-col>
                <b-col>
                  <small style="position:relative; right:40px">SOA</small>
                </b-col>
                <b-col>
                  <small style="position:relative; right:54px">Invoice</small>
                </b-col>
                <b-col>
                  <small style="position:relative; right:60px">Amount</small>
                </b-col>
              </b-row>

              <ul>
                <li v-for="(value, k) in transactionForm.documents" :key="k">
                  <div class="text-center mb-2" small>
                    <b-row>
                      <b-col style="padding-left:0px">
                        <b-form-input
                          id="docu_date"
                          type="date"
                          style="font-size:10px "
                          v-model="
                            $v.transactionForm.documents.$each[k].U_INV_DATE
                              .$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_INV_DATE
                              .$dirty
                              ? !$v.transactionForm.documents.$each[k]
                                  .U_INV_DATE.$error
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <!-- <small>Purchase Order</small> -->
                        <b-form-input
                          id="docu_po"
                          type="text"
                          placeholder="Purchase Order #"
                          style="font-size:10px"
                          v-model="
                            $v.transactionForm.documents.$each[k].U_PO_NUMBER
                              .$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_PO_NUMBER
                              .$dirty
                              ? !$v.transactionForm.documents.$each[k]
                                  .U_PO_NUMBER.$error
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <!-- <small>Cargo Receipt</small> -->
                        <b-form-input
                          id="docu_cr"
                          type="text"
                          placeholder="Cargo Receipt #"
                          style="font-size:10px"
                          v-model="
                            $v.transactionForm.documents.$each[k].U_CR_NUMBER
                              .$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_CR_NUMBER
                              .$dirty
                              ? !$v.transactionForm.documents.$each[k]
                                  .U_CR_NUMBER.$error
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <!-- <small>Delivery Receipt</small> -->

                        <b-form-input
                          id="docu_dr"
                          type="text"
                          placeholder="Delivery Receipt #"
                          style="font-size:10px"
                          v-model="
                            $v.transactionForm.documents.$each[k].U_DR_NUMBER
                              .$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_DR_NUMBER
                              .$dirty
                              ? $v.transactionForm.documents.$each[k]
                                  .U_DR_NUMBER.$model ||
                                $v.transactionForm.documents.$each[k].U_SOA
                                  .$model ||
                                $v.transactionForm.documents.$each[k]
                                  .U_INV_NUMBER.$model
                                ? true
                                : false
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <!-- <small>SOA</small> -->

                        <b-form-input
                          id="docu_soa"
                          type="text"
                          placeholder="SOA #"
                          style="font-size:10px"
                          v-model="
                            $v.transactionForm.documents.$each[k].U_SOA.$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_SOA.$dirty
                              ? $v.transactionForm.documents.$each[k]
                                  .U_DR_NUMBER.$model ||
                                $v.transactionForm.documents.$each[k].U_SOA
                                  .$model ||
                                $v.transactionForm.documents.$each[k]
                                  .U_INV_NUMBER.$model
                                ? true
                                : false
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <!-- <small>Invoice</small> -->

                        <b-form-input
                          id="docu_invoice"
                          type="text"
                          placeholder="Invoice #"
                          style="font-size:10px"
                          v-model="
                            $v.transactionForm.documents.$each[k].U_INV_NUMBER
                              .$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_INV_NUMBER
                              .$dirty
                              ? $v.transactionForm.documents.$each[k]
                                  .U_DR_NUMBER.$model ||
                                $v.transactionForm.documents.$each[k].U_SOA
                                  .$model ||
                                $v.transactionForm.documents.$each[k]
                                  .U_INV_NUMBER.$model
                                ? true
                                : false
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <b-col class="colpadding">
                        <!-- <small>Amount</small> -->

                        <b-form-input
                          id="docu_amount"
                          type="number"
                          placeholder="Amount"
                          step="0.01"
                          style="font-size:10px"
                          v-model="
                            $v.transactionForm.documents.$each[k].U_AMOUNT
                              .$model
                          "
                          :state="
                            $v.transactionForm.documents.$each[k].U_AMOUNT
                              .$dirty
                              ? !$v.transactionForm.documents.$each[k].U_AMOUNT
                                  .$error
                              : null
                          "
                        ></b-form-input>
                      </b-col>

                      <!-- <b-col cols="3">
                    <b-form-select
                      id="docu_type"
                      style="font-size:10px"
                      v-model="value.document_type_id"
                    >
                      <option :value="null">Select document type</option>
                      <option
                        v-for="(documentType, i) in documentTypes"
                        :key="i"
                        :value="documentType.document_type_id"
                        >{{ documentType.document_type_name }}</option
                      ></b-form-select
                    >
                      </b-col>-->
                      <!-- <b-col cols="3">
                    <b-form-input
                      id="docu_number"
                      placeholder="Input Number"
                      v-model="value.document_number"
                      type="number"
                      style="font-size:10px"
                    ></b-form-input>
                  </b-col>
                  <b-col>
                    <b-form-input
                      id="docu_amount"
                      placeholder="Amount"
                      type="number"
                      style="font-size:10px"
                      v-model="value.amount"
                    ></b-form-input>
                      </b-col>-->
                      <b-col cols="1">
                        <b-button
                          id="delete_row"
                          size="sm"
                          class="mb-2"
                          style="font-size:10px"
                          @click="removeItem(k)"
                        >
                          <font-awesome-icon icon="minus" />
                        </b-button>
                      </b-col>
                    </b-row>
                  </div>
                </li>
              </ul>

              <b-row align-h="end" class="mt-5 mr-2" style="position:relative; left:5px">
                <b-button
                  id="step2_prev"
                  size="sm"
                  variant="success"
                  class="button sm-button"
                  @click="$refs.stepper.previous()"
                >Previous</b-button>
                <b-button
                  id="step2_next"
                  class="button sm-button ml-2"
                  size="sm"
                  variant="success"
                  type="submit"
                  :disabled="validateDocuments"
                >Next</b-button>
              </b-row>
            </b-card>
          </b-row>
        </template>
      </b-form>

      <!-- Step 3 -->
      <template v-if="step === 3">
        <b-row align-h="center">
          <h6 class="mb-3 mt-3">Company and Supplier Details</h6>
        </b-row>

        <b-row align-h="center">
          <b-card class="cardShadow" style="width:63rem">
            <b-row>
              <!-- <b-col cols="6">
              <small class="ml-1">Date</small>
              <b-form-input
                type="date"
                style="font-size:10px"
                v-model="transactionForm.date"
                disabled
              ></b-form-input>
              </b-col>-->
              <b-col>
                <small class="ml-1">Company</small>
                <div class="text-center">
                  <b-form-input
                    style="font-size:11px"
                    v-model="$v.transactionForm.U_COMPANY_REFERENCE.$model"
                    disabled
                  ></b-form-input>
                </div>
              </b-col>

              <b-col cols="6">
                <small class="ml-1">Supplier</small>
                <div class="text-center" small>
                  <b-form-input
                    style="font-size:10px"
                    v-model="$v.transactionForm.U_SUPPLIER_REFERENCE.$model"
                    disabled
                  ></b-form-input>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Supplier Representative Name</small>
                <b-form-input
                  style="font-size:9px"
                  v-model="$v.transactionForm.U_SUP_REP_FULL_NAME.$model"
                  disabled
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Supplier Representative Email</small>
                <b-form-input
                  type="email"
                  style="font-size:9px"
                  v-model="$v.transactionForm.U_SUP_REP_EMAIL.$model"
                  disabled
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
        </b-row>

        <!-- Documents -->

        <b-row align-h="center">
          <h6 class="mb-3 mt-3">Document Details</h6>
        </b-row>

        <b-row align-h="center">
          <b-card class="cardShadow mb-5" style="width:63rem">
            <b-row class="mb-1">
              <b-col cols="3">
                <small style="position:relative; left:82px">Date</small>
              </b-col>
              <b-col>
                <small style="position:relative; right:54px">Purchase Order</small>
              </b-col>
              <b-col>
                <small style="position:relative; right:40px">Cargo Receipt</small>
              </b-col>
              <b-col>
                <small style="position:relative; right:39px">Delivery Receipt</small>
              </b-col>
              <b-col>
                <small style="position:relative; left:3px">SOA</small>
              </b-col>
              <b-col>
                <small style="position:relative; left:7px">Invoice</small>
              </b-col>
              <b-col>
                <small style="position:relative; left:15px">Amount</small>
              </b-col>
            </b-row>

            <ul>
              <li v-for="(value, k) in transactionForm.documents" :key="k">
                <div class="text-center mb-2" small>
                  <b-row>
                    <b-col style="padding-left:0px">
                      <b-form-input
                        id="docu_date"
                        type="date"
                        style="font-size:10px "
                        v-model="
                          $v.transactionForm.documents.$each[k].U_INV_DATE
                            .$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col class="colpadding">
                      <!-- <small>Purchase Order</small> -->
                      <b-form-input
                        type="number"
                        placeholder="Purchase Order #"
                        style="font-size:10px"
                        v-model="
                          $v.transactionForm.documents.$each[k].U_PO_NUMBER
                            .$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col class="colpadding">
                      <!-- <small>Cargo Receipt</small> -->
                      <b-form-input
                        type="number"
                        placeholder="Cargo Receipt #"
                        style="font-size:10px"
                        v-model="
                          $v.transactionForm.documents.$each[k].U_CR_NUMBER
                            .$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col class="colpadding">
                      <!-- <small>Delivery Receipt</small> -->

                      <b-form-input
                        type="number"
                        placeholder="Delivery Receipt #"
                        style="font-size:10px"
                        v-model="
                          $v.transactionForm.documents.$each[k].U_DR_NUMBER
                            .$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col class="colpadding">
                      <!-- <small>SOA</small> -->

                      <b-form-input
                        type="number"
                        placeholder="SOA #"
                        style="font-size:10px"
                        v-model="
                          $v.transactionForm.documents.$each[k].U_SOA.$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col class="colpadding">
                      <!-- <small>Invoice</small> -->

                      <b-form-input
                        type="number"
                        step="any"
                        placeholder="Invoice #"
                        style="font-size:10px"
                        v-model="
                          $v.transactionForm.documents.$each[k].U_INV_NUMBER
                            .$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>

                    <b-col class="colpadding">
                      <!-- <small>Amount</small> -->

                      <b-form-input
                        type="number"
                        placeholder="Amount"
                        style="font-size:10px"
                        v-model="
                          $v.transactionForm.documents.$each[k].U_AMOUNT.$model
                        "
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </div>
              </li>
            </ul>

            <b-row align-h="end" class="mt-5 mr-2" style="position:relative; left:5px">
              <!-- <button type="button" @click="reset()">Reset</button> -->
              <b-button
                id="step3_prev"
                size="sm"
                variant="success"
                class="button sm-button"
                @click="$refs.stepper.previous()"
              >Previous</b-button>
              <b-button
                id="step3_submit"
                class="button sm-button ml-2"
                size="sm"
                @click="submit()"
                variant="success"
                :disabled="$v.transactionForm.$invalid"
              >Submit</b-button>
            </b-row>
          </b-card>
        </b-row>
      </template>

      <!-- save modal -->
      <b-modal size="sm" header-bg-variant="success" header-text-variant="light" id="submit-modal">
        <template v-slot:modal-title>
          <h6>Submit Transaction</h6>
        </template>

        <div class="text-left">
          <h6>Do you really want to submit this transaction?</h6>
        </div>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="submit_modal_yes"
            size="sm"
            variant="success"
            @click="save()"
            style="font-size:13px"
            class="button"
          >Yes</b-button>

          <b-button
            id="submit_modal_no"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border:0px"
          >No</b-button>
        </template>
      </b-modal>
      <!-- save modal -->
    </div>

    <div>
      <b-alert
        :show="alert.showAlert"
        dismissible
        fade="true"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'success' ? 'check-circle' : 'exclamation'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, minValue } from "vuelidate/lib/validators";
import { VStepper } from "vue-stepper-component";
import moment from "moment";
export default {
  mixins: [validationMixin],

  components: {
    VStepper
  },
  computed: {
    validateDocuments() {
      let flag = false;
      new Promise(resolve => {
        this.transactionForm.documents.forEach(document => {
          if (
            !document.U_INV_DATE ||
            (!document.U_DR_NUMBER && !document.U_SOA && !document.U_INV_NUMBER
              ? true
              : false) ||
            !(document.U_AMOUNT > 0)
          ) {
            flag = true;
          } else {
            flag = false;
          }
        });

        resolve();
      });

      return flag;
    }
  },
  data() {
    return {
      alert: {
        showAlert: 0,
        dismissSecs: 0,
        variant: "success",
        message: ""
      },
      steps: 3,
      step: undefined,
      transactionForm: {
        U_TRANSACTION_NO: null,
        U_CNTR_RCPT_NO: null,
        U_COMPANY_CODE: null,
        U_SUPPLIER_CODE: null,

        U_SUPPLIER_REFERENCE: null,
        U_COMPANY_REFERENCE: null,
        documents: [
          {
            LineId: null,
            U_AMOUNT: null,
            U_INV_DATE: moment().format("YYYY-MM-DD"),
            U_INV_NUMBER: null,
            U_DR_NUMBER: null,
            U_PO_NUMBER: null,
            U_SOA: null
          }
        ],
        U_SUP_REP_FULL_NAME: null,
        U_SUP_REP_EMAIL: null,
        U_STATUS: null,
        U_DATE: moment().format("YYYY-MM-DD"),
        U_REMARKS: null
      },
      documentlist: [
        { id: null, text: "Select Document Type" },
        { id: 1, text: "Purchase Order" },
        { id: 2, text: "Cargo Receipt" },
        { id: 3, text: "Delivery Receipt" },
        { id: 4, text: "SOA" },
        { id: 5, text: "Invoice" }
      ]
    };
  },

  validations: {
    transactionForm: {
      U_COMPANY_REFERENCE: {
        required
      },
      U_SUPPLIER_REFERENCE: {
        required
      },
      U_SUP_REP_FULL_NAME: {
        required,
        minLength: minLength(5)
      },
      U_SUP_REP_EMAIL: {},

      documents: {
        $each: {
          U_INV_DATE: {
            required
          },
          U_PO_NUMBER: {},
          U_CR_NUMBER: {},
          U_DR_NUMBER: {},
          U_SOA: {},
          U_INV_NUMBER: {},
          U_AMOUNT: { required, minValue: minValue(1) }
        }
      }
    }
  },

  methods: {
    proceedStep3() {
      this.$refs.stepper.next();
    },

    proceedStep2() {
      this.$refs.stepper.next();
    },

    reset() {
      this.$refs.stepper.reset();
    },

    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        dismissSecs: 2,

        variant,
        message
      };
    },

    test() {
      console.log(this.$v);
    },

    onSubmit() {
      this.$v.transactionForm.$touch();
      if (this.$v.transactionForm.$anyError) {
        return;
      } else this.$bvModal.show("submit-modal");
    },

    addItem() {
      this.transactionForm.documents.push({
        LineId: null,
        U_AMOUNT: null,
        U_INV_DATE: moment().format("YYYY-MM-DD"),
        U_INV_NUMBER: null,
        U_DR_NUMBER: null,
        U_PO_NUMBER: null,
        U_SOA: null
      });
    },
    removeItem(index) {
      if (this.transactionForm.documents.length === 1) {
        return;
      }
      this.transactionForm.documents.splice(index, 1);
    },
    submit() {
      this.$bvModal.show("submit-modal");
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    save() {
      this.$store
        .dispatch("Transactions/createTransactionSupplier", {
          user_actions: JSON.parse(localStorage.user_actions),
          SessionId: localStorage.SessionId,
          transaction_details: this.transactionForm
        })

        .then(res => {
          if (res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
              this.showAlert(res.response.data.errorMsg, "danger");
            } else {
              this.showAlert(res.message, "danger");
            }
          } else {
            this.showAlert("Success", "success");
            this.$bvModal.hide("submit-modal");
            this.$v.$reset();
            location.href = "/supplier";
            this.resetForm();
          }
        });
    },
    resetForm() {
      this.transactionForm = {
        U_TRANSACTION_NO: null,
        U_CNTR_RCPT_NO: null,
        U_COMPANY_CODE: null,
        U_SUPPLIER_CODE: null,

        U_SUPPLIER_REFERENCE: null,
        U_COMPANY_REFERENCE: null,
        documents: [
          {
            LineId: null,
            U_AMOUNT: null,
            U_INV_DATE: moment().format("YYYY-MM-DD"),
            U_INV_NUMBER: null,
            U_DR_NUMBER: null,
            U_PO_NUMBER: null,
            U_SOA: null
          }
        ],
        U_SUP_REP_FULL_NAME: null,
        U_SUP_REP_EMAIL: null,
        U_STATUS: null,
        U_DATE: moment().format("YYYY-MM-DD"),
        U_REMARKS: null
      };
    }
  }
};
</script>

<style>
.steppers {
  background-color: #00a651;
  width: 63rem;
  box-shadow: 0px 10px 18px -19px black;
}
.v-step {
  pointer-events: none;
}
.index[data-v-1a92c248] {
  width: 2rem;
  height: 2rem;
  font-size: 16px;
  font-weight: bold;
}
.sm-button {
  font-size: 11px;
}
ul {
  list-style-type: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.button-circle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.button {
  background-color: hsl(150, 82%, 29%);
  border: 0px;
}
.colpadding {
  padding-left: 0px;
}

.cardShadow {
  box-shadow: 0px 10px 18px -19px black;
}

.bg-success {
  background-color: hsl(150, 82%, 29%) !important;
}

.alert {
  position: fixed;
  top: 90%;
  right: 1%;
  z-index: 10000;
}
.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}
.alert-success {
  color: #fff;
  background-color: #00a651;
  border-color: #fff;
}
.divider[data-v-1a92c248] {
  width: 100%;
  margin-right: 0.6rem;
  border-bottom: 1px solid #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
</style>